node-red/flows.json
[
  {
    "id": "stcr-platform-tab",
    "type": "tab",
    "label": "01 ฐานข้อมูลและ API",
    "disabled": false,
    "info": "อ่านและบันทึกข้อมูลจริงใน MariaDB พร้อมให้บริการ HTTP API"
  },
  {
    "id": "stcr-factory-mqtt-tab",
    "type": "tab",
    "label": "02 รับข้อมูล MQTT โรงงาน",
    "disabled": false,
    "info": "รับข้อมูลจริงจาก MQTT โรงงาน เขียนลง MySQL โดยตรง"
  },
  {
    "id": "stcr-platform-note",
    "type": "comment",
    "z": "stcr-platform-tab",
    "name": "ฐานข้อมูลจริงและ API สำหรับเว็บไซต์",
    "info": "เมื่อไม่ได้รับข้อมูลจริง ระบบจะแสดงสถานะขาดการเชื่อมต่อ",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "stcr-http-1",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "ตรวจสอบสถานะระบบ",
    "url": "/stcr/api/health",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 100,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-2",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "เข้าสู่ระบบ",
    "url": "/stcr/api/auth/login",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 142,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-3",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "ออกจากระบบ",
    "url": "/stcr/api/auth/logout",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 184,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-4",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "รับข้อมูล IoT ด้วย API Key",
    "url": "/stcr/api/telemetry",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 226,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-5",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "เก็บ Payload MQTT ต้นฉบับ",
    "url": "/stcr/api/factory-mqtt/raw",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 268,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-6",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "ข้อมูลเตาทั้งหมด",
    "url": "/stcr/api/ovens",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 310,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-7",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "รายละเอียดเตา",
    "url": "/stcr/api/ovens/:ovenId",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 352,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-8",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "ข้อมูลย้อนหลัง",
    "url": "/stcr/api/ovens/:ovenId/history",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 394,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-9",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "ส่งออก CSV",
    "url": "/stcr/api/ovens/:ovenId/export.csv",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 436,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-10",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "ข้อมูลรอบรายงาน",
    "url": "/stcr/api/ovens/:ovenId/cycles/:cycleNumber/report-meta",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 478,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-11",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "รายการแจ้งเตือน",
    "url": "/stcr/api/alarms",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 520,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-12",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "ประวัติการใช้งาน",
    "url": "/stcr/api/audit-events",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 562,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-13",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "อ่านข้อมูลเอกสารรายงาน",
    "url": "/stcr/api/report-document-meta",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 604,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-14",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "บันทึกข้อมูลเอกสารรายงาน",
    "url": "/stcr/api/report-document-meta",
    "method": "put",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 646,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-15",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "บันทึกข้อมูลรอบรายงาน",
    "url": "/stcr/api/ovens/:ovenId/cycles/:cycleNumber/report-meta",
    "method": "put",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 688,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-16",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "บันทึกค่าขอบเขต",
    "url": "/stcr/api/ovens/:ovenId/limits",
    "method": "put",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 730,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-17",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "แก้ไขข้อมูลเตา",
    "url": "/stcr/api/ovens/:ovenId",
    "method": "patch",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 772,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-18",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "เพิ่มเตา",
    "url": "/stcr/api/ovens",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 814,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-19",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "รับทราบ Alarm",
    "url": "/stcr/api/alarms/:alarmId/acknowledge",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 856,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-api-router",
    "type": "function",
    "z": "stcr-platform-tab",
    "name": "จัดเส้นทาง STCR API และอ่านเขียน MariaDB",
    "func": "const method = String(msg.req.method || \"GET\").toUpperCase();\r\nconst path = msg.req.path || msg.req._parsedUrl?.pathname || \"\";\r\nconst query = msg.req.query || {};\r\nconst requestHeaders = msg.req.headers || {};\r\nconst requestOrigin = String(requestHeaders.origin || \"\").trim();\r\nconst allowedOrigins = String(\r\n  env.get(\"STCR_ALLOWED_ORIGINS\") ||\r\n    \"http://127.0.0.1:5173,http://localhost:5173,http://127.0.0.1:4173,http://localhost:4173\",\r\n)\r\n  .split(\",\")\r\n  .map((value) => value.trim())\r\n  .filter(Boolean);\r\nconst allowedOrigin = requestOrigin && allowedOrigins.includes(requestOrigin) ? requestOrigin : \"\";\r\nconst sensorKeys = [\"chamberTemp\", \"humidity\", \"furnaceTemp\", \"blowerTemp\"];\r\nconst maxBodyBytes = 32 * 1024;\r\nconst maxHistoryRangeMs = 14 * 24 * 60 * 60 * 1000;\r\nconst configuredOfflineSeconds = Number(env.get(\"STCR_OFFLINE_THRESHOLD_SECONDS\") || 180);\r\nconst offlineThresholdMs = Number.isFinite(configuredOfflineSeconds) && configuredOfflineSeconds >= 30\r\n  ? configuredOfflineSeconds * 1000\r\n  : 180 * 1000;\r\n\r\nfunction responseHeaders(contentType = \"application/json; charset=utf-8\") {\r\n  return {\r\n    \"Content-Type\": contentType,\r\n    ...(allowedOrigin ? { \"Access-Control-Allow-Origin\": allowedOrigin } : {}),\r\n    \"Access-Control-Allow-Headers\": \"Content-Type, Authorization, X-API-Key\",\r\n    \"Access-Control-Allow-Methods\": \"GET, POST, PUT, PATCH, OPTIONS\",\r\n    \"Cache-Control\": \"no-store\",\r\n    \"Content-Security-Policy\": \"default-src 'none'; frame-ancestors 'none'\",\r\n    \"Permissions-Policy\": \"camera=(), microphone=(), geolocation=()\",\r\n    \"Referrer-Policy\": \"no-referrer\",\r\n    \"X-Content-Type-Options\": \"nosniff\",\r\n    \"X-Frame-Options\": \"DENY\",\r\n    Vary: \"Origin\",\r\n  };\r\n}\r\n\r\nfunction jsonResponse(payload, statusCode = 200, extraHeaders = {}) {\r\n  msg.statusCode = statusCode;\r\n  msg.headers = { ...responseHeaders(), ...extraHeaders };\r\n  msg.payload = payload;\r\n  return msg;\r\n}\r\n\r\nfunction errorResponse(message, statusCode = 400, code = \"BAD_REQUEST\", extraHeaders = {}) {\r\n  return jsonResponse({ error: message, code }, statusCode, extraHeaders);\r\n}\r\n\r\nfunction requestBody() {\r\n  if (msg.payload && typeof msg.payload === \"object\") return msg.payload;\r\n  if (typeof msg.payload === \"string\" && msg.payload.trim()) {\r\n    try {\r\n      return JSON.parse(msg.payload);\r\n    } catch {\r\n      return null;\r\n    }\r\n  }\r\n  return {};\r\n}\r\n\r\nfunction requestIp() {\r\n  const direct = msg.req.ip || msg.req.socket?.remoteAddress || \"unknown\";\r\n  if (env.get(\"STCR_TRUST_PROXY\") !== \"true\") return String(direct);\r\n  return String(requestHeaders[\"x-forwarded-for\"] || direct).split(\",\")[0].trim();\r\n}\r\n\r\nfunction checkRateLimit(scope, limit, windowMs) {\r\n  const now = Date.now();\r\n  const key = `${scope}:${requestIp()}`;\r\n  const buckets = global.get(\"stcrRateLimits\") || {};\r\n  const recent = (buckets[key] || []).filter((timestamp) => now - timestamp < windowMs);\r\n  recent.push(now);\r\n  buckets[key] = recent;\r\n\r\n  for (const [bucketKey, timestamps] of Object.entries(buckets)) {\r\n    if (!timestamps.length || now - timestamps[timestamps.length - 1] > windowMs) delete buckets[bucketKey];\r\n  }\r\n  global.set(\"stcrRateLimits\", buckets);\r\n\r\n  return recent.length <= limit;\r\n}\r\n\r\nfunction verifyPassword(password, encodedHash) {\r\n  const parts = String(encodedHash || \"\").split(\"$\");\r\n  if (parts.length !== 5 || parts[0] !== \"argon2id\" || parts[1] !== \"v=19\") return false;\r\n  const parameters = Object.fromEntries(\r\n    String(parts[2]).split(\",\").map((item) => item.split(\"=\")),\r\n  );\r\n  const memory = Number(parameters.m);\r\n  const passes = Number(parameters.t);\r\n  const parallelism = Number(parameters.p);\r\n  if (memory < 19456 || memory > 262144 || passes < 2 || passes > 10 || parallelism < 1 || parallelism > 4) {\r\n    return false;\r\n  }\r\n\r\n  try {\r\n    const salt = Buffer.from(parts[3], \"hex\");\r\n    const expected = Buffer.from(parts[4], \"hex\");\r\n    if (salt.length < 16 || expected.length !== 32) return false;\r\n    const actual = crypto.argon2Sync(\"argon2id\", {\r\n      message: password,\r\n      nonce: salt,\r\n      parallelism,\r\n      tagLength: expected.length,\r\n      memory,\r\n      passes,\r\n    });\r\n    return crypto.timingSafeEqual(actual, expected);\r\n  } catch {\r\n    return false;\r\n  }\r\n}\r\n\r\nasync function readUserForLogin(username) {\r\n  const pool = getDatabasePool();\r\n  const [rows] = await pool.execute(\r\n    `SELECT u.id, u.company_id AS companyId, u.username, u.display_name AS displayName,\r\n            u.password_hash AS passwordHash, u.password_algorithm AS passwordAlgorithm,\r\n            u.status, u.failed_login_count AS failedLoginCount, u.locked_until AS lockedUntil,\r\n            GROUP_CONCAT(r.code ORDER BY r.code SEPARATOR ',') AS roleCodes\r\n     FROM users u\r\n     LEFT JOIN user_roles ur ON ur.user_id=u.id\r\n     LEFT JOIN roles r ON r.id=ur.role_id\r\n     WHERE u.username=?\r\n     GROUP BY u.id\r\n     LIMIT 1`,\r\n    [username],\r\n  );\r\n  const user = rows[0];\r\n  if (!user) return null;\r\n  return {\r\n    ...user,\r\n    roles: String(user.roleCodes || \"viewer\").split(\",\").filter(Boolean),\r\n  };\r\n}\r\n\r\nasync function recordLoginFailure(user) {\r\n  if (!user) return;\r\n  const pool = getDatabasePool();\r\n  const failures = Number(user.failedLoginCount || 0) + 1;\r\n  const shouldLock = failures >= 5;\r\n  await pool.execute(\r\n    `UPDATE users\r\n     SET failed_login_count=?, status=IF(? AND status='active', 'locked', status),\r\n         locked_until=IF(? AND status='active', DATE_ADD(UTC_TIMESTAMP(3), INTERVAL 15 MINUTE), locked_until)\r\n     WHERE id=?`,\r\n    [failures, shouldLock, shouldLock, user.id],\r\n  );\r\n}\r\n\r\nasync function recordLoginSuccess(userId) {\r\n  const pool = getDatabasePool();\r\n  await pool.execute(\r\n    `UPDATE users\r\n     SET failed_login_count=0, locked_until=NULL, status='active', last_login_at=UTC_TIMESTAMP(3)\r\n     WHERE id=?`,\r\n    [userId],\r\n  );\r\n}\r\n\r\nfunction cleanupSessions() {\r\n  // ลบ expired sessions จาก memory cache (ไม่ต้องทำ DB cleanup ทุก request)\r\n  const now = Date.now();\r\n  const sessions = global.get(\"stcrAuthSessions\") || {};\r\n  for (const [token, session] of Object.entries(sessions)) {\r\n    if (!session || session.expiresAtMs <= now) delete sessions[token];\r\n  }\r\n  global.set(\"stcrAuthSessions\", sessions);\r\n  return sessions;\r\n}\r\n\r\nfunction authenticate() {\r\n  const authorization = String(requestHeaders.authorization || \"\");\r\n  if (!authorization.startsWith(\"Bearer \")) return null;\r\n  const token = authorization.slice(7).trim();\r\n  if (!/^[a-f0-9]{64}$/i.test(token)) return null;\r\n  // ลองหาจาก memory cache ก่อน (fast path)\r\n  const cached = cleanupSessions()[token];\r\n  if (cached) return cached;\r\n  return null;\r\n}\r\n\r\nasync function authenticateFromDb(token) {\r\n  // fallback: ดึง session จาก DB (กรณี Node-RED restart แล้ว cache หาย)\r\n  if (!/^[a-f0-9]{64}$/i.test(token)) return null;\r\n  try {\r\n    const pool = getDatabasePool();\r\n    const [rows] = await pool.execute(\r\n      `SELECT user_id AS userId, company_id AS companyId, username,\r\n              roles, expires_at AS expiresAt\r\n       FROM sessions\r\n       WHERE token=? AND expires_at > UTC_TIMESTAMP(3)\r\n       LIMIT 1`,\r\n      [token],\r\n    );\r\n    const row = rows[0];\r\n    if (!row) return null;\r\n    const expiresAtMs = new Date(row.expiresAt).getTime();\r\n    let roles;\r\n    try { roles = typeof row.roles === \"string\" ? JSON.parse(row.roles) : row.roles; } catch { roles = [\"viewer\"]; }\r\n    const session = { userId: row.userId, username: row.username, companyId: row.companyId, roles, expiresAtMs };\r\n    // เก็บ cache กลับเข้า memory\r\n    const sessions = global.get(\"stcrAuthSessions\") || {};\r\n    sessions[token] = session;\r\n    global.set(\"stcrAuthSessions\", sessions);\r\n    return session;\r\n  } catch {\r\n    return null;\r\n  }\r\n}\r\n\r\nasync function createSession(user, ttlMinutes) {\r\n  const token = crypto.randomBytes(32).toString(\"hex\");\r\n  const expiresAtMs = Date.now() + ttlMinutes * 60 * 1000;\r\n  const expiresAt = new Date(expiresAtMs).toISOString();\r\n  const session = { userId: user.id, username: user.username, companyId: user.companyId, roles: user.roles, expiresAtMs };\r\n\r\n  // เขียนลง DB ก่อน แล้วค่อย cache ใน memory\r\n  const pool = getDatabasePool();\r\n  await pool.execute(\r\n    `INSERT INTO sessions (token, user_id, company_id, username, roles, expires_at)\r\n     VALUES (?, ?, ?, ?, ?, ?)\r\n     ON DUPLICATE KEY UPDATE expires_at=VALUES(expires_at)`,\r\n    [token, user.id, user.companyId, user.username, JSON.stringify(user.roles), expiresAt],\r\n  );\r\n  const sessions = cleanupSessions();\r\n  sessions[token] = session;\r\n  global.set(\"stcrAuthSessions\", sessions);\r\n  return { token, expiresAt, expiresAtMs };\r\n}\r\n\r\nasync function deleteSession(token) {\r\n  // ลบจากทั้ง memory และ DB\r\n  const sessions = cleanupSessions();\r\n  delete sessions[token];\r\n  global.set(\"stcrAuthSessions\", sessions);\r\n  try {\r\n    const pool = getDatabasePool();\r\n    await pool.execute(`DELETE FROM sessions WHERE token=?`, [token]);\r\n  } catch { /* ไม่หยุดถ้า DB error */ }\r\n}\r\n\r\n// cleanup DB sessions เก่า (รันครั้งแรกที่ Node-RED เริ่ม)\r\ngetDatabasePool().execute(`DELETE FROM sessions WHERE expires_at <= UTC_TIMESTAMP(3)`)\r\n  .catch((err) => node.warn(`Session cleanup failed: ${err.message}`));\r\n\r\nasync function validateSessionAccount(session) {\r\n  if (!session?.userId) return false;\r\n  const pool = getDatabasePool();\r\n  const [rows] = await pool.execute(\r\n    `SELECT id FROM users\r\n     WHERE id=? AND company_id=? AND username=? AND status='active'\r\n       AND (locked_until IS NULL OR locked_until<=UTC_TIMESTAMP(3))\r\n     LIMIT 1`,\r\n    [session.userId, session.companyId, session.username],\r\n  );\r\n  return Boolean(rows[0]);\r\n}\r\n\r\nasync function addAudit(state, session, action, target, detail) {\r\n  const createdAt = new Date().toISOString();\r\n  const auditEvent = {\r\n    id: `audit-${session.companyId}-${Date.now()}-${crypto.randomBytes(3).toString(\"hex\")}`,\r\n    actor: session.username,\r\n    action,\r\n    target,\r\n    detail,\r\n    createdAt,\r\n  };\r\n  state.auditEvents.unshift(auditEvent);\r\n  state.auditEvents = state.auditEvents.slice(0, 100);\r\n\r\n  try {\r\n    const pool = getDatabasePool();\r\n    await pool.execute(\r\n      `INSERT INTO audit_events (\r\n         company_id, actor, action_name, target_type, target_id, detail, created_at\r\n       ) VALUES (?, ?, ?, 'application', ?, ?, ?)`,\r\n      [session.companyId, session.username, action, target, JSON.stringify({ message: detail }), createdAt],\r\n    );\r\n  } catch (error) {\r\n    node.warn(`Audit database persistence failed: ${error.message}`);\r\n  }\r\n\r\n  return auditEvent;\r\n}\r\n\r\nfunction getDatabasePool() {\r\n  let pool = context.get(\"stcrApiDbPool\");\r\n  if (pool) return pool;\r\n  const password = String(env.get(\"STCR_DB_PASSWORD\") || \"\");\r\n  if (!password) throw new Error(\"STCR_DB_PASSWORD is required\");\r\n  pool = mysql.createPool({\r\n    host: env.get(\"STCR_DB_HOST\") || \"127.0.0.1\",\r\n    port: Number(env.get(\"STCR_DB_PORT\") || 3306),\r\n    user: env.get(\"STCR_DB_USER\") || \"stcr_app\",\r\n    password,\r\n    database: env.get(\"STCR_DB_NAME\") || \"stcr\",\r\n    waitForConnections: true,\r\n    connectionLimit: 4,\r\n    timezone: \"Z\",\r\n  });\r\n  context.set(\"stcrApiDbPool\", pool);\r\n  return pool;\r\n}\r\n\r\nfunction databaseTimestamp(value) {\r\n  if (!value) return null;\r\n  if (value instanceof Date) return value.toISOString();\r\n  const timestamp = Date.parse(String(value));\r\n  return Number.isFinite(timestamp) ? new Date(timestamp).toISOString() : null;\r\n}\r\n\r\nfunction emptyReadings(updatedAt) {\r\n  return {\r\n    chamberTemp: { key: \"chamberTemp\", value: 0, unit: \"C\", updatedAt },\r\n    humidity: { key: \"humidity\", value: 0, unit: \"%\", updatedAt },\r\n    furnaceTemp: { key: \"furnaceTemp\", value: 0, unit: \"C\", updatedAt },\r\n    blowerTemp: { key: \"blowerTemp\", value: 0, unit: \"C\", updatedAt },\r\n  };\r\n}\r\n\r\nasync function loadRuntimeStateFromDatabase() {\r\n  const pool = getDatabasePool();\r\n  const [ovenRows] = await pool.execute(\r\n    `SELECT o.company_id AS companyId, o.id, o.oven_number AS ovenNumber,\r\n            o.name, o.zone_name AS zoneName, o.line_name AS lineName,\r\n            o.status, o.enabled, o.chamber_lower AS chamberLower,\r\n            o.chamber_upper AS chamberUpper, o.humidity_lower AS humidityLower,\r\n            o.humidity_upper AS humidityUpper, o.furnace_lower AS furnaceLower,\r\n            o.furnace_upper AS furnaceUpper, o.blower_lower AS blowerLower,\r\n            o.blower_upper AS blowerUpper, o.last_seen_at AS lastSeenAt,\r\n            c.cycle_number AS cycleNumber, c.state AS cycleState,\r\n            c.fired_at AS firedAt, c.report_started_at AS reportStartedAt,\r\n            c.stopped_at AS stoppedAt,\r\n            r.recorded_at AS readingAt, r.chamber_temp AS chamberTemp,\r\n            r.humidity, r.furnace_temp AS furnaceTemp, r.blower_temp AS blowerTemp\r\n     FROM ovens o\r\n     LEFT JOIN oven_cycles c ON c.id=(\r\n       SELECT c2.id FROM oven_cycles c2\r\n       WHERE c2.company_id=o.company_id AND c2.oven_id=o.id\r\n       ORDER BY c2.cycle_number DESC, c2.id DESC LIMIT 1\r\n     )\r\n     LEFT JOIN sensor_readings r ON r.id=(\r\n       SELECT r2.id FROM sensor_readings r2\r\n       WHERE r2.company_id=o.company_id AND r2.oven_id=o.id\r\n       ORDER BY r2.recorded_at DESC, r2.id DESC LIMIT 1\r\n     )\r\n     WHERE o.enabled=TRUE\r\n     ORDER BY o.company_id, o.oven_number`,\r\n  );\r\n  const [alarmRows] = await pool.execute(\r\n    `SELECT id, company_id AS companyId, oven_id AS ovenId, sensor_key AS sensorKey,\r\n            severity, status, title, detail, measured_value AS measuredValue,\r\n            limit_value AS limitValue, created_at AS createdAt, resolved_at AS resolvedAt\r\n     FROM alarms\r\n     ORDER BY created_at DESC\r\n     LIMIT 400`,\r\n  );\r\n\r\n  const companies = {};\r\n  for (const row of ovenRows) {\r\n    const companyId = String(row.companyId || \"\");\r\n    if (![\"gr\", \"ttn\"].includes(companyId)) continue;\r\n    companies[companyId] ||= {\r\n      companyId,\r\n      ovens: [],\r\n      history: {},\r\n      archivedCycles: {},\r\n      alarms: [],\r\n      auditEvents: [],\r\n    };\r\n\r\n    const lastUpdatedAt = databaseTimestamp(row.readingAt || row.lastSeenAt) || new Date(0).toISOString();\r\n    const readings = emptyReadings(lastUpdatedAt);\r\n    if (row.readingAt) {\r\n      readings.chamberTemp.value = Number(row.chamberTemp);\r\n      readings.humidity.value = Number(row.humidity);\r\n      readings.furnaceTemp.value = Number(row.furnaceTemp);\r\n      readings.blowerTemp.value = Number(row.blowerTemp);\r\n    }\r\n    const firedAt = databaseTimestamp(row.firedAt);\r\n    const reportStartedAt = databaseTimestamp(row.reportStartedAt);\r\n    const stoppedAt = databaseTimestamp(row.stoppedAt);\r\n    const oven = {\r\n      id: String(row.id),\r\n      number: Number(row.ovenNumber),\r\n      name: String(row.name),\r\n      zone: String(row.zoneName),\r\n      line: String(row.lineName),\r\n      status: [\"open\", \"closed\", \"offline\"].includes(row.status) ? row.status : \"offline\",\r\n      enabled: Boolean(row.enabled),\r\n      cycleCount: Number(row.cycleNumber || 0),\r\n      ...(firedAt ? { firedAt } : {}),\r\n      ...(reportStartedAt ? { reportStartedAt, startedAt: reportStartedAt } : {}),\r\n      ...(stoppedAt ? { stoppedAt } : {}),\r\n      lastUpdatedAt,\r\n      readings,\r\n      limits: {\r\n        chamberTemp: { sensor: \"chamberTemp\", lower: Number(row.chamberLower), upper: Number(row.chamberUpper) },\r\n        humidity: { sensor: \"humidity\", lower: Number(row.humidityLower), upper: Number(row.humidityUpper) },\r\n        furnaceTemp: { sensor: \"furnaceTemp\", lower: Number(row.furnaceLower), upper: Number(row.furnaceUpper) },\r\n        blowerTemp: { sensor: \"blowerTemp\", lower: Number(row.blowerLower), upper: Number(row.blowerUpper) },\r\n      },\r\n    };\r\n    companies[companyId].ovens.push(oven);\r\n    companies[companyId].history[oven.id] = [];\r\n    companies[companyId].archivedCycles[oven.id] = [];\r\n  }\r\n\r\n  for (const row of alarmRows) {\r\n    const company = companies[row.companyId];\r\n    if (!company || !company.ovens.some((oven) => oven.id === row.ovenId)) continue;\r\n    const createdAt = databaseTimestamp(row.createdAt) || new Date().toISOString();\r\n    const resolvedAt = databaseTimestamp(row.resolvedAt);\r\n    company.alarms.push({\r\n      id: String(row.id),\r\n      ovenId: String(row.ovenId),\r\n      severity: row.severity,\r\n      status: row.status,\r\n      ...(row.sensorKey ? { sensor: row.sensorKey } : {}),\r\n      title: String(row.title),\r\n      detail: String(row.detail),\r\n      ...(row.measuredValue == null ? {} : { value: Number(row.measuredValue) }),\r\n      ...(row.limitValue == null ? {} : { limit: Number(row.limitValue) }),\r\n      createdAt,\r\n      ...(resolvedAt ? { resolvedAt } : {}),\r\n    });\r\n  }\r\n\r\n  if (!Object.keys(companies).length) throw new Error(\"No enabled ovens found in database\");\r\n  const rootState = { version: \"database-1\", companies };\r\n  global.set(\"stcrState\", rootState);\r\n  return rootState;\r\n}\r\n\r\nasync function applyOfflineThreshold(rootState, referenceDate = new Date()) {\r\n  if (!rootState?.companies) return rootState;\r\n\r\n  const nowMs = referenceDate.getTime();\r\n  const changed = [];\r\n\r\n  for (const [companyId, company] of Object.entries(rootState.companies)) {\r\n    for (const oven of company.ovens || []) {\r\n      const lastUpdatedMs = Date.parse(\r\n        String(oven.lastUpdatedAt || \"\"),\r\n      );\r\n\r\n      const stale =\r\n        !Number.isFinite(lastUpdatedMs) ||\r\n        nowMs - lastUpdatedMs > offlineThresholdMs;\r\n\r\n      if (stale && oven.status !== \"offline\") {\r\n        oven.status = \"offline\";\r\n        changed.push({\r\n          companyId,\r\n          ovenId: oven.id,\r\n        });\r\n      }\r\n    }\r\n  }\r\n\r\n  if (!changed.length) return rootState;\r\n\r\n  global.set(\"stcrState\", rootState);\r\n\r\n  try {\r\n    const pool = getDatabasePool();\r\n\r\n    await Promise.all(\r\n      changed.map(({ companyId, ovenId }) =>\r\n        pool.execute(\r\n          `UPDATE ovens\r\n           SET status='offline'\r\n           WHERE company_id=?\r\n             AND id=?\r\n             AND status<>'offline'`,\r\n          [companyId, ovenId],\r\n        ),\r\n      ),\r\n    );\r\n  } catch (error) {\r\n    node.warn(\r\n      `Offline status persistence failed: ${error.message}`,\r\n    );\r\n  }\r\n\r\n  return rootState;\r\n}\r\n\r\nasync function ensureRuntimeState() {\r\n  const existing = global.get(\"stcrState\");\r\n\r\n  if (\r\n    existing?.companies &&\r\n    Object.keys(existing.companies).length\r\n  ) {\r\n    return applyOfflineThreshold(existing);\r\n  }\r\n\r\n  let loading = context.get(\"stcrRuntimeStateLoading\");\r\n\r\n  if (!loading) {\r\n    loading = loadRuntimeStateFromDatabase().finally(() =>\r\n      context.set(\"stcrRuntimeStateLoading\", undefined),\r\n    );\r\n\r\n    context.set(\"stcrRuntimeStateLoading\", loading);\r\n  }\r\n\r\n  return applyOfflineThreshold(await loading);\r\n}\r\n\r\nasync function readReportHistory(companyId, ovenId, historyQuery) {\r\n  const conditions = [\r\n    \"a.company_id=?\",\r\n    \"a.oven_id=?\",\r\n  ];\r\n\r\n  const values = [\r\n    companyId,\r\n    ovenId,\r\n  ];\r\n\r\n  if (historyQuery.includeIgnition !== \"true\") {\r\n    conditions.push(\"a.included_in_report=TRUE\");\r\n  }\r\n\r\n  if (historyQuery.startAt) {\r\n    conditions.push(\"a.minute_at>=?\");\r\n    values.push(historyQuery.startAt);\r\n  }\r\n\r\n  if (historyQuery.endAt) {\r\n    conditions.push(\"a.minute_at<=?\");\r\n    values.push(historyQuery.endAt);\r\n  }\r\n\r\n  if (historyQuery.cycleNumber) {\r\n    conditions.push(\"a.cycle_number=?\");\r\n    values.push(Number(historyQuery.cycleNumber));\r\n  }\r\n\r\n  const pool = getDatabasePool();\r\n\r\n  await pool.query(\"SET time_zone = '+00:00'\");\r\n\r\n  const requestedRangeMs =\r\n    historyQuery.startAt && historyQuery.endAt\r\n      ? Math.max(\r\n          0,\r\n          Date.parse(historyQuery.endAt) -\r\n            Date.parse(historyQuery.startAt),\r\n        )\r\n      : 0;\r\n\r\n  const bucketSeconds =\r\n    requestedRangeMs > 24 * 60 * 60 * 1000\r\n      ? 600\r\n      : 60;\r\n\r\n  const [rows] = await pool.execute(\r\n    `SELECT\r\n       DATE_FORMAT(\r\n         MIN(a.minute_at),\r\n         '%Y-%m-%dT%H:%i:%s.000Z'\r\n       ) AS timestamp,\r\n\r\n       SUM(\r\n         a.chamber_temp_avg *\r\n         a.chamber_temp_count\r\n       ) /\r\n       NULLIF(\r\n         SUM(a.chamber_temp_count),\r\n         0\r\n       ) AS chamberTemp,\r\n\r\n       SUM(\r\n         a.humidity_avg *\r\n         a.humidity_count\r\n       ) /\r\n       NULLIF(\r\n         SUM(a.humidity_count),\r\n         0\r\n       ) AS humidity,\r\n\r\n       SUM(\r\n         a.furnace_temp_avg *\r\n         a.furnace_temp_count\r\n       ) /\r\n       NULLIF(\r\n         SUM(a.furnace_temp_count),\r\n         0\r\n       ) AS furnaceTemp,\r\n\r\n       SUM(\r\n         a.blower_temp_avg *\r\n         a.blower_temp_count\r\n       ) /\r\n       NULLIF(\r\n         SUM(a.blower_temp_count),\r\n         0\r\n       ) AS blowerTemp\r\n\r\n     FROM sensor_minute_aggregates a\r\n\r\n     WHERE ${conditions.join(\" AND \")}\r\n\r\n     GROUP BY\r\n       FLOOR(\r\n         UNIX_TIMESTAMP(a.minute_at) /\r\n         ${bucketSeconds}\r\n       )\r\n\r\n     ORDER BY MIN(a.minute_at) ASC\r\n\r\n     LIMIT 10000`,\r\n    values,\r\n  );\r\n\r\n  const nullableNumber = (value) =>\r\n    value == null ? null : Number(value);\r\n\r\n  return rows.map((row) => ({\r\n    timestamp: row.timestamp,\r\n    chamberTemp: nullableNumber(row.chamberTemp),\r\n    humidity: nullableNumber(row.humidity),\r\n    furnaceTemp: nullableNumber(row.furnaceTemp),\r\n    blowerTemp: nullableNumber(row.blowerTemp),\r\n  }));\r\n}\r\n\r\nasync function readAuditEvents(companyId) {\r\n  const pool = getDatabasePool();\r\n  const [rows] = await pool.execute(\r\n    `SELECT CAST(id AS CHAR) AS id, actor, action_name, target_id, detail,\r\n            DATE_FORMAT(created_at, '%Y-%m-%dT%H:%i:%s.%fZ') AS createdAt\r\n     FROM audit_events\r\n     WHERE company_id=?\r\n     ORDER BY created_at DESC, id DESC\r\n     LIMIT 100`,\r\n    [companyId],\r\n  );\r\n\r\n  return rows.map((row) => {\r\n    let parsedDetail = row.detail;\r\n    if (typeof parsedDetail === \"string\") {\r\n      try {\r\n        parsedDetail = JSON.parse(parsedDetail);\r\n      } catch {\r\n        parsedDetail = { message: parsedDetail };\r\n      }\r\n    }\r\n    return {\r\n      id: `audit-db-${row.id}`,\r\n      actor: row.actor,\r\n      action: row.action_name,\r\n      target: row.target_id,\r\n      detail: parsedDetail?.message || \"\",\r\n      createdAt: row.createdAt,\r\n    };\r\n  });\r\n}\r\n\r\nasync function readReportDocumentMeta(companyId) {\r\n  const pool = getDatabasePool();\r\n  const [rows] = await pool.execute(\r\n    `SELECT document_no AS documentNo, effective_date AS effectiveDate\r\n     FROM report_document_settings\r\n     WHERE company_id=?\r\n     LIMIT 1`,\r\n    [companyId],\r\n  );\r\n  return rows[0] || { documentNo: \"\", effectiveDate: \"\" };\r\n}\r\n\r\nfunction validHistoryQuery(historyQuery) {\r\n  const hasStart = Boolean(historyQuery.startAt);\r\n  const hasEnd = Boolean(historyQuery.endAt);\r\n  const cycle = Number(historyQuery.cycleNumber);\r\n  if (hasStart !== hasEnd) return false;\r\n  if (historyQuery.cycleNumber && (!Number.isInteger(cycle) || cycle < 1 || cycle > 1000000)) return false;\r\n  if (!hasStart) return Number.isInteger(cycle) && cycle > 0;\r\n  const start = Date.parse(historyQuery.startAt);\r\n  const end = Date.parse(historyQuery.endAt);\r\n  return Number.isFinite(start) && Number.isFinite(end) && end >= start && end - start <= maxHistoryRangeMs;\r\n}\r\n\r\nfunction safeText(value, maxLength) {\r\n  if (typeof value !== \"string\") return null;\r\n  const normalized = value.trim();\r\n  if (!normalized || normalized.length > maxLength || /[\\u0000-\\u001f\\u007f]/.test(normalized)) return null;\r\n  return normalized;\r\n}\r\n\r\nfunction hasAnyRole(session, allowedRoles) {\r\n  return Array.isArray(session?.roles) && session.roles.some((role) => allowedRoles.includes(role));\r\n}\r\n\r\nasync function authenticateApiKey(companyId, ovenId, apiKey) {\r\n  const pepper = String(env.get(\"STCR_API_KEY_PEPPER\") || \"\");\r\n  if (pepper.length < 32 || !/^stcr_(gr|ttn)_[A-Za-z0-9_-]{32,}$/.test(apiKey)) return null;\r\n  if (!apiKey.startsWith(`stcr_${companyId}_`)) return null;\r\n  const prefix = apiKey.slice(0, 16);\r\n  const candidateHash = crypto.createHmac(\"sha256\", pepper).update(apiKey).digest();\r\n  const pool = getDatabasePool();\r\n  const [rows] = await pool.execute(\r\n    `SELECT id, company_id AS companyId, allowed_oven_id AS allowedOvenId, key_hash AS keyHash\r\n     FROM api_keys\r\n     WHERE company_id=? AND key_prefix=? AND status='active'\r\n       AND (expires_at IS NULL OR expires_at>UTC_TIMESTAMP(3))\r\n     LIMIT 1`,\r\n    [companyId, prefix],\r\n  );\r\n  const key = rows[0];\r\n  if (!key || (key.allowedOvenId && key.allowedOvenId !== ovenId)) return null;\r\n  const expectedHash = Buffer.from(String(key.keyHash), \"hex\");\r\n  if (expectedHash.length !== candidateHash.length || !crypto.timingSafeEqual(candidateHash, expectedHash)) {\r\n    return null;\r\n  }\r\n  return key;\r\n}\r\n\r\nfunction normalizeTelemetryBatch(body) {\r\n  const companyId = safeText(body?.companyId, 32);\r\n  const ovenId = safeText(body?.ovenId, 64);\r\n  const batchId = safeText(body?.batchId, 96);\r\n  const deviceId = safeText(body?.deviceId, 128);\r\n  const readings = Array.isArray(body?.readings) ? body.readings : [];\r\n  if (!companyId || !ovenId || !batchId || !deviceId || readings.length !== sensorKeys.length) return null;\r\n  if (!new Set([\"gr\", \"ttn\"]).has(companyId)) return null;\r\n\r\n  const physicalRanges = {\r\n    chamberTemp: [-20, 150, \"C\"],\r\n    humidity: [0, 100, \"%\"],\r\n    furnaceTemp: [-20, 1200, \"C\"],\r\n    blowerTemp: [-20, 500, \"C\"],\r\n  };\r\n  const normalized = [];\r\n  const seen = new Set();\r\n  for (const reading of readings) {\r\n    const sensorKey = safeText(reading?.sensorKey, 40);\r\n    const sensorId = safeText(reading?.sensorId, 160);\r\n    const rule = physicalRanges[sensorKey];\r\n    const value = Number(reading?.value);\r\n    const rawValue = Number(reading?.rawValue ?? reading?.value);\r\n    const sequence = Number(reading?.sequence);\r\n    const timestampMs = Date.parse(reading?.sourceTimestamp);\r\n    const quality = [\"good\", \"suspect\", \"missing\", \"manual\"].includes(reading?.quality)\r\n      ? reading.quality\r\n      : \"good\";\r\n    if (\r\n      !rule || seen.has(sensorKey) || !sensorId || reading?.unit !== rule[2] ||\r\n      !Number.isFinite(value) || !Number.isFinite(rawValue) || value < rule[0] || value > rule[1] ||\r\n      !Number.isSafeInteger(sequence) || sequence < 0 || !Number.isFinite(timestampMs) ||\r\n      Math.abs(Date.now() - timestampMs) > 10 * 60 * 1000\r\n    ) return null;\r\n    seen.add(sensorKey);\r\n    normalized.push({\r\n      sensorKey,\r\n      sensorId,\r\n      value,\r\n      rawValue,\r\n      sequence,\r\n      unit: reading.unit,\r\n      quality,\r\n      qualityReasons: Array.isArray(reading.qualityReasons) ? reading.qualityReasons.slice(0, 10) : [],\r\n      sourceTimestamp: new Date(timestampMs).toISOString(),\r\n    });\r\n  }\r\n  if (!sensorKeys.every((key) => seen.has(key))) return null;\r\n  return { companyId, ovenId, batchId, deviceId, readings };\r\n}\r\n\r\nfunction normalizeFactoryMqttRaw(body) {\r\n  const companyId = safeText(body?.companyId, 32);\r\n  const ovenId = safeText(body?.ovenId, 64);\r\n  const topic = safeText(body?.topic, 128);\r\n  const ovenNumber = Number(body?.ovenNumber);\r\n  const cycleNumber = Number(body?.cycleNumber);\r\n  const qos = Number(body?.qos);\r\n  const sourceTimestampMs = Date.parse(body?.sourceTimestamp);\r\n  const payload = body?.payload;\r\n  const normalizationStatus = [\"received\", \"normalized\", \"pending\", \"rejected\"].includes(body?.normalizationStatus)\r\n    ? body.normalizationStatus\r\n    : \"received\";\r\n  const normalizationDetail = body?.normalizationDetail == null || body.normalizationDetail === \"\"\r\n    ? null\r\n    : safeText(body.normalizationDetail, 255);\r\n  if (\r\n    !companyId || !new Set([\"gr\", \"ttn\"]).has(companyId) || !ovenId ||\r\n    !new Set([\"test\", \"sensor\"]).has(topic) ||\r\n    !Number.isSafeInteger(ovenNumber) || ovenNumber < 1 || ovenNumber > 10000 ||\r\n    !Number.isSafeInteger(cycleNumber) || cycleNumber < 0 || cycleNumber > 1000000 ||\r\n    !Number.isInteger(qos) || qos < 0 || qos > 2 || !Number.isFinite(sourceTimestampMs) ||\r\n    !payload || typeof payload !== \"object\" || Array.isArray(payload) ||\r\n    (body?.normalizationDetail && !normalizationDetail)\r\n  ) return null;\r\n  const payloadJson = JSON.stringify(payload);\r\n  if (Buffer.byteLength(payloadJson, \"utf8\") > 8192) return null;\r\n  return {\r\n    companyId,\r\n    ovenId,\r\n    ovenNumber,\r\n    cycleNumber,\r\n    topic,\r\n    qos,\r\n    retained: Boolean(body?.retained),\r\n    duplicateDelivery: Boolean(body?.duplicateDelivery),\r\n    sourceTimestamp: new Date(sourceTimestampMs).toISOString(),\r\n    payload,\r\n    payloadJson,\r\n    normalizationStatus,\r\n    normalizationDetail,\r\n  };\r\n}\r\n\r\nasync function persistFactoryMqttRaw(envelope) {\r\n  const messageHash = crypto.createHash(\"sha256\").update([\r\n    envelope.companyId,\r\n    envelope.ovenId,\r\n    envelope.topic,\r\n    envelope.cycleNumber,\r\n    envelope.sourceTimestamp,\r\n    envelope.payloadJson,\r\n  ].join(\"\\n\")).digest(\"hex\");\r\n  const pool = getDatabasePool();\r\n  const [result] = await pool.execute(\r\n    `INSERT INTO factory_mqtt_messages (\r\n       company_id, oven_id, oven_number, cycle_number, topic, qos,\r\n       retained, duplicate_delivery, source_timestamp, payload_json,\r\n       message_hash, normalization_status, normalization_detail\r\n     ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)\r\n     ON DUPLICATE KEY UPDATE\r\n       duplicate_delivery=TRUE, received_at=CURRENT_TIMESTAMP(3),\r\n       normalization_status=VALUES(normalization_status),\r\n       normalization_detail=VALUES(normalization_detail)`,\r\n    [\r\n      envelope.companyId, envelope.ovenId, envelope.ovenNumber, envelope.cycleNumber,\r\n      envelope.topic, envelope.qos, envelope.retained, envelope.duplicateDelivery,\r\n      envelope.sourceTimestamp, envelope.payloadJson, messageHash,\r\n      envelope.normalizationStatus, envelope.normalizationDetail,\r\n    ],\r\n  );\r\n  const ovenState = Number(envelope.payload?.oven_state);\r\n  if (envelope.topic === \"test\" && [0, 1].includes(ovenState)) {\r\n    await pool.execute(\r\n      `UPDATE ovens SET status=?, last_seen_at=CURRENT_TIMESTAMP(3)\r\n       WHERE company_id=? AND id=? AND enabled=TRUE`,\r\n      [ovenState === 1 ? \"open\" : \"closed\", envelope.companyId, envelope.ovenId],\r\n    );\r\n  } else {\r\n    await pool.execute(\r\n      `UPDATE ovens SET last_seen_at=CURRENT_TIMESTAMP(3)\r\n       WHERE company_id=? AND id=? AND enabled=TRUE`,\r\n      [envelope.companyId, envelope.ovenId],\r\n    );\r\n  }\r\n  return { messageHash, duplicate: result.affectedRows > 1 };\r\n}\r\n\r\nasync function persistHttpTelemetryBatch(batch, apiKeyRecord) {\r\n  const pool = getDatabasePool();\r\n  const connection = await pool.getConnection();\r\n  const receivedAt = new Date();\r\n  const recordedAt = new Date(Math.max(...batch.readings.map((reading) => Date.parse(reading.sourceTimestamp))));\r\n  try {\r\n    await connection.beginTransaction();\r\n    const [ovenRows] = await connection.execute(\r\n      `SELECT id FROM ovens WHERE company_id=? AND id=? AND enabled=TRUE LIMIT 1 FOR UPDATE`,\r\n      [batch.companyId, batch.ovenId],\r\n    );\r\n    if (!ovenRows[0]) {\r\n      const error = new Error(\"OVEN_NOT_FOUND\");\r\n      error.code = \"OVEN_NOT_FOUND\";\r\n      throw error;\r\n    }\r\n    const [cycleRows] = await connection.execute(\r\n      `SELECT id, state FROM oven_cycles\r\n       WHERE company_id=? AND oven_id=?\r\n       ORDER BY cycle_number DESC LIMIT 1`,\r\n      [batch.companyId, batch.ovenId],\r\n    );\r\n    const cycle = cycleRows[0] || null;\r\n    const cyclePhase = cycle?.state === \"recording\"\r\n      ? \"recording\"\r\n      : cycle?.state === \"ignition\" ? \"ignition\" : cycle?.state === \"completed\" ? \"cooldown\" : \"idle\";\r\n    const includedInReport = cyclePhase === \"recording\";\r\n\r\n    for (const reading of batch.readings) {\r\n      await connection.execute(\r\n        `INSERT INTO telemetry_events (\r\n           company_id, oven_id, batch_id, topic, device_id, sensor_id, sensor_key,\r\n           sequence_number, numeric_value, unit_symbol, quality, quality_reasons,\r\n           source_timestamp, gateway_timestamp, received_at\r\n         ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)\r\n         ON DUPLICATE KEY UPDATE received_at=VALUES(received_at)`,\r\n        [\r\n          batch.companyId, batch.ovenId, batch.batchId,\r\n          `stcr/${batch.companyId}/${batch.ovenId}/telemetry/${reading.sensorKey}`,\r\n          batch.deviceId, reading.sensorId, reading.sensorKey, reading.sequence,\r\n          reading.rawValue, reading.unit, reading.quality, JSON.stringify(reading.qualityReasons),\r\n          reading.sourceTimestamp, reading.sourceTimestamp, receivedAt,\r\n        ],\r\n      );\r\n    }\r\n\r\n    const bySensor = Object.fromEntries(batch.readings.map((reading) => [reading.sensorKey, reading]));\r\n    const snapshotQuality = batch.readings.some((reading) => reading.quality !== \"good\") ? \"suspect\" : \"good\";\r\n    await connection.execute(\r\n      `INSERT INTO sensor_readings (\r\n         company_id, oven_id, cycle_id, recorded_at, chamber_temp, humidity,\r\n         furnace_temp, blower_temp, cycle_phase, included_in_report, quality,\r\n         source_timestamp, received_at\r\n       ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)\r\n       ON DUPLICATE KEY UPDATE\r\n         chamber_temp=VALUES(chamber_temp), humidity=VALUES(humidity),\r\n         furnace_temp=VALUES(furnace_temp), blower_temp=VALUES(blower_temp),\r\n         quality=VALUES(quality), source_timestamp=VALUES(source_timestamp), received_at=VALUES(received_at)`,\r\n      [\r\n        batch.companyId, batch.ovenId, cycle?.id || null, recordedAt,\r\n        bySensor.chamberTemp.value, bySensor.humidity.value,\r\n        bySensor.furnaceTemp.value, bySensor.blowerTemp.value,\r\n        cyclePhase, includedInReport, snapshotQuality, recordedAt, receivedAt,\r\n      ],\r\n    );\r\n    await connection.execute(\r\n      `UPDATE ovens SET last_seen_at=? WHERE company_id=? AND id=?`,\r\n      [receivedAt, batch.companyId, batch.ovenId],\r\n    );\r\n    await connection.execute(\r\n      `UPDATE api_keys SET last_used_at=? WHERE id=? AND company_id=?`,\r\n      [receivedAt, apiKeyRecord.id, batch.companyId],\r\n    );\r\n    await connection.commit();\r\n\r\n    const rootState = await ensureRuntimeState().catch(() => global.get(\"stcrState\"));\r\n    const companyState = rootState?.companies?.[batch.companyId];\r\n    const oven = companyState?.ovens?.find((item) => item.id === batch.ovenId);\r\n    if (oven) {\r\n      const timestamp = recordedAt.toISOString();\r\n      batch.readings.forEach((reading) => {\r\n        oven.readings[reading.sensorKey] = {\r\n          ...oven.readings[reading.sensorKey],\r\n          value: reading.value,\r\n          updatedAt: timestamp,\r\n        };\r\n      });\r\n      oven.lastUpdatedAt = timestamp;\r\n      const point = {\r\n        timestamp,\r\n        chamberTemp: bySensor.chamberTemp.value,\r\n        humidity: bySensor.humidity.value,\r\n        furnaceTemp: bySensor.furnaceTemp.value,\r\n        blowerTemp: bySensor.blowerTemp.value,\r\n      };\r\n      companyState.history[batch.ovenId] = [...(companyState.history[batch.ovenId] || []), point].slice(-10000);\r\n      global.set(\"stcrState\", rootState);\r\n    }\r\n    return { recordedAt: recordedAt.toISOString(), quality: snapshotQuality, includedInReport };\r\n  } catch (error) {\r\n    await connection.rollback();\r\n    throw error;\r\n  } finally {\r\n    connection.release();\r\n  }\r\n}\r\n\r\nfunction csvCell(value) {\r\n  let text = value == null ? \"\" : String(value);\r\n  if (/^[=+\\-@]/.test(text)) text = `'${text}`;\r\n  return `\"${text.replace(/\"/g, '\"\"')}\"`;\r\n}\r\n\r\nif (requestOrigin && !allowedOrigin) {\r\n  return errorResponse(\"Origin is not allowed\", 403, \"ORIGIN_FORBIDDEN\");\r\n}\r\n\r\nif (method === \"OPTIONS\") {\r\n  msg.statusCode = 204;\r\n  msg.headers = responseHeaders();\r\n  msg.payload = \"\";\r\n  return msg;\r\n}\r\n\r\nconst rateLimitKind = path === \"/stcr/api/auth/login\"\r\n  ? \"login\"\r\n  : path === \"/stcr/api/telemetry\" ? \"telemetry\" : \"api\";\r\nconst rateLimit = rateLimitKind === \"login\" ? 10 : rateLimitKind === \"telemetry\" ? 120 : 180;\r\nconst rateWindowMs = rateLimitKind === \"login\" ? 15 * 60 * 1000 : 60 * 1000;\r\nif (!checkRateLimit(rateLimitKind, rateLimit, rateWindowMs)) {\r\n  return errorResponse(\"ส่งคำขอถี่เกินไป กรุณารอสักครู่\", 429, \"RATE_LIMITED\", { \"Retry-After\": \"60\" });\r\n}\r\n\r\nconst contentLength = Number(requestHeaders[\"content-length\"] || 0);\r\nif (contentLength > maxBodyBytes || (typeof msg.payload === \"string\" && msg.payload.length > maxBodyBytes)) {\r\n  return errorResponse(\"Request body is too large\", 413, \"PAYLOAD_TOO_LARGE\");\r\n}\r\n\r\nif (method === \"POST\" && path === \"/stcr/api/auth/login\") {\r\n  const body = requestBody();\r\n  const username = safeText(body?.username, 80);\r\n  const password = typeof body?.password === \"string\" && body.password.length <= 256 ? body.password : \"\";\r\n  let user = null;\r\n  try {\r\n    user = username ? await readUserForLogin(username) : null;\r\n  } catch (error) {\r\n    node.warn(`User database lookup failed: ${error.message}`);\r\n    return errorResponse(\"ระบบยืนยันตัวตนไม่พร้อมใช้งาน\", 503, \"AUTH_DATABASE_UNAVAILABLE\");\r\n  }\r\n\r\n  const lockedUntil = user?.lockedUntil ? new Date(user.lockedUntil).getTime() : 0;\r\n  const accountEnabled = user && (\r\n    user.status === \"active\" || (user.status === \"locked\" && lockedUntil > 0 && lockedUntil <= Date.now())\r\n  );\r\n  const validCompany = user && (user.companyId === \"gr\" || user.companyId === \"ttn\");\r\n  const dummyHash = \"argon2id$v=19$m=65536,t=3,p=1$00112233445566778899aabbccddeeff$e3f9e725738cc2a36f827442ce63603b1d51b7eeebff642c1854010c07bdb681\";\r\n  const passwordMatches = verifyPassword(\r\n    password,\r\n    accountEnabled && user.passwordAlgorithm === \"argon2id\" ? user.passwordHash : dummyHash,\r\n  );\r\n  const valid = Boolean(validCompany && accountEnabled && passwordMatches);\r\n  if (!valid) {\r\n    await recordLoginFailure(user).catch((error) => node.warn(`Login failure audit failed: ${error.message}`));\r\n    return errorResponse(\"ชื่อผู้ใช้หรือรหัสผ่านไม่ถูกต้อง\", 401, \"INVALID_CREDENTIALS\");\r\n  }\r\n\r\n  await recordLoginSuccess(user.id);\r\n\r\n  const ttlMinutes = Math.min(1440, Math.max(15, Number(env.get(\"STCR_SESSION_TTL_MINUTES\") || 480)));\r\n  const { token, expiresAt, expiresAtMs } = await createSession(user, ttlMinutes);\r\n  return jsonResponse({\r\n    token,\r\n    username,\r\n    companyId: user.companyId,\r\n    roles: user.roles,\r\n    expiresAt,\r\n  });\r\n}\r\n\r\nif (method === \"GET\" && path === \"/stcr/api/health\") {\r\n  try {\r\n    const rootState = await ensureRuntimeState();\r\n    return jsonResponse({ ok: Boolean(rootState?.companies), timestamp: new Date().toISOString() });\r\n  } catch (error) {\r\n    node.warn(`Runtime database initialization failed: ${error.message}`);\r\n    return jsonResponse({ ok: false, timestamp: new Date().toISOString() }, 503);\r\n  }\r\n}\r\n\r\nif (method === \"POST\" && path === \"/stcr/api/factory-mqtt/raw\") {\r\n  const envelope = normalizeFactoryMqttRaw(requestBody());\r\n  if (!envelope) return errorResponse(\"รูปแบบข้อมูล MQTT ต้นฉบับไม่ถูกต้อง\", 400, \"INVALID_FACTORY_MQTT\");\r\n  const apiKey = String(requestHeaders[\"x-api-key\"] || \"\").trim();\r\n  let apiKeyRecord = null;\r\n  try {\r\n    apiKeyRecord = await authenticateApiKey(envelope.companyId, envelope.ovenId, apiKey);\r\n  } catch (error) {\r\n    node.warn(`Factory MQTT API key lookup failed: ${error.message}`);\r\n    return errorResponse(\"ระบบรับข้อมูล MQTT ยังไม่พร้อมใช้งาน\", 503, \"INGEST_DATABASE_UNAVAILABLE\");\r\n  }\r\n  if (!apiKeyRecord) return errorResponse(\"API Key หรือผังบริษัท/เตาไม่ถูกต้อง\", 401, \"INVALID_API_KEY\");\r\n\r\n  try {\r\n    const result = await persistFactoryMqttRaw(envelope);\r\n    const rootState = global.get(\"stcrState\");\r\n    const oven = rootState?.companies?.[envelope.companyId]?.ovens?.find(\r\n      (item) => item.id === envelope.ovenId,\r\n    );\r\n    if (oven) {\r\n      oven.lastUpdatedAt = new Date().toISOString();\r\n      const ovenState = Number(envelope.payload?.oven_state);\r\n      if (envelope.topic === \"test\" && [0, 1].includes(ovenState)) {\r\n        oven.status = ovenState === 1 ? \"open\" : \"closed\";\r\n      }\r\n      global.set(\"stcrState\", rootState);\r\n    }\r\n    return jsonResponse({\r\n      accepted: true,\r\n      companyId: envelope.companyId,\r\n      ovenId: envelope.ovenId,\r\n      topic: envelope.topic,\r\n      ...result,\r\n    }, 202);\r\n  } catch (error) {\r\n    if (error.code === \"ER_NO_REFERENCED_ROW_2\") {\r\n      return errorResponse(\"ไม่พบเตาที่จับคู่ไว้ในฐานข้อมูล\", 404, \"OVEN_NOT_FOUND\");\r\n    }\r\n    node.warn(`Factory MQTT raw persistence failed: ${error.message}`);\r\n    return errorResponse(\"บันทึกข้อมูล MQTT ต้นฉบับไม่สำเร็จ\", 500, \"MQTT_RAW_PERSIST_FAILED\");\r\n  }\r\n}\r\n\r\nif (method === \"POST\" && path === \"/stcr/api/telemetry\") {\r\n  const batch = normalizeTelemetryBatch(requestBody());\r\n  if (!batch) return errorResponse(\"รูปแบบข้อมูล telemetry ไม่ถูกต้อง\", 400, \"INVALID_TELEMETRY\");\r\n  const apiKey = String(requestHeaders[\"x-api-key\"] || \"\").trim();\r\n  let apiKeyRecord = null;\r\n  try {\r\n    apiKeyRecord = await authenticateApiKey(batch.companyId, batch.ovenId, apiKey);\r\n  } catch (error) {\r\n    node.warn(`API key database lookup failed: ${error.message}`);\r\n    return errorResponse(\"ระบบรับข้อมูลไม่พร้อมใช้งาน\", 503, \"INGEST_DATABASE_UNAVAILABLE\");\r\n  }\r\n  if (!apiKeyRecord) return errorResponse(\"API Key หรือขอบเขตบริษัท/เตาไม่ถูกต้อง\", 401, \"INVALID_API_KEY\");\r\n\r\n  try {\r\n    const result = await persistHttpTelemetryBatch(batch, apiKeyRecord);\r\n    return jsonResponse({\r\n      accepted: true,\r\n      companyId: batch.companyId,\r\n      ovenId: batch.ovenId,\r\n      batchId: batch.batchId,\r\n      ...result,\r\n    }, 202);\r\n  } catch (error) {\r\n    if (error.code === \"OVEN_NOT_FOUND\") {\r\n      return errorResponse(\"ไม่พบเตาของบริษัทที่ระบุ\", 404, \"OVEN_NOT_FOUND\");\r\n    }\r\n    node.warn(`Telemetry persistence failed: ${error.message}`);\r\n    return errorResponse(\"บันทึกข้อมูล telemetry ไม่สำเร็จ\", 500, \"TELEMETRY_PERSIST_FAILED\");\r\n  }\r\n}\r\n\r\n// ตรวจ session — ลอง memory cache ก่อน ถ้าไม่มีลองดึงจาก DB\r\nlet resolvedSession = authenticate();\r\nif (!resolvedSession) {\r\n  const authHeader = String(requestHeaders.authorization || \"\");\r\n  const token = authHeader.startsWith(\"Bearer \") ? authHeader.slice(7).trim() : \"\";\r\n  if (token) resolvedSession = await authenticateFromDb(token);\r\n}\r\nif (!resolvedSession) return errorResponse(\"กรุณาเข้าสู่ระบบใหม่\", 401, \"UNAUTHORIZED\");\r\n// alias ให้ใช้ชื่อ session ได้เหมือนเดิม\r\nconst session = resolvedSession;\r\ntry {\r\n  if (!(await validateSessionAccount(resolvedSession))) {\r\n    return errorResponse(\"บัญชีถูกระงับหรือสิทธิ์หมดอายุ\", 401, \"ACCOUNT_INACTIVE\");\r\n  }\r\n} catch (error) {\r\n  node.warn(`Session account validation failed: ${error.message}`);\r\n  return errorResponse(\"ระบบยืนยันสิทธิ์ไม่พร้อมใช้งาน\", 503, \"AUTH_DATABASE_UNAVAILABLE\");\r\n}\r\n\r\nif (method === \"POST\" && path === \"/stcr/api/auth/logout\") {\r\n  const token = String(requestHeaders.authorization).slice(7).trim();\r\n  await deleteSession(token);\r\n  return jsonResponse({ ok: true });\r\n}\r\n\r\nconst requestedCompanyId = String(query.companyId || \"\").toLowerCase();\r\nif (requestedCompanyId && requestedCompanyId !== resolvedSession.companyId) {\r\n  return errorResponse(\"ไม่มีสิทธิ์เข้าถึงข้อมูลบริษัทนี้\", 403, \"TENANT_FORBIDDEN\");\r\n}\r\nconst companyId = resolvedSession.companyId;\r\nlet rootState;\r\ntry {\r\n  rootState = await ensureRuntimeState();\r\n} catch (error) {\r\n  node.warn(`Runtime database initialization failed: ${error.message}`);\r\n  return errorResponse(\"ระบบยังโหลดข้อมูลเตาจากฐานข้อมูลไม่สำเร็จ\", 503, \"NOT_READY\");\r\n}\r\nconst state = rootState.companies[companyId];\r\nif (!state) return errorResponse(\"Company data is not initialized\", 503, \"NOT_READY\");\r\nconst nowMs = Date.now();\r\nconst visibleOvens = state.ovens.map((oven) => ({\r\n  ...oven,\r\n  status: nowMs - Date.parse(oven.lastUpdatedAt) > offlineThresholdMs ? \"offline\" : oven.status,\r\n}));\r\nconst visibleOvenById = new Map(visibleOvens.map((oven) => [oven.id, oven]));\r\n\r\nfunction persistState() {\r\n  rootState.companies[companyId] = state;\r\n  global.set(\"stcrState\", rootState);\r\n}\r\n\r\nif (method === \"GET\" && path === \"/stcr/api/ovens\") return jsonResponse(visibleOvens);\r\n\r\nif (method === \"GET\" && path === \"/stcr/api/alarms\") {\r\n  const search = String(query.search || \"\").slice(0, 100).trim().toLowerCase();\r\n  const alarms = state.alarms\r\n    .filter((alarm) => visibleOvenById.has(alarm.ovenId))\r\n    .map((alarm) => ({ ...alarm, ovenName: visibleOvenById.get(alarm.ovenId).name }))\r\n    .filter((alarm) => {\r\n      const severityMatch = !query.severity || query.severity === \"all\" || alarm.severity === query.severity;\r\n      const statusMatch = !query.status || query.status === \"all\" || alarm.status === query.status;\r\n      const ovenMatch = !query.ovenId || query.ovenId === \"all\" || alarm.ovenId === query.ovenId;\r\n      const searchMatch = !search || `${alarm.ovenName} ${alarm.title} ${alarm.detail}`.toLowerCase().includes(search);\r\n      return severityMatch && statusMatch && ovenMatch && searchMatch;\r\n    });\r\n  return jsonResponse(alarms);\r\n}\r\n\r\nif (method === \"GET\" && path === \"/stcr/api/audit-events\") {\r\n  try {\r\n    return jsonResponse(await readAuditEvents(companyId));\r\n  } catch (error) {\r\n    node.warn(`Audit database read fallback: ${error.message}`);\r\n    return jsonResponse(state.auditEvents);\r\n  }\r\n}\r\n\r\nif (method === \"GET\" && path === \"/stcr/api/report-document-meta\") {\r\n  try {\r\n    return jsonResponse(await readReportDocumentMeta(companyId));\r\n  } catch (error) {\r\n    node.warn(`Report document metadata read failed: ${error.message}`);\r\n    return jsonResponse({ documentNo: \"\", effectiveDate: \"\" });\r\n  }\r\n}\r\n\r\nif (method === \"PUT\" && path === \"/stcr/api/report-document-meta\") {\r\n  if (!hasAnyRole(session, [\"admin\"])) {\r\n    return errorResponse(\"ไม่มีสิทธิ์แก้ไขข้อมูลเอกสาร\", 403, \"ROLE_FORBIDDEN\");\r\n  }\r\n  const body = requestBody();\r\n  const documentNo = safeText(body?.documentNo, 80);\r\n  const effectiveDate = safeText(body?.effectiveDate, 40);\r\n  if (!documentNo || !effectiveDate) {\r\n    return errorResponse(\"ข้อมูลเอกสารไม่ถูกต้อง\", 400, \"INVALID_REPORT_DOCUMENT_META\");\r\n  }\r\n\r\n  const pool = getDatabasePool();\r\n  await pool.execute(\r\n    `INSERT INTO report_document_settings (\r\n       company_id, document_no, effective_date, updated_by\r\n     ) VALUES (?, ?, ?, ?)\r\n     ON DUPLICATE KEY UPDATE\r\n       document_no=VALUES(document_no), effective_date=VALUES(effective_date),\r\n       updated_by=VALUES(updated_by), updated_at=CURRENT_TIMESTAMP(3)`,\r\n    [companyId, documentNo, effectiveDate, session.username],\r\n  );\r\n  await addAudit(\r\n    state,\r\n    session,\r\n    \"แก้ไขข้อมูลเอกสารรายงาน\",\r\n    documentNo,\r\n    `เริ่มใช้วันที่ ${effectiveDate}`,\r\n  );\r\n  persistState();\r\n  return jsonResponse({ documentNo, effectiveDate });\r\n}\r\n\r\nif (method === \"POST\" && path === \"/stcr/api/ovens\") {\r\n  if (!hasAnyRole(session, [\"admin\"])) {\r\n    return errorResponse(\"ไม่มีสิทธิ์เพิ่มเตา\", 403, \"ROLE_FORBIDDEN\");\r\n  }\r\n  const nextNumber = Math.max(0, ...state.ovens.map((oven) => Number(oven.number) || 0)) + 1;\r\n  const now = new Date().toISOString();\r\n  const limits = JSON.parse(JSON.stringify(state.ovens[0]?.limits || {}));\r\n  const values = { chamberTemp: 0, humidity: 0, furnaceTemp: 0, blowerTemp: 0 };\r\n  const readings = Object.fromEntries(Object.entries(values).map(([key, value]) => [key, {\r\n    key,\r\n    value,\r\n    unit: key === \"humidity\" ? \"%\" : \"C\",\r\n    updatedAt: now,\r\n  }]));\r\n  const oven = {\r\n    id: `oven-${nextNumber}`,\r\n    number: nextNumber,\r\n    name: `เตา ${nextNumber}`,\r\n    zone: \"B\",\r\n    line: \"Line 2\",\r\n    status: \"closed\",\r\n    enabled: true,\r\n    cycleCount: 0,\r\n    stoppedAt: now,\r\n    lastUpdatedAt: now,\r\n    readings,\r\n    limits,\r\n  };\r\n  const pool = getDatabasePool();\r\n  await pool.execute(\r\n    `INSERT INTO ovens (\r\n       id, company_id, oven_number, name, zone_name, line_name, status, enabled,\r\n       chamber_lower, chamber_upper, furnace_lower, furnace_upper,\r\n       blower_lower, blower_upper, humidity_lower, humidity_upper, last_seen_at\r\n     ) VALUES (?, ?, ?, ?, ?, ?, ?, TRUE, ?, ?, ?, ?, ?, ?, ?, ?, ?)`,\r\n    [\r\n      oven.id, companyId, oven.number, oven.name, oven.zone, oven.line, oven.status,\r\n      limits.chamberTemp.lower, limits.chamberTemp.upper,\r\n      limits.furnaceTemp.lower, limits.furnaceTemp.upper,\r\n      limits.blowerTemp.lower, limits.blowerTemp.upper,\r\n      limits.humidity.lower, limits.humidity.upper, now,\r\n    ],\r\n  );\r\n  state.ovens.push(oven);\r\n  state.history[oven.id] = [];\r\n  await addAudit(state, session, \"เพิ่มเตาใหม่\", oven.name, \"เพิ่มเตาผ่าน Node-RED API\");\r\n  persistState();\r\n  return jsonResponse(oven, 201);\r\n}\r\n\r\nconst acknowledgeMatch = path.match(/^\\/stcr\\/api\\/alarms\\/([^/]+)\\/acknowledge$/);\r\nif (method === \"POST\" && acknowledgeMatch) {\r\n  if (!hasAnyRole(session, [\"admin\", \"operator\"])) {\r\n    return errorResponse(\"ไม่มีสิทธิ์รับทราบ Alarm\", 403, \"ROLE_FORBIDDEN\");\r\n  }\r\n  const alarmId = decodeURIComponent(acknowledgeMatch[1]);\r\n  if (!state.alarms.some((alarm) => alarm.id === alarmId)) return errorResponse(\"Alarm not found\", 404, \"NOT_FOUND\");\r\n  const pool = getDatabasePool();\r\n  const databaseAlarmIds = [...new Set([alarmId, `${companyId}-${alarmId}`])];\r\n  const [acknowledgeResult] = await pool.execute(\r\n    `UPDATE alarms\r\n     SET status='acknowledged', acknowledged_at=COALESCE(acknowledged_at, UTC_TIMESTAMP(3))\r\n     WHERE company_id=? AND id IN (?, ?) AND status='active'`,\r\n    [companyId, databaseAlarmIds[0], databaseAlarmIds[1]],\r\n  );\r\n  if (!acknowledgeResult.affectedRows && String(env.get(\"STCR_DEPLOYMENT_MODE\") || \"\").toLowerCase() === \"production\") {\r\n    return errorResponse(\"ไม่พบ Alarm ที่ยังรอรับทราบในฐานข้อมูล\", 409, \"ALARM_STATE_CONFLICT\");\r\n  }\r\n  state.alarms = state.alarms.map((alarm) => alarm.id === alarmId ? { ...alarm, status: \"acknowledged\" } : alarm);\r\n  await addAudit(state, session, \"รับทราบ Alarm\", alarmId, \"รับทราบผ่านหน้าเว็บ\");\r\n  persistState();\r\n  return jsonResponse(state.alarms);\r\n}\r\n\r\nconst reportMetaMatch = path.match(/^\\/stcr\\/api\\/ovens\\/([^/]+)\\/cycles\\/(\\d+)\\/report-meta$/);\r\nif (method === \"GET\" && reportMetaMatch) {\r\n  const ovenId = decodeURIComponent(reportMetaMatch[1]);\r\n  const cycleNumber = Number(reportMetaMatch[2]);\r\n  if (!visibleOvenById.has(ovenId) || !Number.isSafeInteger(cycleNumber) || cycleNumber < 1) {\r\n    return errorResponse(\"ไม่พบเตาหรือรอบที่ระบุ\", 404, \"NOT_FOUND\");\r\n  }\r\n  const pool = getDatabasePool();\r\n  const [rows] = await pool.execute(\r\n    `SELECT DATE_FORMAT(fired_at, '%Y-%m-%dT%H:%i:%s.%fZ') AS firedAt,\r\n            CASE WHEN report_started_at IS NULL THEN NULL\r\n                 ELSE DATE_FORMAT(report_started_at, '%Y-%m-%dT%H:%i:%s.%fZ') END AS reportStartedAt,\r\n            CASE WHEN stopped_at IS NULL THEN NULL\r\n                 ELSE DATE_FORMAT(stopped_at, '%Y-%m-%dT%H:%i:%s.%fZ') END AS stoppedAt,\r\n            rubber_type AS rubberType, smoking_period_status AS smokingPeriodStatus,\r\n            temperature_control_status AS temperatureControlStatus, report_reason AS reason,\r\n            input_weight_kg AS inputNetWeightKg, output_weight_kg AS outputNetWeightKg,\r\n            firewood_weight_kg AS firewoodWeightKg\r\n     FROM oven_cycles\r\n     WHERE company_id=? AND oven_id=? AND cycle_number=?\r\n     LIMIT 1`,\r\n    [companyId, ovenId, cycleNumber],\r\n  );\r\n  if (!rows[0]) return errorResponse(\"ไม่พบรอบที่ระบุ\", 404, \"CYCLE_NOT_FOUND\");\r\n  const row = rows[0];\r\n  return jsonResponse({\r\n    ...row,\r\n    inputNetWeightKg: row.inputNetWeightKg == null ? null : Number(row.inputNetWeightKg),\r\n    outputNetWeightKg: row.outputNetWeightKg == null ? null : Number(row.outputNetWeightKg),\r\n    firewoodWeightKg: row.firewoodWeightKg == null ? null : Number(row.firewoodWeightKg),\r\n  });\r\n}\r\nif (method === \"PUT\" && reportMetaMatch) {\r\n  if (!hasAnyRole(session, [\"admin\", \"operator\"])) {\r\n    return errorResponse(\"ไม่มีสิทธิ์บันทึกข้อมูลรอบรายงาน\", 403, \"ROLE_FORBIDDEN\");\r\n  }\r\n  const ovenId = decodeURIComponent(reportMetaMatch[1]);\r\n  const cycleNumber = Number(reportMetaMatch[2]);\r\n  if (!visibleOvenById.has(ovenId) || !Number.isSafeInteger(cycleNumber) || cycleNumber < 1) {\r\n    return errorResponse(\"ไม่พบเตาหรือรอบที่ระบุ\", 404, \"NOT_FOUND\");\r\n  }\r\n  const body = requestBody();\r\n  const rubberTypes = [\"latex\", \"yellow\", \"black\", \"angka\", \"uss97\", \"uss96\", \"uss94\"];\r\n  const smokingStatuses = [\"under\", \"over\", \"notReached\"];\r\n  const temperatureStatuses = [\"underControl\", \"outOfControl\"];\r\n  const optionalEnum = (value, allowed) => value == null || value === \"\" ? null : allowed.includes(value) ? value : undefined;\r\n  const optionalWeight = (value) => {\r\n    if (value == null || value === \"\") return null;\r\n    const number = Number(value);\r\n    return Number.isFinite(number) && number >= 0 && number <= 1000000 ? number : undefined;\r\n  };\r\n  const rubberType = optionalEnum(body?.rubberType, rubberTypes);\r\n  const smokingPeriodStatus = optionalEnum(body?.smokingPeriodStatus, smokingStatuses);\r\n  const temperatureControlStatus = optionalEnum(body?.temperatureControlStatus, temperatureStatuses);\r\n  const reason = body?.reason == null || body.reason === \"\" ? null : safeText(body.reason, 500);\r\n  const invalidReason = body?.reason != null && body.reason !== \"\" && reason === null;\r\n  const inputWeight = optionalWeight(body?.inputNetWeightKg);\r\n  const outputWeight = optionalWeight(body?.outputNetWeightKg);\r\n  const firewoodWeight = optionalWeight(body?.firewoodWeightKg);\r\n  if (\r\n    rubberType === undefined || smokingPeriodStatus === undefined ||\r\n    temperatureControlStatus === undefined || invalidReason ||\r\n    inputWeight === undefined || outputWeight === undefined || firewoodWeight === undefined\r\n  ) {\r\n    return errorResponse(\"ข้อมูลรอบรายงานไม่ถูกต้อง\", 400, \"INVALID_REPORT_META\");\r\n  }\r\n\r\n  const pool = getDatabasePool();\r\n  const [result] = await pool.execute(\r\n    `UPDATE oven_cycles\r\n     SET rubber_type=?, smoking_period_status=?, temperature_control_status=?, report_reason=?,\r\n         input_weight_kg=?, output_weight_kg=?, firewood_weight_kg=?\r\n     WHERE company_id=? AND oven_id=? AND cycle_number=?`,\r\n    [\r\n      rubberType, smokingPeriodStatus, temperatureControlStatus, reason,\r\n      inputWeight, outputWeight, firewoodWeight, companyId, ovenId, cycleNumber,\r\n    ],\r\n  );\r\n  if (!result.affectedRows) return errorResponse(\"ไม่พบรอบที่ระบุ\", 404, \"CYCLE_NOT_FOUND\");\r\n  await addAudit(\r\n    state,\r\n    session,\r\n    \"บันทึกข้อมูลรอบรายงาน\",\r\n    `${ovenId}/cycle-${cycleNumber}`,\r\n    \"บันทึกชนิดยาง ผลประเมิน น้ำหนักยาง และน้ำหนักไม้ฟืน\",\r\n  );\r\n  persistState();\r\n  return jsonResponse({ ok: true });\r\n}\r\n\r\nconst historyMatch = path.match(/^\\/stcr\\/api\\/ovens\\/([^/]+)\\/history$/);\r\nif (method === \"GET\" && historyMatch) {\r\n  const ovenId = decodeURIComponent(historyMatch[1]);\r\n  const points = state.history[ovenId];\r\n  if (!points || !visibleOvenById.has(ovenId)) return errorResponse(\"Oven not found\", 404, \"NOT_FOUND\");\r\n  if (!validHistoryQuery(query)) return errorResponse(\"ช่วงเวลาหรือรอบรายงานไม่ถูกต้อง (สูงสุด 14 วัน)\", 400, \"INVALID_HISTORY_RANGE\");\r\n  try {\r\n    return jsonResponse(await readReportHistory(companyId, ovenId, query));\r\n  } catch (error) {\r\n    node.warn(`Database history fallback: ${error.message}`);\r\n    if (String(env.get(\"STCR_DEPLOYMENT_MODE\") || \"\").toLowerCase() === \"production\") {\r\n      return errorResponse(\"ไม่สามารถอ่านข้อมูลย้อนหลังจากฐานข้อมูลได้\", 503, \"HISTORY_DATABASE_UNAVAILABLE\");\r\n    }\r\n  }\r\n  const startAt = query.startAt ? Date.parse(query.startAt) : Number.NEGATIVE_INFINITY;\r\n  const endAt = query.endAt ? Date.parse(query.endAt) : Number.POSITIVE_INFINITY;\r\n  return jsonResponse(points.filter((point) => {\r\n    const timestamp = Date.parse(point.timestamp);\r\n    return timestamp >= startAt && timestamp <= endAt;\r\n  }).slice(-10000));\r\n}\r\n\r\nconst exportMatch = path.match(/^\\/stcr\\/api\\/ovens\\/([^/]+)\\/export\\.csv$/);\r\nif (method === \"GET\" && exportMatch) {\r\n  const ovenId = decodeURIComponent(exportMatch[1]);\r\n  const inMemoryPoints = state.history[ovenId];\r\n  const oven = visibleOvenById.get(ovenId);\r\n  if (!inMemoryPoints || !oven) return errorResponse(\"Oven not found\", 404, \"NOT_FOUND\");\r\n  const requestedSensors = String(query.sensors || sensorKeys.join(\",\")).split(\",\");\r\n  if (!requestedSensors.length || requestedSensors.some((sensor) => !sensorKeys.includes(sensor))) {\r\n    return errorResponse(\"Unknown sensor\", 400, \"INVALID_SENSOR\");\r\n  }\r\n  const exportQuery = {\r\n    ...query,\r\n    cycleNumber: query.cycleNumber || (!query.startAt && oven.cycleCount > 0 ? String(oven.cycleCount) : undefined),\r\n  };\r\n  if (!validHistoryQuery(exportQuery)) {\r\n    return errorResponse(\"ช่วงเวลาหรือรอบสำหรับส่งออกไม่ถูกต้อง\", 400, \"INVALID_EXPORT_RANGE\");\r\n  }\r\n  let points;\r\n  try {\r\n    points = await readReportHistory(companyId, ovenId, exportQuery);\r\n  } catch (error) {\r\n    node.warn(`Database CSV export fallback: ${error.message}`);\r\n    if (String(env.get(\"STCR_DEPLOYMENT_MODE\") || \"\").toLowerCase() === \"production\") {\r\n      return errorResponse(\"ไม่สามารถส่งออกข้อมูลจากฐานข้อมูลได้\", 503, \"EXPORT_DATABASE_UNAVAILABLE\");\r\n    }\r\n    points = inMemoryPoints;\r\n  }\r\n  const rows = [\r\n    [\"timestamp\", ...requestedSensors],\r\n    ...points.slice(-10000).map((point) => [point.timestamp, ...requestedSensors.map((sensor) => point[sensor])]),\r\n  ];\r\n  msg.statusCode = 200;\r\n  msg.headers = {\r\n    ...responseHeaders(\"text/csv; charset=utf-8\"),\r\n    \"Content-Disposition\": `attachment; filename=\"${companyId}-${ovenId}.csv\"`,\r\n  };\r\n  msg.payload = rows.map((row) => row.map(csvCell).join(\",\")).join(\"\\n\");\r\n  return msg;\r\n}\r\n\r\nconst limitsMatch = path.match(/^\\/stcr\\/api\\/ovens\\/([^/]+)\\/limits$/);\r\nif (method === \"PUT\" && limitsMatch) {\r\n  if (!hasAnyRole(session, [\"admin\"])) {\r\n    return errorResponse(\"ไม่มีสิทธิ์เปลี่ยนค่า Limit\", 403, \"ROLE_FORBIDDEN\");\r\n  }\r\n  const ovenId = decodeURIComponent(limitsMatch[1]);\r\n  const index = state.ovens.findIndex((oven) => oven.id === ovenId);\r\n  if (index < 0) return errorResponse(\"Oven not found\", 404, \"NOT_FOUND\");\r\n  const body = requestBody();\r\n  if (!body) return errorResponse(\"Invalid JSON body\");\r\n  const physicalRanges = {\r\n    chamberTemp: [-20, 150],\r\n    humidity: [0, 100],\r\n    furnaceTemp: [-20, 1200],\r\n    blowerTemp: [-20, 500],\r\n  };\r\n  const valid = sensorKeys.every((sensor) => {\r\n    const lower = Number(body[sensor]?.lower);\r\n    const upper = Number(body[sensor]?.upper);\r\n    const [minimum, maximum] = physicalRanges[sensor];\r\n    return Number.isFinite(lower) && Number.isFinite(upper) && lower >= minimum && upper <= maximum && lower <= upper;\r\n  });\r\n  if (!valid) return errorResponse(\"Invalid limits payload\", 400, \"INVALID_LIMITS\");\r\n  const normalizedLimits = Object.fromEntries(sensorKeys.map((sensor) => [sensor, {\r\n    sensor,\r\n    lower: Number(body[sensor].lower),\r\n    upper: Number(body[sensor].upper),\r\n  }]));\r\n  const pool = getDatabasePool();\r\n  await pool.execute(\r\n    `UPDATE ovens\r\n     SET chamber_lower=?, chamber_upper=?, humidity_lower=?, humidity_upper=?,\r\n         furnace_lower=?, furnace_upper=?, blower_lower=?, blower_upper=?\r\n     WHERE company_id=? AND id=?`,\r\n    [\r\n      normalizedLimits.chamberTemp.lower, normalizedLimits.chamberTemp.upper,\r\n      normalizedLimits.humidity.lower, normalizedLimits.humidity.upper,\r\n      normalizedLimits.furnaceTemp.lower, normalizedLimits.furnaceTemp.upper,\r\n      normalizedLimits.blowerTemp.lower, normalizedLimits.blowerTemp.upper,\r\n      companyId, ovenId,\r\n    ],\r\n  );\r\n  state.ovens[index] = { ...state.ovens[index], limits: normalizedLimits };\r\n  await addAudit(state, session, \"เปลี่ยนค่า Limit\", state.ovens[index].name, \"บันทึก Upper/Lower ผ่าน Node-RED API\");\r\n  persistState();\r\n  return jsonResponse(state.ovens[index]);\r\n}\r\n\r\nconst ovenMatch = path.match(/^\\/stcr\\/api\\/ovens\\/([^/]+)$/);\r\nif (ovenMatch) {\r\n  const ovenId = decodeURIComponent(ovenMatch[1]);\r\n  const index = state.ovens.findIndex((oven) => oven.id === ovenId);\r\n  if (index < 0) return errorResponse(\"Oven not found\", 404, \"NOT_FOUND\");\r\n  if (method === \"GET\") return jsonResponse(visibleOvenById.get(ovenId));\r\n  if (method === \"PATCH\") {\r\n    if (!hasAnyRole(session, [\"admin\"])) {\r\n      return errorResponse(\"ไม่มีสิทธิ์แก้ไขข้อมูลเตา\", 403, \"ROLE_FORBIDDEN\");\r\n    }\r\n    const body = requestBody();\r\n    if (!body) return errorResponse(\"Invalid JSON body\");\r\n    const name = body.name === undefined ? state.ovens[index].name : safeText(body.name, 80);\r\n    const zone = body.zone === undefined ? state.ovens[index].zone : safeText(body.zone, 40);\r\n    const line = body.line === undefined ? state.ovens[index].line : safeText(body.line, 40);\r\n    if (!name || !zone || !line) return errorResponse(\"ข้อมูลเตาไม่ถูกต้อง\", 400, \"INVALID_OVEN\");\r\n    const pool = getDatabasePool();\r\n    await pool.execute(\r\n      `UPDATE ovens SET name=?, zone_name=?, line_name=? WHERE company_id=? AND id=?`,\r\n      [name, zone, line, companyId, ovenId],\r\n    );\r\n    state.ovens[index] = { ...state.ovens[index], name, zone, line };\r\n    await addAudit(state, session, \"แก้ไขข้อมูลเตา\", name, \"แก้ชื่อ โซน หรือไลน์ผ่าน Node-RED API\");\r\n    persistState();\r\n    return jsonResponse(state.ovens[index]);\r\n  }\r\n}\r\n\r\nreturn errorResponse(`Route not found: ${method} ${path}`, 404, \"NOT_FOUND\");\r\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "mysql",
        "module": "mysql2/promise"
      },
      {
        "var": "crypto",
        "module": "crypto"
      }
    ],
    "x": 570,
    "y": 440,
    "wires": [
      [
        "stcr-http-response"
      ]
    ]
  },
  {
    "id": "stcr-http-response",
    "type": "http response",
    "z": "stcr-platform-tab",
    "name": "ส่งผลลัพธ์ HTTP กลับเว็บไซต์",
    "statusCode": "",
    "headers": {},
    "x": 880,
    "y": 440,
    "wires": []
  },
  {
    "id": "stcr-factory-mqtt-note",
    "type": "comment",
    "z": "stcr-factory-mqtt-tab",
    "name": "รับข้อมูลจริงจาก MQTT ของโรงงาน TTN",
    "info": "รับ Topic test และ sensor เขียน MySQL โดยตรง ไม่ผ่าน HTTP self-call",
    "x": 320,
    "y": 60,
    "wires": []
  },
  {
    "id": "stcr-factory-mqtt-subscriber",
    "type": "function",
    "z": "stcr-factory-mqtt-tab",
    "name": "รับ MQTT โรงงาน: test และ sensor",
    "func": "return null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "const enabled =\n  String(env.get(\"STCR_FACTORY_MQTT_ENABLED\") || \"false\").toLowerCase() ===\n  \"true\";\n\nif (!enabled) {\n  node.status({ fill: \"grey\", shape: \"ring\", text: \"MQTT disabled\" });\n  node.log(\"Factory MQTT is disabled by STCR_FACTORY_MQTT_ENABLED\");\n  return;\n}\n\n// สร้าง DB pool ล่วงหน้าเพื่อลด latency ของข้อความแรก\nif (!global.get(\"stcrMqttDbPool\")) {\n  const dbPassword = String(env.get(\"STCR_DB_PASSWORD\") || \"\");\n\n  if (dbPassword) {\n    const pool = mysql.createPool({\n      host: env.get(\"STCR_DB_HOST\") || \"127.0.0.1\",\n      port: Number(env.get(\"STCR_DB_PORT\") || 3306),\n      user: env.get(\"STCR_DB_USER\") || \"stcr_app\",\n      password: dbPassword,\n      database: env.get(\"STCR_DB_NAME\") || \"stcr\",\n      waitForConnections: true,\n      connectionLimit: 4,\n      timezone: \"Z\",\n    });\n\n    global.set(\"stcrMqttDbPool\", pool);\n  }\n}\n\nconst deploymentMode = String(\n  env.get(\"STCR_DEPLOYMENT_MODE\") || \"development\",\n).toLowerCase();\nconst brokerUrl = String(env.get(\"STCR_FACTORY_MQTT_URL\") || \"\").trim();\nconst username = String(\n  env.get(\"STCR_FACTORY_MQTT_USERNAME\") || \"\",\n).trim();\nconst password = String(env.get(\"STCR_FACTORY_MQTT_PASSWORD\") || \"\");\nconst companyId = String(\n  env.get(\"STCR_FACTORY_MQTT_COMPANY_ID\") || \"\",\n)\n  .trim()\n  .toLowerCase();\nconst topics = String(env.get(\"STCR_FACTORY_MQTT_TOPICS\") || \"test,sensor\")\n  .split(\",\")\n  .map((topic) => topic.trim())\n  .filter(Boolean);\n\nif (\n  !/^mqtts?:\\/\\//.test(brokerUrl) ||\n  !username ||\n  !password ||\n  ![\"gr\", \"ttn\"].includes(companyId)\n) {\n  node.error(\"Factory MQTT configuration is incomplete\");\n  node.status({ fill: \"red\", shape: \"ring\", text: \"MQTT config invalid\" });\n  return;\n}\n\nif (deploymentMode === \"production\" && !brokerUrl.startsWith(\"mqtts://\")) {\n  node.error(\"Factory MQTT must use TLS in production\");\n  node.status({ fill: \"red\", shape: \"ring\", text: \"MQTT TLS required\" });\n  return;\n}\n\nif (!topics.length || topics.some((topic) => ![\"test\", \"sensor\"].includes(topic))) {\n  node.error(\"Factory MQTT topics must be test and/or sensor\");\n  node.status({ fill: \"red\", shape: \"ring\", text: \"MQTT topics invalid\" });\n  return;\n}\n\nconst clientId = String(\n  env.get(\"STCR_FACTORY_MQTT_CLIENT_ID\") || `stcr-${companyId}-server`,\n);\n\nnode.log(\n  `Connecting Factory MQTT: company=${companyId}, broker=${brokerUrl}, topics=${topics.join(\n    \",\",\n  )}, clientId=${clientId}`,\n);\nnode.status({ fill: \"yellow\", shape: \"ring\", text: \"MQTT connecting\" });\n\nconst client = mqtt.connect(brokerUrl, {\n  username,\n  password,\n  clientId,\n  clean: true,\n  protocolVersion: 4,\n  connectTimeout: 10000,\n  reconnectPeriod: 5000,\n  keepalive: 60,\n  resubscribe: true,\n  rejectUnauthorized:\n    String(\n      env.get(\"STCR_FACTORY_MQTT_TLS_REJECT_UNAUTHORIZED\") || \"true\",\n    ).toLowerCase() !== \"false\",\n});\n\ncontext.set(\"factoryMqttClient\", client);\ncontext.set(\"factoryMqttMessageCount\", 0);\n\nconst minuteFlushIntervalMs = Math.max(\n  1000,\n  Number(env.get(\"STCR_FACTORY_MQTT_FLUSH_INTERVAL_MS\") || 5000),\n);\nconst minuteFlushTimer = setInterval(() => {\n  node.send({\n    _minuteFlushTick: true,\n    factoryMqtt: {\n      receivedAt: new Date().toISOString(),\n    },\n  });\n}, minuteFlushIntervalMs);\ncontext.set(\"factoryMqttMinuteFlushTimer\", minuteFlushTimer);\n\nclient.on(\"connect\", () => {\n  node.log(`Factory MQTT connected: ${brokerUrl}`);\n\n  client.subscribe(\n    Object.fromEntries(topics.map((topic) => [topic, { qos: 1 }])),\n    (error, granted) => {\n      if (error) {\n        node.error(`Factory MQTT subscribe failed: ${error.message}`);\n        node.status({\n          fill: \"red\",\n          shape: \"ring\",\n          text: \"MQTT subscribe failed\",\n        });\n        return;\n      }\n\n      const subscribedTopics = (granted || [])\n        .map((item) => `${item.topic}(qos${item.qos})`)\n        .join(\", \");\n\n      node.log(`Factory MQTT subscribed: ${subscribedTopics || topics.join(\", \")}`);\n      node.status({\n        fill: \"green\",\n        shape: \"dot\",\n        text: `MQTT ${topics.join(\", \")}`,\n      });\n    },\n  );\n});\n\nclient.on(\"message\", (topic, payload, packet) => {\n  const count = Number(context.get(\"factoryMqttMessageCount\") || 0) + 1;\n  context.set(\"factoryMqttMessageCount\", count);\n\n  // เขียน log ข้อความแรกและทุก 100 ข้อความ เพื่อไม่ให้ log โตเร็วเกินไป\n  if (count === 1 || count % 100 === 0) {\n    node.log(`Factory MQTT received ${count} message(s); latest topic=${topic}`);\n  }\n\n  node.send({\n    topic,\n    payload: payload.toString(\"utf8\"),\n    factoryMqtt: {\n      qos: packet.qos,\n      retain: Boolean(packet.retain),\n      duplicate: Boolean(packet.dup),\n      receivedAt: new Date().toISOString(),\n    },\n  });\n});\n\nclient.on(\"reconnect\", () => {\n  node.status({ fill: \"yellow\", shape: \"ring\", text: \"MQTT reconnecting\" });\n  node.log(\"Factory MQTT reconnecting\");\n});\n\nclient.on(\"offline\", () => {\n  node.status({ fill: \"red\", shape: \"ring\", text: \"MQTT offline\" });\n  node.warn(\"Factory MQTT is offline\");\n});\n\nclient.on(\"close\", () => {\n  node.status({ fill: \"red\", shape: \"ring\", text: \"MQTT disconnected\" });\n  node.log(\"Factory MQTT connection closed\");\n});\n\nclient.on(\"error\", (error) => {\n  node.warn(`Factory MQTT connection error: ${error.message}`);\n  node.status({ fill: \"red\", shape: \"ring\", text: \"MQTT error\" });\n});\n",
    "finalize": "const minuteFlushTimer = context.get(\"factoryMqttMinuteFlushTimer\");\nif (minuteFlushTimer) {\n  clearInterval(minuteFlushTimer);\n  context.set(\"factoryMqttMinuteFlushTimer\", undefined);\n}\n\nconst client = context.get(\"factoryMqttClient\");\nif (client) {\n  client.removeAllListeners();\n  client.end(true);\n  context.set(\"factoryMqttClient\", undefined);\n}\n\nconst mqttPool = global.get(\"stcrMqttDbPool\");\nif (mqttPool) {\n  mqttPool.end().catch(() => {});\n  global.set(\"stcrMqttDbPool\", undefined);\n}\n\nglobal.set(\"stcrMinuteFlushRunning\", false);\n",
    "libs": [
      {
        "var": "mqtt",
        "module": "mqtt"
      },
      {
        "var": "mysql",
        "module": "mysql2/promise"
      }
    ],
    "x": 230,
    "y": 160,
    "wires": [
      [
        "stcr-factory-mqtt-adapter"
      ]
    ]
  },
  {
    "id": "stcr-factory-mqtt-adapter",
    "type": "function",
    "z": "stcr-factory-mqtt-tab",
    "name": "ตรวจสอบและแปลงข้อมูล MQTT",
    "func": "// factory-mqtt-adapter.js\n// Validate and normalize factory MQTT messages.\n// Every valid sensor value is forwarded immediately for realtime display.\n// Minute aggregation and database persistence are handled by the DB writer.\n\nif (msg._minuteFlushTick) {\n  msg.topic = \"stcr/factory-mqtt/minute-flush\";\n  msg.payload = {\n    status: \"flush\",\n    detail: \"Flush completed minute buckets\",\n    receivedAt:\n      msg.factoryMqtt?.receivedAt || new Date().toISOString(),\n  };\n  return msg;\n}\n\nconst allowedTopics = new Set([\"test\", \"sensor\"]);\nconst companyId = String(\n  env.get(\"STCR_FACTORY_MQTT_COMPANY_ID\") || \"\",\n).trim().toLowerCase();\nconst deploymentMode = String(\n  env.get(\"STCR_DEPLOYMENT_MODE\") || \"development\",\n).toLowerCase();\nconst sourceTopic = String(msg.topic || \"\").trim();\nconst receivedAt =\n  msg.factoryMqtt?.receivedAt || new Date().toISOString();\nconst sourceUtcOffsetMinutes = Number(\n  env.get(\"STCR_FACTORY_MQTT_SOURCE_UTC_OFFSET_MINUTES\") || 0,\n);\n\nfunction inspection(status, detail, extra = {}) {\n  msg.topic = `stcr/factory-mqtt/${status}`;\n  msg.payload = {\n    status,\n    detail,\n    sourceTopic,\n    companyId: companyId || null,\n    receivedAt,\n    ...extra,\n  };\n\n  return msg;\n}\n\nfunction reject(detail, extra = {}) {\n  delete msg._mqttEnvelope;\n  return inspection(\"rejected\", detail, extra);\n}\n\nif (![\"gr\", \"ttn\"].includes(companyId)) {\n  node.status({\n    fill: \"red\",\n    shape: \"ring\",\n    text: \"company mapping missing\",\n  });\n  return reject(\"STCR_FACTORY_MQTT_COMPANY_ID is missing\");\n}\n\nif (!allowedTopics.has(sourceTopic)) {\n  node.status({\n    fill: \"yellow\",\n    shape: \"ring\",\n    text: \"unknown MQTT topic\",\n  });\n  return reject(\"Unknown MQTT topic\");\n}\n\nconst rawText = Buffer.isBuffer(msg.payload)\n  ? msg.payload.toString(\"utf8\")\n  : String(msg.payload || \"\");\n\nif (!rawText || Buffer.byteLength(rawText, \"utf8\") > 8192) {\n  return reject(\"MQTT payload is empty or too large\");\n}\n\nlet source;\ntry {\n  source = JSON.parse(rawText);\n} catch {\n  node.status({\n    fill: \"yellow\",\n    shape: \"ring\",\n    text: \"invalid MQTT JSON\",\n  });\n  return reject(\"MQTT payload is not valid JSON\");\n}\n\nconst ovenNumber = Number(source.oven);\nconst cycleNumber = Number(source.cycle);\nconst rawSourceTimestampMs = Date.parse(source.time_stamp);\nconst validSourceOffset =\n  Number.isInteger(sourceUtcOffsetMinutes) &&\n  Math.abs(sourceUtcOffsetMinutes) <= 840;\nconst sourceTimestampMs =\n  rawSourceTimestampMs - sourceUtcOffsetMinutes * 60 * 1000;\n\nif (\n  !Number.isSafeInteger(ovenNumber) ||\n  ovenNumber < 1 ||\n  ovenNumber > 10000 ||\n  !Number.isSafeInteger(cycleNumber) ||\n  cycleNumber < 0 ||\n  cycleNumber > 1000000 ||\n  !Number.isFinite(rawSourceTimestampMs) ||\n  !validSourceOffset\n) {\n  node.status({\n    fill: \"yellow\",\n    shape: \"ring\",\n    text: \"invalid MQTT identity\",\n  });\n  return reject(\"Invalid oven, cycle, or timestamp\", {\n    rawPayload: source,\n  });\n}\n\nlet ovenMap = {};\ntry {\n  ovenMap = JSON.parse(\n    String(env.get(\"STCR_FACTORY_MQTT_OVEN_MAP_JSON\") || \"{}\"),\n  );\n} catch {\n  return reject(\"STCR_FACTORY_MQTT_OVEN_MAP_JSON is invalid JSON\");\n}\n\nconst explicitOvenId =\n  typeof ovenMap[String(ovenNumber)] === \"string\"\n    ? ovenMap[String(ovenNumber)].trim()\n    : \"\";\nconst ovenId =\n  explicitOvenId ||\n  (deploymentMode === \"production\" ? \"\" : `oven-${ovenNumber}`);\n\nif (\n  !ovenId ||\n  ovenId.length > 64 ||\n  /[\\u0000-\\u001f\\u007f]/.test(ovenId)\n) {\n  node.status({\n    fill: \"red\",\n    shape: \"ring\",\n    text: `oven ${ovenNumber} unmapped`,\n  });\n  delete msg._mqttEnvelope;\n  return inspection(\"pending\", \"Oven mapping is required\", {\n    ovenNumber,\n    cycleNumber,\n    rawPayload: source,\n  });\n}\n\nconst sourceTimestamp = new Date(sourceTimestampMs).toISOString();\nconst commonEnvelope = {\n  companyId,\n  ovenId,\n  ovenNumber,\n  cycleNumber,\n  topic: sourceTopic,\n  qos: Number(msg.factoryMqtt?.qos ?? 0),\n  retained: Boolean(msg.factoryMqtt?.retain),\n  duplicateDelivery: Boolean(msg.factoryMqtt?.duplicate),\n  sourceTimestamp,\n  receivedAt,\n  source,\n};\n\nif (sourceTopic === \"test\") {\n  const ovenState = Number(source.oven_state);\n  if (![0, 1].includes(ovenState)) {\n    node.status({\n      fill: \"yellow\",\n      shape: \"ring\",\n      text: `oven ${ovenNumber} bad state`,\n    });\n    return reject(\"oven_state must be 0 or 1\", {\n      ovenNumber,\n      ovenId,\n      cycleNumber,\n      rawPayload: source,\n    });\n  }\n\n  msg._mqttEnvelope = {\n    ...commonEnvelope,\n    type: \"test\",\n    ovenState,\n  };\n\n  node.status({\n    fill: \"blue\",\n    shape: \"dot\",\n    text: `status oven ${ovenNumber}`,\n  });\n\n  return inspection(\n    \"validated\",\n    \"oven_state accepted (0=closed, 1=open)\",\n    {\n      ovenNumber,\n      ovenId,\n      cycleNumber,\n      ovenState,\n      rawPayload: source,\n    },\n  );\n}\n\nconst startOven = Number(source.startoven);\nif (![0, 1].includes(startOven)) {\n  return reject(\"startoven must be 0 or 1\", {\n    ovenNumber,\n    ovenId,\n    cycleNumber,\n    rawPayload: source,\n  });\n}\n\nconst definitions = [\n  [\"chamberTemp\", \"roomtemp\", \"C\"],\n  [\"humidity\", \"humanity\", \"%\"],\n  [\"furnaceTemp\", \"oventemp\", \"C\"],\n  [\"blowerTemp\", \"blower\", \"C\"],\n];\n\nconst now = Date.now();\nconst stale = now - sourceTimestampMs > 2 * 60 * 1000;\nconst future = sourceTimestampMs - now > 30 * 1000;\nconst qualityReasons = [\n  ...(stale ? [\"stale\"] : []),\n  ...(future ? [\"future-timestamp\"] : []),\n];\nconst quality = qualityReasons.length ? \"suspect\" : \"good\";\nconst sequence = sourceTimestampMs;\n\nconst readings = [];\nconst missingSensors = [];\nfor (const [sensorKey, sourceKey, unit] of definitions) {\n  const rawValue = source[sourceKey];\n  const numericValue = Number(rawValue);\n  const missing =\n    rawValue === null ||\n    rawValue === undefined ||\n    rawValue === \"\" ||\n    !Number.isFinite(numericValue);\n\n  if (missing) {\n    missingSensors.push(sensorKey);\n    continue;\n  }\n\n  readings.push({\n    sensorKey,\n    sensorId: `factory-${companyId}-${ovenId}-${sensorKey}`,\n    sequence,\n    value: numericValue,\n    rawValue: numericValue,\n    unit,\n    quality,\n    qualityReasons,\n    sourceTimestamp,\n  });\n}\n\nconst batchId = `mqtt-${ovenNumber}-${cycleNumber}-${sourceTimestampMs}`;\nconst deviceId = `factory-${companyId}-oven-${ovenNumber}`;\nconst incomplete = missingSensors.length > 0;\n\nmsg._mqttEnvelope = {\n  ...commonEnvelope,\n  type: incomplete ? \"pending\" : \"sensor\",\n  startOven,\n  quality,\n  qualityReasons,\n  readings,\n  missingSensors,\n  batchId,\n  deviceId,\n};\n\nnode.status({\n  fill: incomplete ? \"yellow\" : \"green\",\n  shape: incomplete ? \"ring\" : \"dot\",\n  text: incomplete\n    ? `${missingSensors.join(\", \")} missing`\n    : `normalized oven ${ovenNumber}`,\n});\n\nreturn inspection(\n  incomplete ? \"pending\" : \"validated\",\n  incomplete\n    ? \"Available sensor values accepted; missing values ignored\"\n    : \"Sensor data normalized for realtime display and minute aggregation\",\n  {\n    ovenNumber,\n    ovenId,\n    cycleNumber,\n    startOven,\n    page: source.page,\n    pageUsed: false,\n    missingSensors,\n    originalSourceTimestamp: source.time_stamp,\n    normalizedSourceTimestamp: sourceTimestamp,\n    normalizedPayload: {\n      companyId,\n      ovenId,\n      batchId,\n      deviceId,\n      readings,\n    },\n    rawPayload: source,\n  },\n);\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 160,
    "wires": [
      [
        "stcr-factory-mqtt-inspection",
        "stcr-factory-mqtt-db-writer"
      ]
    ]
  },
  {
    "id": "stcr-factory-mqtt-inspection",
    "type": "function",
    "z": "stcr-factory-mqtt-tab",
    "name": "แสดงผลตรวจสอบข้อมูล MQTT",
    "func": "const result = msg.payload || {};\nconst oven = result.ovenNumber ? ` oven ${result.ovenNumber}` : \"\";\nconst fill = result.status === \"rejected\" ? \"red\" : result.status === \"pending\" ? \"yellow\" : \"blue\";\nnode.status({ fill, shape: result.status === \"rejected\" ? \"ring\" : \"dot\", text: `${result.status || \"unknown\"}${oven}` });\nreturn null;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 860,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "stcr-factory-mqtt-db-writer",
    "type": "function",
    "z": "stcr-factory-mqtt-tab",
    "name": "เขียนข้อมูล MQTT ลง MySQL โดยตรง",
    "func": "// factory-mqtt-db-writer.js\r\n// Realtime path:\r\n//   - update the in-memory oven state for every MQTT message.\r\n// Persistence path:\r\n//   - persist status immediately only when it changes;\r\n//   - persist oven heartbeat at most once per minute;\r\n//   - aggregate sensor values per oven/minute and persist one graph point.\r\n\r\nconst envelope = msg._mqttEnvelope;\r\nconst isFlushTick = Boolean(msg._minuteFlushTick);\r\n\r\nconst BUCKETS_KEY = \"stcrMinuteBuckets\";\r\nconst FLUSH_LOCK_KEY = \"stcrMinuteFlushRunning\";\r\nconst PERSIST_STATE_KEY = \"stcrOvenPersistState\";\r\nconst SENSOR_KEYS = [\r\n  \"chamberTemp\",\r\n  \"humidity\",\r\n  \"furnaceTemp\",\r\n  \"blowerTemp\",\r\n];\r\nconst heartbeatSeconds = Math.max(\r\n  10,\r\n  Number(env.get(\"STCR_FACTORY_MQTT_HEARTBEAT_SECONDS\") || 60),\r\n);\r\nconst flushGraceMs = Math.max(\r\n  0,\r\n  Number(env.get(\"STCR_FACTORY_MQTT_MINUTE_FLUSH_GRACE_MS\") || 5000),\r\n);\r\nconst storeRawMessages =\n  String(\r\n    env.get(\"STCR_FACTORY_MQTT_STORE_RAW_MESSAGES\") || \"false\",\r\n  ).toLowerCase() === \"true\";\r\n\r\nif (!envelope && !isFlushTick) {\r\n  return null;\r\n}\r\n\r\nfunction getPool() {\r\n  let pool = global.get(\"stcrMqttDbPool\");\r\n  if (pool) return pool;\r\n\r\n  const password = String(env.get(\"STCR_DB_PASSWORD\") || \"\");\r\n  if (!password) {\r\n    throw new Error(\"STCR_DB_PASSWORD is required\");\r\n  }\r\n\r\n  pool = mysql.createPool({\r\n    host: env.get(\"STCR_DB_HOST\") || \"127.0.0.1\",\r\n    port: Number(env.get(\"STCR_DB_PORT\") || 3306),\r\n    user: env.get(\"STCR_DB_USER\") || \"stcr_app\",\r\n    password,\r\n    database: env.get(\"STCR_DB_NAME\") || \"stcr\",\r\n    waitForConnections: true,\r\n    connectionLimit: 4,\r\n    timezone: \"Z\",\r\n  });\r\n  global.set(\"stcrMqttDbPool\", pool);\r\n  return pool;\r\n}\r\n\r\nfunction validDate(value, fallback = new Date()) {\r\n  const date = value instanceof Date ? value : new Date(value);\r\n  return Number.isFinite(date.getTime()) ? date : fallback;\r\n}\r\n\r\nfunction fallbackStatus(startOven) {\r\n  return startOven === 1 ? \"open\" : \"closed\";\r\n}\r\n\r\nfunction findMemoryOven(value) {\r\n  const rootState = global.get(\"stcrState\");\r\n  const companyState = rootState?.companies?.[value.companyId];\r\n  const oven = companyState?.ovens?.find(\r\n    (item) => item.id === value.ovenId,\r\n  );\r\n  return { rootState, companyState, oven };\r\n}\r\n\r\nfunction updateRealtimeMemory(value, receivedAtDate) {\r\n  const { rootState, oven } = findMemoryOven(value);\r\n  if (!rootState || !oven) return;\r\n\r\n  const timestamp = receivedAtDate.toISOString();\r\n\r\n  if (value.type === \"test\") {\r\n    oven.status = value.ovenState === 1 ? \"open\" : \"closed\";\r\n  } else {\r\n    if (oven.status === \"offline\") {\r\n      oven.status = fallbackStatus(value.startOven);\r\n    }\r\n\r\n    for (const reading of value.readings || []) {\r\n      oven.readings ||= {};\r\n      oven.readings[reading.sensorKey] = {\r\n        ...(oven.readings[reading.sensorKey] || {}),\r\n        value: reading.value,\r\n        updatedAt: timestamp,\r\n      };\r\n    }\r\n  }\r\n\r\n  oven.lastUpdatedAt = timestamp;\r\n  global.set(\"stcrState\", rootState);\r\n}\r\n\r\nfunction createMetric() {\r\n  return {\r\n    sum: 0,\r\n    min: null,\r\n    max: null,\r\n    last: null,\r\n    count: 0,\r\n  };\r\n}\r\n\r\nfunction addMetric(metric, value) {\r\n  if (!Number.isFinite(value)) return;\r\n  metric.sum += value;\r\n  metric.min = metric.min === null ? value : Math.min(metric.min, value);\r\n  metric.max = metric.max === null ? value : Math.max(metric.max, value);\r\n  metric.last = value;\r\n  metric.count += 1;\r\n}\r\n\r\nfunction metricValues(metric) {\r\n  if (!metric || metric.count < 1) {\r\n    return {\r\n      avg: null,\r\n      min: null,\r\n      max: null,\r\n      last: null,\r\n      count: 0,\r\n    };\r\n  }\r\n\r\n  return {\r\n    avg: metric.sum / metric.count,\r\n    min: metric.min,\r\n    max: metric.max,\r\n    last: metric.last,\r\n    count: metric.count,\r\n  };\r\n}\r\n\r\nfunction minuteStart(date) {\r\n  const value = new Date(date);\r\n  value.setUTCSeconds(0, 0);\r\n  return value;\r\n}\r\n\r\nfunction bucketKey(value, minuteAt) {\r\n  return `${value.companyId}|${value.ovenId}|${minuteAt.toISOString()}`;\r\n}\r\n\r\nfunction addToMinuteBucket(value, receivedAtDate) {\r\n  if (!(value.readings || []).length) return;\r\n\r\n  const sourceDate = validDate(value.sourceTimestamp, receivedAtDate);\r\n  // Use server receive time for minute buckets so a stale device clock\r\n  // cannot force one database write per incoming message.\r\n  const minuteAt = minuteStart(receivedAtDate);\r\n  const key = bucketKey(value, minuteAt);\r\n  const buckets = global.get(BUCKETS_KEY) || {};\r\n  const bucket = buckets[key] || {\r\n    key,\r\n    companyId: value.companyId,\r\n    ovenId: value.ovenId,\r\n    ovenNumber: value.ovenNumber,\r\n    cycleNumber: value.cycleNumber,\r\n    minuteAt: minuteAt.toISOString(),\r\n    firstSourceAt: sourceDate.toISOString(),\r\n    lastSourceAt: sourceDate.toISOString(),\r\n    firstReceivedAt: receivedAtDate.toISOString(),\r\n    lastReceivedAt: receivedAtDate.toISOString(),\r\n    startOven: value.startOven,\r\n    quality: value.quality || \"good\",\r\n    metrics: Object.fromEntries(\r\n      SENSOR_KEYS.map((sensorKey) => [sensorKey, createMetric()]),\r\n    ),\r\n  };\r\n\r\n  bucket.cycleNumber = value.cycleNumber;\r\n  bucket.startOven = value.startOven;\r\n  bucket.lastSourceAt = sourceDate.toISOString();\r\n  bucket.lastReceivedAt = receivedAtDate.toISOString();\r\n  if (value.quality === \"suspect\") {\r\n    bucket.quality = \"suspect\";\r\n  } else if (value.type === \"pending\" && bucket.quality === \"good\") {\r\n    bucket.quality = \"missing\";\r\n  }\r\n\r\n  for (const reading of value.readings || []) {\r\n    if (!bucket.metrics[reading.sensorKey]) continue;\r\n    addMetric(bucket.metrics[reading.sensorKey], Number(reading.value));\r\n  }\r\n\r\n  buckets[key] = bucket;\r\n  global.set(BUCKETS_KEY, buckets);\r\n}\r\n\r\nfunction mergeBuckets(target, source) {\r\n  if (!target) return source;\r\n  target.cycleNumber = source.cycleNumber;\r\n  target.startOven = source.startOven;\r\n  target.firstSourceAt =\r\n    target.firstSourceAt < source.firstSourceAt\r\n      ? target.firstSourceAt\r\n      : source.firstSourceAt;\r\n  target.lastSourceAt =\r\n    target.lastSourceAt > source.lastSourceAt\r\n      ? target.lastSourceAt\r\n      : source.lastSourceAt;\r\n  target.firstReceivedAt =\r\n    target.firstReceivedAt < source.firstReceivedAt\r\n      ? target.firstReceivedAt\r\n      : source.firstReceivedAt;\r\n  target.lastReceivedAt =\r\n    target.lastReceivedAt > source.lastReceivedAt\r\n      ? target.lastReceivedAt\r\n      : source.lastReceivedAt;\r\n  if (source.quality === \"suspect\") target.quality = \"suspect\";\r\n\r\n  for (const sensorKey of SENSOR_KEYS) {\r\n    const left = target.metrics[sensorKey];\r\n    const right = source.metrics[sensorKey];\r\n    if (!right?.count) continue;\r\n    left.sum += right.sum;\r\n    left.min = left.min === null ? right.min : Math.min(left.min, right.min);\r\n    left.max = left.max === null ? right.max : Math.max(left.max, right.max);\r\n    left.last = right.last;\r\n    left.count += right.count;\r\n  }\r\n  return target;\r\n}\r\n\r\nfunction makeMessageHash(value) {\r\n  return crypto\r\n    .createHash(\"sha256\")\r\n    .update(\r\n      [\r\n        value.companyId,\r\n        value.ovenId,\r\n        value.topic,\r\n        value.cycleNumber,\r\n        value.sourceTimestamp,\r\n        JSON.stringify(value.source),\r\n      ].join(\"\\n\"),\r\n    )\r\n    .digest(\"hex\");\r\n}\r\n\r\nasync function saveRawMessage(executor, value, receivedAtDate, detail) {\r\n  if (!storeRawMessages) return;\r\n\r\n  await executor.execute(\r\n    `INSERT INTO factory_mqtt_messages (\r\n       company_id,\r\n       oven_id,\r\n       oven_number,\r\n       cycle_number,\r\n       topic,\r\n       qos,\r\n       retained,\r\n       duplicate_delivery,\r\n       source_timestamp,\r\n       payload_json,\r\n       message_hash,\r\n       normalization_status,\r\n       normalization_detail,\r\n       received_at\r\n     )\r\n     VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)\r\n     ON DUPLICATE KEY UPDATE\r\n       duplicate_delivery = TRUE,\r\n       received_at = VALUES(received_at),\r\n       normalization_status = VALUES(normalization_status),\r\n       normalization_detail = VALUES(normalization_detail)`,\r\n    [\r\n      value.companyId,\r\n      value.ovenId,\r\n      value.ovenNumber,\r\n      value.cycleNumber,\r\n      value.topic,\r\n      value.qos,\r\n      value.retained,\r\n      value.duplicateDelivery,\r\n      value.sourceTimestamp,\r\n      JSON.stringify(value.source),\r\n      makeMessageHash(value),\r\n      value.type === \"pending\" ? \"pending\" : \"normalized\",\r\n      detail,\r\n      receivedAtDate,\r\n    ],\r\n  );\r\n}\r\n\r\nfunction persistStateKey(value) {\r\n  return `${value.companyId}|${value.ovenId}`;\r\n}\r\n\r\nfunction getPersistStates() {\r\n  return global.get(PERSIST_STATE_KEY) || {};\r\n}\r\n\r\nfunction isHeartbeatDue(state, receivedAtDate) {\r\n  if (!state?.lastSeenAt) return true;\r\n  return (\r\n    receivedAtDate.getTime() - Date.parse(state.lastSeenAt) >=\r\n    heartbeatSeconds * 1000\r\n  );\r\n}\r\n\r\nasync function persistStatus(value, receivedAtDate) {\r\n  const status = value.ovenState === 1 ? \"open\" : \"closed\";\r\n  const states = getPersistStates();\r\n  const key = persistStateKey(value);\r\n  const state = states[key];\r\n\r\n  if (state?.status === status && !isHeartbeatDue(state, receivedAtDate)) {\r\n    return;\r\n  }\r\n\r\n  const pool = getPool();\r\n  const [result] = await pool.execute(\r\n    `UPDATE ovens\r\n     SET status = ?, last_seen_at = ?\r\n     WHERE company_id = ?\r\n       AND id = ?\r\n       AND enabled = TRUE`,\r\n    [\r\n      status,\r\n      receivedAtDate,\r\n      value.companyId,\r\n      value.ovenId,\r\n    ],\r\n  );\r\n\r\n  if (!result.affectedRows) {\r\n    node.warn(`MQTT status: oven ${value.companyId}/${value.ovenId} not found`);\r\n    return;\r\n  }\r\n\r\n  states[key] = {\r\n    status,\r\n    lastSeenAt: receivedAtDate.toISOString(),\r\n  };\r\n  global.set(PERSIST_STATE_KEY, states);\r\n\r\n  if (storeRawMessages) {\r\n    await saveRawMessage(\r\n      pool,\r\n      value,\r\n      receivedAtDate,\r\n      `oven_state=${value.ovenState}`,\r\n    );\r\n  }\r\n}\r\n\r\nasync function persistHeartbeat(value, receivedAtDate) {\r\n  const states = getPersistStates();\r\n  const key = persistStateKey(value);\r\n  const state = states[key];\r\n\r\n  if (!isHeartbeatDue(state, receivedAtDate)) {\r\n    return;\r\n  }\r\n\r\n  const currentMemoryStatus =\r\n    findMemoryOven(value).oven?.status || fallbackStatus(value.startOven);\r\n  const pool = getPool();\r\n  const [result] = await pool.execute(\r\n    `UPDATE ovens\r\n     SET\r\n       status = CASE\r\n         WHEN status = 'offline' THEN ?\r\n         ELSE status\r\n       END,\r\n       last_seen_at = ?\r\n     WHERE company_id = ?\r\n       AND id = ?\r\n       AND enabled = TRUE`,\r\n    [\r\n      fallbackStatus(value.startOven),\r\n      receivedAtDate,\r\n      value.companyId,\r\n      value.ovenId,\r\n    ],\r\n  );\r\n\r\n  if (!result.affectedRows) {\r\n    node.warn(`MQTT heartbeat: oven ${value.companyId}/${value.ovenId} not found`);\r\n    return;\r\n  }\r\n\r\n  states[key] = {\r\n    status: currentMemoryStatus,\r\n    lastSeenAt: receivedAtDate.toISOString(),\r\n  };\r\n  global.set(PERSIST_STATE_KEY, states);\r\n}\r\n\r\nasync function resolveCycleLifecycle(\n  connection,\n  bucket,\n  ovenRow,\n  firstSourceAt,\n) {\n  if (!Number.isSafeInteger(bucket.cycleNumber) || bucket.cycleNumber < 1) {\r\n    return null;\r\n  }\r\n\r\n  if (bucket.startOven === 1) {\r\n    // A new cycle number is authoritative. Close an older active cycle first.\r\n    await connection.execute(\r\n      `UPDATE oven_cycles\r\n       SET state = 'completed',\r\n           stopped_at = COALESCE(stopped_at, ?)\r\n       WHERE company_id = ?\r\n         AND oven_id = ?\r\n         AND cycle_number <> ?\r\n         AND state IN ('ignition', 'recording')`,\r\n      [\r\n        firstSourceAt,\r\n        bucket.companyId,\r\n        bucket.ovenId,\r\n        bucket.cycleNumber,\r\n      ],\r\n    );\r\n\r\n    await connection.execute(\r\n      `INSERT INTO oven_cycles (\r\n         company_id,\r\n         oven_id,\r\n         cycle_number,\n         state,\n         fired_at,\n         report_started_at,\n         ready_temperature,\n         ready_hold_seconds\n       ) VALUES (?, ?, ?, 'recording', ?, ?, ?, 0)\n       ON DUPLICATE KEY UPDATE\n         cycle_number = VALUES(cycle_number)`,\n      [\r\n        bucket.companyId,\r\n        bucket.ovenId,\r\n        bucket.cycleNumber,\n        firstSourceAt,\n        firstSourceAt,\n        Number(ovenRow.chamberLower),\n      ],\n    );\n\n    // Business rule: an open oven starts report recording immediately.\n    await connection.execute(\n      `UPDATE oven_cycles\n       SET state = 'recording',\n           report_started_at = COALESCE(report_started_at, fired_at)\n       WHERE company_id = ?\n         AND oven_id = ?\n         AND cycle_number = ?\n         AND state = 'ignition'`,\n      [bucket.companyId, bucket.ovenId, bucket.cycleNumber],\n    );\n  } else if (bucket.startOven === 0) {\r\n    await connection.execute(\r\n      `UPDATE oven_cycles\r\n       SET state = 'completed',\r\n           stopped_at = COALESCE(stopped_at, ?)\r\n       WHERE company_id = ?\r\n         AND oven_id = ?\r\n         AND cycle_number = ?\r\n         AND state IN ('ignition', 'recording')`,\r\n      [\r\n        firstSourceAt,\r\n        bucket.companyId,\r\n        bucket.ovenId,\r\n        bucket.cycleNumber,\r\n      ],\r\n    );\r\n  }\r\n\r\n  const [cycleRows] = await connection.execute(\n    `SELECT id, state, fired_at AS firedAt,\n            report_started_at AS reportStartedAt,\n            stopped_at AS stoppedAt\n     FROM oven_cycles\r\n     WHERE company_id = ?\r\n       AND oven_id = ?\r\n       AND cycle_number = ?\r\n     LIMIT 1\r\n     FOR UPDATE`,\r\n    [bucket.companyId, bucket.ovenId, bucket.cycleNumber],\r\n  );\n\n  const cycle = cycleRows[0] || null;\n  if (!cycle || cycle.state !== \"recording\" || !cycle.reportStartedAt) {\n    return cycle;\n  }\n  const reportMinuteAt = minuteStart(validDate(cycle.reportStartedAt));\n\n  // Backfill points already received for this same cycle after the oven opened.\n  await connection.execute(\n    `UPDATE sensor_minute_aggregates\n     SET cycle_id = ?,\n         cycle_phase = 'recording',\n         included_in_report = TRUE\n     WHERE company_id = ?\n       AND oven_id = ?\n       AND cycle_number = ?\n       AND minute_at >= ?`,\n    [\n      cycle.id,\n      bucket.companyId,\n      bucket.ovenId,\n      bucket.cycleNumber,\n      reportMinuteAt,\n    ],\n  );\n  await connection.execute(\n    `UPDATE sensor_readings\n     SET cycle_id = ?,\n         cycle_phase = 'recording',\n         included_in_report = TRUE\n     WHERE company_id = ?\n       AND oven_id = ?\n       AND recorded_at >= ?\n       AND (cycle_id IS NULL OR cycle_id = ?)`,\n    [\n      cycle.id,\n      bucket.companyId,\n      bucket.ovenId,\n      reportMinuteAt,\n      cycle.id,\n    ],\n  );\n\n  return cycle;\n}\r\n\r\nfunction syncCycleMemory(bucket, cycle) {\r\n  if (!cycle) return;\r\n  const { rootState, oven } = findMemoryOven(bucket);\r\n  if (!rootState || !oven) return;\r\n\r\n  oven.cycleCount = bucket.cycleNumber;\r\n  oven.firedAt = validDate(cycle.firedAt).toISOString();\r\n\r\n  if (cycle.reportStartedAt) {\r\n    oven.reportStartedAt = validDate(cycle.reportStartedAt).toISOString();\r\n    oven.startedAt = oven.reportStartedAt;\r\n  } else {\r\n    delete oven.reportStartedAt;\r\n    delete oven.startedAt;\r\n  }\r\n\r\n  if (cycle.stoppedAt) {\r\n    oven.stoppedAt = validDate(cycle.stoppedAt).toISOString();\r\n  } else {\r\n    delete oven.stoppedAt;\r\n  }\r\n\r\n  global.set(\"stcrState\", rootState);\r\n}\r\n\r\nasync function persistMinuteBucket(bucket) {\r\n  const pool = getPool();\r\n  const connection = await pool.getConnection();\r\n\r\n  const chamber = metricValues(bucket.metrics.chamberTemp);\r\n  const humidity = metricValues(bucket.metrics.humidity);\r\n  const furnace = metricValues(bucket.metrics.furnaceTemp);\r\n  const blower = metricValues(bucket.metrics.blowerTemp);\r\n  const minuteAt = validDate(bucket.minuteAt);\r\n  const firstSourceAt = validDate(bucket.firstSourceAt, minuteAt);\r\n  const lastSourceAt = validDate(bucket.lastSourceAt, minuteAt);\r\n  const firstReceivedAt = validDate(bucket.firstReceivedAt, minuteAt);\r\n  const lastReceivedAt = validDate(bucket.lastReceivedAt, minuteAt);\r\n\r\n  try {\r\n    await connection.beginTransaction();\r\n\r\n    const [ovenRows] = await connection.execute(\r\n      `SELECT id, chamber_lower AS chamberLower\r\n       FROM ovens\r\n       WHERE company_id = ?\r\n         AND id = ?\r\n         AND enabled = TRUE\r\n       LIMIT 1`,\r\n      [bucket.companyId, bucket.ovenId],\r\n    );\r\n\r\n    if (!ovenRows[0]) {\r\n      throw new Error(\r\n        `Oven ${bucket.companyId}/${bucket.ovenId} not found`,\r\n      );\r\n    }\r\n\r\n    const cycle = await resolveCycleLifecycle(\n      connection,\n      bucket,\n      ovenRows[0],\n      firstSourceAt,\n    );\r\n    const cyclePhase =\n      cycle?.state === \"recording\"\r\n        ? \"recording\"\r\n        : cycle?.state === \"ignition\"\r\n          ? \"ignition\"\r\n          : cycle?.state === \"completed\"\r\n            ? \"cooldown\"\r\n            : \"idle\";\r\n    const includedInReport = cyclePhase === \"recording\";\n\r\n    await connection.execute(\r\n      `INSERT INTO sensor_minute_aggregates (\r\n         company_id,\r\n         oven_id,\r\n         cycle_id,\r\n         cycle_number,\r\n         minute_at,\r\n         chamber_temp_avg,\r\n         chamber_temp_min,\r\n         chamber_temp_max,\r\n         chamber_temp_last,\r\n         chamber_temp_count,\r\n         humidity_avg,\r\n         humidity_min,\r\n         humidity_max,\r\n         humidity_last,\r\n         humidity_count,\r\n         furnace_temp_avg,\r\n         furnace_temp_min,\r\n         furnace_temp_max,\r\n         furnace_temp_last,\r\n         furnace_temp_count,\r\n         blower_temp_avg,\r\n         blower_temp_min,\r\n         blower_temp_max,\r\n         blower_temp_last,\r\n         blower_temp_count,\r\n         cycle_phase,\r\n         included_in_report,\r\n         quality,\r\n         first_source_at,\r\n         last_source_at,\r\n         first_received_at,\r\n         last_received_at,\r\n         created_at,\r\n         updated_at\r\n       )\r\n       VALUES (\r\n         ?, ?, ?, ?, ?,\r\n         ?, ?, ?, ?, ?,\r\n         ?, ?, ?, ?, ?,\r\n         ?, ?, ?, ?, ?,\r\n         ?, ?, ?, ?, ?,\r\n         ?, ?, ?, ?, ?, ?, ?, ?, ?\r\n       )\r\n       ON DUPLICATE KEY UPDATE\r\n         cycle_id = VALUES(cycle_id),\r\n         cycle_number = VALUES(cycle_number),\r\n         chamber_temp_avg = VALUES(chamber_temp_avg),\r\n         chamber_temp_min = VALUES(chamber_temp_min),\r\n         chamber_temp_max = VALUES(chamber_temp_max),\r\n         chamber_temp_last = VALUES(chamber_temp_last),\r\n         chamber_temp_count = VALUES(chamber_temp_count),\r\n         humidity_avg = VALUES(humidity_avg),\r\n         humidity_min = VALUES(humidity_min),\r\n         humidity_max = VALUES(humidity_max),\r\n         humidity_last = VALUES(humidity_last),\r\n         humidity_count = VALUES(humidity_count),\r\n         furnace_temp_avg = VALUES(furnace_temp_avg),\r\n         furnace_temp_min = VALUES(furnace_temp_min),\r\n         furnace_temp_max = VALUES(furnace_temp_max),\r\n         furnace_temp_last = VALUES(furnace_temp_last),\r\n         furnace_temp_count = VALUES(furnace_temp_count),\r\n         blower_temp_avg = VALUES(blower_temp_avg),\r\n         blower_temp_min = VALUES(blower_temp_min),\r\n         blower_temp_max = VALUES(blower_temp_max),\r\n         blower_temp_last = VALUES(blower_temp_last),\r\n         blower_temp_count = VALUES(blower_temp_count),\r\n         cycle_phase = VALUES(cycle_phase),\r\n         included_in_report = VALUES(included_in_report),\r\n         quality = VALUES(quality),\r\n         first_source_at = VALUES(first_source_at),\r\n         last_source_at = VALUES(last_source_at),\r\n         first_received_at = VALUES(first_received_at),\r\n         last_received_at = VALUES(last_received_at),\r\n         updated_at = VALUES(updated_at)`,\r\n      [\r\n        bucket.companyId,\r\n        bucket.ovenId,\r\n        cycle?.id || null,\r\n        bucket.cycleNumber,\r\n        minuteAt,\r\n        chamber.avg,\r\n        chamber.min,\r\n        chamber.max,\r\n        chamber.last,\r\n        chamber.count,\r\n        humidity.avg,\r\n        humidity.min,\r\n        humidity.max,\r\n        humidity.last,\r\n        humidity.count,\r\n        furnace.avg,\r\n        furnace.min,\r\n        furnace.max,\r\n        furnace.last,\r\n        furnace.count,\r\n        blower.avg,\r\n        blower.min,\r\n        blower.max,\r\n        blower.last,\r\n        blower.count,\r\n        cyclePhase,\r\n        includedInReport,\r\n        bucket.quality || \"good\",\r\n        firstSourceAt,\r\n        lastSourceAt,\r\n        firstReceivedAt,\r\n        lastReceivedAt,\r\n        lastReceivedAt,\r\n        lastReceivedAt,\r\n      ],\r\n    );\r\n\r\n    // Keep the existing history API compatible: one average point per minute.\n    // The three core values are required by the current sensor_readings schema.\r\n    if (\r\n      chamber.count > 0 &&\r\n      humidity.count > 0 &&\r\n      furnace.count > 0\r\n    ) {\r\n      await connection.execute(\r\n        `INSERT INTO sensor_readings (\r\n           company_id,\r\n           oven_id,\r\n           cycle_id,\r\n           recorded_at,\r\n           chamber_temp,\r\n           humidity,\r\n           furnace_temp,\r\n           blower_temp,\r\n           cycle_phase,\r\n           included_in_report,\r\n           quality,\r\n           source_timestamp,\r\n           received_at\r\n         )\r\n         VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)\r\n         ON DUPLICATE KEY UPDATE\r\n           cycle_id = VALUES(cycle_id),\r\n           chamber_temp = VALUES(chamber_temp),\r\n           humidity = VALUES(humidity),\r\n           furnace_temp = VALUES(furnace_temp),\r\n           blower_temp = VALUES(blower_temp),\r\n           cycle_phase = VALUES(cycle_phase),\r\n           included_in_report = VALUES(included_in_report),\r\n           quality = VALUES(quality),\r\n           source_timestamp = VALUES(source_timestamp),\r\n           received_at = VALUES(received_at)`,\r\n        [\r\n          bucket.companyId,\r\n          bucket.ovenId,\r\n          cycle?.id || null,\r\n          minuteAt,\r\n          chamber.avg,\r\n          humidity.avg,\r\n          furnace.avg,\r\n          blower.avg,\r\n          cyclePhase,\r\n          includedInReport,\r\n          bucket.quality || \"good\",\r\n          lastSourceAt,\r\n          lastReceivedAt,\r\n        ],\r\n      );\r\n    }\r\n\r\n    await connection.commit();\r\n    syncCycleMemory(bucket, cycle);\r\n\r\n    const { rootState, companyState, oven } = findMemoryOven(bucket);\r\n    if (rootState && companyState && oven && chamber.count && humidity.count && furnace.count) {\r\n      const point = {\r\n        timestamp: minuteAt.toISOString(),\r\n        chamberTemp: chamber.avg,\r\n        humidity: humidity.avg,\r\n        furnaceTemp: furnace.avg,\r\n        blowerTemp: blower.avg,\r\n      };\r\n      companyState.history ||= {};\r\n      companyState.history[bucket.ovenId] = [\r\n        ...(companyState.history[bucket.ovenId] || []).filter(\r\n          (item) => item.timestamp !== point.timestamp,\r\n        ),\r\n        point,\r\n      ].slice(-10000);\r\n      global.set(\"stcrState\", rootState);\r\n    }\r\n\r\n    node.status({\r\n      fill: \"green\",\r\n      shape: \"dot\",\r\n      text: `minute saved oven ${bucket.ovenNumber}`,\r\n    });\r\n  } catch (error) {\r\n    await connection.rollback();\r\n    throw error;\r\n  } finally {\r\n    connection.release();\r\n  }\r\n}\r\n\r\nasync function flushCompletedBuckets(referenceDate) {\r\n  if (global.get(FLUSH_LOCK_KEY)) return;\r\n  global.set(FLUSH_LOCK_KEY, true);\r\n\r\n  const cutoffMs = referenceDate.getTime() - flushGraceMs;\r\n  const buckets = global.get(BUCKETS_KEY) || {};\r\n  const ready = [];\r\n\r\n  for (const [key, bucket] of Object.entries(buckets)) {\r\n    const minuteEndMs = validDate(bucket.minuteAt).getTime() + 60_000;\r\n    if (minuteEndMs <= cutoffMs) {\r\n      ready.push(bucket);\r\n      delete buckets[key];\r\n    }\r\n  }\r\n  global.set(BUCKETS_KEY, buckets);\r\n\r\n  try {\r\n    ready.sort((left, right) =>\r\n      left.minuteAt.localeCompare(right.minuteAt),\r\n    );\r\n\r\n    for (const bucket of ready) {\r\n      try {\r\n        await persistMinuteBucket(bucket);\r\n      } catch (error) {\r\n        node.warn(\r\n          `Minute aggregate write failed for ${bucket.companyId}/${bucket.ovenId}/${bucket.minuteAt}: ${error.message}`,\r\n        );\r\n        const current = global.get(BUCKETS_KEY) || {};\r\n        current[bucket.key] = mergeBuckets(current[bucket.key], bucket);\r\n        global.set(BUCKETS_KEY, current);\r\n      }\r\n    }\r\n  } finally {\r\n    global.set(FLUSH_LOCK_KEY, false);\r\n  }\r\n}\r\n\r\nconst referenceDate = isFlushTick\r\n  ? validDate(msg.factoryMqtt?.receivedAt, new Date())\r\n  : validDate(envelope.receivedAt, new Date());\r\n\r\nif (isFlushTick) {\r\n  await flushCompletedBuckets(referenceDate);\r\n  return null;\r\n}\r\n\r\nupdateRealtimeMemory(envelope, referenceDate);\r\n\r\ntry {\r\n  if (envelope.type === \"test\") {\r\n    await persistStatus(envelope, referenceDate);\r\n    await flushCompletedBuckets(referenceDate);\r\n    return null;\r\n  }\r\n\r\n  if (envelope.type === \"sensor\" || envelope.type === \"pending\") {\r\n    addToMinuteBucket(envelope, referenceDate);\r\n    await persistHeartbeat(envelope, referenceDate);\r\n\r\n    if (storeRawMessages && envelope.type === \"pending\") {\r\n      await saveRawMessage(\r\n        getPool(),\r\n        envelope,\r\n        referenceDate,\r\n        `missing: ${(envelope.missingSensors || []).join(\", \")}`,\r\n      );\r\n    }\r\n\r\n    await flushCompletedBuckets(referenceDate);\r\n    return null;\r\n  }\r\n\r\n  node.warn(`Unknown MQTT envelope type: ${String(envelope.type)}`);\r\n} catch (error) {\r\n  node.warn(`MQTT processing failed: ${error.message}`);\r\n  node.status({\r\n    fill: \"red\",\r\n    shape: \"ring\",\r\n    text: `DB error oven ${envelope.ovenNumber}`,\r\n  });\r\n}\r\n\r\nreturn null;\r\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "mysql",
        "module": "mysql2/promise"
      },
      {
        "var": "crypto",
        "module": "crypto"
      }
    ],
    "x": 860,
    "y": 200,
    "wires": [
      []
    ]
  }
]
