node-red/flows.json
[
  {
    "id": "stcr-field-tab",
    "type": "tab",
    "label": "01 จำลองข้อมูลอุปกรณ์หน้างาน",
    "disabled": false,
    "info": "จำลองเซนเซอร์ของแต่ละเตาและส่งข้อมูลดิบทุก 5 วินาที"
  },
  {
    "id": "stcr-gr-pipeline-tab",
    "type": "tab",
    "label": "02 ประมวลผลข้อมูล GR",
    "disabled": false,
    "info": "ตรวจสอบ ปรับเทียบ กรอง และรวมข้อมูลเซนเซอร์ของ Grand Rubber"
  },
  {
    "id": "stcr-ttn-pipeline-tab",
    "type": "tab",
    "label": "03 ประมวลผลข้อมูล TTN",
    "disabled": false,
    "info": "ตรวจสอบ ปรับเทียบ กรอง และรวมข้อมูลเซนเซอร์ของ TTN Rubber แยกจาก GR"
  },
  {
    "id": "stcr-platform-tab",
    "type": "tab",
    "label": "04 ฐานข้อมูลและ API",
    "disabled": false,
    "info": "บันทึกข้อมูลลง MariaDB และให้บริการ HTTP API สำหรับทั้งสองบริษัท"
  },
  {
    "id": "stcr-field-note",
    "type": "comment",
    "z": "stcr-field-tab",
    "name": "ข้อมูลดิบ IoT: เซนเซอร์แต่ละตัวส่งข้อมูลทุก 5 วินาที",
    "info": "ตัวจำลองส่ง deviceId, sensorId, ลำดับข้อมูล, เวลาจากต้นทาง และ Topic ในรูปแบบที่รองรับ MQTT",
    "x": 360,
    "y": 40,
    "wires": []
  },
  {
    "id": "stcr-simulator-tick",
    "type": "inject",
    "z": "stcr-field-tab",
    "name": "อ่านค่าจาก PLC / Gateway ทุก 5 วินาที",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": "0.2",
    "topic": "stcr/tick",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 280,
    "wires": [
      [
        "stcr-simulator-core"
      ]
    ]
  },
  {
    "id": "stcr-simulator-core",
    "type": "function",
    "z": "stcr-field-tab",
    "name": "จำลองการทำงานของเตาและเซนเซอร์",
    "func": "const SIMULATION_MODEL_CYCLE_MS = 6 * 24 * 60 * 60 * 1000;\nconst SIMULATION_MODEL_PROFILES = {\n  gr: { chamber: 57.5, furnace: 500, blower: 365, humidityStart: 80, humidityEnd: 57, phase: 0.2 },\n  ttn: { chamber: 56.5, furnace: 490, blower: 355, humidityStart: 80, humidityEnd: 58, phase: 1.1 },\n};\n\nfunction simulationClamp(value, min, max) {\n  return Math.min(max, Math.max(min, value));\n}\n\nfunction simulationRound(value, digits = 1) {\n  const scale = 10 ** digits;\n  return Math.round(value * scale) / scale;\n}\n\nfunction simulationSmoothstep(value) {\n  const x = simulationClamp(value, 0, 1);\n  return x * x * (3 - 2 * x);\n}\n\nfunction simulationNoise(seed) {\n  const value = Math.sin(seed * 12.9898) * 43758.5453;\n  return (value - Math.floor(value)) * 2 - 1;\n}\n\nfunction simulationWoodLoadingPeriod(companyId, ovenNumber, loadingIndex = 0) {\n  const companySeed = companyId === \"ttn\" ? 117 : 23;\n  const randomValue = (simulationNoise(\n    companySeed + ovenNumber * 19.1 + loadingIndex * 37.7,\n  ) + 1) / 2;\n  return 3 + randomValue * 3;\n}\n\nfunction simulationWoodLoadingState(companyId, ovenNumber, elapsedHours) {\n  if (elapsedHours <= 0) {\n    return {\n      loadingIndex: 0,\n      loadingStartedAt: 0,\n      intervalHours: simulationWoodLoadingPeriod(companyId, ovenNumber, 0),\n    };\n  }\n\n  let loadingIndex = 0;\n  let loadingStartedAt = 0;\n  let intervalHours = simulationWoodLoadingPeriod(companyId, ovenNumber, loadingIndex);\n\n  while (loadingStartedAt + intervalHours <= elapsedHours) {\n    loadingStartedAt += intervalHours;\n    loadingIndex += 1;\n    intervalHours = simulationWoodLoadingPeriod(companyId, ovenNumber, loadingIndex);\n  }\n\n  return { loadingIndex, loadingStartedAt, intervalHours };\n}\n\nfunction simulationCombustionPulse(companyId, ovenNumber, elapsedHours) {\n  if (elapsedHours <= 0) return 0;\n\n  const loading = simulationWoodLoadingState(companyId, ovenNumber, elapsedHours);\n  const cycleAge = elapsedHours - loading.loadingStartedAt;\n  const periodHours = loading.intervalHours;\n  const ignitionDelay = 0.4;\n  const riseHours = Math.min(2, periodHours * 0.45);\n  const peakAt = ignitionDelay + riseHours;\n\n  if (cycleAge <= ignitionDelay) return 0;\n  if (cycleAge < peakAt) {\n    return simulationSmoothstep((cycleAge - ignitionDelay) / riseHours);\n  }\n\n  const decayHours = Math.max(0.5, periodHours - peakAt);\n  return 1 - simulationSmoothstep((cycleAge - peakAt) / decayHours);\n}\n\nfunction simulationSensorValues(companyId, ovenNumber, timestamp, firedAt) {\n  const profile = SIMULATION_MODEL_PROFILES[companyId] || SIMULATION_MODEL_PROFILES.gr;\n  const elapsedMs = Math.max(0, timestamp - firedAt);\n  const elapsedHours = elapsedMs / 3600000;\n  const cycleProgress = simulationClamp(elapsedMs / SIMULATION_MODEL_CYCLE_MS, 0, 1);\n  const ignition = simulationSmoothstep(elapsedHours / 2.5);\n  const chamberWarmup = simulationSmoothstep(elapsedHours / 18);\n  const phase = elapsedHours + ovenNumber * 0.83 + profile.phase;\n  const furnacePulse = simulationCombustionPulse(companyId, ovenNumber, elapsedHours);\n  const blowerPulse = simulationCombustionPulse(companyId, ovenNumber, elapsedHours - 0.2);\n  const chamberPulse = simulationCombustionPulse(companyId, ovenNumber, elapsedHours - 1.4);\n  const smallNoise = simulationNoise(timestamp / 5000 + ovenNumber * 17) * 0.45;\n  const furnaceTemp = ignition * (\n    profile.furnace - 25 + furnacePulse * 60 + Math.sin(phase * 0.11) * 4 + smallNoise * 2\n  );\n  const blowerTemp = ignition * (\n    profile.blower - 18 + blowerPulse * 36 + Math.sin(phase * 0.14) * 3 + smallNoise\n  );\n  const chamberTemp = 29 + chamberWarmup * (\n    profile.chamber - 29 + Math.sin(phase * 0.045) * 0.45 + (chamberPulse - 0.5) * 0.45\n  );\n  const humidityBase = profile.humidityStart\n    - (profile.humidityStart - profile.humidityEnd) * Math.pow(cycleProgress, 2);\n  const chamberDryingEffect = chamberWarmup * Math.max(0, chamberTemp - 55) * 0.05;\n  const humidity = humidityBase - chamberDryingEffect\n    + Math.sin(phase * 0.035) * 0.25 - smallNoise * 0.08;\n\n  return {\n    chamberTemp: simulationRound(simulationClamp(chamberTemp, 25, 63)),\n    humidity: simulationRound(simulationClamp(humidity, 42, 86)),\n    furnaceTemp: simulationRound(simulationClamp(furnaceTemp, 0, 565)),\n    blowerTemp: simulationRound(simulationClamp(blowerTemp, 0, 420)),\n  };\n}\n\nconst SIMULATOR_VERSION = 8;\nconst SIX_DAYS_MS = 6 * 24 * 60 * 60 * 1000;\nconst CYCLE_GAP_MS = 12 * 60 * 60 * 1000;\nconst ARCHIVED_CYCLE_COUNT = 6;\nconst IGNITION_GRACE_MS = 3 * 60 * 60 * 1000;\nconst REPORT_READY_HOLD_MS = 30 * 60 * 1000;\nconst HISTORY_RETENTION_MS = 14 * 24 * 60 * 60 * 1000;\nconst HISTORY_STEP_MS = 10 * 60 * 1000;\nconst LIVE_POINT_INTERVAL_MS = 5000;\nconst MAX_HISTORY_POINTS = 18000;\n\nconst COMPANY_SOURCES = {\n  gr: {\n    companyId: \"gr\",\n    numbers: Array.from({ length: 16 }, (_, index) => index + 11),\n    statuses: [\n      \"closed\", \"closed\", \"closed\", \"closed\", \"open\", \"offline\", \"open\", \"open\",\n      \"closed\", \"open\", \"open\", \"offline\", \"closed\", \"open\", \"open\", \"closed\",\n    ],\n    cycleCounts: [87, 89, 88, 85, 71, 83, 84, 83, 55, 92, 74, 66, 80, 79, 91, 0],\n    zone: (number) => (number <= 18 ? \"A\" : \"B\"),\n    line: (number) => (number <= 18 ? \"Line 1\" : \"Line 2\"),\n  },\n  ttn: {\n    companyId: \"ttn\",\n    numbers: Array.from({ length: 10 }, (_, index) => index + 1),\n    statuses: [\"open\", \"open\", \"closed\", \"open\", \"closed\", \"open\", \"offline\", \"open\", \"closed\", \"open\"],\n    cycleCounts: [42, 38, 51, 46, 33, 55, 29, 48, 36, 44],\n    zone: () => \"TTN\",\n    line: (number) => (number <= 5 ? \"Smoking Line A\" : \"Smoking Line B\"),\n  },\n};\n\nfunction createLimits() {\n  return {\n    chamberTemp: { sensor: \"chamberTemp\", lower: 35, upper: 60 },\n    humidity: { sensor: \"humidity\", lower: 45, upper: 85 },\n    furnaceTemp: { sensor: \"furnaceTemp\", lower: 450, upper: 550 },\n    blowerTemp: { sensor: \"blowerTemp\", lower: 330, upper: 400 },\n  };\n}\n\nfunction createReadings(values, updatedAt) {\n  return {\n    chamberTemp: { key: \"chamberTemp\", value: values.chamberTemp, unit: \"C\", updatedAt },\n    humidity: { key: \"humidity\", value: values.humidity, unit: \"%\", updatedAt },\n    furnaceTemp: { key: \"furnaceTemp\", value: values.furnaceTemp, unit: \"C\", updatedAt },\n    blowerTemp: { key: \"blowerTemp\", value: values.blowerTemp, unit: \"C\", updatedAt },\n  };\n}\n\nfunction createHistoryPoint(source, oven, timestamp) {\n  const firedAt = Date.parse(oven.firedAt || oven.startedAt || new Date(timestamp - SIX_DAYS_MS).toISOString());\n  return { timestamp: new Date(timestamp).toISOString(), ...simulationSensorValues(source.companyId, oven.number, timestamp, firedAt) };\n}\n\nfunction createArchivedCycleMetadata(oven) {\n  if (oven.cycleCount <= 0 || oven.status === \"offline\") return [];\n\n  const latestCompletedCycle = oven.status === \"open\" ? oven.cycleCount - 1 : oven.cycleCount;\n  if (latestCompletedCycle <= 0) return [];\n\n  const baseEnd = Date.parse(\n    oven.status === \"open\"\n      ? oven.reportStartedAt || oven.firedAt\n      : oven.stoppedAt || oven.lastUpdatedAt,\n  );\n\n  return Array.from(\n    { length: Math.min(ARCHIVED_CYCLE_COUNT, latestCompletedCycle) },\n    (_, offset) => {\n      const cycleNumber = latestCompletedCycle - offset;\n\n      if (oven.status === \"closed\" && offset === 0 && oven.reportStartedAt && oven.stoppedAt) {\n        return {\n          cycleNumber,\n          firedAt: oven.firedAt,\n          reportStartedAt: oven.reportStartedAt,\n          stoppedAt: oven.stoppedAt,\n        };\n      }\n\n      const stoppedAtMs = baseEnd - offset * (SIX_DAYS_MS + CYCLE_GAP_MS);\n      const durationHours = 96 + ((oven.number + cycleNumber) % 8) * 6;\n      const reportStartedAtMs = stoppedAtMs - durationHours * 3600000;\n      const firedAtMs = reportStartedAtMs - (8 + (oven.number + cycleNumber) % 5) * 3600000;\n\n      return {\n        cycleNumber,\n        firedAt: new Date(firedAtMs).toISOString(),\n        reportStartedAt: new Date(reportStartedAtMs).toISOString(),\n        stoppedAt: new Date(stoppedAtMs).toISOString(),\n      };\n    },\n  );\n}\n\nfunction findReportStartedAt(source, number, firedAtMs) {\n  const lower = createLimits().chamberTemp.lower;\n  const stepMs = 5 * 60 * 1000;\n  let readySince = null;\n\n  for (let timestamp = firedAtMs; timestamp <= firedAtMs + 24 * 60 * 60 * 1000; timestamp += stepMs) {\n    const chamberTemp = simulationSensorValues(source.companyId, number, timestamp, firedAtMs).chamberTemp;\n    if (chamberTemp >= lower) {\n      readySince ??= timestamp;\n      if (timestamp - readySince >= REPORT_READY_HOLD_MS) return readySince;\n    } else {\n      readySince = null;\n    }\n  }\n\n  return firedAtMs + 24 * 60 * 60 * 1000;\n}\n\nfunction createOven(source, number, index, now) {\n  const status = source.statuses[index];\n  const elapsedCycleHours = index === 0 ? 1 : 1 + (number * 11) % 116;\n  const firedAtMs = now - elapsedCycleHours * 3600000;\n  const reportStartedAtMs = findReportStartedAt(source, number, firedAtMs);\n  const stoppedAtMs = now - (8 + number % 30) * 3600000;\n  const completedDurationMs = (96 + (number % 8) * 6) * 3600000;\n  const completedReportStartedAtMs = stoppedAtMs - completedDurationMs;\n  const completedFiredAtMs = completedReportStartedAtMs - (8 + number % 5) * 3600000;\n  const updatedAtMs = status === \"offline\" ? now - (35 + number) * 60000 : now;\n  const values = status === \"open\"\n    ? simulationSensorValues(source.companyId, number, updatedAtMs, firedAtMs)\n    : { chamberTemp: 30, humidity: 68, furnaceTemp: 0, blowerTemp: 0 };\n  const updatedAt = new Date(updatedAtMs).toISOString();\n\n  return {\n    id: `oven-${number}`,\n    number,\n    name: `เตา ${number}`,\n    zone: source.zone(number),\n    line: source.line(number),\n    status,\n    enabled: true,\n    cycleCount: source.cycleCounts[index],\n    ...(status === \"open\" ? { firedAt: new Date(firedAtMs).toISOString() } : {}),\n    ...(status === \"open\" && reportStartedAtMs <= now\n      ? {\n          reportStartedAt: new Date(reportStartedAtMs).toISOString(),\n          startedAt: new Date(reportStartedAtMs).toISOString(),\n        }\n      : {}),\n    ...(status === \"closed\" && source.cycleCounts[index] > 0\n      ? {\n          firedAt: new Date(completedFiredAtMs).toISOString(),\n          reportStartedAt: new Date(completedReportStartedAtMs).toISOString(),\n          startedAt: new Date(completedReportStartedAtMs).toISOString(),\n          stoppedAt: new Date(stoppedAtMs).toISOString(),\n        }\n      : status === \"closed\"\n        ? { stoppedAt: new Date(stoppedAtMs).toISOString() }\n        : {}),\n    lastUpdatedAt: updatedAt,\n    readings: createReadings(values, updatedAt),\n    limits: createLimits(),\n  };\n}\n\nfunction isInIgnitionGrace(oven, now) {\n  return oven.status === \"open\" && oven.startedAt && now - Date.parse(oven.startedAt) < IGNITION_GRACE_MS;\n}\n\nfunction isSensorReadyForAlarm(oven, sensor, now) {\n  if (!oven.startedAt) return false;\n  const elapsedMs = now - Date.parse(oven.startedAt);\n  const warmupMs = sensor === \"chamberTemp\" ? 18 * 60 * 60 * 1000 : IGNITION_GRACE_MS;\n  return elapsedMs >= warmupMs;\n}\n\nfunction buildAlarms(companyState, now) {\n  const alarms = [];\n\n  companyState.ovens.forEach((oven) => {\n    if (oven.status === \"offline\") {\n      alarms.push({\n        id: `${oven.id}-offline`, ovenId: oven.id, ovenName: oven.name, severity: \"offline\", status: \"active\",\n        title: \"ขาดการเชื่อมต่อ\", detail: \"ไม่ได้รับข้อมูลจากเตาตามรอบเวลาที่กำหนด\", createdAt: oven.lastUpdatedAt,\n      });\n      return;\n    }\n\n    // During ignition all temperature sensors rise from zero by design.\n    if (oven.status !== \"open\" || isInIgnitionGrace(oven, now)) return;\n\n    [\"chamberTemp\", \"furnaceTemp\", \"blowerTemp\"].forEach((sensor) => {\n      if (!isSensorReadyForAlarm(oven, sensor, now)) return;\n      const reading = oven.readings[sensor];\n      const limit = oven.limits[sensor];\n      if (reading.value >= limit.lower && reading.value <= limit.upper) return;\n      const isHigh = reading.value > limit.upper;\n      alarms.push({\n        id: `${oven.id}-${sensor}`, ovenId: oven.id, ovenName: oven.name,\n        severity: Math.abs(reading.value - (isHigh ? limit.upper : limit.lower)) > 25 ? \"danger\" : \"warning\",\n        status: \"active\", sensor,\n        title: `${sensor} ${isHigh ? \"สูง\" : \"ต่ำ\"}กว่ามาตรฐาน`,\n        detail: `ค่าปัจจุบัน ${reading.value} เทียบกับ ${isHigh ? \"Upper\" : \"Lower\"} ${isHigh ? limit.upper : limit.lower}`,\n        value: reading.value, limit: isHigh ? limit.upper : limit.lower, createdAt: reading.updatedAt,\n      });\n    });\n  });\n\n  return alarms;\n}\n\nfunction createCompanyState(source, now) {\n  const ovens = source.numbers.map((number, index) => createOven(source, number, index, now));\n  const history = {};\n\n  ovens.forEach((oven) => {\n    const points = [];\n    const seedStart = oven.reportStartedAt\n      ? Math.max(Date.parse(oven.reportStartedAt), now - HISTORY_RETENTION_MS)\n      : now - HISTORY_RETENTION_MS;\n    const seedEnd = oven.status === \"closed\" && oven.stoppedAt ? Date.parse(oven.stoppedAt) : now;\n    for (let timestamp = seedStart; timestamp <= seedEnd; timestamp += HISTORY_STEP_MS) {\n      points.push(createHistoryPoint(source, oven, timestamp));\n    }\n    history[oven.id] = points;\n  });\n\n  const archivedCycles = Object.fromEntries(\n    ovens.map((oven) => [oven.id, createArchivedCycleMetadata(oven)]),\n  );\n\n  const companyState = {\n    companyId: source.companyId,\n    ovens,\n    history,\n    archivedCycles,\n    alarms: [],\n    auditEvents: [],\n  };\n  companyState.alarms = buildAlarms(companyState, now);\n  return companyState;\n}\n\nfunction updateCompanyState(source, companyState, now) {\n  companyState.ovens = companyState.ovens.map((oven) => {\n    if (oven.status !== \"open\") return oven;\n    const cycleFinished = oven.reportStartedAt && now - Date.parse(oven.reportStartedAt) >= SIX_DAYS_MS;\n    const currentOven = cycleFinished\n      ? {\n          ...oven,\n          cycleCount: oven.cycleCount + 1,\n          firedAt: new Date(now).toISOString(),\n          reportStartedAt: undefined,\n          startedAt: undefined,\n        }\n      : oven;\n    if (cycleFinished) companyState.history[oven.id] = [];\n\n    const updatedAt = new Date(now).toISOString();\n    const firedAt = Date.parse(currentOven.firedAt);\n    const values = simulationSensorValues(source.companyId, currentOven.number, now, firedAt);\n    if (!currentOven.reportStartedAt) {\n      const candidate = findReportStartedAt(source, currentOven.number, firedAt);\n      if (candidate <= now) {\n        currentOven.reportStartedAt = new Date(candidate).toISOString();\n        currentOven.startedAt = currentOven.reportStartedAt;\n      }\n    }\n    const points = companyState.history[oven.id] || [];\n    const lastTimestamp = points.length ? Date.parse(points[points.length - 1].timestamp) : 0;\n    if (currentOven.reportStartedAt && now - lastTimestamp >= LIVE_POINT_INTERVAL_MS) {\n      points.push({ timestamp: updatedAt, ...values });\n      companyState.history[oven.id] = points.slice(-MAX_HISTORY_POINTS);\n    }\n\n    return { ...currentOven, lastUpdatedAt: updatedAt, readings: createReadings(values, updatedAt) };\n  });\n\n  const previousById = new Map(companyState.alarms.map((alarm) => [alarm.id, alarm]));\n  const activeAlarms = buildAlarms(companyState, now).map((alarm) => {\n    const previous = previousById.get(alarm.id);\n    return previous?.status === \"acknowledged\"\n      ? { ...alarm, status: \"acknowledged\", createdAt: previous.createdAt }\n      : alarm;\n  });\n  const activeIds = new Set(activeAlarms.map((alarm) => alarm.id));\n  const newlyResolved = companyState.alarms\n    .filter((alarm) => alarm.status !== \"resolved\" && !activeIds.has(alarm.id))\n    .map((alarm) => ({ ...alarm, status: \"resolved\", resolvedAt: new Date(now).toISOString() }));\n  const retainedResolved = companyState.alarms.filter(\n    (alarm) => alarm.status === \"resolved\" && !activeIds.has(alarm.id),\n  );\n  companyState.alarms = [...activeAlarms, ...newlyResolved, ...retainedResolved]\n    .sort((left, right) => Date.parse(right.createdAt) - Date.parse(left.createdAt))\n    .slice(0, 200);\n}\n\nconst now = Date.now();\nlet state = global.get(\"stcrState\");\n\nif (!state || state.version !== SIMULATOR_VERSION || !state.companies) {\n  state = {\n    version: SIMULATOR_VERSION,\n    companies: Object.fromEntries(\n      Object.entries(COMPANY_SOURCES).map(([companyId, source]) => [companyId, createCompanyState(source, now)]),\n    ),\n  };\n}\n\nObject.entries(COMPANY_SOURCES).forEach(([companyId, source]) => {\n  updateCompanyState(source, state.companies[companyId], now);\n});\n\nglobal.set(\"stcrState\", state);\nconst ovenCount = Object.values(state.companies).reduce((total, company) => total + company.ovens.length, 0);\nstate.telemetrySequence = Math.max((state.telemetrySequence || 0) + 1, now);\nconst batchId = `${now}-${state.telemetrySequence}`;\nconst sensorKeys = [\"chamberTemp\", \"humidity\", \"furnaceTemp\", \"blowerTemp\"];\nconst units = { chamberTemp: \"C\", humidity: \"%\", furnaceTemp: \"C\", blowerTemp: \"C\" };\nconst outputs = sensorKeys.map(() => []);\nconst connectedOvens = Object.values(state.companies)\n  .flatMap((company) => company.ovens.map((oven) => ({ companyId: company.companyId, oven })))\n  .filter(({ oven }) => oven.enabled && oven.status !== \"offline\");\nconst expectedTelemetryByCompany = Object.fromEntries(\n  Object.keys(state.companies).map((companyId) => [\n    companyId,\n    connectedOvens.filter((item) => item.companyId === companyId).length * sensorKeys.length,\n  ]),\n);\n\nconnectedOvens.forEach(({ companyId, oven }) => {\n  sensorKeys.forEach((sensorKey, outputIndex) => {\n    const reading = oven.readings[sensorKey];\n    outputs[outputIndex].push({\n      topic: `stcr/${companyId}/${oven.id}/telemetry/${sensorKey}`,\n      payload: {\n        schemaVersion: 1,\n        batchId,\n        expectedTelemetryCount: expectedTelemetryByCompany[companyId],\n        companyId,\n        deviceId: `${companyId}-${oven.id}-gateway`,\n        ovenId: oven.id,\n        sensorId: `${companyId}-${oven.id}-${sensorKey}`,\n        sensorKey,\n        sequence: state.telemetrySequence,\n        value: reading.value,\n        unit: units[sensorKey],\n        sourceTimestamp: new Date(now).toISOString(),\n        receivedTimestamp: new Date(now).toISOString(),\n      },\n    });\n  });\n});\n\nglobal.set(\"stcrState\", state);\nnode.status({ fill: \"green\", shape: \"dot\", text: `${ovenCount} ovens / seq ${state.telemetrySequence}` });\nreturn outputs;\n",
    "outputs": 4,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 280,
    "wires": [
      [
        "stcr-field-chamber-company-router"
      ],
      [
        "stcr-field-humidity-company-router"
      ],
      [
        "stcr-field-furnace-company-router"
      ],
      [
        "stcr-field-blower-company-router"
      ]
    ]
  },
  {
    "id": "stcr-field-chamber-company-router",
    "type": "switch",
    "z": "stcr-field-tab",
    "name": "อุณหภูมิห้องอบ: แยกตามบริษัท",
    "property": "payload.companyId",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "gr",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "ttn",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 760,
    "y": 100,
    "wires": [
      [
        "stcr-field-gr-chamber-out"
      ],
      [
        "stcr-field-ttn-chamber-out"
      ]
    ]
  },
  {
    "id": "stcr-field-gr-chamber-out",
    "type": "link out",
    "z": "stcr-field-tab",
    "name": "GR: ส่งอุณหภูมิห้องอบ",
    "mode": "link",
    "links": [
      "stcr-gr-chamber-in"
    ],
    "x": 1055,
    "y": 100,
    "wires": []
  },
  {
    "id": "stcr-field-ttn-chamber-out",
    "type": "link out",
    "z": "stcr-field-tab",
    "name": "TTN: ส่งอุณหภูมิห้องอบ",
    "mode": "link",
    "links": [
      "stcr-ttn-chamber-in"
    ],
    "x": 1055,
    "y": 134,
    "wires": []
  },
  {
    "id": "stcr-field-humidity-company-router",
    "type": "switch",
    "z": "stcr-field-tab",
    "name": "ความชื้น: แยกตามบริษัท",
    "property": "payload.companyId",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "gr",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "ttn",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 760,
    "y": 220,
    "wires": [
      [
        "stcr-field-gr-humidity-out"
      ],
      [
        "stcr-field-ttn-humidity-out"
      ]
    ]
  },
  {
    "id": "stcr-field-gr-humidity-out",
    "type": "link out",
    "z": "stcr-field-tab",
    "name": "GR: ส่งความชื้น",
    "mode": "link",
    "links": [
      "stcr-gr-humidity-in"
    ],
    "x": 1055,
    "y": 220,
    "wires": []
  },
  {
    "id": "stcr-field-ttn-humidity-out",
    "type": "link out",
    "z": "stcr-field-tab",
    "name": "TTN: ส่งความชื้น",
    "mode": "link",
    "links": [
      "stcr-ttn-humidity-in"
    ],
    "x": 1055,
    "y": 254,
    "wires": []
  },
  {
    "id": "stcr-field-furnace-company-router",
    "type": "switch",
    "z": "stcr-field-tab",
    "name": "อุณหภูมิเตาเผา: แยกตามบริษัท",
    "property": "payload.companyId",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "gr",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "ttn",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 760,
    "y": 340,
    "wires": [
      [
        "stcr-field-gr-furnace-out"
      ],
      [
        "stcr-field-ttn-furnace-out"
      ]
    ]
  },
  {
    "id": "stcr-field-gr-furnace-out",
    "type": "link out",
    "z": "stcr-field-tab",
    "name": "GR: ส่งอุณหภูมิเตาเผา",
    "mode": "link",
    "links": [
      "stcr-gr-furnace-in"
    ],
    "x": 1055,
    "y": 340,
    "wires": []
  },
  {
    "id": "stcr-field-ttn-furnace-out",
    "type": "link out",
    "z": "stcr-field-tab",
    "name": "TTN: ส่งอุณหภูมิเตาเผา",
    "mode": "link",
    "links": [
      "stcr-ttn-furnace-in"
    ],
    "x": 1055,
    "y": 374,
    "wires": []
  },
  {
    "id": "stcr-field-blower-company-router",
    "type": "switch",
    "z": "stcr-field-tab",
    "name": "อุณหภูมิ Blower: แยกตามบริษัท",
    "property": "payload.companyId",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "gr",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "ttn",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 760,
    "y": 460,
    "wires": [
      [
        "stcr-field-gr-blower-out"
      ],
      [
        "stcr-field-ttn-blower-out"
      ]
    ]
  },
  {
    "id": "stcr-field-gr-blower-out",
    "type": "link out",
    "z": "stcr-field-tab",
    "name": "GR: ส่งอุณหภูมิ Blower",
    "mode": "link",
    "links": [
      "stcr-gr-blower-in"
    ],
    "x": 1055,
    "y": 460,
    "wires": []
  },
  {
    "id": "stcr-field-ttn-blower-out",
    "type": "link out",
    "z": "stcr-field-tab",
    "name": "TTN: ส่งอุณหภูมิ Blower",
    "mode": "link",
    "links": [
      "stcr-ttn-blower-in"
    ],
    "x": 1055,
    "y": 494,
    "wires": []
  },
  {
    "id": "stcr-gr-note",
    "type": "comment",
    "z": "stcr-gr-pipeline-tab",
    "name": "Grand Rubber: แยกช่องรับและประมวลผลเซนเซอร์",
    "info": "แต่ละช่องรองรับเซนเซอร์จริงหลายตัว โดยแยกด้วย companyId, ovenId, deviceId และ sensorId",
    "x": 320,
    "y": 40,
    "wires": []
  },
  {
    "id": "stcr-gr-chamber-in",
    "type": "link in",
    "z": "stcr-gr-pipeline-tab",
    "name": "รับข้อมูลอุณหภูมิห้องอบ",
    "links": [
      "stcr-field-gr-chamber-out"
    ],
    "x": 95,
    "y": 100,
    "wires": [
      [
        "stcr-gr-chamber-gateway"
      ]
    ]
  },
  {
    "id": "stcr-gr-chamber-gateway",
    "type": "function",
    "z": "stcr-gr-pipeline-tab",
    "name": "อุณหภูมิห้องอบ: ตรวจสอบคุณภาพข้อมูล",
    "func": "const physicalRanges = {\n  chamberTemp: { min: -20, max: 120, unit: \"C\" },\n  humidity: { min: 0, max: 100, unit: \"%\" },\n  furnaceTemp: { min: -20, max: 900, unit: \"C\" },\n  blowerTemp: { min: -20, max: 600, unit: \"C\" },\n};\n\nconst telemetry = msg.payload;\nif (!telemetry || typeof telemetry !== \"object\") {\n  node.warn(\"Dropped telemetry without payload\");\n  return null;\n}\n\nconst requiredIds = [\"companyId\", \"ovenId\", \"deviceId\", \"sensorId\", \"batchId\"];\nconst invalidId = requiredIds.some((key) =>\n  typeof telemetry[key] !== \"string\" ||\n  !telemetry[key].trim() ||\n  telemetry[key].length > 160 ||\n  /[\\u0000-\\u001f\\u007f]/.test(telemetry[key])\n);\nconst sequence = Number(telemetry.sequence);\nconst rootState = global.get(\"stcrState\");\nconst companyState = rootState?.companies?.[telemetry.companyId];\nconst knownOven = companyState?.ovens?.some((oven) => oven.id === telemetry.ovenId);\nconst expectedTopic = `stcr/${telemetry.companyId}/${telemetry.ovenId}/telemetry/${telemetry.sensorKey}`;\n\nif (invalidId || !Number.isSafeInteger(sequence) || sequence < 0 || !knownOven || msg.topic !== expectedTopic) {\n  node.warn(`Dropped telemetry with invalid source identity: ${msg.topic || \"unknown topic\"}`);\n  return null;\n}\n\nconst rule = physicalRanges[telemetry.sensorKey];\nconst value = Number(telemetry.value);\nconst sourceTime = Date.parse(telemetry.sourceTimestamp);\nconst now = Date.now();\n\nif (!rule || !Number.isFinite(value) || !Number.isFinite(sourceTime)) {\n  node.warn(`Dropped malformed telemetry: ${msg.topic || \"unknown topic\"}`);\n  return null;\n}\n\nconst sequenceKey = `lastSequence:${telemetry.companyId}:${telemetry.sensorId}`;\nconst lastSequence = context.get(sequenceKey);\nif (Number.isSafeInteger(lastSequence) && sequence <= lastSequence) {\n  node.warn(`Dropped replayed telemetry: ${telemetry.sensorId} seq ${sequence}`);\n  return null;\n}\ncontext.set(sequenceKey, sequence);\n\nlet quality = \"good\";\nconst qualityReasons = [];\n\nif (telemetry.unit !== rule.unit) {\n  quality = \"suspect\";\n  qualityReasons.push(`unit:${telemetry.unit}`);\n}\nif (value < rule.min || value > rule.max) {\n  quality = \"suspect\";\n  qualityReasons.push(\"physical-range\");\n}\nif (now - sourceTime > 30000) {\n  quality = \"suspect\";\n  qualityReasons.push(\"stale\");\n}\nif (sourceTime - now > 5000) {\n  quality = \"suspect\";\n  qualityReasons.push(\"future-timestamp\");\n}\n\nmsg.payload = {\n  ...telemetry,\n  topic: msg.topic,\n  value,\n  quality,\n  qualityReasons,\n  gatewayTimestamp: new Date(now).toISOString(),\n};\nmsg.telemetry = true;\nnode.status({\n  fill: quality === \"good\" ? \"green\" : \"yellow\",\n  shape: quality === \"good\" ? \"dot\" : \"ring\",\n  text: `${telemetry.sensorKey} seq ${telemetry.sequence}`,\n});\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 100,
    "wires": [
      [
        "stcr-gr-chamber-processor"
      ]
    ]
  },
  {
    "id": "stcr-gr-chamber-processor",
    "type": "function",
    "z": "stcr-gr-pipeline-tab",
    "name": "อุณหภูมิห้องอบ: ปรับเทียบและกรองค่า",
    "func": "const calibration = {\n  gr: {\n    chamberTemp: { gain: 1, offset: 0 },\n    humidity: { gain: 1, offset: 0 },\n    furnaceTemp: { gain: 1, offset: 0 },\n    blowerTemp: { gain: 1, offset: 0 },\n  },\n  ttn: {\n    chamberTemp: { gain: 1, offset: 0 },\n    humidity: { gain: 1, offset: 0 },\n    furnaceTemp: { gain: 1, offset: 0 },\n    blowerTemp: { gain: 1, offset: 0 },\n  },\n};\n\nconst processingRules = {\n  chamberTemp: { alpha: 0.18, spikeDelta: 4 },\n  humidity: { alpha: 0.16, spikeDelta: 7 },\n  furnaceTemp: { alpha: 0.30, spikeDelta: 85 },\n  blowerTemp: { alpha: 0.25, spikeDelta: 60 },\n};\n\nfunction median(values) {\n  const sorted = [...values].sort((a, b) => a - b);\n  const middle = Math.floor(sorted.length / 2);\n  return sorted.length % 2 ? sorted[middle] : (sorted[middle - 1] + sorted[middle]) / 2;\n}\n\nfunction round(value, digits = 2) {\n  const scale = 10 ** digits;\n  return Math.round(value * scale) / scale;\n}\n\nconst telemetry = msg.payload;\nif (!msg.telemetry || !telemetry?.sensorKey) return null;\n\nconst companyCalibration = calibration[telemetry.companyId] || calibration.gr;\nconst sensorCalibration = companyCalibration[telemetry.sensorKey] || { gain: 1, offset: 0 };\nconst rule = processingRules[telemetry.sensorKey];\nif (!rule) return null;\n\nconst rawValue = Number(telemetry.value);\nconst calibratedValue = rawValue * sensorCalibration.gain + sensorCalibration.offset;\nconst stateKey = `filter:${telemetry.companyId}:${telemetry.ovenId}:${telemetry.sensorKey}`;\nconst previous = context.get(stateKey) || { window: [], ema: null };\nconst sampleWindow = [...previous.window, calibratedValue].slice(-5);\nconst windowMedian = median(sampleWindow);\nconst spikeRejected = sampleWindow.length >= 3\n  && Math.abs(calibratedValue - windowMedian) > rule.spikeDelta;\nconst acceptedValue = spikeRejected ? windowMedian : calibratedValue;\nconst filteredValue = previous.ema == null\n  ? acceptedValue\n  : rule.alpha * acceptedValue + (1 - rule.alpha) * previous.ema;\n\ncontext.set(stateKey, { window: sampleWindow, ema: filteredValue });\n\nconst qualityReasons = [...(telemetry.qualityReasons || [])];\nif (spikeRejected) qualityReasons.push(\"spike-rejected\");\n\nmsg.payload = {\n  ...telemetry,\n  rawValue: round(rawValue),\n  calibratedValue: round(calibratedValue),\n  value: round(filteredValue),\n  quality: spikeRejected && telemetry.quality === \"good\" ? \"suspect\" : telemetry.quality,\n  qualityReasons,\n  processing: {\n    method: \"calibration+median5+ema\",\n    medianWindow: 5,\n    emaAlpha: rule.alpha,\n    spikeRejected,\n  },\n  processedTimestamp: new Date().toISOString(),\n};\n\nnode.status({\n  fill: spikeRejected ? \"yellow\" : \"green\",\n  shape: spikeRejected ? \"ring\" : \"dot\",\n  text: `${telemetry.sensorKey} ${round(filteredValue, 1)}`,\n});\n\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 100,
    "wires": [
      [
        "stcr-gr-aggregator"
      ]
    ]
  },
  {
    "id": "stcr-gr-humidity-in",
    "type": "link in",
    "z": "stcr-gr-pipeline-tab",
    "name": "รับข้อมูลความชื้น",
    "links": [
      "stcr-field-gr-humidity-out"
    ],
    "x": 95,
    "y": 220,
    "wires": [
      [
        "stcr-gr-humidity-gateway"
      ]
    ]
  },
  {
    "id": "stcr-gr-humidity-gateway",
    "type": "function",
    "z": "stcr-gr-pipeline-tab",
    "name": "ความชื้น: ตรวจสอบคุณภาพข้อมูล",
    "func": "const physicalRanges = {\n  chamberTemp: { min: -20, max: 120, unit: \"C\" },\n  humidity: { min: 0, max: 100, unit: \"%\" },\n  furnaceTemp: { min: -20, max: 900, unit: \"C\" },\n  blowerTemp: { min: -20, max: 600, unit: \"C\" },\n};\n\nconst telemetry = msg.payload;\nif (!telemetry || typeof telemetry !== \"object\") {\n  node.warn(\"Dropped telemetry without payload\");\n  return null;\n}\n\nconst requiredIds = [\"companyId\", \"ovenId\", \"deviceId\", \"sensorId\", \"batchId\"];\nconst invalidId = requiredIds.some((key) =>\n  typeof telemetry[key] !== \"string\" ||\n  !telemetry[key].trim() ||\n  telemetry[key].length > 160 ||\n  /[\\u0000-\\u001f\\u007f]/.test(telemetry[key])\n);\nconst sequence = Number(telemetry.sequence);\nconst rootState = global.get(\"stcrState\");\nconst companyState = rootState?.companies?.[telemetry.companyId];\nconst knownOven = companyState?.ovens?.some((oven) => oven.id === telemetry.ovenId);\nconst expectedTopic = `stcr/${telemetry.companyId}/${telemetry.ovenId}/telemetry/${telemetry.sensorKey}`;\n\nif (invalidId || !Number.isSafeInteger(sequence) || sequence < 0 || !knownOven || msg.topic !== expectedTopic) {\n  node.warn(`Dropped telemetry with invalid source identity: ${msg.topic || \"unknown topic\"}`);\n  return null;\n}\n\nconst rule = physicalRanges[telemetry.sensorKey];\nconst value = Number(telemetry.value);\nconst sourceTime = Date.parse(telemetry.sourceTimestamp);\nconst now = Date.now();\n\nif (!rule || !Number.isFinite(value) || !Number.isFinite(sourceTime)) {\n  node.warn(`Dropped malformed telemetry: ${msg.topic || \"unknown topic\"}`);\n  return null;\n}\n\nconst sequenceKey = `lastSequence:${telemetry.companyId}:${telemetry.sensorId}`;\nconst lastSequence = context.get(sequenceKey);\nif (Number.isSafeInteger(lastSequence) && sequence <= lastSequence) {\n  node.warn(`Dropped replayed telemetry: ${telemetry.sensorId} seq ${sequence}`);\n  return null;\n}\ncontext.set(sequenceKey, sequence);\n\nlet quality = \"good\";\nconst qualityReasons = [];\n\nif (telemetry.unit !== rule.unit) {\n  quality = \"suspect\";\n  qualityReasons.push(`unit:${telemetry.unit}`);\n}\nif (value < rule.min || value > rule.max) {\n  quality = \"suspect\";\n  qualityReasons.push(\"physical-range\");\n}\nif (now - sourceTime > 30000) {\n  quality = \"suspect\";\n  qualityReasons.push(\"stale\");\n}\nif (sourceTime - now > 5000) {\n  quality = \"suspect\";\n  qualityReasons.push(\"future-timestamp\");\n}\n\nmsg.payload = {\n  ...telemetry,\n  topic: msg.topic,\n  value,\n  quality,\n  qualityReasons,\n  gatewayTimestamp: new Date(now).toISOString(),\n};\nmsg.telemetry = true;\nnode.status({\n  fill: quality === \"good\" ? \"green\" : \"yellow\",\n  shape: quality === \"good\" ? \"dot\" : \"ring\",\n  text: `${telemetry.sensorKey} seq ${telemetry.sequence}`,\n});\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 220,
    "wires": [
      [
        "stcr-gr-humidity-processor"
      ]
    ]
  },
  {
    "id": "stcr-gr-humidity-processor",
    "type": "function",
    "z": "stcr-gr-pipeline-tab",
    "name": "ความชื้น: ปรับเทียบและกรองค่า",
    "func": "const calibration = {\n  gr: {\n    chamberTemp: { gain: 1, offset: 0 },\n    humidity: { gain: 1, offset: 0 },\n    furnaceTemp: { gain: 1, offset: 0 },\n    blowerTemp: { gain: 1, offset: 0 },\n  },\n  ttn: {\n    chamberTemp: { gain: 1, offset: 0 },\n    humidity: { gain: 1, offset: 0 },\n    furnaceTemp: { gain: 1, offset: 0 },\n    blowerTemp: { gain: 1, offset: 0 },\n  },\n};\n\nconst processingRules = {\n  chamberTemp: { alpha: 0.18, spikeDelta: 4 },\n  humidity: { alpha: 0.16, spikeDelta: 7 },\n  furnaceTemp: { alpha: 0.30, spikeDelta: 85 },\n  blowerTemp: { alpha: 0.25, spikeDelta: 60 },\n};\n\nfunction median(values) {\n  const sorted = [...values].sort((a, b) => a - b);\n  const middle = Math.floor(sorted.length / 2);\n  return sorted.length % 2 ? sorted[middle] : (sorted[middle - 1] + sorted[middle]) / 2;\n}\n\nfunction round(value, digits = 2) {\n  const scale = 10 ** digits;\n  return Math.round(value * scale) / scale;\n}\n\nconst telemetry = msg.payload;\nif (!msg.telemetry || !telemetry?.sensorKey) return null;\n\nconst companyCalibration = calibration[telemetry.companyId] || calibration.gr;\nconst sensorCalibration = companyCalibration[telemetry.sensorKey] || { gain: 1, offset: 0 };\nconst rule = processingRules[telemetry.sensorKey];\nif (!rule) return null;\n\nconst rawValue = Number(telemetry.value);\nconst calibratedValue = rawValue * sensorCalibration.gain + sensorCalibration.offset;\nconst stateKey = `filter:${telemetry.companyId}:${telemetry.ovenId}:${telemetry.sensorKey}`;\nconst previous = context.get(stateKey) || { window: [], ema: null };\nconst sampleWindow = [...previous.window, calibratedValue].slice(-5);\nconst windowMedian = median(sampleWindow);\nconst spikeRejected = sampleWindow.length >= 3\n  && Math.abs(calibratedValue - windowMedian) > rule.spikeDelta;\nconst acceptedValue = spikeRejected ? windowMedian : calibratedValue;\nconst filteredValue = previous.ema == null\n  ? acceptedValue\n  : rule.alpha * acceptedValue + (1 - rule.alpha) * previous.ema;\n\ncontext.set(stateKey, { window: sampleWindow, ema: filteredValue });\n\nconst qualityReasons = [...(telemetry.qualityReasons || [])];\nif (spikeRejected) qualityReasons.push(\"spike-rejected\");\n\nmsg.payload = {\n  ...telemetry,\n  rawValue: round(rawValue),\n  calibratedValue: round(calibratedValue),\n  value: round(filteredValue),\n  quality: spikeRejected && telemetry.quality === \"good\" ? \"suspect\" : telemetry.quality,\n  qualityReasons,\n  processing: {\n    method: \"calibration+median5+ema\",\n    medianWindow: 5,\n    emaAlpha: rule.alpha,\n    spikeRejected,\n  },\n  processedTimestamp: new Date().toISOString(),\n};\n\nnode.status({\n  fill: spikeRejected ? \"yellow\" : \"green\",\n  shape: spikeRejected ? \"ring\" : \"dot\",\n  text: `${telemetry.sensorKey} ${round(filteredValue, 1)}`,\n});\n\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 220,
    "wires": [
      [
        "stcr-gr-aggregator"
      ]
    ]
  },
  {
    "id": "stcr-gr-furnace-in",
    "type": "link in",
    "z": "stcr-gr-pipeline-tab",
    "name": "รับข้อมูลอุณหภูมิเตาเผา",
    "links": [
      "stcr-field-gr-furnace-out"
    ],
    "x": 95,
    "y": 340,
    "wires": [
      [
        "stcr-gr-furnace-gateway"
      ]
    ]
  },
  {
    "id": "stcr-gr-furnace-gateway",
    "type": "function",
    "z": "stcr-gr-pipeline-tab",
    "name": "อุณหภูมิเตาเผา: ตรวจสอบคุณภาพข้อมูล",
    "func": "const physicalRanges = {\n  chamberTemp: { min: -20, max: 120, unit: \"C\" },\n  humidity: { min: 0, max: 100, unit: \"%\" },\n  furnaceTemp: { min: -20, max: 900, unit: \"C\" },\n  blowerTemp: { min: -20, max: 600, unit: \"C\" },\n};\n\nconst telemetry = msg.payload;\nif (!telemetry || typeof telemetry !== \"object\") {\n  node.warn(\"Dropped telemetry without payload\");\n  return null;\n}\n\nconst requiredIds = [\"companyId\", \"ovenId\", \"deviceId\", \"sensorId\", \"batchId\"];\nconst invalidId = requiredIds.some((key) =>\n  typeof telemetry[key] !== \"string\" ||\n  !telemetry[key].trim() ||\n  telemetry[key].length > 160 ||\n  /[\\u0000-\\u001f\\u007f]/.test(telemetry[key])\n);\nconst sequence = Number(telemetry.sequence);\nconst rootState = global.get(\"stcrState\");\nconst companyState = rootState?.companies?.[telemetry.companyId];\nconst knownOven = companyState?.ovens?.some((oven) => oven.id === telemetry.ovenId);\nconst expectedTopic = `stcr/${telemetry.companyId}/${telemetry.ovenId}/telemetry/${telemetry.sensorKey}`;\n\nif (invalidId || !Number.isSafeInteger(sequence) || sequence < 0 || !knownOven || msg.topic !== expectedTopic) {\n  node.warn(`Dropped telemetry with invalid source identity: ${msg.topic || \"unknown topic\"}`);\n  return null;\n}\n\nconst rule = physicalRanges[telemetry.sensorKey];\nconst value = Number(telemetry.value);\nconst sourceTime = Date.parse(telemetry.sourceTimestamp);\nconst now = Date.now();\n\nif (!rule || !Number.isFinite(value) || !Number.isFinite(sourceTime)) {\n  node.warn(`Dropped malformed telemetry: ${msg.topic || \"unknown topic\"}`);\n  return null;\n}\n\nconst sequenceKey = `lastSequence:${telemetry.companyId}:${telemetry.sensorId}`;\nconst lastSequence = context.get(sequenceKey);\nif (Number.isSafeInteger(lastSequence) && sequence <= lastSequence) {\n  node.warn(`Dropped replayed telemetry: ${telemetry.sensorId} seq ${sequence}`);\n  return null;\n}\ncontext.set(sequenceKey, sequence);\n\nlet quality = \"good\";\nconst qualityReasons = [];\n\nif (telemetry.unit !== rule.unit) {\n  quality = \"suspect\";\n  qualityReasons.push(`unit:${telemetry.unit}`);\n}\nif (value < rule.min || value > rule.max) {\n  quality = \"suspect\";\n  qualityReasons.push(\"physical-range\");\n}\nif (now - sourceTime > 30000) {\n  quality = \"suspect\";\n  qualityReasons.push(\"stale\");\n}\nif (sourceTime - now > 5000) {\n  quality = \"suspect\";\n  qualityReasons.push(\"future-timestamp\");\n}\n\nmsg.payload = {\n  ...telemetry,\n  topic: msg.topic,\n  value,\n  quality,\n  qualityReasons,\n  gatewayTimestamp: new Date(now).toISOString(),\n};\nmsg.telemetry = true;\nnode.status({\n  fill: quality === \"good\" ? \"green\" : \"yellow\",\n  shape: quality === \"good\" ? \"dot\" : \"ring\",\n  text: `${telemetry.sensorKey} seq ${telemetry.sequence}`,\n});\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 340,
    "wires": [
      [
        "stcr-gr-furnace-processor"
      ]
    ]
  },
  {
    "id": "stcr-gr-furnace-processor",
    "type": "function",
    "z": "stcr-gr-pipeline-tab",
    "name": "อุณหภูมิเตาเผา: ปรับเทียบและกรองค่า",
    "func": "const calibration = {\n  gr: {\n    chamberTemp: { gain: 1, offset: 0 },\n    humidity: { gain: 1, offset: 0 },\n    furnaceTemp: { gain: 1, offset: 0 },\n    blowerTemp: { gain: 1, offset: 0 },\n  },\n  ttn: {\n    chamberTemp: { gain: 1, offset: 0 },\n    humidity: { gain: 1, offset: 0 },\n    furnaceTemp: { gain: 1, offset: 0 },\n    blowerTemp: { gain: 1, offset: 0 },\n  },\n};\n\nconst processingRules = {\n  chamberTemp: { alpha: 0.18, spikeDelta: 4 },\n  humidity: { alpha: 0.16, spikeDelta: 7 },\n  furnaceTemp: { alpha: 0.30, spikeDelta: 85 },\n  blowerTemp: { alpha: 0.25, spikeDelta: 60 },\n};\n\nfunction median(values) {\n  const sorted = [...values].sort((a, b) => a - b);\n  const middle = Math.floor(sorted.length / 2);\n  return sorted.length % 2 ? sorted[middle] : (sorted[middle - 1] + sorted[middle]) / 2;\n}\n\nfunction round(value, digits = 2) {\n  const scale = 10 ** digits;\n  return Math.round(value * scale) / scale;\n}\n\nconst telemetry = msg.payload;\nif (!msg.telemetry || !telemetry?.sensorKey) return null;\n\nconst companyCalibration = calibration[telemetry.companyId] || calibration.gr;\nconst sensorCalibration = companyCalibration[telemetry.sensorKey] || { gain: 1, offset: 0 };\nconst rule = processingRules[telemetry.sensorKey];\nif (!rule) return null;\n\nconst rawValue = Number(telemetry.value);\nconst calibratedValue = rawValue * sensorCalibration.gain + sensorCalibration.offset;\nconst stateKey = `filter:${telemetry.companyId}:${telemetry.ovenId}:${telemetry.sensorKey}`;\nconst previous = context.get(stateKey) || { window: [], ema: null };\nconst sampleWindow = [...previous.window, calibratedValue].slice(-5);\nconst windowMedian = median(sampleWindow);\nconst spikeRejected = sampleWindow.length >= 3\n  && Math.abs(calibratedValue - windowMedian) > rule.spikeDelta;\nconst acceptedValue = spikeRejected ? windowMedian : calibratedValue;\nconst filteredValue = previous.ema == null\n  ? acceptedValue\n  : rule.alpha * acceptedValue + (1 - rule.alpha) * previous.ema;\n\ncontext.set(stateKey, { window: sampleWindow, ema: filteredValue });\n\nconst qualityReasons = [...(telemetry.qualityReasons || [])];\nif (spikeRejected) qualityReasons.push(\"spike-rejected\");\n\nmsg.payload = {\n  ...telemetry,\n  rawValue: round(rawValue),\n  calibratedValue: round(calibratedValue),\n  value: round(filteredValue),\n  quality: spikeRejected && telemetry.quality === \"good\" ? \"suspect\" : telemetry.quality,\n  qualityReasons,\n  processing: {\n    method: \"calibration+median5+ema\",\n    medianWindow: 5,\n    emaAlpha: rule.alpha,\n    spikeRejected,\n  },\n  processedTimestamp: new Date().toISOString(),\n};\n\nnode.status({\n  fill: spikeRejected ? \"yellow\" : \"green\",\n  shape: spikeRejected ? \"ring\" : \"dot\",\n  text: `${telemetry.sensorKey} ${round(filteredValue, 1)}`,\n});\n\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 340,
    "wires": [
      [
        "stcr-gr-aggregator"
      ]
    ]
  },
  {
    "id": "stcr-gr-blower-in",
    "type": "link in",
    "z": "stcr-gr-pipeline-tab",
    "name": "รับข้อมูลอุณหภูมิ Blower",
    "links": [
      "stcr-field-gr-blower-out"
    ],
    "x": 95,
    "y": 460,
    "wires": [
      [
        "stcr-gr-blower-gateway"
      ]
    ]
  },
  {
    "id": "stcr-gr-blower-gateway",
    "type": "function",
    "z": "stcr-gr-pipeline-tab",
    "name": "อุณหภูมิ Blower: ตรวจสอบคุณภาพข้อมูล",
    "func": "const physicalRanges = {\n  chamberTemp: { min: -20, max: 120, unit: \"C\" },\n  humidity: { min: 0, max: 100, unit: \"%\" },\n  furnaceTemp: { min: -20, max: 900, unit: \"C\" },\n  blowerTemp: { min: -20, max: 600, unit: \"C\" },\n};\n\nconst telemetry = msg.payload;\nif (!telemetry || typeof telemetry !== \"object\") {\n  node.warn(\"Dropped telemetry without payload\");\n  return null;\n}\n\nconst requiredIds = [\"companyId\", \"ovenId\", \"deviceId\", \"sensorId\", \"batchId\"];\nconst invalidId = requiredIds.some((key) =>\n  typeof telemetry[key] !== \"string\" ||\n  !telemetry[key].trim() ||\n  telemetry[key].length > 160 ||\n  /[\\u0000-\\u001f\\u007f]/.test(telemetry[key])\n);\nconst sequence = Number(telemetry.sequence);\nconst rootState = global.get(\"stcrState\");\nconst companyState = rootState?.companies?.[telemetry.companyId];\nconst knownOven = companyState?.ovens?.some((oven) => oven.id === telemetry.ovenId);\nconst expectedTopic = `stcr/${telemetry.companyId}/${telemetry.ovenId}/telemetry/${telemetry.sensorKey}`;\n\nif (invalidId || !Number.isSafeInteger(sequence) || sequence < 0 || !knownOven || msg.topic !== expectedTopic) {\n  node.warn(`Dropped telemetry with invalid source identity: ${msg.topic || \"unknown topic\"}`);\n  return null;\n}\n\nconst rule = physicalRanges[telemetry.sensorKey];\nconst value = Number(telemetry.value);\nconst sourceTime = Date.parse(telemetry.sourceTimestamp);\nconst now = Date.now();\n\nif (!rule || !Number.isFinite(value) || !Number.isFinite(sourceTime)) {\n  node.warn(`Dropped malformed telemetry: ${msg.topic || \"unknown topic\"}`);\n  return null;\n}\n\nconst sequenceKey = `lastSequence:${telemetry.companyId}:${telemetry.sensorId}`;\nconst lastSequence = context.get(sequenceKey);\nif (Number.isSafeInteger(lastSequence) && sequence <= lastSequence) {\n  node.warn(`Dropped replayed telemetry: ${telemetry.sensorId} seq ${sequence}`);\n  return null;\n}\ncontext.set(sequenceKey, sequence);\n\nlet quality = \"good\";\nconst qualityReasons = [];\n\nif (telemetry.unit !== rule.unit) {\n  quality = \"suspect\";\n  qualityReasons.push(`unit:${telemetry.unit}`);\n}\nif (value < rule.min || value > rule.max) {\n  quality = \"suspect\";\n  qualityReasons.push(\"physical-range\");\n}\nif (now - sourceTime > 30000) {\n  quality = \"suspect\";\n  qualityReasons.push(\"stale\");\n}\nif (sourceTime - now > 5000) {\n  quality = \"suspect\";\n  qualityReasons.push(\"future-timestamp\");\n}\n\nmsg.payload = {\n  ...telemetry,\n  topic: msg.topic,\n  value,\n  quality,\n  qualityReasons,\n  gatewayTimestamp: new Date(now).toISOString(),\n};\nmsg.telemetry = true;\nnode.status({\n  fill: quality === \"good\" ? \"green\" : \"yellow\",\n  shape: quality === \"good\" ? \"dot\" : \"ring\",\n  text: `${telemetry.sensorKey} seq ${telemetry.sequence}`,\n});\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 460,
    "wires": [
      [
        "stcr-gr-blower-processor"
      ]
    ]
  },
  {
    "id": "stcr-gr-blower-processor",
    "type": "function",
    "z": "stcr-gr-pipeline-tab",
    "name": "อุณหภูมิ Blower: ปรับเทียบและกรองค่า",
    "func": "const calibration = {\n  gr: {\n    chamberTemp: { gain: 1, offset: 0 },\n    humidity: { gain: 1, offset: 0 },\n    furnaceTemp: { gain: 1, offset: 0 },\n    blowerTemp: { gain: 1, offset: 0 },\n  },\n  ttn: {\n    chamberTemp: { gain: 1, offset: 0 },\n    humidity: { gain: 1, offset: 0 },\n    furnaceTemp: { gain: 1, offset: 0 },\n    blowerTemp: { gain: 1, offset: 0 },\n  },\n};\n\nconst processingRules = {\n  chamberTemp: { alpha: 0.18, spikeDelta: 4 },\n  humidity: { alpha: 0.16, spikeDelta: 7 },\n  furnaceTemp: { alpha: 0.30, spikeDelta: 85 },\n  blowerTemp: { alpha: 0.25, spikeDelta: 60 },\n};\n\nfunction median(values) {\n  const sorted = [...values].sort((a, b) => a - b);\n  const middle = Math.floor(sorted.length / 2);\n  return sorted.length % 2 ? sorted[middle] : (sorted[middle - 1] + sorted[middle]) / 2;\n}\n\nfunction round(value, digits = 2) {\n  const scale = 10 ** digits;\n  return Math.round(value * scale) / scale;\n}\n\nconst telemetry = msg.payload;\nif (!msg.telemetry || !telemetry?.sensorKey) return null;\n\nconst companyCalibration = calibration[telemetry.companyId] || calibration.gr;\nconst sensorCalibration = companyCalibration[telemetry.sensorKey] || { gain: 1, offset: 0 };\nconst rule = processingRules[telemetry.sensorKey];\nif (!rule) return null;\n\nconst rawValue = Number(telemetry.value);\nconst calibratedValue = rawValue * sensorCalibration.gain + sensorCalibration.offset;\nconst stateKey = `filter:${telemetry.companyId}:${telemetry.ovenId}:${telemetry.sensorKey}`;\nconst previous = context.get(stateKey) || { window: [], ema: null };\nconst sampleWindow = [...previous.window, calibratedValue].slice(-5);\nconst windowMedian = median(sampleWindow);\nconst spikeRejected = sampleWindow.length >= 3\n  && Math.abs(calibratedValue - windowMedian) > rule.spikeDelta;\nconst acceptedValue = spikeRejected ? windowMedian : calibratedValue;\nconst filteredValue = previous.ema == null\n  ? acceptedValue\n  : rule.alpha * acceptedValue + (1 - rule.alpha) * previous.ema;\n\ncontext.set(stateKey, { window: sampleWindow, ema: filteredValue });\n\nconst qualityReasons = [...(telemetry.qualityReasons || [])];\nif (spikeRejected) qualityReasons.push(\"spike-rejected\");\n\nmsg.payload = {\n  ...telemetry,\n  rawValue: round(rawValue),\n  calibratedValue: round(calibratedValue),\n  value: round(filteredValue),\n  quality: spikeRejected && telemetry.quality === \"good\" ? \"suspect\" : telemetry.quality,\n  qualityReasons,\n  processing: {\n    method: \"calibration+median5+ema\",\n    medianWindow: 5,\n    emaAlpha: rule.alpha,\n    spikeRejected,\n  },\n  processedTimestamp: new Date().toISOString(),\n};\n\nnode.status({\n  fill: spikeRejected ? \"yellow\" : \"green\",\n  shape: spikeRejected ? \"ring\" : \"dot\",\n  text: `${telemetry.sensorKey} ${round(filteredValue, 1)}`,\n});\n\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 460,
    "wires": [
      [
        "stcr-gr-aggregator"
      ]
    ]
  },
  {
    "id": "stcr-gr-aggregator",
    "type": "function",
    "z": "stcr-gr-pipeline-tab",
    "name": "Grand Rubber: รวมข้อมูลเซนเซอร์แต่ละเตา",
    "func": "const BATCH_TIMEOUT_MS = 6500;\nconst REQUIRED_SENSOR_KEYS = [\"chamberTemp\", \"humidity\", \"furnaceTemp\", \"blowerTemp\"];\n\nfunction flushBatch(batchKey, timedOut) {\n  const batch = context.get(batchKey);\n  if (!batch) return null;\n  context.set(batchKey, undefined);\n\n  const state = global.get(\"stcrState\");\n  if (!state?.companies) return null;\n  const companyId = batch.companyId;\n  const companyState = state.companies[companyId];\n  if (!companyState) return null;\n\n  const updatedOvenIds = [];\n  companyState.ovens = companyState.ovens.map((oven) => {\n    const sensorSet = batch.sensors[`${companyId}:${oven.id}`];\n    const complete = REQUIRED_SENSOR_KEYS.every((sensorKey) => sensorSet?.[sensorKey]);\n    if (!complete) return oven;\n\n    const readings = { ...oven.readings };\n    REQUIRED_SENSOR_KEYS.forEach((sensorKey) => {\n      const sample = sensorSet[sensorKey];\n      readings[sensorKey] = {\n        ...readings[sensorKey],\n        value: sample.value,\n        updatedAt: sample.sourceTimestamp,\n      };\n    });\n    updatedOvenIds.push(oven.id);\n    return { ...oven, readings };\n  });\n\n  state.companies[companyId] = companyState;\n  global.set(\"stcrState\", state);\n\n  let good = 0;\n  let suspect = 0;\n  Object.values(batch.sensors).forEach((sensorSet) => {\n    Object.values(sensorSet).forEach((sample) => {\n      if (sample.quality === \"good\") good += 1;\n      else suspect += 1;\n    });\n  });\n  const missing = Math.max(0, batch.expected - batch.received);\n\n  node.status({\n    fill: missing ? \"yellow\" : \"green\",\n    shape: missing ? \"ring\" : \"dot\",\n    text: missing\n      ? `${updatedOvenIds.length} ovens / ${missing} missing`\n      : `batch ${good} good / ${suspect} suspect`,\n  });\n\n  return {\n    topic: \"stcr/persist\",\n    payload: {\n      version: state.version,\n      capturedAt: new Date().toISOString(),\n      telemetryBatchId: batch.batchId,\n      telemetryQuality: { good, suspect, missing, timedOut },\n      telemetrySamples: batch.sensors,\n      updatedOvenIds,\n      companies: { [companyId]: companyState },\n    },\n  };\n}\n\nconst telemetry = msg.payload;\nif (!msg.telemetry || !telemetry?.batchId) return null;\n\nconst batchKey = `telemetryBatch:${telemetry.batchId}`;\nlet batch = context.get(batchKey);\nif (!batch) {\n  batch = {\n    batchId: telemetry.batchId,\n    companyId: telemetry.companyId,\n    received: 0,\n    expected: telemetry.expectedTelemetryCount,\n    sensors: {},\n    startedAt: Date.now(),\n  };\n\n  setTimeout(() => {\n    const output = flushBatch(batchKey, true);\n    if (output) node.send(output);\n  }, BATCH_TIMEOUT_MS);\n}\n\nconst pointKey = `${telemetry.companyId}:${telemetry.ovenId}`;\nbatch.sensors[pointKey] ||= {};\nconst existing = batch.sensors[pointKey][telemetry.sensorKey];\n\nif (!existing || telemetry.sequence >= existing.sequence) {\n  if (!existing) batch.received += 1;\n  batch.sensors[pointKey][telemetry.sensorKey] = telemetry;\n}\n\ncontext.set(batchKey, batch);\n\nif (batch.received >= batch.expected) {\n  return flushBatch(batchKey, false);\n}\n\nnode.status({ fill: \"blue\", shape: \"dot\", text: `${batch.received}/${batch.expected}` });\nreturn null;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1010,
    "y": 280,
    "wires": [
      [
        "stcr-gr-persist-out",
        "stcr-gr-http-publisher"
      ]
    ]
  },
  {
    "id": "stcr-gr-http-publisher",
    "type": "function",
    "z": "stcr-gr-pipeline-tab",
    "name": "Grand Rubber: ส่ง HTTP POST ทุก 1 นาที",
    "func": "if (String(env.get(\"STCR_HTTP_INGEST_ENABLED\") || \"false\").toLowerCase() !== \"true\") return null;\n\nconst snapshot = msg.payload;\nconst companyId = Object.keys(snapshot?.companies || {})[0];\nconst companyState = snapshot?.companies?.[companyId];\nif (!companyId || !companyState || ![\"gr\", \"ttn\"].includes(companyId)) return null;\n\nconst now = Date.now();\nconst lastSentAt = Number(context.get(`httpLastSent:${companyId}`) || 0);\nif (now - lastSentAt < 60 * 1000) return null;\n\nconst apiKeyName = companyId === \"gr\" ? \"STCR_GR_INGEST_API_KEY\" : \"STCR_TTN_INGEST_API_KEY\";\nconst apiKey = String(env.get(apiKeyName) || \"\");\nconst ingestUrl = String(env.get(\"STCR_INGEST_URL\") || \"http://127.0.0.1:1880/stcr/api/telemetry\");\nif (!apiKey) {\n  node.status({ fill: \"red\", shape: \"ring\", text: `${apiKeyName} missing` });\n  return null;\n}\n\nconst messages = [];\nfor (const ovenId of snapshot.updatedOvenIds || []) {\n  const sensorSet = snapshot.telemetrySamples?.[`${companyId}:${ovenId}`];\n  if (!sensorSet) continue;\n  const readings = [\"chamberTemp\", \"humidity\", \"furnaceTemp\", \"blowerTemp\"]\n    .map((sensorKey) => sensorSet[sensorKey])\n    .filter(Boolean)\n    .map((sample) => ({\n      sensorKey: sample.sensorKey,\n      sensorId: sample.sensorId,\n      sequence: sample.sequence,\n      value: sample.value,\n      rawValue: sample.rawValue ?? sample.value,\n      unit: sample.unit,\n      quality: sample.quality,\n      qualityReasons: sample.qualityReasons || [],\n      sourceTimestamp: sample.sourceTimestamp,\n    }));\n  if (readings.length !== 4) continue;\n  messages.push({\n    method: \"POST\",\n    url: ingestUrl,\n    headers: { \"Content-Type\": \"application/json\", \"X-API-Key\": apiKey },\n    payload: {\n      companyId,\n      ovenId,\n      batchId: `${snapshot.telemetryBatchId}-${ovenId}`,\n      deviceId: `${companyId}-${ovenId}-gateway`,\n      readings,\n    },\n  });\n}\n\nif (!messages.length) return null;\ncontext.set(`httpLastSent:${companyId}`, now);\nnode.status({ fill: \"blue\", shape: \"dot\", text: `${messages.length} ovens / 1 min` });\nreturn [messages];\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1040,
    "y": 390,
    "wires": [
      [
        "stcr-gr-http-request"
      ]
    ]
  },
  {
    "id": "stcr-gr-http-request",
    "type": "http request",
    "z": "stcr-gr-pipeline-tab",
    "name": "Grand Rubber: ส่งข้อมูลพร้อม API Key",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1340,
    "y": 390,
    "wires": [
      []
    ]
  },
  {
    "id": "stcr-gr-persist-out",
    "type": "link out",
    "z": "stcr-gr-pipeline-tab",
    "name": "ส่งข้อมูลที่ประมวลผลแล้วไปยังระบบหลัก",
    "mode": "link",
    "links": [
      "stcr-platform-persist-in"
    ],
    "x": 1255,
    "y": 280,
    "wires": []
  },
  {
    "id": "stcr-ttn-note",
    "type": "comment",
    "z": "stcr-ttn-pipeline-tab",
    "name": "TTN Rubber: แยกช่องรับและประมวลผลเซนเซอร์",
    "info": "แต่ละช่องรองรับเซนเซอร์จริงหลายตัว โดยแยกด้วย companyId, ovenId, deviceId และ sensorId",
    "x": 320,
    "y": 40,
    "wires": []
  },
  {
    "id": "stcr-ttn-chamber-in",
    "type": "link in",
    "z": "stcr-ttn-pipeline-tab",
    "name": "รับข้อมูลอุณหภูมิห้องอบ",
    "links": [
      "stcr-field-ttn-chamber-out"
    ],
    "x": 95,
    "y": 100,
    "wires": [
      [
        "stcr-ttn-chamber-gateway"
      ]
    ]
  },
  {
    "id": "stcr-ttn-chamber-gateway",
    "type": "function",
    "z": "stcr-ttn-pipeline-tab",
    "name": "อุณหภูมิห้องอบ: ตรวจสอบคุณภาพข้อมูล",
    "func": "const physicalRanges = {\n  chamberTemp: { min: -20, max: 120, unit: \"C\" },\n  humidity: { min: 0, max: 100, unit: \"%\" },\n  furnaceTemp: { min: -20, max: 900, unit: \"C\" },\n  blowerTemp: { min: -20, max: 600, unit: \"C\" },\n};\n\nconst telemetry = msg.payload;\nif (!telemetry || typeof telemetry !== \"object\") {\n  node.warn(\"Dropped telemetry without payload\");\n  return null;\n}\n\nconst requiredIds = [\"companyId\", \"ovenId\", \"deviceId\", \"sensorId\", \"batchId\"];\nconst invalidId = requiredIds.some((key) =>\n  typeof telemetry[key] !== \"string\" ||\n  !telemetry[key].trim() ||\n  telemetry[key].length > 160 ||\n  /[\\u0000-\\u001f\\u007f]/.test(telemetry[key])\n);\nconst sequence = Number(telemetry.sequence);\nconst rootState = global.get(\"stcrState\");\nconst companyState = rootState?.companies?.[telemetry.companyId];\nconst knownOven = companyState?.ovens?.some((oven) => oven.id === telemetry.ovenId);\nconst expectedTopic = `stcr/${telemetry.companyId}/${telemetry.ovenId}/telemetry/${telemetry.sensorKey}`;\n\nif (invalidId || !Number.isSafeInteger(sequence) || sequence < 0 || !knownOven || msg.topic !== expectedTopic) {\n  node.warn(`Dropped telemetry with invalid source identity: ${msg.topic || \"unknown topic\"}`);\n  return null;\n}\n\nconst rule = physicalRanges[telemetry.sensorKey];\nconst value = Number(telemetry.value);\nconst sourceTime = Date.parse(telemetry.sourceTimestamp);\nconst now = Date.now();\n\nif (!rule || !Number.isFinite(value) || !Number.isFinite(sourceTime)) {\n  node.warn(`Dropped malformed telemetry: ${msg.topic || \"unknown topic\"}`);\n  return null;\n}\n\nconst sequenceKey = `lastSequence:${telemetry.companyId}:${telemetry.sensorId}`;\nconst lastSequence = context.get(sequenceKey);\nif (Number.isSafeInteger(lastSequence) && sequence <= lastSequence) {\n  node.warn(`Dropped replayed telemetry: ${telemetry.sensorId} seq ${sequence}`);\n  return null;\n}\ncontext.set(sequenceKey, sequence);\n\nlet quality = \"good\";\nconst qualityReasons = [];\n\nif (telemetry.unit !== rule.unit) {\n  quality = \"suspect\";\n  qualityReasons.push(`unit:${telemetry.unit}`);\n}\nif (value < rule.min || value > rule.max) {\n  quality = \"suspect\";\n  qualityReasons.push(\"physical-range\");\n}\nif (now - sourceTime > 30000) {\n  quality = \"suspect\";\n  qualityReasons.push(\"stale\");\n}\nif (sourceTime - now > 5000) {\n  quality = \"suspect\";\n  qualityReasons.push(\"future-timestamp\");\n}\n\nmsg.payload = {\n  ...telemetry,\n  topic: msg.topic,\n  value,\n  quality,\n  qualityReasons,\n  gatewayTimestamp: new Date(now).toISOString(),\n};\nmsg.telemetry = true;\nnode.status({\n  fill: quality === \"good\" ? \"green\" : \"yellow\",\n  shape: quality === \"good\" ? \"dot\" : \"ring\",\n  text: `${telemetry.sensorKey} seq ${telemetry.sequence}`,\n});\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 100,
    "wires": [
      [
        "stcr-ttn-chamber-processor"
      ]
    ]
  },
  {
    "id": "stcr-ttn-chamber-processor",
    "type": "function",
    "z": "stcr-ttn-pipeline-tab",
    "name": "อุณหภูมิห้องอบ: ปรับเทียบและกรองค่า",
    "func": "const calibration = {\n  gr: {\n    chamberTemp: { gain: 1, offset: 0 },\n    humidity: { gain: 1, offset: 0 },\n    furnaceTemp: { gain: 1, offset: 0 },\n    blowerTemp: { gain: 1, offset: 0 },\n  },\n  ttn: {\n    chamberTemp: { gain: 1, offset: 0 },\n    humidity: { gain: 1, offset: 0 },\n    furnaceTemp: { gain: 1, offset: 0 },\n    blowerTemp: { gain: 1, offset: 0 },\n  },\n};\n\nconst processingRules = {\n  chamberTemp: { alpha: 0.18, spikeDelta: 4 },\n  humidity: { alpha: 0.16, spikeDelta: 7 },\n  furnaceTemp: { alpha: 0.30, spikeDelta: 85 },\n  blowerTemp: { alpha: 0.25, spikeDelta: 60 },\n};\n\nfunction median(values) {\n  const sorted = [...values].sort((a, b) => a - b);\n  const middle = Math.floor(sorted.length / 2);\n  return sorted.length % 2 ? sorted[middle] : (sorted[middle - 1] + sorted[middle]) / 2;\n}\n\nfunction round(value, digits = 2) {\n  const scale = 10 ** digits;\n  return Math.round(value * scale) / scale;\n}\n\nconst telemetry = msg.payload;\nif (!msg.telemetry || !telemetry?.sensorKey) return null;\n\nconst companyCalibration = calibration[telemetry.companyId] || calibration.gr;\nconst sensorCalibration = companyCalibration[telemetry.sensorKey] || { gain: 1, offset: 0 };\nconst rule = processingRules[telemetry.sensorKey];\nif (!rule) return null;\n\nconst rawValue = Number(telemetry.value);\nconst calibratedValue = rawValue * sensorCalibration.gain + sensorCalibration.offset;\nconst stateKey = `filter:${telemetry.companyId}:${telemetry.ovenId}:${telemetry.sensorKey}`;\nconst previous = context.get(stateKey) || { window: [], ema: null };\nconst sampleWindow = [...previous.window, calibratedValue].slice(-5);\nconst windowMedian = median(sampleWindow);\nconst spikeRejected = sampleWindow.length >= 3\n  && Math.abs(calibratedValue - windowMedian) > rule.spikeDelta;\nconst acceptedValue = spikeRejected ? windowMedian : calibratedValue;\nconst filteredValue = previous.ema == null\n  ? acceptedValue\n  : rule.alpha * acceptedValue + (1 - rule.alpha) * previous.ema;\n\ncontext.set(stateKey, { window: sampleWindow, ema: filteredValue });\n\nconst qualityReasons = [...(telemetry.qualityReasons || [])];\nif (spikeRejected) qualityReasons.push(\"spike-rejected\");\n\nmsg.payload = {\n  ...telemetry,\n  rawValue: round(rawValue),\n  calibratedValue: round(calibratedValue),\n  value: round(filteredValue),\n  quality: spikeRejected && telemetry.quality === \"good\" ? \"suspect\" : telemetry.quality,\n  qualityReasons,\n  processing: {\n    method: \"calibration+median5+ema\",\n    medianWindow: 5,\n    emaAlpha: rule.alpha,\n    spikeRejected,\n  },\n  processedTimestamp: new Date().toISOString(),\n};\n\nnode.status({\n  fill: spikeRejected ? \"yellow\" : \"green\",\n  shape: spikeRejected ? \"ring\" : \"dot\",\n  text: `${telemetry.sensorKey} ${round(filteredValue, 1)}`,\n});\n\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 100,
    "wires": [
      [
        "stcr-ttn-aggregator"
      ]
    ]
  },
  {
    "id": "stcr-ttn-humidity-in",
    "type": "link in",
    "z": "stcr-ttn-pipeline-tab",
    "name": "รับข้อมูลความชื้น",
    "links": [
      "stcr-field-ttn-humidity-out"
    ],
    "x": 95,
    "y": 220,
    "wires": [
      [
        "stcr-ttn-humidity-gateway"
      ]
    ]
  },
  {
    "id": "stcr-ttn-humidity-gateway",
    "type": "function",
    "z": "stcr-ttn-pipeline-tab",
    "name": "ความชื้น: ตรวจสอบคุณภาพข้อมูล",
    "func": "const physicalRanges = {\n  chamberTemp: { min: -20, max: 120, unit: \"C\" },\n  humidity: { min: 0, max: 100, unit: \"%\" },\n  furnaceTemp: { min: -20, max: 900, unit: \"C\" },\n  blowerTemp: { min: -20, max: 600, unit: \"C\" },\n};\n\nconst telemetry = msg.payload;\nif (!telemetry || typeof telemetry !== \"object\") {\n  node.warn(\"Dropped telemetry without payload\");\n  return null;\n}\n\nconst requiredIds = [\"companyId\", \"ovenId\", \"deviceId\", \"sensorId\", \"batchId\"];\nconst invalidId = requiredIds.some((key) =>\n  typeof telemetry[key] !== \"string\" ||\n  !telemetry[key].trim() ||\n  telemetry[key].length > 160 ||\n  /[\\u0000-\\u001f\\u007f]/.test(telemetry[key])\n);\nconst sequence = Number(telemetry.sequence);\nconst rootState = global.get(\"stcrState\");\nconst companyState = rootState?.companies?.[telemetry.companyId];\nconst knownOven = companyState?.ovens?.some((oven) => oven.id === telemetry.ovenId);\nconst expectedTopic = `stcr/${telemetry.companyId}/${telemetry.ovenId}/telemetry/${telemetry.sensorKey}`;\n\nif (invalidId || !Number.isSafeInteger(sequence) || sequence < 0 || !knownOven || msg.topic !== expectedTopic) {\n  node.warn(`Dropped telemetry with invalid source identity: ${msg.topic || \"unknown topic\"}`);\n  return null;\n}\n\nconst rule = physicalRanges[telemetry.sensorKey];\nconst value = Number(telemetry.value);\nconst sourceTime = Date.parse(telemetry.sourceTimestamp);\nconst now = Date.now();\n\nif (!rule || !Number.isFinite(value) || !Number.isFinite(sourceTime)) {\n  node.warn(`Dropped malformed telemetry: ${msg.topic || \"unknown topic\"}`);\n  return null;\n}\n\nconst sequenceKey = `lastSequence:${telemetry.companyId}:${telemetry.sensorId}`;\nconst lastSequence = context.get(sequenceKey);\nif (Number.isSafeInteger(lastSequence) && sequence <= lastSequence) {\n  node.warn(`Dropped replayed telemetry: ${telemetry.sensorId} seq ${sequence}`);\n  return null;\n}\ncontext.set(sequenceKey, sequence);\n\nlet quality = \"good\";\nconst qualityReasons = [];\n\nif (telemetry.unit !== rule.unit) {\n  quality = \"suspect\";\n  qualityReasons.push(`unit:${telemetry.unit}`);\n}\nif (value < rule.min || value > rule.max) {\n  quality = \"suspect\";\n  qualityReasons.push(\"physical-range\");\n}\nif (now - sourceTime > 30000) {\n  quality = \"suspect\";\n  qualityReasons.push(\"stale\");\n}\nif (sourceTime - now > 5000) {\n  quality = \"suspect\";\n  qualityReasons.push(\"future-timestamp\");\n}\n\nmsg.payload = {\n  ...telemetry,\n  topic: msg.topic,\n  value,\n  quality,\n  qualityReasons,\n  gatewayTimestamp: new Date(now).toISOString(),\n};\nmsg.telemetry = true;\nnode.status({\n  fill: quality === \"good\" ? \"green\" : \"yellow\",\n  shape: quality === \"good\" ? \"dot\" : \"ring\",\n  text: `${telemetry.sensorKey} seq ${telemetry.sequence}`,\n});\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 220,
    "wires": [
      [
        "stcr-ttn-humidity-processor"
      ]
    ]
  },
  {
    "id": "stcr-ttn-humidity-processor",
    "type": "function",
    "z": "stcr-ttn-pipeline-tab",
    "name": "ความชื้น: ปรับเทียบและกรองค่า",
    "func": "const calibration = {\n  gr: {\n    chamberTemp: { gain: 1, offset: 0 },\n    humidity: { gain: 1, offset: 0 },\n    furnaceTemp: { gain: 1, offset: 0 },\n    blowerTemp: { gain: 1, offset: 0 },\n  },\n  ttn: {\n    chamberTemp: { gain: 1, offset: 0 },\n    humidity: { gain: 1, offset: 0 },\n    furnaceTemp: { gain: 1, offset: 0 },\n    blowerTemp: { gain: 1, offset: 0 },\n  },\n};\n\nconst processingRules = {\n  chamberTemp: { alpha: 0.18, spikeDelta: 4 },\n  humidity: { alpha: 0.16, spikeDelta: 7 },\n  furnaceTemp: { alpha: 0.30, spikeDelta: 85 },\n  blowerTemp: { alpha: 0.25, spikeDelta: 60 },\n};\n\nfunction median(values) {\n  const sorted = [...values].sort((a, b) => a - b);\n  const middle = Math.floor(sorted.length / 2);\n  return sorted.length % 2 ? sorted[middle] : (sorted[middle - 1] + sorted[middle]) / 2;\n}\n\nfunction round(value, digits = 2) {\n  const scale = 10 ** digits;\n  return Math.round(value * scale) / scale;\n}\n\nconst telemetry = msg.payload;\nif (!msg.telemetry || !telemetry?.sensorKey) return null;\n\nconst companyCalibration = calibration[telemetry.companyId] || calibration.gr;\nconst sensorCalibration = companyCalibration[telemetry.sensorKey] || { gain: 1, offset: 0 };\nconst rule = processingRules[telemetry.sensorKey];\nif (!rule) return null;\n\nconst rawValue = Number(telemetry.value);\nconst calibratedValue = rawValue * sensorCalibration.gain + sensorCalibration.offset;\nconst stateKey = `filter:${telemetry.companyId}:${telemetry.ovenId}:${telemetry.sensorKey}`;\nconst previous = context.get(stateKey) || { window: [], ema: null };\nconst sampleWindow = [...previous.window, calibratedValue].slice(-5);\nconst windowMedian = median(sampleWindow);\nconst spikeRejected = sampleWindow.length >= 3\n  && Math.abs(calibratedValue - windowMedian) > rule.spikeDelta;\nconst acceptedValue = spikeRejected ? windowMedian : calibratedValue;\nconst filteredValue = previous.ema == null\n  ? acceptedValue\n  : rule.alpha * acceptedValue + (1 - rule.alpha) * previous.ema;\n\ncontext.set(stateKey, { window: sampleWindow, ema: filteredValue });\n\nconst qualityReasons = [...(telemetry.qualityReasons || [])];\nif (spikeRejected) qualityReasons.push(\"spike-rejected\");\n\nmsg.payload = {\n  ...telemetry,\n  rawValue: round(rawValue),\n  calibratedValue: round(calibratedValue),\n  value: round(filteredValue),\n  quality: spikeRejected && telemetry.quality === \"good\" ? \"suspect\" : telemetry.quality,\n  qualityReasons,\n  processing: {\n    method: \"calibration+median5+ema\",\n    medianWindow: 5,\n    emaAlpha: rule.alpha,\n    spikeRejected,\n  },\n  processedTimestamp: new Date().toISOString(),\n};\n\nnode.status({\n  fill: spikeRejected ? \"yellow\" : \"green\",\n  shape: spikeRejected ? \"ring\" : \"dot\",\n  text: `${telemetry.sensorKey} ${round(filteredValue, 1)}`,\n});\n\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 220,
    "wires": [
      [
        "stcr-ttn-aggregator"
      ]
    ]
  },
  {
    "id": "stcr-ttn-furnace-in",
    "type": "link in",
    "z": "stcr-ttn-pipeline-tab",
    "name": "รับข้อมูลอุณหภูมิเตาเผา",
    "links": [
      "stcr-field-ttn-furnace-out"
    ],
    "x": 95,
    "y": 340,
    "wires": [
      [
        "stcr-ttn-furnace-gateway"
      ]
    ]
  },
  {
    "id": "stcr-ttn-furnace-gateway",
    "type": "function",
    "z": "stcr-ttn-pipeline-tab",
    "name": "อุณหภูมิเตาเผา: ตรวจสอบคุณภาพข้อมูล",
    "func": "const physicalRanges = {\n  chamberTemp: { min: -20, max: 120, unit: \"C\" },\n  humidity: { min: 0, max: 100, unit: \"%\" },\n  furnaceTemp: { min: -20, max: 900, unit: \"C\" },\n  blowerTemp: { min: -20, max: 600, unit: \"C\" },\n};\n\nconst telemetry = msg.payload;\nif (!telemetry || typeof telemetry !== \"object\") {\n  node.warn(\"Dropped telemetry without payload\");\n  return null;\n}\n\nconst requiredIds = [\"companyId\", \"ovenId\", \"deviceId\", \"sensorId\", \"batchId\"];\nconst invalidId = requiredIds.some((key) =>\n  typeof telemetry[key] !== \"string\" ||\n  !telemetry[key].trim() ||\n  telemetry[key].length > 160 ||\n  /[\\u0000-\\u001f\\u007f]/.test(telemetry[key])\n);\nconst sequence = Number(telemetry.sequence);\nconst rootState = global.get(\"stcrState\");\nconst companyState = rootState?.companies?.[telemetry.companyId];\nconst knownOven = companyState?.ovens?.some((oven) => oven.id === telemetry.ovenId);\nconst expectedTopic = `stcr/${telemetry.companyId}/${telemetry.ovenId}/telemetry/${telemetry.sensorKey}`;\n\nif (invalidId || !Number.isSafeInteger(sequence) || sequence < 0 || !knownOven || msg.topic !== expectedTopic) {\n  node.warn(`Dropped telemetry with invalid source identity: ${msg.topic || \"unknown topic\"}`);\n  return null;\n}\n\nconst rule = physicalRanges[telemetry.sensorKey];\nconst value = Number(telemetry.value);\nconst sourceTime = Date.parse(telemetry.sourceTimestamp);\nconst now = Date.now();\n\nif (!rule || !Number.isFinite(value) || !Number.isFinite(sourceTime)) {\n  node.warn(`Dropped malformed telemetry: ${msg.topic || \"unknown topic\"}`);\n  return null;\n}\n\nconst sequenceKey = `lastSequence:${telemetry.companyId}:${telemetry.sensorId}`;\nconst lastSequence = context.get(sequenceKey);\nif (Number.isSafeInteger(lastSequence) && sequence <= lastSequence) {\n  node.warn(`Dropped replayed telemetry: ${telemetry.sensorId} seq ${sequence}`);\n  return null;\n}\ncontext.set(sequenceKey, sequence);\n\nlet quality = \"good\";\nconst qualityReasons = [];\n\nif (telemetry.unit !== rule.unit) {\n  quality = \"suspect\";\n  qualityReasons.push(`unit:${telemetry.unit}`);\n}\nif (value < rule.min || value > rule.max) {\n  quality = \"suspect\";\n  qualityReasons.push(\"physical-range\");\n}\nif (now - sourceTime > 30000) {\n  quality = \"suspect\";\n  qualityReasons.push(\"stale\");\n}\nif (sourceTime - now > 5000) {\n  quality = \"suspect\";\n  qualityReasons.push(\"future-timestamp\");\n}\n\nmsg.payload = {\n  ...telemetry,\n  topic: msg.topic,\n  value,\n  quality,\n  qualityReasons,\n  gatewayTimestamp: new Date(now).toISOString(),\n};\nmsg.telemetry = true;\nnode.status({\n  fill: quality === \"good\" ? \"green\" : \"yellow\",\n  shape: quality === \"good\" ? \"dot\" : \"ring\",\n  text: `${telemetry.sensorKey} seq ${telemetry.sequence}`,\n});\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 340,
    "wires": [
      [
        "stcr-ttn-furnace-processor"
      ]
    ]
  },
  {
    "id": "stcr-ttn-furnace-processor",
    "type": "function",
    "z": "stcr-ttn-pipeline-tab",
    "name": "อุณหภูมิเตาเผา: ปรับเทียบและกรองค่า",
    "func": "const calibration = {\n  gr: {\n    chamberTemp: { gain: 1, offset: 0 },\n    humidity: { gain: 1, offset: 0 },\n    furnaceTemp: { gain: 1, offset: 0 },\n    blowerTemp: { gain: 1, offset: 0 },\n  },\n  ttn: {\n    chamberTemp: { gain: 1, offset: 0 },\n    humidity: { gain: 1, offset: 0 },\n    furnaceTemp: { gain: 1, offset: 0 },\n    blowerTemp: { gain: 1, offset: 0 },\n  },\n};\n\nconst processingRules = {\n  chamberTemp: { alpha: 0.18, spikeDelta: 4 },\n  humidity: { alpha: 0.16, spikeDelta: 7 },\n  furnaceTemp: { alpha: 0.30, spikeDelta: 85 },\n  blowerTemp: { alpha: 0.25, spikeDelta: 60 },\n};\n\nfunction median(values) {\n  const sorted = [...values].sort((a, b) => a - b);\n  const middle = Math.floor(sorted.length / 2);\n  return sorted.length % 2 ? sorted[middle] : (sorted[middle - 1] + sorted[middle]) / 2;\n}\n\nfunction round(value, digits = 2) {\n  const scale = 10 ** digits;\n  return Math.round(value * scale) / scale;\n}\n\nconst telemetry = msg.payload;\nif (!msg.telemetry || !telemetry?.sensorKey) return null;\n\nconst companyCalibration = calibration[telemetry.companyId] || calibration.gr;\nconst sensorCalibration = companyCalibration[telemetry.sensorKey] || { gain: 1, offset: 0 };\nconst rule = processingRules[telemetry.sensorKey];\nif (!rule) return null;\n\nconst rawValue = Number(telemetry.value);\nconst calibratedValue = rawValue * sensorCalibration.gain + sensorCalibration.offset;\nconst stateKey = `filter:${telemetry.companyId}:${telemetry.ovenId}:${telemetry.sensorKey}`;\nconst previous = context.get(stateKey) || { window: [], ema: null };\nconst sampleWindow = [...previous.window, calibratedValue].slice(-5);\nconst windowMedian = median(sampleWindow);\nconst spikeRejected = sampleWindow.length >= 3\n  && Math.abs(calibratedValue - windowMedian) > rule.spikeDelta;\nconst acceptedValue = spikeRejected ? windowMedian : calibratedValue;\nconst filteredValue = previous.ema == null\n  ? acceptedValue\n  : rule.alpha * acceptedValue + (1 - rule.alpha) * previous.ema;\n\ncontext.set(stateKey, { window: sampleWindow, ema: filteredValue });\n\nconst qualityReasons = [...(telemetry.qualityReasons || [])];\nif (spikeRejected) qualityReasons.push(\"spike-rejected\");\n\nmsg.payload = {\n  ...telemetry,\n  rawValue: round(rawValue),\n  calibratedValue: round(calibratedValue),\n  value: round(filteredValue),\n  quality: spikeRejected && telemetry.quality === \"good\" ? \"suspect\" : telemetry.quality,\n  qualityReasons,\n  processing: {\n    method: \"calibration+median5+ema\",\n    medianWindow: 5,\n    emaAlpha: rule.alpha,\n    spikeRejected,\n  },\n  processedTimestamp: new Date().toISOString(),\n};\n\nnode.status({\n  fill: spikeRejected ? \"yellow\" : \"green\",\n  shape: spikeRejected ? \"ring\" : \"dot\",\n  text: `${telemetry.sensorKey} ${round(filteredValue, 1)}`,\n});\n\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 340,
    "wires": [
      [
        "stcr-ttn-aggregator"
      ]
    ]
  },
  {
    "id": "stcr-ttn-blower-in",
    "type": "link in",
    "z": "stcr-ttn-pipeline-tab",
    "name": "รับข้อมูลอุณหภูมิ Blower",
    "links": [
      "stcr-field-ttn-blower-out"
    ],
    "x": 95,
    "y": 460,
    "wires": [
      [
        "stcr-ttn-blower-gateway"
      ]
    ]
  },
  {
    "id": "stcr-ttn-blower-gateway",
    "type": "function",
    "z": "stcr-ttn-pipeline-tab",
    "name": "อุณหภูมิ Blower: ตรวจสอบคุณภาพข้อมูล",
    "func": "const physicalRanges = {\n  chamberTemp: { min: -20, max: 120, unit: \"C\" },\n  humidity: { min: 0, max: 100, unit: \"%\" },\n  furnaceTemp: { min: -20, max: 900, unit: \"C\" },\n  blowerTemp: { min: -20, max: 600, unit: \"C\" },\n};\n\nconst telemetry = msg.payload;\nif (!telemetry || typeof telemetry !== \"object\") {\n  node.warn(\"Dropped telemetry without payload\");\n  return null;\n}\n\nconst requiredIds = [\"companyId\", \"ovenId\", \"deviceId\", \"sensorId\", \"batchId\"];\nconst invalidId = requiredIds.some((key) =>\n  typeof telemetry[key] !== \"string\" ||\n  !telemetry[key].trim() ||\n  telemetry[key].length > 160 ||\n  /[\\u0000-\\u001f\\u007f]/.test(telemetry[key])\n);\nconst sequence = Number(telemetry.sequence);\nconst rootState = global.get(\"stcrState\");\nconst companyState = rootState?.companies?.[telemetry.companyId];\nconst knownOven = companyState?.ovens?.some((oven) => oven.id === telemetry.ovenId);\nconst expectedTopic = `stcr/${telemetry.companyId}/${telemetry.ovenId}/telemetry/${telemetry.sensorKey}`;\n\nif (invalidId || !Number.isSafeInteger(sequence) || sequence < 0 || !knownOven || msg.topic !== expectedTopic) {\n  node.warn(`Dropped telemetry with invalid source identity: ${msg.topic || \"unknown topic\"}`);\n  return null;\n}\n\nconst rule = physicalRanges[telemetry.sensorKey];\nconst value = Number(telemetry.value);\nconst sourceTime = Date.parse(telemetry.sourceTimestamp);\nconst now = Date.now();\n\nif (!rule || !Number.isFinite(value) || !Number.isFinite(sourceTime)) {\n  node.warn(`Dropped malformed telemetry: ${msg.topic || \"unknown topic\"}`);\n  return null;\n}\n\nconst sequenceKey = `lastSequence:${telemetry.companyId}:${telemetry.sensorId}`;\nconst lastSequence = context.get(sequenceKey);\nif (Number.isSafeInteger(lastSequence) && sequence <= lastSequence) {\n  node.warn(`Dropped replayed telemetry: ${telemetry.sensorId} seq ${sequence}`);\n  return null;\n}\ncontext.set(sequenceKey, sequence);\n\nlet quality = \"good\";\nconst qualityReasons = [];\n\nif (telemetry.unit !== rule.unit) {\n  quality = \"suspect\";\n  qualityReasons.push(`unit:${telemetry.unit}`);\n}\nif (value < rule.min || value > rule.max) {\n  quality = \"suspect\";\n  qualityReasons.push(\"physical-range\");\n}\nif (now - sourceTime > 30000) {\n  quality = \"suspect\";\n  qualityReasons.push(\"stale\");\n}\nif (sourceTime - now > 5000) {\n  quality = \"suspect\";\n  qualityReasons.push(\"future-timestamp\");\n}\n\nmsg.payload = {\n  ...telemetry,\n  topic: msg.topic,\n  value,\n  quality,\n  qualityReasons,\n  gatewayTimestamp: new Date(now).toISOString(),\n};\nmsg.telemetry = true;\nnode.status({\n  fill: quality === \"good\" ? \"green\" : \"yellow\",\n  shape: quality === \"good\" ? \"dot\" : \"ring\",\n  text: `${telemetry.sensorKey} seq ${telemetry.sequence}`,\n});\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 460,
    "wires": [
      [
        "stcr-ttn-blower-processor"
      ]
    ]
  },
  {
    "id": "stcr-ttn-blower-processor",
    "type": "function",
    "z": "stcr-ttn-pipeline-tab",
    "name": "อุณหภูมิ Blower: ปรับเทียบและกรองค่า",
    "func": "const calibration = {\n  gr: {\n    chamberTemp: { gain: 1, offset: 0 },\n    humidity: { gain: 1, offset: 0 },\n    furnaceTemp: { gain: 1, offset: 0 },\n    blowerTemp: { gain: 1, offset: 0 },\n  },\n  ttn: {\n    chamberTemp: { gain: 1, offset: 0 },\n    humidity: { gain: 1, offset: 0 },\n    furnaceTemp: { gain: 1, offset: 0 },\n    blowerTemp: { gain: 1, offset: 0 },\n  },\n};\n\nconst processingRules = {\n  chamberTemp: { alpha: 0.18, spikeDelta: 4 },\n  humidity: { alpha: 0.16, spikeDelta: 7 },\n  furnaceTemp: { alpha: 0.30, spikeDelta: 85 },\n  blowerTemp: { alpha: 0.25, spikeDelta: 60 },\n};\n\nfunction median(values) {\n  const sorted = [...values].sort((a, b) => a - b);\n  const middle = Math.floor(sorted.length / 2);\n  return sorted.length % 2 ? sorted[middle] : (sorted[middle - 1] + sorted[middle]) / 2;\n}\n\nfunction round(value, digits = 2) {\n  const scale = 10 ** digits;\n  return Math.round(value * scale) / scale;\n}\n\nconst telemetry = msg.payload;\nif (!msg.telemetry || !telemetry?.sensorKey) return null;\n\nconst companyCalibration = calibration[telemetry.companyId] || calibration.gr;\nconst sensorCalibration = companyCalibration[telemetry.sensorKey] || { gain: 1, offset: 0 };\nconst rule = processingRules[telemetry.sensorKey];\nif (!rule) return null;\n\nconst rawValue = Number(telemetry.value);\nconst calibratedValue = rawValue * sensorCalibration.gain + sensorCalibration.offset;\nconst stateKey = `filter:${telemetry.companyId}:${telemetry.ovenId}:${telemetry.sensorKey}`;\nconst previous = context.get(stateKey) || { window: [], ema: null };\nconst sampleWindow = [...previous.window, calibratedValue].slice(-5);\nconst windowMedian = median(sampleWindow);\nconst spikeRejected = sampleWindow.length >= 3\n  && Math.abs(calibratedValue - windowMedian) > rule.spikeDelta;\nconst acceptedValue = spikeRejected ? windowMedian : calibratedValue;\nconst filteredValue = previous.ema == null\n  ? acceptedValue\n  : rule.alpha * acceptedValue + (1 - rule.alpha) * previous.ema;\n\ncontext.set(stateKey, { window: sampleWindow, ema: filteredValue });\n\nconst qualityReasons = [...(telemetry.qualityReasons || [])];\nif (spikeRejected) qualityReasons.push(\"spike-rejected\");\n\nmsg.payload = {\n  ...telemetry,\n  rawValue: round(rawValue),\n  calibratedValue: round(calibratedValue),\n  value: round(filteredValue),\n  quality: spikeRejected && telemetry.quality === \"good\" ? \"suspect\" : telemetry.quality,\n  qualityReasons,\n  processing: {\n    method: \"calibration+median5+ema\",\n    medianWindow: 5,\n    emaAlpha: rule.alpha,\n    spikeRejected,\n  },\n  processedTimestamp: new Date().toISOString(),\n};\n\nnode.status({\n  fill: spikeRejected ? \"yellow\" : \"green\",\n  shape: spikeRejected ? \"ring\" : \"dot\",\n  text: `${telemetry.sensorKey} ${round(filteredValue, 1)}`,\n});\n\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 460,
    "wires": [
      [
        "stcr-ttn-aggregator"
      ]
    ]
  },
  {
    "id": "stcr-ttn-aggregator",
    "type": "function",
    "z": "stcr-ttn-pipeline-tab",
    "name": "TTN Rubber: รวมข้อมูลเซนเซอร์แต่ละเตา",
    "func": "const BATCH_TIMEOUT_MS = 6500;\nconst REQUIRED_SENSOR_KEYS = [\"chamberTemp\", \"humidity\", \"furnaceTemp\", \"blowerTemp\"];\n\nfunction flushBatch(batchKey, timedOut) {\n  const batch = context.get(batchKey);\n  if (!batch) return null;\n  context.set(batchKey, undefined);\n\n  const state = global.get(\"stcrState\");\n  if (!state?.companies) return null;\n  const companyId = batch.companyId;\n  const companyState = state.companies[companyId];\n  if (!companyState) return null;\n\n  const updatedOvenIds = [];\n  companyState.ovens = companyState.ovens.map((oven) => {\n    const sensorSet = batch.sensors[`${companyId}:${oven.id}`];\n    const complete = REQUIRED_SENSOR_KEYS.every((sensorKey) => sensorSet?.[sensorKey]);\n    if (!complete) return oven;\n\n    const readings = { ...oven.readings };\n    REQUIRED_SENSOR_KEYS.forEach((sensorKey) => {\n      const sample = sensorSet[sensorKey];\n      readings[sensorKey] = {\n        ...readings[sensorKey],\n        value: sample.value,\n        updatedAt: sample.sourceTimestamp,\n      };\n    });\n    updatedOvenIds.push(oven.id);\n    return { ...oven, readings };\n  });\n\n  state.companies[companyId] = companyState;\n  global.set(\"stcrState\", state);\n\n  let good = 0;\n  let suspect = 0;\n  Object.values(batch.sensors).forEach((sensorSet) => {\n    Object.values(sensorSet).forEach((sample) => {\n      if (sample.quality === \"good\") good += 1;\n      else suspect += 1;\n    });\n  });\n  const missing = Math.max(0, batch.expected - batch.received);\n\n  node.status({\n    fill: missing ? \"yellow\" : \"green\",\n    shape: missing ? \"ring\" : \"dot\",\n    text: missing\n      ? `${updatedOvenIds.length} ovens / ${missing} missing`\n      : `batch ${good} good / ${suspect} suspect`,\n  });\n\n  return {\n    topic: \"stcr/persist\",\n    payload: {\n      version: state.version,\n      capturedAt: new Date().toISOString(),\n      telemetryBatchId: batch.batchId,\n      telemetryQuality: { good, suspect, missing, timedOut },\n      telemetrySamples: batch.sensors,\n      updatedOvenIds,\n      companies: { [companyId]: companyState },\n    },\n  };\n}\n\nconst telemetry = msg.payload;\nif (!msg.telemetry || !telemetry?.batchId) return null;\n\nconst batchKey = `telemetryBatch:${telemetry.batchId}`;\nlet batch = context.get(batchKey);\nif (!batch) {\n  batch = {\n    batchId: telemetry.batchId,\n    companyId: telemetry.companyId,\n    received: 0,\n    expected: telemetry.expectedTelemetryCount,\n    sensors: {},\n    startedAt: Date.now(),\n  };\n\n  setTimeout(() => {\n    const output = flushBatch(batchKey, true);\n    if (output) node.send(output);\n  }, BATCH_TIMEOUT_MS);\n}\n\nconst pointKey = `${telemetry.companyId}:${telemetry.ovenId}`;\nbatch.sensors[pointKey] ||= {};\nconst existing = batch.sensors[pointKey][telemetry.sensorKey];\n\nif (!existing || telemetry.sequence >= existing.sequence) {\n  if (!existing) batch.received += 1;\n  batch.sensors[pointKey][telemetry.sensorKey] = telemetry;\n}\n\ncontext.set(batchKey, batch);\n\nif (batch.received >= batch.expected) {\n  return flushBatch(batchKey, false);\n}\n\nnode.status({ fill: \"blue\", shape: \"dot\", text: `${batch.received}/${batch.expected}` });\nreturn null;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1010,
    "y": 280,
    "wires": [
      [
        "stcr-ttn-persist-out",
        "stcr-ttn-http-publisher"
      ]
    ]
  },
  {
    "id": "stcr-ttn-http-publisher",
    "type": "function",
    "z": "stcr-ttn-pipeline-tab",
    "name": "TTN Rubber: ส่ง HTTP POST ทุก 1 นาที",
    "func": "if (String(env.get(\"STCR_HTTP_INGEST_ENABLED\") || \"false\").toLowerCase() !== \"true\") return null;\n\nconst snapshot = msg.payload;\nconst companyId = Object.keys(snapshot?.companies || {})[0];\nconst companyState = snapshot?.companies?.[companyId];\nif (!companyId || !companyState || ![\"gr\", \"ttn\"].includes(companyId)) return null;\n\nconst now = Date.now();\nconst lastSentAt = Number(context.get(`httpLastSent:${companyId}`) || 0);\nif (now - lastSentAt < 60 * 1000) return null;\n\nconst apiKeyName = companyId === \"gr\" ? \"STCR_GR_INGEST_API_KEY\" : \"STCR_TTN_INGEST_API_KEY\";\nconst apiKey = String(env.get(apiKeyName) || \"\");\nconst ingestUrl = String(env.get(\"STCR_INGEST_URL\") || \"http://127.0.0.1:1880/stcr/api/telemetry\");\nif (!apiKey) {\n  node.status({ fill: \"red\", shape: \"ring\", text: `${apiKeyName} missing` });\n  return null;\n}\n\nconst messages = [];\nfor (const ovenId of snapshot.updatedOvenIds || []) {\n  const sensorSet = snapshot.telemetrySamples?.[`${companyId}:${ovenId}`];\n  if (!sensorSet) continue;\n  const readings = [\"chamberTemp\", \"humidity\", \"furnaceTemp\", \"blowerTemp\"]\n    .map((sensorKey) => sensorSet[sensorKey])\n    .filter(Boolean)\n    .map((sample) => ({\n      sensorKey: sample.sensorKey,\n      sensorId: sample.sensorId,\n      sequence: sample.sequence,\n      value: sample.value,\n      rawValue: sample.rawValue ?? sample.value,\n      unit: sample.unit,\n      quality: sample.quality,\n      qualityReasons: sample.qualityReasons || [],\n      sourceTimestamp: sample.sourceTimestamp,\n    }));\n  if (readings.length !== 4) continue;\n  messages.push({\n    method: \"POST\",\n    url: ingestUrl,\n    headers: { \"Content-Type\": \"application/json\", \"X-API-Key\": apiKey },\n    payload: {\n      companyId,\n      ovenId,\n      batchId: `${snapshot.telemetryBatchId}-${ovenId}`,\n      deviceId: `${companyId}-${ovenId}-gateway`,\n      readings,\n    },\n  });\n}\n\nif (!messages.length) return null;\ncontext.set(`httpLastSent:${companyId}`, now);\nnode.status({ fill: \"blue\", shape: \"dot\", text: `${messages.length} ovens / 1 min` });\nreturn [messages];\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1040,
    "y": 390,
    "wires": [
      [
        "stcr-ttn-http-request"
      ]
    ]
  },
  {
    "id": "stcr-ttn-http-request",
    "type": "http request",
    "z": "stcr-ttn-pipeline-tab",
    "name": "TTN Rubber: ส่งข้อมูลพร้อม API Key",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1340,
    "y": 390,
    "wires": [
      []
    ]
  },
  {
    "id": "stcr-ttn-persist-out",
    "type": "link out",
    "z": "stcr-ttn-pipeline-tab",
    "name": "ส่งข้อมูลที่ประมวลผลแล้วไปยังระบบหลัก",
    "mode": "link",
    "links": [
      "stcr-platform-persist-in"
    ],
    "x": 1255,
    "y": 280,
    "wires": []
  },
  {
    "id": "stcr-platform-note",
    "type": "comment",
    "z": "stcr-platform-tab",
    "name": "บันทึกข้อมูลดิบ ข้อมูลที่กรองแล้ว และค่าเฉลี่ยกราฟทุก 10 นาที",
    "info": "telemetry_events เก็บค่าดิบ, sensor_readings เก็บค่าที่กรองแล้ว และ API ข้อมูลย้อนหลังส่งค่าเฉลี่ยตามช่วงเวลา",
    "x": 400,
    "y": 40,
    "wires": []
  },
  {
    "id": "stcr-platform-persist-in",
    "type": "link in",
    "z": "stcr-platform-tab",
    "name": "รับข้อมูลที่ประมวลผลแล้วจาก GR / TTN",
    "links": [
      "stcr-gr-persist-out",
      "stcr-ttn-persist-out"
    ],
    "x": 95,
    "y": 100,
    "wires": [
      [
        "stcr-db-persistence"
      ]
    ]
  },
  {
    "id": "stcr-db-persistence",
    "type": "function",
    "z": "stcr-platform-tab",
    "name": "บันทึกข้อมูลดิบและข้อมูลที่กรองแล้วลง MariaDB",
    "func": "const SIMULATION_MODEL_CYCLE_MS = 6 * 24 * 60 * 60 * 1000;\nconst SIMULATION_MODEL_PROFILES = {\n  gr: { chamber: 57.5, furnace: 500, blower: 365, humidityStart: 80, humidityEnd: 57, phase: 0.2 },\n  ttn: { chamber: 56.5, furnace: 490, blower: 355, humidityStart: 80, humidityEnd: 58, phase: 1.1 },\n};\n\nfunction simulationClamp(value, min, max) {\n  return Math.min(max, Math.max(min, value));\n}\n\nfunction simulationRound(value, digits = 1) {\n  const scale = 10 ** digits;\n  return Math.round(value * scale) / scale;\n}\n\nfunction simulationSmoothstep(value) {\n  const x = simulationClamp(value, 0, 1);\n  return x * x * (3 - 2 * x);\n}\n\nfunction simulationNoise(seed) {\n  const value = Math.sin(seed * 12.9898) * 43758.5453;\n  return (value - Math.floor(value)) * 2 - 1;\n}\n\nfunction simulationWoodLoadingPeriod(companyId, ovenNumber, loadingIndex = 0) {\n  const companySeed = companyId === \"ttn\" ? 117 : 23;\n  const randomValue = (simulationNoise(\n    companySeed + ovenNumber * 19.1 + loadingIndex * 37.7,\n  ) + 1) / 2;\n  return 3 + randomValue * 3;\n}\n\nfunction simulationWoodLoadingState(companyId, ovenNumber, elapsedHours) {\n  if (elapsedHours <= 0) {\n    return {\n      loadingIndex: 0,\n      loadingStartedAt: 0,\n      intervalHours: simulationWoodLoadingPeriod(companyId, ovenNumber, 0),\n    };\n  }\n\n  let loadingIndex = 0;\n  let loadingStartedAt = 0;\n  let intervalHours = simulationWoodLoadingPeriod(companyId, ovenNumber, loadingIndex);\n\n  while (loadingStartedAt + intervalHours <= elapsedHours) {\n    loadingStartedAt += intervalHours;\n    loadingIndex += 1;\n    intervalHours = simulationWoodLoadingPeriod(companyId, ovenNumber, loadingIndex);\n  }\n\n  return { loadingIndex, loadingStartedAt, intervalHours };\n}\n\nfunction simulationCombustionPulse(companyId, ovenNumber, elapsedHours) {\n  if (elapsedHours <= 0) return 0;\n\n  const loading = simulationWoodLoadingState(companyId, ovenNumber, elapsedHours);\n  const cycleAge = elapsedHours - loading.loadingStartedAt;\n  const periodHours = loading.intervalHours;\n  const ignitionDelay = 0.4;\n  const riseHours = Math.min(2, periodHours * 0.45);\n  const peakAt = ignitionDelay + riseHours;\n\n  if (cycleAge <= ignitionDelay) return 0;\n  if (cycleAge < peakAt) {\n    return simulationSmoothstep((cycleAge - ignitionDelay) / riseHours);\n  }\n\n  const decayHours = Math.max(0.5, periodHours - peakAt);\n  return 1 - simulationSmoothstep((cycleAge - peakAt) / decayHours);\n}\n\nfunction simulationSensorValues(companyId, ovenNumber, timestamp, firedAt) {\n  const profile = SIMULATION_MODEL_PROFILES[companyId] || SIMULATION_MODEL_PROFILES.gr;\n  const elapsedMs = Math.max(0, timestamp - firedAt);\n  const elapsedHours = elapsedMs / 3600000;\n  const cycleProgress = simulationClamp(elapsedMs / SIMULATION_MODEL_CYCLE_MS, 0, 1);\n  const ignition = simulationSmoothstep(elapsedHours / 2.5);\n  const chamberWarmup = simulationSmoothstep(elapsedHours / 18);\n  const phase = elapsedHours + ovenNumber * 0.83 + profile.phase;\n  const furnacePulse = simulationCombustionPulse(companyId, ovenNumber, elapsedHours);\n  const blowerPulse = simulationCombustionPulse(companyId, ovenNumber, elapsedHours - 0.2);\n  const chamberPulse = simulationCombustionPulse(companyId, ovenNumber, elapsedHours - 1.4);\n  const smallNoise = simulationNoise(timestamp / 5000 + ovenNumber * 17) * 0.45;\n  const furnaceTemp = ignition * (\n    profile.furnace - 25 + furnacePulse * 60 + Math.sin(phase * 0.11) * 4 + smallNoise * 2\n  );\n  const blowerTemp = ignition * (\n    profile.blower - 18 + blowerPulse * 36 + Math.sin(phase * 0.14) * 3 + smallNoise\n  );\n  const chamberTemp = 29 + chamberWarmup * (\n    profile.chamber - 29 + Math.sin(phase * 0.045) * 0.45 + (chamberPulse - 0.5) * 0.45\n  );\n  const humidityBase = profile.humidityStart\n    - (profile.humidityStart - profile.humidityEnd) * Math.pow(cycleProgress, 2);\n  const chamberDryingEffect = chamberWarmup * Math.max(0, chamberTemp - 55) * 0.05;\n  const humidity = humidityBase - chamberDryingEffect\n    + Math.sin(phase * 0.035) * 0.25 - smallNoise * 0.08;\n\n  return {\n    chamberTemp: simulationRound(simulationClamp(chamberTemp, 25, 63)),\n    humidity: simulationRound(simulationClamp(humidity, 42, 86)),\n    furnaceTemp: simulationRound(simulationClamp(furnaceTemp, 0, 565)),\n    blowerTemp: simulationRound(simulationClamp(blowerTemp, 0, 420)),\n  };\n}\n\nif (String(env.get(\"STCR_HTTP_INGEST_ENABLED\") || \"false\").toLowerCase() === \"true\") return null;\n\nconst config = {\n  host: env.get(\"STCR_DB_HOST\") || \"127.0.0.1\",\n  port: Number(env.get(\"STCR_DB_PORT\") || 3306),\n  user: env.get(\"STCR_DB_USER\") || \"stcr_app\",\n  password: env.get(\"STCR_DB_PASSWORD\") || \"\",\n  database: env.get(\"STCR_DB_NAME\") || \"stcr\",\n  waitForConnections: true,\n  connectionLimit: 4,\n  timezone: \"Z\",\n};\n\nconst ARCHIVE_STEP_MS = 10 * 60 * 1000;\nasync function persistArchivedCycle(connection, companyId, oven, limits, cycle, completedBackfills) {\n  await connection.execute(\n    `INSERT INTO oven_cycles (\n      company_id, oven_id, cycle_number, state, fired_at, report_started_at,\n      stopped_at, ready_temperature, ready_hold_seconds\n    ) VALUES (?, ?, ?, 'completed', ?, ?, ?, ?, ?)\n    ON DUPLICATE KEY UPDATE\n      state='completed', fired_at=VALUES(fired_at), report_started_at=VALUES(report_started_at),\n      stopped_at=VALUES(stopped_at), updated_at=CURRENT_TIMESTAMP(3)`,\n    [\n      companyId, oven.id, cycle.cycleNumber, cycle.firedAt, cycle.reportStartedAt,\n      cycle.stoppedAt, limits.chamberTemp.lower, 1800,\n    ],\n  );\n\n  const [cycleRows] = await connection.execute(\n    `SELECT id FROM oven_cycles WHERE company_id=? AND oven_id=? AND cycle_number=? LIMIT 1`,\n    [companyId, oven.id, cycle.cycleNumber],\n  );\n  const cycleId = cycleRows[0]?.id;\n  if (!cycleId) return;\n\n  const backfillKey = `dbArchive:${companyId}:${oven.id}:${cycle.cycleNumber}:${cycle.firedAt}`;\n  if (context.get(backfillKey)) return;\n\n  // Always repair the report boundary before deciding that an archived cycle\n  // already has enough data. Older seeded rows may share the cycle id but sit\n  // outside the official report window.\n  await connection.execute(\n    `UPDATE sensor_readings\n     SET included_in_report=FALSE,\n         cycle_phase=CASE WHEN recorded_at<? THEN 'ignition' ELSE 'cooldown' END\n     WHERE cycle_id=? AND (recorded_at<? OR recorded_at>?)`,\n    [cycle.reportStartedAt, cycleId, cycle.reportStartedAt, cycle.stoppedAt],\n  );\n\n  const [existingRows] = await connection.execute(\n    `SELECT COUNT(*) AS pointCount FROM sensor_readings WHERE cycle_id=? AND included_in_report=TRUE`,\n    [cycleId],\n  );\n  if (Number(existingRows[0]?.pointCount || 0) >= 50) {\n    completedBackfills.push(backfillKey);\n    return;\n  }\n\n  const firedAtMs = Date.parse(cycle.firedAt);\n  const startMs = Date.parse(cycle.reportStartedAt);\n  const endMs = Date.parse(cycle.stoppedAt);\n\n  for (let chunkStart = startMs; chunkStart <= endMs; chunkStart += ARCHIVE_STEP_MS * 400) {\n    const chunk = [];\n    const chunkEnd = Math.min(endMs, chunkStart + ARCHIVE_STEP_MS * 399);\n    for (let timestamp = chunkStart; timestamp <= chunkEnd; timestamp += ARCHIVE_STEP_MS) {\n      chunk.push({\n        timestamp: new Date(timestamp).toISOString(),\n        ...simulationSensorValues(companyId, oven.number, timestamp, firedAtMs),\n      });\n    }\n    if (!chunk.length) continue;\n\n    const placeholders = chunk.map(() => \"(?, ?, ?, ?, ?, ?, ?, ?, 'recording', TRUE, 'good', ?)\").join(\",\");\n    const values = chunk.flatMap((point) => [\n      companyId, oven.id, cycleId, point.timestamp,\n      point.chamberTemp, point.humidity, point.furnaceTemp, point.blowerTemp,\n      point.timestamp,\n    ]);\n    await connection.execute(\n      `INSERT IGNORE INTO sensor_readings (\n        company_id, oven_id, cycle_id, recorded_at, chamber_temp, humidity,\n        furnace_temp, blower_temp, cycle_phase, included_in_report, quality, source_timestamp\n      ) VALUES ${placeholders}`,\n      values,\n    );\n  }\n\n  completedBackfills.push(backfillKey);\n}\n\nlet pool = context.get(\"stcrDbPool\");\nif (!pool) {\n  pool = mysql.createPool(config);\n  context.set(\"stcrDbPool\", pool);\n}\n\nconst snapshot = msg.payload;\nif (!snapshot || !snapshot.companies) return null;\nconst updatedOvenIds = new Set(snapshot.updatedOvenIds || []);\nconst persistenceScope = Object.keys(snapshot.companies).sort().join(\",\");\nconst persistenceLockKey = `stcrDbPersisting:${persistenceScope}`;\nif (context.get(persistenceLockKey)) return null;\ncontext.set(persistenceLockKey, true);\n\nconst maxPersistenceAttempts = 3;\n\nfor (let attempt = 1; attempt <= maxPersistenceAttempts; attempt += 1) {\n  let connection;\n  const completedBackfills = [];\n\n  try {\n    connection = await pool.getConnection();\n  await connection.query(\"SET time_zone = '+00:00'\");\n  await connection.beginTransaction();\n\n  for (const [companyId, companyState] of Object.entries(snapshot.companies)) {\n    const companyName = companyId === \"gr\" ? \"Grand Rubber\" : companyId === \"ttn\" ? \"TTN Rubber\" : companyId;\n    await connection.execute(\n      `INSERT INTO companies (id, name, data_source_key)\n       VALUES (?, ?, ?)\n       ON DUPLICATE KEY UPDATE name=VALUES(name), data_source_key=VALUES(data_source_key)`,\n      [companyId, companyName, `${companyId}-node-red`],\n    );\n\n    for (const oven of companyState.ovens) {\n      const limits = oven.limits;\n      await connection.execute(\n        `INSERT INTO ovens (\n          id, company_id, oven_number, name, zone_name, line_name, status, enabled,\n          chamber_lower, chamber_upper, furnace_lower, furnace_upper,\n          blower_lower, blower_upper, humidity_lower, humidity_upper, last_seen_at\n        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)\n        ON DUPLICATE KEY UPDATE\n          oven_number=VALUES(oven_number), name=VALUES(name), zone_name=VALUES(zone_name),\n          line_name=VALUES(line_name), status=VALUES(status), enabled=VALUES(enabled),\n          chamber_lower=VALUES(chamber_lower), chamber_upper=VALUES(chamber_upper),\n          furnace_lower=VALUES(furnace_lower), furnace_upper=VALUES(furnace_upper),\n          blower_lower=VALUES(blower_lower), blower_upper=VALUES(blower_upper),\n          humidity_lower=VALUES(humidity_lower), humidity_upper=VALUES(humidity_upper),\n          last_seen_at=VALUES(last_seen_at)`,\n        [\n          oven.id, companyId, oven.number, oven.name, oven.zone, oven.line, oven.status, oven.enabled,\n          limits.chamberTemp.lower, limits.chamberTemp.upper,\n          limits.furnaceTemp.lower, limits.furnaceTemp.upper,\n          limits.blowerTemp.lower, limits.blowerTemp.upper,\n          limits.humidity.lower, limits.humidity.upper, oven.lastUpdatedAt,\n        ],\n      );\n\n      let cycleId = null;\n      if (oven.status === \"open\" && oven.firedAt && oven.cycleCount > 0) {\n        const cycleState = oven.reportStartedAt ? \"recording\" : \"ignition\";\n        await connection.execute(\n          `INSERT INTO oven_cycles (\n            company_id, oven_id, cycle_number, state, fired_at, report_started_at,\n            stopped_at, ready_temperature, ready_hold_seconds\n          ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)\n          ON DUPLICATE KEY UPDATE\n            state=VALUES(state), fired_at=VALUES(fired_at),\n            report_started_at=VALUES(report_started_at),\n            stopped_at=VALUES(stopped_at),\n            updated_at=CURRENT_TIMESTAMP(3)`,\n          [\n            companyId, oven.id, oven.cycleCount, cycleState, oven.firedAt,\n            oven.reportStartedAt || null, oven.stoppedAt || null,\n            limits.chamberTemp.lower, 1800,\n          ],\n        );\n        const [cycleRows] = await connection.execute(\n          `SELECT id FROM oven_cycles WHERE company_id=? AND oven_id=? AND cycle_number=? LIMIT 1`,\n          [companyId, oven.id, oven.cycleCount],\n        );\n        cycleId = cycleRows[0]?.id || null;\n        if (cycleId) {\n          if (oven.reportStartedAt) {\n            await connection.execute(\n              `UPDATE sensor_readings\n               SET included_in_report=FALSE, cycle_phase='ignition'\n               WHERE cycle_id=? AND recorded_at<?`,\n              [cycleId, oven.reportStartedAt],\n            );\n          } else {\n            await connection.execute(\n              `UPDATE sensor_readings\n               SET included_in_report=FALSE, cycle_phase='ignition'\n               WHERE cycle_id=?`,\n              [cycleId],\n            );\n          }\n        }\n      }\n\n      const backfillKey = `dbBackfill:${companyId}:${oven.id}:${oven.cycleCount}:${oven.firedAt || \"none\"}`;\n      if (cycleId && oven.firedAt && !context.get(backfillKey)) {\n        const firedAtMs = Date.parse(oven.firedAt);\n        const reportStartMs = oven.reportStartedAt ? Date.parse(oven.reportStartedAt) : Number.POSITIVE_INFINITY;\n        const stoppedAtMs = oven.stoppedAt ? Date.parse(oven.stoppedAt) : Number.POSITIVE_INFINITY;\n        const history = (companyState.history[oven.id] || []).filter(\n          (point) => {\n            const timestamp = Date.parse(point.timestamp);\n            return timestamp >= firedAtMs && timestamp <= stoppedAtMs;\n          },\n        );\n\n        for (let offset = 0; offset < history.length; offset += 400) {\n          const chunk = history.slice(offset, offset + 400);\n          if (!chunk.length) continue;\n          const placeholders = chunk.map(() => \"(?, ?, ?, ?, ?, ?, ?, ?, ?, ?, 'good', ?)\").join(\",\");\n          const values = chunk.flatMap((point) => {\n            const includedInReport = Date.parse(point.timestamp) >= reportStartMs;\n            return [\n              companyId, oven.id, cycleId, point.timestamp,\n              point.chamberTemp, point.humidity, point.furnaceTemp, point.blowerTemp,\n              includedInReport ? \"recording\" : \"ignition\", includedInReport,\n              point.timestamp,\n            ];\n          });\n          await connection.execute(\n            `INSERT INTO sensor_readings (\n              company_id, oven_id, cycle_id, recorded_at, chamber_temp, humidity,\n              furnace_temp, blower_temp, cycle_phase, included_in_report, quality, source_timestamp\n            ) VALUES ${placeholders}\n            ON DUPLICATE KEY UPDATE\n              cycle_id=VALUES(cycle_id), chamber_temp=VALUES(chamber_temp),\n              humidity=VALUES(humidity), furnace_temp=VALUES(furnace_temp),\n              blower_temp=VALUES(blower_temp), cycle_phase=VALUES(cycle_phase),\n              included_in_report=VALUES(included_in_report), quality=VALUES(quality),\n              source_timestamp=VALUES(source_timestamp)`,\n            values,\n          );\n        }\n        completedBackfills.push(backfillKey);\n      }\n\n      if (oven.status === \"open\" && updatedOvenIds.has(oven.id)) {\n        const reading = oven.readings;\n        const includedInReport = Boolean(oven.reportStartedAt);\n        const sensorSet = snapshot.telemetrySamples?.[`${companyId}:${oven.id}`] || {};\n        const quality = Object.values(sensorSet).some((sample) => sample.quality !== \"good\") ? \"suspect\" : \"good\";\n        const sourceTimestamp = sensorSet.chamberTemp?.sourceTimestamp || oven.lastUpdatedAt;\n        await connection.execute(\n          `INSERT INTO sensor_readings (\n            company_id, oven_id, cycle_id, recorded_at, chamber_temp, humidity,\n            furnace_temp, blower_temp, cycle_phase, included_in_report, quality, source_timestamp\n          ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)\n          ON DUPLICATE KEY UPDATE\n            chamber_temp=VALUES(chamber_temp), humidity=VALUES(humidity),\n            furnace_temp=VALUES(furnace_temp), blower_temp=VALUES(blower_temp),\n            cycle_id=VALUES(cycle_id), cycle_phase=VALUES(cycle_phase),\n            included_in_report=VALUES(included_in_report), source_timestamp=VALUES(source_timestamp)`,\n          [\n            companyId, oven.id, cycleId, oven.lastUpdatedAt,\n            reading.chamberTemp.value, reading.humidity.value,\n            reading.furnaceTemp.value, reading.blowerTemp.value,\n            includedInReport ? \"recording\" : \"ignition\", includedInReport, quality,\n            sourceTimestamp,\n          ],\n        );\n      }\n\n      for (const cycle of companyState.archivedCycles?.[oven.id] || []) {\n        await persistArchivedCycle(connection, companyId, oven, limits, cycle, completedBackfills);\n      }\n    }\n\n    for (const alarm of companyState.alarms) {\n      await connection.execute(\n        `INSERT INTO alarms (\n          id, company_id, oven_id, sensor_key, severity, status, title, detail,\n          measured_value, limit_value, created_at, resolved_at\n        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)\n        ON DUPLICATE KEY UPDATE\n          status=VALUES(status), title=VALUES(title), detail=VALUES(detail),\n          measured_value=VALUES(measured_value), limit_value=VALUES(limit_value),\n          resolved_at=VALUES(resolved_at)`,\n        [\n          `${companyId}-${alarm.id}`, companyId, alarm.ovenId, alarm.sensor || null,\n          alarm.severity, alarm.status, alarm.title, alarm.detail,\n          alarm.value ?? null, alarm.limit ?? null, alarm.createdAt, alarm.resolvedAt || null,\n        ],\n      );\n    }\n\n    const unresolvedAlarmIds = companyState.alarms\n      .filter((alarm) => alarm.status === \"active\" || alarm.status === \"acknowledged\")\n      .map((alarm) => `${companyId}-${alarm.id}`);\n    const unresolvedClause = unresolvedAlarmIds.length\n      ? ` AND id NOT IN (${unresolvedAlarmIds.map(() => \"?\").join(\",\")})`\n      : \"\";\n    await connection.execute(\n      `UPDATE alarms\n       SET status='resolved', resolved_at=COALESCE(resolved_at, ?)\n       WHERE company_id=? AND status IN ('active','acknowledged')${unresolvedClause}`,\n      [snapshot.capturedAt, companyId, ...unresolvedAlarmIds],\n    );\n\n    const companySamples = Object.values(snapshot.telemetrySamples || {})\n      .flatMap((sensorSet) => Object.values(sensorSet))\n      .filter((sample) => sample.companyId === companyId);\n\n    for (const sample of companySamples) {\n      await connection.execute(\n        `INSERT INTO telemetry_events (\n          company_id, oven_id, batch_id, topic, device_id, sensor_id, sensor_key,\n          sequence_number, numeric_value, unit_symbol, quality, quality_reasons,\n          source_timestamp, gateway_timestamp\n        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)\n        ON DUPLICATE KEY UPDATE\n          numeric_value=VALUES(numeric_value), quality=VALUES(quality),\n          quality_reasons=VALUES(quality_reasons), source_timestamp=VALUES(source_timestamp),\n          gateway_timestamp=VALUES(gateway_timestamp), received_at=CURRENT_TIMESTAMP(3)`,\n        [\n          sample.companyId, sample.ovenId, sample.batchId, sample.topic,\n          sample.deviceId, sample.sensorId, sample.sensorKey, sample.sequence,\n          sample.rawValue ?? sample.value, sample.unit, sample.quality,\n          JSON.stringify(sample.qualityReasons || []), sample.sourceTimestamp,\n          sample.gatewayTimestamp,\n        ],\n      );\n    }\n  }\n\n    await connection.commit();\n    completedBackfills.forEach((key) => context.set(key, true));\n    node.status({ fill: \"green\", shape: \"dot\", text: `DB ${snapshot.capturedAt}` });\n    break;\n  } catch (error) {\n    if (connection) await connection.rollback();\n    const retryable = error.code === \"ER_LOCK_DEADLOCK\" || error.errno === 1213;\n    if (retryable && attempt < maxPersistenceAttempts) {\n      node.warn(`Database deadlock; retrying persistence (${attempt}/${maxPersistenceAttempts})`);\n      await new Promise((resolve) => setTimeout(resolve, attempt * 250));\n      continue;\n    }\n    node.status({ fill: \"red\", shape: \"ring\", text: `DB ${error.code || \"error\"}` });\n    node.error(`STCR database persistence failed: ${error.message}`, msg);\n    break;\n  } finally {\n    connection?.release();\n  }\n}\n\ncontext.set(persistenceLockKey, false);\n\nreturn null;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "mysql",
        "module": "mysql2/promise"
      }
    ],
    "x": 390,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "stcr-http-1",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "ตรวจสอบสถานะระบบ",
    "url": "/stcr/api/health",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 250,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-2",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "เข้าสู่ระบบและออก Session",
    "url": "/stcr/api/auth/login",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 292,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-3",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "ออกจากระบบและยกเลิก Session",
    "url": "/stcr/api/auth/logout",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 334,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-4",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "รับข้อมูล IoT ด้วย API Key",
    "url": "/stcr/api/telemetry",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 376,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-5",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "ข้อมูลเตาทั้งหมด",
    "url": "/stcr/api/ovens",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 418,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-6",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "รายละเอียดเตา",
    "url": "/stcr/api/ovens/:ovenId",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 460,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-7",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "ข้อมูลย้อนหลัง",
    "url": "/stcr/api/ovens/:ovenId/history",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 502,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-8",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "ส่งออกไฟล์ CSV",
    "url": "/stcr/api/ovens/:ovenId/export.csv",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 544,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-9",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "ข้อมูลรอบรายงาน",
    "url": "/stcr/api/ovens/:ovenId/cycles/:cycleNumber/report-meta",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 586,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-10",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "รายการแจ้งเตือน",
    "url": "/stcr/api/alarms",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 628,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-11",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "ประวัติการใช้งาน",
    "url": "/stcr/api/audit-events",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 670,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-12",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "อ่านข้อมูลเอกสารรายงาน",
    "url": "/stcr/api/report-document-meta",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 712,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-13",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "บันทึกข้อมูลเอกสารรายงาน",
    "url": "/stcr/api/report-document-meta",
    "method": "put",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 754,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-14",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "บันทึกข้อมูลรอบรายงาน",
    "url": "/stcr/api/ovens/:ovenId/cycles/:cycleNumber/report-meta",
    "method": "put",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 796,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-15",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "บันทึกค่าขอบเขต",
    "url": "/stcr/api/ovens/:ovenId/limits",
    "method": "put",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 838,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-16",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "แก้ไขข้อมูลเตา",
    "url": "/stcr/api/ovens/:ovenId",
    "method": "patch",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 880,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-17",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "เพิ่มเตา",
    "url": "/stcr/api/ovens",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 922,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-18",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "รับทราบการแจ้งเตือน",
    "url": "/stcr/api/alarms/:alarmId/acknowledge",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 964,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-19",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "ตรวจสอบสิทธิ์ CORS",
    "url": "/stcr/api/*",
    "method": "options",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 1006,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-api-router",
    "type": "function",
    "z": "stcr-platform-tab",
    "name": "จัดเส้นทาง STCR API และคำนวณค่าเฉลี่ย 10 นาที",
    "func": "const method = String(msg.req.method || \"GET\").toUpperCase();\nconst path = msg.req.path || msg.req._parsedUrl?.pathname || \"\";\nconst query = msg.req.query || {};\nconst requestHeaders = msg.req.headers || {};\nconst requestOrigin = String(requestHeaders.origin || \"\").trim();\nconst allowedOrigins = String(\n  env.get(\"STCR_ALLOWED_ORIGINS\") ||\n    \"http://127.0.0.1:5173,http://localhost:5173,http://127.0.0.1:4173,http://localhost:4173\",\n)\n  .split(\",\")\n  .map((value) => value.trim())\n  .filter(Boolean);\nconst allowedOrigin = requestOrigin && allowedOrigins.includes(requestOrigin) ? requestOrigin : \"\";\nconst sensorKeys = [\"chamberTemp\", \"humidity\", \"furnaceTemp\", \"blowerTemp\"];\nconst maxBodyBytes = 32 * 1024;\nconst maxHistoryRangeMs = 14 * 24 * 60 * 60 * 1000;\n\nfunction responseHeaders(contentType = \"application/json; charset=utf-8\") {\n  return {\n    \"Content-Type\": contentType,\n    ...(allowedOrigin ? { \"Access-Control-Allow-Origin\": allowedOrigin } : {}),\n    \"Access-Control-Allow-Headers\": \"Content-Type, Authorization, X-API-Key\",\n    \"Access-Control-Allow-Methods\": \"GET, POST, PUT, PATCH, OPTIONS\",\n    \"Cache-Control\": \"no-store\",\n    \"Content-Security-Policy\": \"default-src 'none'; frame-ancestors 'none'\",\n    \"Permissions-Policy\": \"camera=(), microphone=(), geolocation=()\",\n    \"Referrer-Policy\": \"no-referrer\",\n    \"X-Content-Type-Options\": \"nosniff\",\n    \"X-Frame-Options\": \"DENY\",\n    Vary: \"Origin\",\n  };\n}\n\nfunction jsonResponse(payload, statusCode = 200, extraHeaders = {}) {\n  msg.statusCode = statusCode;\n  msg.headers = { ...responseHeaders(), ...extraHeaders };\n  msg.payload = payload;\n  return msg;\n}\n\nfunction errorResponse(message, statusCode = 400, code = \"BAD_REQUEST\", extraHeaders = {}) {\n  return jsonResponse({ error: message, code }, statusCode, extraHeaders);\n}\n\nfunction requestBody() {\n  if (msg.payload && typeof msg.payload === \"object\") return msg.payload;\n  if (typeof msg.payload === \"string\" && msg.payload.trim()) {\n    try {\n      return JSON.parse(msg.payload);\n    } catch {\n      return null;\n    }\n  }\n  return {};\n}\n\nfunction requestIp() {\n  const direct = msg.req.ip || msg.req.socket?.remoteAddress || \"unknown\";\n  if (env.get(\"STCR_TRUST_PROXY\") !== \"true\") return String(direct);\n  return String(requestHeaders[\"x-forwarded-for\"] || direct).split(\",\")[0].trim();\n}\n\nfunction checkRateLimit(scope, limit, windowMs) {\n  const now = Date.now();\n  const key = `${scope}:${requestIp()}`;\n  const buckets = global.get(\"stcrRateLimits\") || {};\n  const recent = (buckets[key] || []).filter((timestamp) => now - timestamp < windowMs);\n  recent.push(now);\n  buckets[key] = recent;\n\n  for (const [bucketKey, timestamps] of Object.entries(buckets)) {\n    if (!timestamps.length || now - timestamps[timestamps.length - 1] > windowMs) delete buckets[bucketKey];\n  }\n  global.set(\"stcrRateLimits\", buckets);\n\n  return recent.length <= limit;\n}\n\nfunction verifyPassword(password, encodedHash) {\n  const parts = String(encodedHash || \"\").split(\"$\");\n  if (parts.length !== 5 || parts[0] !== \"argon2id\" || parts[1] !== \"v=19\") return false;\n  const parameters = Object.fromEntries(\n    String(parts[2]).split(\",\").map((item) => item.split(\"=\")),\n  );\n  const memory = Number(parameters.m);\n  const passes = Number(parameters.t);\n  const parallelism = Number(parameters.p);\n  if (memory < 19456 || memory > 262144 || passes < 2 || passes > 10 || parallelism < 1 || parallelism > 4) {\n    return false;\n  }\n\n  try {\n    const salt = Buffer.from(parts[3], \"hex\");\n    const expected = Buffer.from(parts[4], \"hex\");\n    if (salt.length < 16 || expected.length !== 32) return false;\n    const actual = crypto.argon2Sync(\"argon2id\", {\n      message: password,\n      nonce: salt,\n      parallelism,\n      tagLength: expected.length,\n      memory,\n      passes,\n    });\n    return crypto.timingSafeEqual(actual, expected);\n  } catch {\n    return false;\n  }\n}\n\nasync function readUserForLogin(username) {\n  const pool = getDatabasePool();\n  const [rows] = await pool.execute(\n    `SELECT u.id, u.company_id AS companyId, u.username, u.display_name AS displayName,\n            u.password_hash AS passwordHash, u.password_algorithm AS passwordAlgorithm,\n            u.status, u.failed_login_count AS failedLoginCount, u.locked_until AS lockedUntil,\n            GROUP_CONCAT(r.code ORDER BY r.code SEPARATOR ',') AS roleCodes\n     FROM users u\n     LEFT JOIN user_roles ur ON ur.user_id=u.id\n     LEFT JOIN roles r ON r.id=ur.role_id\n     WHERE u.username=?\n     GROUP BY u.id\n     LIMIT 1`,\n    [username],\n  );\n  const user = rows[0];\n  if (!user) return null;\n  return {\n    ...user,\n    roles: String(user.roleCodes || \"viewer\").split(\",\").filter(Boolean),\n  };\n}\n\nasync function recordLoginFailure(user) {\n  if (!user) return;\n  const pool = getDatabasePool();\n  const failures = Number(user.failedLoginCount || 0) + 1;\n  const shouldLock = failures >= 5;\n  await pool.execute(\n    `UPDATE users\n     SET failed_login_count=?, status=IF(? AND status='active', 'locked', status),\n         locked_until=IF(? AND status='active', DATE_ADD(UTC_TIMESTAMP(3), INTERVAL 15 MINUTE), locked_until)\n     WHERE id=?`,\n    [failures, shouldLock, shouldLock, user.id],\n  );\n}\n\nasync function recordLoginSuccess(userId) {\n  const pool = getDatabasePool();\n  await pool.execute(\n    `UPDATE users\n     SET failed_login_count=0, locked_until=NULL, status='active', last_login_at=UTC_TIMESTAMP(3)\n     WHERE id=?`,\n    [userId],\n  );\n}\n\nfunction cleanupSessions() {\n  const now = Date.now();\n  const sessions = global.get(\"stcrAuthSessions\") || {};\n  for (const [token, session] of Object.entries(sessions)) {\n    if (!session || session.expiresAtMs <= now) delete sessions[token];\n  }\n  global.set(\"stcrAuthSessions\", sessions);\n  return sessions;\n}\n\nfunction authenticate() {\n  const authorization = String(requestHeaders.authorization || \"\");\n  if (!authorization.startsWith(\"Bearer \")) return null;\n  const token = authorization.slice(7).trim();\n  if (!/^[a-f0-9]{64}$/i.test(token)) return null;\n  return cleanupSessions()[token] || null;\n}\n\nasync function validateSessionAccount(session) {\n  if (!session?.userId) return false;\n  const pool = getDatabasePool();\n  const [rows] = await pool.execute(\n    `SELECT id FROM users\n     WHERE id=? AND company_id=? AND username=? AND status='active'\n       AND (locked_until IS NULL OR locked_until<=UTC_TIMESTAMP(3))\n     LIMIT 1`,\n    [session.userId, session.companyId, session.username],\n  );\n  return Boolean(rows[0]);\n}\n\nasync function addAudit(state, session, action, target, detail) {\n  const createdAt = new Date().toISOString();\n  const auditEvent = {\n    id: `audit-${session.companyId}-${Date.now()}-${crypto.randomBytes(3).toString(\"hex\")}`,\n    actor: session.username,\n    action,\n    target,\n    detail,\n    createdAt,\n  };\n  state.auditEvents.unshift(auditEvent);\n  state.auditEvents = state.auditEvents.slice(0, 100);\n\n  try {\n    const pool = getDatabasePool();\n    await pool.execute(\n      `INSERT INTO audit_events (\n         company_id, actor, action_name, target_type, target_id, detail, created_at\n       ) VALUES (?, ?, ?, 'application', ?, ?, ?)`,\n      [session.companyId, session.username, action, target, JSON.stringify({ message: detail }), createdAt],\n    );\n  } catch (error) {\n    node.warn(`Audit database persistence failed: ${error.message}`);\n  }\n\n  return auditEvent;\n}\n\nfunction getDatabasePool() {\n  let pool = context.get(\"stcrApiDbPool\");\n  if (pool) return pool;\n  const password = String(env.get(\"STCR_DB_PASSWORD\") || \"\");\n  if (!password) throw new Error(\"STCR_DB_PASSWORD is required\");\n  pool = mysql.createPool({\n    host: env.get(\"STCR_DB_HOST\") || \"127.0.0.1\",\n    port: Number(env.get(\"STCR_DB_PORT\") || 3306),\n    user: env.get(\"STCR_DB_USER\") || \"stcr_app\",\n    password,\n    database: env.get(\"STCR_DB_NAME\") || \"stcr\",\n    waitForConnections: true,\n    connectionLimit: 4,\n    timezone: \"Z\",\n  });\n  context.set(\"stcrApiDbPool\", pool);\n  return pool;\n}\n\nasync function readReportHistory(companyId, ovenId, historyQuery) {\n  const conditions = [\"r.company_id=?\", \"r.oven_id=?\"];\n  const values = [companyId, ovenId];\n  if (historyQuery.includeIgnition !== \"true\") {\n    conditions.push(\n      \"r.included_in_report=TRUE\",\n      \"c.report_started_at IS NOT NULL\",\n      \"r.recorded_at>=c.report_started_at\",\n      \"(c.stopped_at IS NULL OR r.recorded_at<=c.stopped_at)\",\n    );\n  }\n  if (historyQuery.startAt) {\n    conditions.push(\"r.recorded_at>=?\");\n    values.push(historyQuery.startAt);\n  }\n  if (historyQuery.endAt) {\n    conditions.push(\"r.recorded_at<=?\");\n    values.push(historyQuery.endAt);\n  }\n  if (historyQuery.cycleNumber) {\n    conditions.push(\"c.cycle_number=?\");\n    values.push(Number(historyQuery.cycleNumber));\n  }\n\n  const pool = getDatabasePool();\n  await pool.query(\"SET time_zone = '+00:00'\");\n  const requestedRangeMs = historyQuery.startAt && historyQuery.endAt\n    ? Math.max(0, Date.parse(historyQuery.endAt) - Date.parse(historyQuery.startAt))\n    : 0;\n  const bucketSeconds = requestedRangeMs > 24 * 60 * 60 * 1000 ? 600 : 60;\n  const [rows] = await pool.execute(\n    `SELECT\n       DATE_FORMAT(MIN(r.recorded_at), '%Y-%m-%dT%H:%i:%s.%fZ') AS timestamp,\n       AVG(r.chamber_temp) AS chamberTemp,\n       AVG(r.humidity) AS humidity,\n       AVG(r.furnace_temp) AS furnaceTemp,\n       AVG(r.blower_temp) AS blowerTemp\n     FROM sensor_readings r\n     LEFT JOIN oven_cycles c ON c.id=r.cycle_id\n     WHERE ${conditions.join(\" AND \")}\n     GROUP BY FLOOR(UNIX_TIMESTAMP(r.recorded_at) / ${bucketSeconds})\n     ORDER BY MIN(r.recorded_at) ASC\n     LIMIT 10000`,\n    values,\n  );\n  return rows.map((row) => ({\n    timestamp: row.timestamp,\n    chamberTemp: Number(row.chamberTemp),\n    humidity: Number(row.humidity),\n    furnaceTemp: Number(row.furnaceTemp),\n    blowerTemp: Number(row.blowerTemp),\n  }));\n}\n\nasync function readAuditEvents(companyId) {\n  const pool = getDatabasePool();\n  const [rows] = await pool.execute(\n    `SELECT CAST(id AS CHAR) AS id, actor, action_name, target_id, detail,\n            DATE_FORMAT(created_at, '%Y-%m-%dT%H:%i:%s.%fZ') AS createdAt\n     FROM audit_events\n     WHERE company_id=?\n     ORDER BY created_at DESC, id DESC\n     LIMIT 100`,\n    [companyId],\n  );\n\n  return rows.map((row) => {\n    let parsedDetail = row.detail;\n    if (typeof parsedDetail === \"string\") {\n      try {\n        parsedDetail = JSON.parse(parsedDetail);\n      } catch {\n        parsedDetail = { message: parsedDetail };\n      }\n    }\n    return {\n      id: `audit-db-${row.id}`,\n      actor: row.actor,\n      action: row.action_name,\n      target: row.target_id,\n      detail: parsedDetail?.message || \"\",\n      createdAt: row.createdAt,\n    };\n  });\n}\n\nasync function readReportDocumentMeta(companyId) {\n  const pool = getDatabasePool();\n  const [rows] = await pool.execute(\n    `SELECT document_no AS documentNo, effective_date AS effectiveDate\n     FROM report_document_settings\n     WHERE company_id=?\n     LIMIT 1`,\n    [companyId],\n  );\n  return rows[0] || { documentNo: \"\", effectiveDate: \"\" };\n}\n\nfunction validHistoryQuery(historyQuery) {\n  const hasStart = Boolean(historyQuery.startAt);\n  const hasEnd = Boolean(historyQuery.endAt);\n  const cycle = Number(historyQuery.cycleNumber);\n  if (hasStart !== hasEnd) return false;\n  if (historyQuery.cycleNumber && (!Number.isInteger(cycle) || cycle < 1 || cycle > 1000000)) return false;\n  if (!hasStart) return Number.isInteger(cycle) && cycle > 0;\n  const start = Date.parse(historyQuery.startAt);\n  const end = Date.parse(historyQuery.endAt);\n  return Number.isFinite(start) && Number.isFinite(end) && end >= start && end - start <= maxHistoryRangeMs;\n}\n\nfunction safeText(value, maxLength) {\n  if (typeof value !== \"string\") return null;\n  const normalized = value.trim();\n  if (!normalized || normalized.length > maxLength || /[\\u0000-\\u001f\\u007f]/.test(normalized)) return null;\n  return normalized;\n}\n\nfunction hasAnyRole(session, allowedRoles) {\n  return Array.isArray(session?.roles) && session.roles.some((role) => allowedRoles.includes(role));\n}\n\nasync function authenticateApiKey(companyId, ovenId, apiKey) {\n  const pepper = String(env.get(\"STCR_API_KEY_PEPPER\") || \"\");\n  if (pepper.length < 32 || !/^stcr_(gr|ttn)_[A-Za-z0-9_-]{32,}$/.test(apiKey)) return null;\n  if (!apiKey.startsWith(`stcr_${companyId}_`)) return null;\n  const prefix = apiKey.slice(0, 16);\n  const candidateHash = crypto.createHmac(\"sha256\", pepper).update(apiKey).digest();\n  const pool = getDatabasePool();\n  const [rows] = await pool.execute(\n    `SELECT id, company_id AS companyId, allowed_oven_id AS allowedOvenId, key_hash AS keyHash\n     FROM api_keys\n     WHERE company_id=? AND key_prefix=? AND status='active'\n       AND (expires_at IS NULL OR expires_at>UTC_TIMESTAMP(3))\n     LIMIT 1`,\n    [companyId, prefix],\n  );\n  const key = rows[0];\n  if (!key || (key.allowedOvenId && key.allowedOvenId !== ovenId)) return null;\n  const expectedHash = Buffer.from(String(key.keyHash), \"hex\");\n  if (expectedHash.length !== candidateHash.length || !crypto.timingSafeEqual(candidateHash, expectedHash)) {\n    return null;\n  }\n  return key;\n}\n\nfunction normalizeTelemetryBatch(body) {\n  const companyId = safeText(body?.companyId, 32);\n  const ovenId = safeText(body?.ovenId, 64);\n  const batchId = safeText(body?.batchId, 96);\n  const deviceId = safeText(body?.deviceId, 128);\n  const readings = Array.isArray(body?.readings) ? body.readings : [];\n  if (!companyId || !ovenId || !batchId || !deviceId || readings.length !== sensorKeys.length) return null;\n  if (!new Set([\"gr\", \"ttn\"]).has(companyId)) return null;\n\n  const physicalRanges = {\n    chamberTemp: [-20, 150, \"C\"],\n    humidity: [0, 100, \"%\"],\n    furnaceTemp: [-20, 1200, \"C\"],\n    blowerTemp: [-20, 500, \"C\"],\n  };\n  const normalized = [];\n  const seen = new Set();\n  for (const reading of readings) {\n    const sensorKey = safeText(reading?.sensorKey, 40);\n    const sensorId = safeText(reading?.sensorId, 160);\n    const rule = physicalRanges[sensorKey];\n    const value = Number(reading?.value);\n    const rawValue = Number(reading?.rawValue ?? reading?.value);\n    const sequence = Number(reading?.sequence);\n    const timestampMs = Date.parse(reading?.sourceTimestamp);\n    const quality = [\"good\", \"suspect\", \"missing\", \"manual\"].includes(reading?.quality)\n      ? reading.quality\n      : \"good\";\n    if (\n      !rule || seen.has(sensorKey) || !sensorId || reading?.unit !== rule[2] ||\n      !Number.isFinite(value) || !Number.isFinite(rawValue) || value < rule[0] || value > rule[1] ||\n      !Number.isSafeInteger(sequence) || sequence < 0 || !Number.isFinite(timestampMs) ||\n      Math.abs(Date.now() - timestampMs) > 10 * 60 * 1000\n    ) return null;\n    seen.add(sensorKey);\n    normalized.push({\n      sensorKey,\n      sensorId,\n      value,\n      rawValue,\n      sequence,\n      unit: reading.unit,\n      quality,\n      qualityReasons: Array.isArray(reading.qualityReasons) ? reading.qualityReasons.slice(0, 10) : [],\n      sourceTimestamp: new Date(timestampMs).toISOString(),\n    });\n  }\n  if (!sensorKeys.every((key) => seen.has(key))) return null;\n  return { companyId, ovenId, batchId, deviceId, readings };\n}\n\nasync function persistHttpTelemetryBatch(batch, apiKeyRecord) {\n  const pool = getDatabasePool();\n  const connection = await pool.getConnection();\n  const receivedAt = new Date();\n  const recordedAt = new Date(Math.max(...batch.readings.map((reading) => Date.parse(reading.sourceTimestamp))));\n  try {\n    await connection.beginTransaction();\n    const [ovenRows] = await connection.execute(\n      `SELECT id FROM ovens WHERE company_id=? AND id=? AND enabled=TRUE LIMIT 1 FOR UPDATE`,\n      [batch.companyId, batch.ovenId],\n    );\n    if (!ovenRows[0]) {\n      const error = new Error(\"OVEN_NOT_FOUND\");\n      error.code = \"OVEN_NOT_FOUND\";\n      throw error;\n    }\n    const [cycleRows] = await connection.execute(\n      `SELECT id, state FROM oven_cycles\n       WHERE company_id=? AND oven_id=?\n       ORDER BY cycle_number DESC LIMIT 1`,\n      [batch.companyId, batch.ovenId],\n    );\n    const cycle = cycleRows[0] || null;\n    const cyclePhase = cycle?.state === \"recording\"\n      ? \"recording\"\n      : cycle?.state === \"ignition\" ? \"ignition\" : cycle?.state === \"completed\" ? \"cooldown\" : \"idle\";\n    const includedInReport = cyclePhase === \"recording\";\n\n    for (const reading of batch.readings) {\n      await connection.execute(\n        `INSERT INTO telemetry_events (\n           company_id, oven_id, batch_id, topic, device_id, sensor_id, sensor_key,\n           sequence_number, numeric_value, unit_symbol, quality, quality_reasons,\n           source_timestamp, gateway_timestamp, received_at\n         ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)\n         ON DUPLICATE KEY UPDATE received_at=VALUES(received_at)`,\n        [\n          batch.companyId, batch.ovenId, batch.batchId,\n          `stcr/${batch.companyId}/${batch.ovenId}/telemetry/${reading.sensorKey}`,\n          batch.deviceId, reading.sensorId, reading.sensorKey, reading.sequence,\n          reading.rawValue, reading.unit, reading.quality, JSON.stringify(reading.qualityReasons),\n          reading.sourceTimestamp, reading.sourceTimestamp, receivedAt,\n        ],\n      );\n    }\n\n    const bySensor = Object.fromEntries(batch.readings.map((reading) => [reading.sensorKey, reading]));\n    const snapshotQuality = batch.readings.some((reading) => reading.quality !== \"good\") ? \"suspect\" : \"good\";\n    await connection.execute(\n      `INSERT INTO sensor_readings (\n         company_id, oven_id, cycle_id, recorded_at, chamber_temp, humidity,\n         furnace_temp, blower_temp, cycle_phase, included_in_report, quality,\n         source_timestamp, received_at\n       ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)\n       ON DUPLICATE KEY UPDATE\n         chamber_temp=VALUES(chamber_temp), humidity=VALUES(humidity),\n         furnace_temp=VALUES(furnace_temp), blower_temp=VALUES(blower_temp),\n         quality=VALUES(quality), source_timestamp=VALUES(source_timestamp), received_at=VALUES(received_at)`,\n      [\n        batch.companyId, batch.ovenId, cycle?.id || null, recordedAt,\n        bySensor.chamberTemp.value, bySensor.humidity.value,\n        bySensor.furnaceTemp.value, bySensor.blowerTemp.value,\n        cyclePhase, includedInReport, snapshotQuality, recordedAt, receivedAt,\n      ],\n    );\n    await connection.execute(\n      `UPDATE ovens SET last_seen_at=? WHERE company_id=? AND id=?`,\n      [receivedAt, batch.companyId, batch.ovenId],\n    );\n    await connection.execute(\n      `UPDATE api_keys SET last_used_at=? WHERE id=? AND company_id=?`,\n      [receivedAt, apiKeyRecord.id, batch.companyId],\n    );\n    await connection.commit();\n\n    const rootState = global.get(\"stcrState\");\n    const companyState = rootState?.companies?.[batch.companyId];\n    const oven = companyState?.ovens?.find((item) => item.id === batch.ovenId);\n    if (oven) {\n      const timestamp = recordedAt.toISOString();\n      batch.readings.forEach((reading) => {\n        oven.readings[reading.sensorKey] = {\n          ...oven.readings[reading.sensorKey],\n          value: reading.value,\n          updatedAt: timestamp,\n        };\n      });\n      oven.lastUpdatedAt = timestamp;\n      const point = {\n        timestamp,\n        chamberTemp: bySensor.chamberTemp.value,\n        humidity: bySensor.humidity.value,\n        furnaceTemp: bySensor.furnaceTemp.value,\n        blowerTemp: bySensor.blowerTemp.value,\n      };\n      companyState.history[batch.ovenId] = [...(companyState.history[batch.ovenId] || []), point].slice(-10000);\n      global.set(\"stcrState\", rootState);\n    }\n    return { recordedAt: recordedAt.toISOString(), quality: snapshotQuality, includedInReport };\n  } catch (error) {\n    await connection.rollback();\n    throw error;\n  } finally {\n    connection.release();\n  }\n}\n\nfunction csvCell(value) {\n  let text = value == null ? \"\" : String(value);\n  if (/^[=+\\-@]/.test(text)) text = `'${text}`;\n  return `\"${text.replace(/\"/g, '\"\"')}\"`;\n}\n\nif (requestOrigin && !allowedOrigin) {\n  return errorResponse(\"Origin is not allowed\", 403, \"ORIGIN_FORBIDDEN\");\n}\n\nif (method === \"OPTIONS\") {\n  msg.statusCode = 204;\n  msg.headers = responseHeaders();\n  msg.payload = \"\";\n  return msg;\n}\n\nconst rateLimitKind = path === \"/stcr/api/auth/login\"\n  ? \"login\"\n  : path === \"/stcr/api/telemetry\" ? \"telemetry\" : \"api\";\nconst rateLimit = rateLimitKind === \"login\" ? 10 : rateLimitKind === \"telemetry\" ? 120 : 180;\nconst rateWindowMs = rateLimitKind === \"login\" ? 15 * 60 * 1000 : 60 * 1000;\nif (!checkRateLimit(rateLimitKind, rateLimit, rateWindowMs)) {\n  return errorResponse(\"ส่งคำขอถี่เกินไป กรุณารอสักครู่\", 429, \"RATE_LIMITED\", { \"Retry-After\": \"60\" });\n}\n\nconst contentLength = Number(requestHeaders[\"content-length\"] || 0);\nif (contentLength > maxBodyBytes || (typeof msg.payload === \"string\" && msg.payload.length > maxBodyBytes)) {\n  return errorResponse(\"Request body is too large\", 413, \"PAYLOAD_TOO_LARGE\");\n}\n\nif (method === \"POST\" && path === \"/stcr/api/auth/login\") {\n  const body = requestBody();\n  const username = safeText(body?.username, 80);\n  const password = typeof body?.password === \"string\" && body.password.length <= 256 ? body.password : \"\";\n  let user = null;\n  try {\n    user = username ? await readUserForLogin(username) : null;\n  } catch (error) {\n    node.warn(`User database lookup failed: ${error.message}`);\n    return errorResponse(\"ระบบยืนยันตัวตนไม่พร้อมใช้งาน\", 503, \"AUTH_DATABASE_UNAVAILABLE\");\n  }\n\n  const lockedUntil = user?.lockedUntil ? new Date(user.lockedUntil).getTime() : 0;\n  const accountEnabled = user && (\n    user.status === \"active\" || (user.status === \"locked\" && lockedUntil > 0 && lockedUntil <= Date.now())\n  );\n  const validCompany = user && (user.companyId === \"gr\" || user.companyId === \"ttn\");\n  const dummyHash = \"argon2id$v=19$m=65536,t=3,p=1$00112233445566778899aabbccddeeff$e3f9e725738cc2a36f827442ce63603b1d51b7eeebff642c1854010c07bdb681\";\n  const passwordMatches = verifyPassword(\n    password,\n    accountEnabled && user.passwordAlgorithm === \"argon2id\" ? user.passwordHash : dummyHash,\n  );\n  const valid = Boolean(validCompany && accountEnabled && passwordMatches);\n  if (!valid) {\n    await recordLoginFailure(user).catch((error) => node.warn(`Login failure audit failed: ${error.message}`));\n    return errorResponse(\"ชื่อผู้ใช้หรือรหัสผ่านไม่ถูกต้อง\", 401, \"INVALID_CREDENTIALS\");\n  }\n\n  await recordLoginSuccess(user.id);\n\n  const ttlMinutes = Math.min(1440, Math.max(15, Number(env.get(\"STCR_SESSION_TTL_MINUTES\") || 480)));\n  const token = crypto.randomBytes(32).toString(\"hex\");\n  const expiresAtMs = Date.now() + ttlMinutes * 60 * 1000;\n  const sessions = cleanupSessions();\n  sessions[token] = { userId: user.id, username, companyId: user.companyId, roles: user.roles, expiresAtMs };\n  global.set(\"stcrAuthSessions\", sessions);\n  return jsonResponse({\n    token,\n    username,\n    companyId: user.companyId,\n    roles: user.roles,\n    expiresAt: new Date(expiresAtMs).toISOString(),\n  });\n}\n\nif (method === \"GET\" && path === \"/stcr/api/health\") {\n  const rootState = global.get(\"stcrState\");\n  return jsonResponse({ ok: Boolean(rootState?.companies), timestamp: new Date().toISOString() });\n}\n\nif (method === \"POST\" && path === \"/stcr/api/telemetry\") {\n  const batch = normalizeTelemetryBatch(requestBody());\n  if (!batch) return errorResponse(\"รูปแบบข้อมูล telemetry ไม่ถูกต้อง\", 400, \"INVALID_TELEMETRY\");\n  const apiKey = String(requestHeaders[\"x-api-key\"] || \"\").trim();\n  let apiKeyRecord = null;\n  try {\n    apiKeyRecord = await authenticateApiKey(batch.companyId, batch.ovenId, apiKey);\n  } catch (error) {\n    node.warn(`API key database lookup failed: ${error.message}`);\n    return errorResponse(\"ระบบรับข้อมูลไม่พร้อมใช้งาน\", 503, \"INGEST_DATABASE_UNAVAILABLE\");\n  }\n  if (!apiKeyRecord) return errorResponse(\"API Key หรือขอบเขตบริษัท/เตาไม่ถูกต้อง\", 401, \"INVALID_API_KEY\");\n\n  try {\n    const result = await persistHttpTelemetryBatch(batch, apiKeyRecord);\n    return jsonResponse({\n      accepted: true,\n      companyId: batch.companyId,\n      ovenId: batch.ovenId,\n      batchId: batch.batchId,\n      ...result,\n    }, 202);\n  } catch (error) {\n    if (error.code === \"OVEN_NOT_FOUND\") {\n      return errorResponse(\"ไม่พบเตาของบริษัทที่ระบุ\", 404, \"OVEN_NOT_FOUND\");\n    }\n    node.warn(`Telemetry persistence failed: ${error.message}`);\n    return errorResponse(\"บันทึกข้อมูล telemetry ไม่สำเร็จ\", 500, \"TELEMETRY_PERSIST_FAILED\");\n  }\n}\n\nconst session = authenticate();\nif (!session) return errorResponse(\"กรุณาเข้าสู่ระบบใหม่\", 401, \"UNAUTHORIZED\");\ntry {\n  if (!(await validateSessionAccount(session))) {\n    return errorResponse(\"บัญชีถูกระงับหรือสิทธิ์หมดอายุ\", 401, \"ACCOUNT_INACTIVE\");\n  }\n} catch (error) {\n  node.warn(`Session account validation failed: ${error.message}`);\n  return errorResponse(\"ระบบยืนยันสิทธิ์ไม่พร้อมใช้งาน\", 503, \"AUTH_DATABASE_UNAVAILABLE\");\n}\n\nif (method === \"POST\" && path === \"/stcr/api/auth/logout\") {\n  const token = String(requestHeaders.authorization).slice(7).trim();\n  const sessions = cleanupSessions();\n  delete sessions[token];\n  global.set(\"stcrAuthSessions\", sessions);\n  return jsonResponse({ ok: true });\n}\n\nconst requestedCompanyId = String(query.companyId || \"\").toLowerCase();\nif (requestedCompanyId && requestedCompanyId !== session.companyId) {\n  return errorResponse(\"ไม่มีสิทธิ์เข้าถึงข้อมูลบริษัทนี้\", 403, \"TENANT_FORBIDDEN\");\n}\nconst companyId = session.companyId;\nconst rootState = global.get(\"stcrState\");\nif (!rootState?.companies) return errorResponse(\"Simulator is not initialized\", 503, \"NOT_READY\");\nconst state = rootState.companies[companyId];\nif (!state) return errorResponse(\"Company data is not initialized\", 503, \"NOT_READY\");\nconst visibleOvens = state.ovens;\nconst visibleOvenById = new Map(visibleOvens.map((oven) => [oven.id, oven]));\n\nfunction persistState() {\n  rootState.companies[companyId] = state;\n  global.set(\"stcrState\", rootState);\n}\n\nif (method === \"GET\" && path === \"/stcr/api/ovens\") return jsonResponse(visibleOvens);\n\nif (method === \"GET\" && path === \"/stcr/api/alarms\") {\n  const search = String(query.search || \"\").slice(0, 100).trim().toLowerCase();\n  const alarms = state.alarms\n    .filter((alarm) => visibleOvenById.has(alarm.ovenId))\n    .map((alarm) => ({ ...alarm, ovenName: visibleOvenById.get(alarm.ovenId).name }))\n    .filter((alarm) => {\n      const severityMatch = !query.severity || query.severity === \"all\" || alarm.severity === query.severity;\n      const statusMatch = !query.status || query.status === \"all\" || alarm.status === query.status;\n      const ovenMatch = !query.ovenId || query.ovenId === \"all\" || alarm.ovenId === query.ovenId;\n      const searchMatch = !search || `${alarm.ovenName} ${alarm.title} ${alarm.detail}`.toLowerCase().includes(search);\n      return severityMatch && statusMatch && ovenMatch && searchMatch;\n    });\n  return jsonResponse(alarms);\n}\n\nif (method === \"GET\" && path === \"/stcr/api/audit-events\") {\n  try {\n    return jsonResponse(await readAuditEvents(companyId));\n  } catch (error) {\n    node.warn(`Audit database read fallback: ${error.message}`);\n    return jsonResponse(state.auditEvents);\n  }\n}\n\nif (method === \"GET\" && path === \"/stcr/api/report-document-meta\") {\n  try {\n    return jsonResponse(await readReportDocumentMeta(companyId));\n  } catch (error) {\n    node.warn(`Report document metadata read failed: ${error.message}`);\n    return jsonResponse({ documentNo: \"\", effectiveDate: \"\" });\n  }\n}\n\nif (method === \"PUT\" && path === \"/stcr/api/report-document-meta\") {\n  if (!hasAnyRole(session, [\"admin\"])) {\n    return errorResponse(\"ไม่มีสิทธิ์แก้ไขข้อมูลเอกสาร\", 403, \"ROLE_FORBIDDEN\");\n  }\n  const body = requestBody();\n  const documentNo = safeText(body?.documentNo, 80);\n  const effectiveDate = safeText(body?.effectiveDate, 40);\n  if (!documentNo || !effectiveDate) {\n    return errorResponse(\"ข้อมูลเอกสารไม่ถูกต้อง\", 400, \"INVALID_REPORT_DOCUMENT_META\");\n  }\n\n  const pool = getDatabasePool();\n  await pool.execute(\n    `INSERT INTO report_document_settings (\n       company_id, document_no, effective_date, updated_by\n     ) VALUES (?, ?, ?, ?)\n     ON DUPLICATE KEY UPDATE\n       document_no=VALUES(document_no), effective_date=VALUES(effective_date),\n       updated_by=VALUES(updated_by), updated_at=CURRENT_TIMESTAMP(3)`,\n    [companyId, documentNo, effectiveDate, session.username],\n  );\n  await addAudit(\n    state,\n    session,\n    \"แก้ไขข้อมูลเอกสารรายงาน\",\n    documentNo,\n    `เริ่มใช้วันที่ ${effectiveDate}`,\n  );\n  persistState();\n  return jsonResponse({ documentNo, effectiveDate });\n}\n\nif (method === \"POST\" && path === \"/stcr/api/ovens\") {\n  if (!hasAnyRole(session, [\"admin\"])) {\n    return errorResponse(\"ไม่มีสิทธิ์เพิ่มเตา\", 403, \"ROLE_FORBIDDEN\");\n  }\n  const nextNumber = Math.max(0, ...state.ovens.map((oven) => Number(oven.number) || 0)) + 1;\n  const now = new Date().toISOString();\n  const limits = JSON.parse(JSON.stringify(state.ovens[0]?.limits || {}));\n  const values = { chamberTemp: 0, humidity: 0, furnaceTemp: 0, blowerTemp: 0 };\n  const readings = Object.fromEntries(Object.entries(values).map(([key, value]) => [key, {\n    key,\n    value,\n    unit: key === \"humidity\" ? \"%\" : \"C\",\n    updatedAt: now,\n  }]));\n  const oven = {\n    id: `oven-${nextNumber}`,\n    number: nextNumber,\n    name: `เตา ${nextNumber}`,\n    zone: \"B\",\n    line: \"Line 2\",\n    status: \"closed\",\n    enabled: true,\n    cycleCount: 0,\n    stoppedAt: now,\n    lastUpdatedAt: now,\n    readings,\n    limits,\n  };\n  state.ovens.push(oven);\n  state.history[oven.id] = [];\n  await addAudit(state, session, \"เพิ่มเตาใหม่\", oven.name, \"เพิ่มเตาผ่าน Node-RED API\");\n  persistState();\n  return jsonResponse(oven, 201);\n}\n\nconst acknowledgeMatch = path.match(/^\\/stcr\\/api\\/alarms\\/([^/]+)\\/acknowledge$/);\nif (method === \"POST\" && acknowledgeMatch) {\n  if (!hasAnyRole(session, [\"admin\", \"operator\"])) {\n    return errorResponse(\"ไม่มีสิทธิ์รับทราบ Alarm\", 403, \"ROLE_FORBIDDEN\");\n  }\n  const alarmId = decodeURIComponent(acknowledgeMatch[1]);\n  if (!state.alarms.some((alarm) => alarm.id === alarmId)) return errorResponse(\"Alarm not found\", 404, \"NOT_FOUND\");\n  state.alarms = state.alarms.map((alarm) => alarm.id === alarmId ? { ...alarm, status: \"acknowledged\" } : alarm);\n  await addAudit(state, session, \"รับทราบ Alarm\", alarmId, \"รับทราบผ่านหน้าเว็บ\");\n  persistState();\n  return jsonResponse(state.alarms);\n}\n\nconst reportMetaMatch = path.match(/^\\/stcr\\/api\\/ovens\\/([^/]+)\\/cycles\\/(\\d+)\\/report-meta$/);\nif (method === \"GET\" && reportMetaMatch) {\n  const ovenId = decodeURIComponent(reportMetaMatch[1]);\n  const cycleNumber = Number(reportMetaMatch[2]);\n  if (!visibleOvenById.has(ovenId) || !Number.isSafeInteger(cycleNumber) || cycleNumber < 1) {\n    return errorResponse(\"ไม่พบเตาหรือรอบที่ระบุ\", 404, \"NOT_FOUND\");\n  }\n  const pool = getDatabasePool();\n  const [rows] = await pool.execute(\n    `SELECT DATE_FORMAT(fired_at, '%Y-%m-%dT%H:%i:%s.%fZ') AS firedAt,\n            CASE WHEN report_started_at IS NULL THEN NULL\n                 ELSE DATE_FORMAT(report_started_at, '%Y-%m-%dT%H:%i:%s.%fZ') END AS reportStartedAt,\n            CASE WHEN stopped_at IS NULL THEN NULL\n                 ELSE DATE_FORMAT(stopped_at, '%Y-%m-%dT%H:%i:%s.%fZ') END AS stoppedAt,\n            rubber_type AS rubberType, smoking_period_status AS smokingPeriodStatus,\n            temperature_control_status AS temperatureControlStatus, report_reason AS reason,\n            input_weight_kg AS inputNetWeightKg, output_weight_kg AS outputNetWeightKg,\n            firewood_weight_kg AS firewoodWeightKg\n     FROM oven_cycles\n     WHERE company_id=? AND oven_id=? AND cycle_number=?\n     LIMIT 1`,\n    [companyId, ovenId, cycleNumber],\n  );\n  if (!rows[0]) return errorResponse(\"ไม่พบรอบที่ระบุ\", 404, \"CYCLE_NOT_FOUND\");\n  const row = rows[0];\n  return jsonResponse({\n    ...row,\n    inputNetWeightKg: row.inputNetWeightKg == null ? null : Number(row.inputNetWeightKg),\n    outputNetWeightKg: row.outputNetWeightKg == null ? null : Number(row.outputNetWeightKg),\n    firewoodWeightKg: row.firewoodWeightKg == null ? null : Number(row.firewoodWeightKg),\n  });\n}\nif (method === \"PUT\" && reportMetaMatch) {\n  if (!hasAnyRole(session, [\"admin\", \"operator\"])) {\n    return errorResponse(\"ไม่มีสิทธิ์บันทึกข้อมูลรอบรายงาน\", 403, \"ROLE_FORBIDDEN\");\n  }\n  const ovenId = decodeURIComponent(reportMetaMatch[1]);\n  const cycleNumber = Number(reportMetaMatch[2]);\n  if (!visibleOvenById.has(ovenId) || !Number.isSafeInteger(cycleNumber) || cycleNumber < 1) {\n    return errorResponse(\"ไม่พบเตาหรือรอบที่ระบุ\", 404, \"NOT_FOUND\");\n  }\n  const body = requestBody();\n  const rubberTypes = [\"latex\", \"yellow\", \"black\", \"angka\", \"uss97\", \"uss96\", \"uss94\"];\n  const smokingStatuses = [\"under\", \"over\", \"notReached\"];\n  const temperatureStatuses = [\"underControl\", \"outOfControl\"];\n  const optionalEnum = (value, allowed) => value == null || value === \"\" ? null : allowed.includes(value) ? value : undefined;\n  const optionalWeight = (value) => {\n    if (value == null || value === \"\") return null;\n    const number = Number(value);\n    return Number.isFinite(number) && number >= 0 && number <= 1000000 ? number : undefined;\n  };\n  const rubberType = optionalEnum(body?.rubberType, rubberTypes);\n  const smokingPeriodStatus = optionalEnum(body?.smokingPeriodStatus, smokingStatuses);\n  const temperatureControlStatus = optionalEnum(body?.temperatureControlStatus, temperatureStatuses);\n  const reason = body?.reason == null || body.reason === \"\" ? null : safeText(body.reason, 500);\n  const invalidReason = body?.reason != null && body.reason !== \"\" && reason === null;\n  const inputWeight = optionalWeight(body?.inputNetWeightKg);\n  const outputWeight = optionalWeight(body?.outputNetWeightKg);\n  const firewoodWeight = optionalWeight(body?.firewoodWeightKg);\n  if (\n    rubberType === undefined || smokingPeriodStatus === undefined ||\n    temperatureControlStatus === undefined || invalidReason ||\n    inputWeight === undefined || outputWeight === undefined || firewoodWeight === undefined\n  ) {\n    return errorResponse(\"ข้อมูลรอบรายงานไม่ถูกต้อง\", 400, \"INVALID_REPORT_META\");\n  }\n\n  const pool = getDatabasePool();\n  const [result] = await pool.execute(\n    `UPDATE oven_cycles\n     SET rubber_type=?, smoking_period_status=?, temperature_control_status=?, report_reason=?,\n         input_weight_kg=?, output_weight_kg=?, firewood_weight_kg=?\n     WHERE company_id=? AND oven_id=? AND cycle_number=?`,\n    [\n      rubberType, smokingPeriodStatus, temperatureControlStatus, reason,\n      inputWeight, outputWeight, firewoodWeight, companyId, ovenId, cycleNumber,\n    ],\n  );\n  if (!result.affectedRows) return errorResponse(\"ไม่พบรอบที่ระบุ\", 404, \"CYCLE_NOT_FOUND\");\n  await addAudit(\n    state,\n    session,\n    \"บันทึกข้อมูลรอบรายงาน\",\n    `${ovenId}/cycle-${cycleNumber}`,\n    \"บันทึกชนิดยาง ผลประเมิน น้ำหนักยาง และน้ำหนักไม้ฟืน\",\n  );\n  persistState();\n  return jsonResponse({ ok: true });\n}\n\nconst historyMatch = path.match(/^\\/stcr\\/api\\/ovens\\/([^/]+)\\/history$/);\nif (method === \"GET\" && historyMatch) {\n  const ovenId = decodeURIComponent(historyMatch[1]);\n  const points = state.history[ovenId];\n  if (!points || !visibleOvenById.has(ovenId)) return errorResponse(\"Oven not found\", 404, \"NOT_FOUND\");\n  if (!validHistoryQuery(query)) return errorResponse(\"ช่วงเวลาหรือรอบรายงานไม่ถูกต้อง (สูงสุด 14 วัน)\", 400, \"INVALID_HISTORY_RANGE\");\n  try {\n    return jsonResponse(await readReportHistory(companyId, ovenId, query));\n  } catch (error) {\n    node.warn(`Database history fallback: ${error.message}`);\n  }\n  const startAt = query.startAt ? Date.parse(query.startAt) : Number.NEGATIVE_INFINITY;\n  const endAt = query.endAt ? Date.parse(query.endAt) : Number.POSITIVE_INFINITY;\n  return jsonResponse(points.filter((point) => {\n    const timestamp = Date.parse(point.timestamp);\n    return timestamp >= startAt && timestamp <= endAt;\n  }).slice(-10000));\n}\n\nconst exportMatch = path.match(/^\\/stcr\\/api\\/ovens\\/([^/]+)\\/export\\.csv$/);\nif (method === \"GET\" && exportMatch) {\n  const ovenId = decodeURIComponent(exportMatch[1]);\n  const points = state.history[ovenId];\n  if (!points || !visibleOvenById.has(ovenId)) return errorResponse(\"Oven not found\", 404, \"NOT_FOUND\");\n  const requestedSensors = String(query.sensors || sensorKeys.join(\",\")).split(\",\");\n  if (!requestedSensors.length || requestedSensors.some((sensor) => !sensorKeys.includes(sensor))) {\n    return errorResponse(\"Unknown sensor\", 400, \"INVALID_SENSOR\");\n  }\n  const rows = [\n    [\"timestamp\", ...requestedSensors],\n    ...points.slice(-10000).map((point) => [point.timestamp, ...requestedSensors.map((sensor) => point[sensor])]),\n  ];\n  msg.statusCode = 200;\n  msg.headers = {\n    ...responseHeaders(\"text/csv; charset=utf-8\"),\n    \"Content-Disposition\": `attachment; filename=\"${companyId}-${ovenId}.csv\"`,\n  };\n  msg.payload = rows.map((row) => row.map(csvCell).join(\",\")).join(\"\\n\");\n  return msg;\n}\n\nconst limitsMatch = path.match(/^\\/stcr\\/api\\/ovens\\/([^/]+)\\/limits$/);\nif (method === \"PUT\" && limitsMatch) {\n  if (!hasAnyRole(session, [\"admin\"])) {\n    return errorResponse(\"ไม่มีสิทธิ์เปลี่ยนค่า Limit\", 403, \"ROLE_FORBIDDEN\");\n  }\n  const ovenId = decodeURIComponent(limitsMatch[1]);\n  const index = state.ovens.findIndex((oven) => oven.id === ovenId);\n  if (index < 0) return errorResponse(\"Oven not found\", 404, \"NOT_FOUND\");\n  const body = requestBody();\n  if (!body) return errorResponse(\"Invalid JSON body\");\n  const physicalRanges = {\n    chamberTemp: [-20, 150],\n    humidity: [0, 100],\n    furnaceTemp: [-20, 1200],\n    blowerTemp: [-20, 500],\n  };\n  const valid = sensorKeys.every((sensor) => {\n    const lower = Number(body[sensor]?.lower);\n    const upper = Number(body[sensor]?.upper);\n    const [minimum, maximum] = physicalRanges[sensor];\n    return Number.isFinite(lower) && Number.isFinite(upper) && lower >= minimum && upper <= maximum && lower <= upper;\n  });\n  if (!valid) return errorResponse(\"Invalid limits payload\", 400, \"INVALID_LIMITS\");\n  const normalizedLimits = Object.fromEntries(sensorKeys.map((sensor) => [sensor, {\n    sensor,\n    lower: Number(body[sensor].lower),\n    upper: Number(body[sensor].upper),\n  }]));\n  state.ovens[index] = { ...state.ovens[index], limits: normalizedLimits };\n  await addAudit(state, session, \"เปลี่ยนค่า Limit\", state.ovens[index].name, \"บันทึก Upper/Lower ผ่าน Node-RED API\");\n  persistState();\n  return jsonResponse(state.ovens[index]);\n}\n\nconst ovenMatch = path.match(/^\\/stcr\\/api\\/ovens\\/([^/]+)$/);\nif (ovenMatch) {\n  const ovenId = decodeURIComponent(ovenMatch[1]);\n  const index = state.ovens.findIndex((oven) => oven.id === ovenId);\n  if (index < 0) return errorResponse(\"Oven not found\", 404, \"NOT_FOUND\");\n  if (method === \"GET\") return jsonResponse(visibleOvenById.get(ovenId));\n  if (method === \"PATCH\") {\n    if (!hasAnyRole(session, [\"admin\"])) {\n      return errorResponse(\"ไม่มีสิทธิ์แก้ไขข้อมูลเตา\", 403, \"ROLE_FORBIDDEN\");\n    }\n    const body = requestBody();\n    if (!body) return errorResponse(\"Invalid JSON body\");\n    const name = body.name === undefined ? state.ovens[index].name : safeText(body.name, 80);\n    const zone = body.zone === undefined ? state.ovens[index].zone : safeText(body.zone, 40);\n    const line = body.line === undefined ? state.ovens[index].line : safeText(body.line, 40);\n    if (!name || !zone || !line) return errorResponse(\"ข้อมูลเตาไม่ถูกต้อง\", 400, \"INVALID_OVEN\");\n    state.ovens[index] = { ...state.ovens[index], name, zone, line };\n    await addAudit(state, session, \"แก้ไขข้อมูลเตา\", name, \"แก้ชื่อ โซน หรือไลน์ผ่าน Node-RED API\");\n    persistState();\n    return jsonResponse(state.ovens[index]);\n  }\n}\n\nreturn errorResponse(`Route not found: ${method} ${path}`, 404, \"NOT_FOUND\");\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "mysql",
        "module": "mysql2/promise"
      },
      {
        "var": "crypto",
        "module": "crypto"
      }
    ],
    "x": 560,
    "y": 480,
    "wires": [
      [
        "stcr-http-response"
      ]
    ]
  },
  {
    "id": "stcr-http-response",
    "type": "http response",
    "z": "stcr-platform-tab",
    "name": "ส่งผลลัพธ์ HTTP กลับเว็บไซต์",
    "statusCode": "",
    "headers": {},
    "x": 850,
    "y": 480,
    "wires": []
  }
]
