node-red/flows.json
[
  {
    "id": "stcr-platform-tab",
    "type": "tab",
    "label": "01 ฐานข้อมูลและ API",
    "disabled": false,
    "info": "อ่านและบันทึกข้อมูลจริงใน MariaDB พร้อมให้บริการ HTTP API"
  },
  {
    "id": "stcr-factory-mqtt-tab",
    "type": "tab",
    "label": "02 รับข้อมูล MQTT โรงงาน",
    "disabled": false,
    "info": "รับข้อมูลจริงจาก MQTT โรงงาน เขียนลง MySQL โดยตรง"
  },
  {
    "id": "stcr-platform-note",
    "type": "comment",
    "z": "stcr-platform-tab",
    "name": "ฐานข้อมูลจริงและ API สำหรับเว็บไซต์",
    "info": "เมื่อไม่ได้รับข้อมูลจริง ระบบจะแสดงสถานะขาดการเชื่อมต่อ",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "stcr-http-1",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "ตรวจสอบสถานะระบบ",
    "url": "/stcr/api/health",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 100,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-2",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "เข้าสู่ระบบ",
    "url": "/stcr/api/auth/login",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 142,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-3",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "ออกจากระบบ",
    "url": "/stcr/api/auth/logout",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 184,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-4",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "รับข้อมูล IoT ด้วย API Key",
    "url": "/stcr/api/telemetry",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 226,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-5",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "เก็บ Payload MQTT ต้นฉบับ",
    "url": "/stcr/api/factory-mqtt/raw",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 268,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-6",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "ข้อมูลเตาทั้งหมด",
    "url": "/stcr/api/ovens",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 310,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-7",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "รายละเอียดเตา",
    "url": "/stcr/api/ovens/:ovenId",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 352,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-8",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "ข้อมูลย้อนหลัง",
    "url": "/stcr/api/ovens/:ovenId/history",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 394,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-9",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "ส่งออก CSV",
    "url": "/stcr/api/ovens/:ovenId/export.csv",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 436,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-10",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "ข้อมูลรอบรายงาน",
    "url": "/stcr/api/ovens/:ovenId/cycles/:cycleNumber/report-meta",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 478,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-11",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "รายการแจ้งเตือน",
    "url": "/stcr/api/alarms",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 520,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-12",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "ประวัติการใช้งาน",
    "url": "/stcr/api/audit-events",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 562,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-13",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "อ่านข้อมูลเอกสารรายงาน",
    "url": "/stcr/api/report-document-meta",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 604,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-14",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "บันทึกข้อมูลเอกสารรายงาน",
    "url": "/stcr/api/report-document-meta",
    "method": "put",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 646,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-15",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "บันทึกข้อมูลรอบรายงาน",
    "url": "/stcr/api/ovens/:ovenId/cycles/:cycleNumber/report-meta",
    "method": "put",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 688,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-16",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "บันทึกค่าขอบเขต",
    "url": "/stcr/api/ovens/:ovenId/limits",
    "method": "put",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 730,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-17",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "แก้ไขข้อมูลเตา",
    "url": "/stcr/api/ovens/:ovenId",
    "method": "patch",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 772,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-18",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "เพิ่มเตา",
    "url": "/stcr/api/ovens",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 814,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-http-19",
    "type": "http in",
    "z": "stcr-platform-tab",
    "name": "รับทราบ Alarm",
    "url": "/stcr/api/alarms/:alarmId/acknowledge",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 856,
    "wires": [
      [
        "stcr-api-router"
      ]
    ]
  },
  {
    "id": "stcr-api-router",
    "type": "function",
    "z": "stcr-platform-tab",
    "name": "จัดเส้นทาง STCR API และอ่านเขียน MariaDB",
    "func": "const method = String(msg.req.method || \"GET\").toUpperCase();\nconst path = msg.req.path || msg.req._parsedUrl?.pathname || \"\";\nconst query = msg.req.query || {};\nconst requestHeaders = msg.req.headers || {};\nconst requestOrigin = String(requestHeaders.origin || \"\").trim();\nconst allowedOrigins = String(\n  env.get(\"STCR_ALLOWED_ORIGINS\") ||\n    \"http://127.0.0.1:5173,http://localhost:5173,http://127.0.0.1:4173,http://localhost:4173\",\n)\n  .split(\",\")\n  .map((value) => value.trim())\n  .filter(Boolean);\nconst allowedOrigin = requestOrigin && allowedOrigins.includes(requestOrigin) ? requestOrigin : \"\";\nconst sensorKeys = [\"chamberTemp\", \"humidity\", \"furnaceTemp\", \"blowerTemp\"];\nconst maxBodyBytes = 32 * 1024;\nconst maxHistoryRangeMs = 14 * 24 * 60 * 60 * 1000;\nconst configuredOfflineSeconds = Number(env.get(\"STCR_OFFLINE_THRESHOLD_SECONDS\") || 180);\nconst offlineThresholdMs = Number.isFinite(configuredOfflineSeconds) && configuredOfflineSeconds >= 30\n  ? configuredOfflineSeconds * 1000\n  : 180 * 1000;\n\nfunction responseHeaders(contentType = \"application/json; charset=utf-8\") {\n  return {\n    \"Content-Type\": contentType,\n    ...(allowedOrigin ? { \"Access-Control-Allow-Origin\": allowedOrigin } : {}),\n    \"Access-Control-Allow-Headers\": \"Content-Type, Authorization, X-API-Key\",\n    \"Access-Control-Allow-Methods\": \"GET, POST, PUT, PATCH, OPTIONS\",\n    \"Cache-Control\": \"no-store\",\n    \"Content-Security-Policy\": \"default-src 'none'; frame-ancestors 'none'\",\n    \"Permissions-Policy\": \"camera=(), microphone=(), geolocation=()\",\n    \"Referrer-Policy\": \"no-referrer\",\n    \"X-Content-Type-Options\": \"nosniff\",\n    \"X-Frame-Options\": \"DENY\",\n    Vary: \"Origin\",\n  };\n}\n\nfunction jsonResponse(payload, statusCode = 200, extraHeaders = {}) {\n  msg.statusCode = statusCode;\n  msg.headers = { ...responseHeaders(), ...extraHeaders };\n  msg.payload = payload;\n  return msg;\n}\n\nfunction errorResponse(message, statusCode = 400, code = \"BAD_REQUEST\", extraHeaders = {}) {\n  return jsonResponse({ error: message, code }, statusCode, extraHeaders);\n}\n\nfunction requestBody() {\n  if (msg.payload && typeof msg.payload === \"object\") return msg.payload;\n  if (typeof msg.payload === \"string\" && msg.payload.trim()) {\n    try {\n      return JSON.parse(msg.payload);\n    } catch {\n      return null;\n    }\n  }\n  return {};\n}\n\nfunction requestIp() {\n  const direct = msg.req.ip || msg.req.socket?.remoteAddress || \"unknown\";\n  if (env.get(\"STCR_TRUST_PROXY\") !== \"true\") return String(direct);\n  return String(requestHeaders[\"x-forwarded-for\"] || direct).split(\",\")[0].trim();\n}\n\nfunction checkRateLimit(scope, limit, windowMs) {\n  const now = Date.now();\n  const key = `${scope}:${requestIp()}`;\n  const buckets = global.get(\"stcrRateLimits\") || {};\n  const recent = (buckets[key] || []).filter((timestamp) => now - timestamp < windowMs);\n  recent.push(now);\n  buckets[key] = recent;\n\n  for (const [bucketKey, timestamps] of Object.entries(buckets)) {\n    if (!timestamps.length || now - timestamps[timestamps.length - 1] > windowMs) delete buckets[bucketKey];\n  }\n  global.set(\"stcrRateLimits\", buckets);\n\n  return recent.length <= limit;\n}\n\nfunction verifyPassword(password, encodedHash) {\n  const parts = String(encodedHash || \"\").split(\"$\");\n  if (parts.length !== 5 || parts[0] !== \"argon2id\" || parts[1] !== \"v=19\") return false;\n  const parameters = Object.fromEntries(\n    String(parts[2]).split(\",\").map((item) => item.split(\"=\")),\n  );\n  const memory = Number(parameters.m);\n  const passes = Number(parameters.t);\n  const parallelism = Number(parameters.p);\n  if (memory < 19456 || memory > 262144 || passes < 2 || passes > 10 || parallelism < 1 || parallelism > 4) {\n    return false;\n  }\n\n  try {\n    const salt = Buffer.from(parts[3], \"hex\");\n    const expected = Buffer.from(parts[4], \"hex\");\n    if (salt.length < 16 || expected.length !== 32) return false;\n    const actual = crypto.argon2Sync(\"argon2id\", {\n      message: password,\n      nonce: salt,\n      parallelism,\n      tagLength: expected.length,\n      memory,\n      passes,\n    });\n    return crypto.timingSafeEqual(actual, expected);\n  } catch {\n    return false;\n  }\n}\n\nasync function readUserForLogin(username) {\n  const pool = getDatabasePool();\n  const [rows] = await pool.execute(\n    `SELECT u.id, u.company_id AS companyId, u.username, u.display_name AS displayName,\n            u.password_hash AS passwordHash, u.password_algorithm AS passwordAlgorithm,\n            u.status, u.failed_login_count AS failedLoginCount, u.locked_until AS lockedUntil,\n            GROUP_CONCAT(r.code ORDER BY r.code SEPARATOR ',') AS roleCodes\n     FROM users u\n     LEFT JOIN user_roles ur ON ur.user_id=u.id\n     LEFT JOIN roles r ON r.id=ur.role_id\n     WHERE u.username=?\n     GROUP BY u.id\n     LIMIT 1`,\n    [username],\n  );\n  const user = rows[0];\n  if (!user) return null;\n  return {\n    ...user,\n    roles: String(user.roleCodes || \"viewer\").split(\",\").filter(Boolean),\n  };\n}\n\nasync function recordLoginFailure(user) {\n  if (!user) return;\n  const pool = getDatabasePool();\n  const failures = Number(user.failedLoginCount || 0) + 1;\n  const shouldLock = failures >= 5;\n  await pool.execute(\n    `UPDATE users\n     SET failed_login_count=?, status=IF(? AND status='active', 'locked', status),\n         locked_until=IF(? AND status='active', DATE_ADD(UTC_TIMESTAMP(3), INTERVAL 15 MINUTE), locked_until)\n     WHERE id=?`,\n    [failures, shouldLock, shouldLock, user.id],\n  );\n}\n\nasync function recordLoginSuccess(userId) {\n  const pool = getDatabasePool();\n  await pool.execute(\n    `UPDATE users\n     SET failed_login_count=0, locked_until=NULL, status='active', last_login_at=UTC_TIMESTAMP(3)\n     WHERE id=?`,\n    [userId],\n  );\n}\n\nfunction cleanupSessions() {\n  // ลบ expired sessions จาก memory cache (ไม่ต้องทำ DB cleanup ทุก request)\n  const now = Date.now();\n  const sessions = global.get(\"stcrAuthSessions\") || {};\n  for (const [token, session] of Object.entries(sessions)) {\n    if (!session || session.expiresAtMs <= now) delete sessions[token];\n  }\n  global.set(\"stcrAuthSessions\", sessions);\n  return sessions;\n}\n\nfunction authenticate() {\n  const authorization = String(requestHeaders.authorization || \"\");\n  if (!authorization.startsWith(\"Bearer \")) return null;\n  const token = authorization.slice(7).trim();\n  if (!/^[a-f0-9]{64}$/i.test(token)) return null;\n  // ลองหาจาก memory cache ก่อน (fast path)\n  const cached = cleanupSessions()[token];\n  if (cached) return cached;\n  return null;\n}\n\nasync function authenticateFromDb(token) {\n  // fallback: ดึง session จาก DB (กรณี Node-RED restart แล้ว cache หาย)\n  if (!/^[a-f0-9]{64}$/i.test(token)) return null;\n  try {\n    const pool = getDatabasePool();\n    const [rows] = await pool.execute(\n      `SELECT user_id AS userId, company_id AS companyId, username,\n              roles, expires_at AS expiresAt\n       FROM sessions\n       WHERE token=? AND expires_at > UTC_TIMESTAMP(3)\n       LIMIT 1`,\n      [token],\n    );\n    const row = rows[0];\n    if (!row) return null;\n    const expiresAtMs = new Date(row.expiresAt).getTime();\n    let roles;\n    try { roles = typeof row.roles === \"string\" ? JSON.parse(row.roles) : row.roles; } catch { roles = [\"viewer\"]; }\n    const session = { userId: row.userId, username: row.username, companyId: row.companyId, roles, expiresAtMs };\n    // เก็บ cache กลับเข้า memory\n    const sessions = global.get(\"stcrAuthSessions\") || {};\n    sessions[token] = session;\n    global.set(\"stcrAuthSessions\", sessions);\n    return session;\n  } catch {\n    return null;\n  }\n}\n\nasync function createSession(user, ttlMinutes) {\n  const token = crypto.randomBytes(32).toString(\"hex\");\n  const expiresAtMs = Date.now() + ttlMinutes * 60 * 1000;\n  const expiresAt = new Date(expiresAtMs).toISOString();\n  const session = { userId: user.id, username: user.username, companyId: user.companyId, roles: user.roles, expiresAtMs };\n\n  // เขียนลง DB ก่อน แล้วค่อย cache ใน memory\n  const pool = getDatabasePool();\n  await pool.execute(\n    `INSERT INTO sessions (token, user_id, company_id, username, roles, expires_at)\n     VALUES (?, ?, ?, ?, ?, ?)\n     ON DUPLICATE KEY UPDATE expires_at=VALUES(expires_at)`,\n    [token, user.id, user.companyId, user.username, JSON.stringify(user.roles), expiresAt],\n  );\n  const sessions = cleanupSessions();\n  sessions[token] = session;\n  global.set(\"stcrAuthSessions\", sessions);\n  return { token, expiresAt, expiresAtMs };\n}\n\nasync function deleteSession(token) {\n  // ลบจากทั้ง memory และ DB\n  const sessions = cleanupSessions();\n  delete sessions[token];\n  global.set(\"stcrAuthSessions\", sessions);\n  try {\n    const pool = getDatabasePool();\n    await pool.execute(`DELETE FROM sessions WHERE token=?`, [token]);\n  } catch { /* ไม่หยุดถ้า DB error */ }\n}\n\n// cleanup DB sessions เก่า (รันครั้งแรกที่ Node-RED เริ่ม)\ngetDatabasePool().execute(`DELETE FROM sessions WHERE expires_at <= UTC_TIMESTAMP(3)`)\n  .catch((err) => node.warn(`Session cleanup failed: ${err.message}`));\n\nasync function validateSessionAccount(session) {\n  if (!session?.userId) return false;\n  const pool = getDatabasePool();\n  const [rows] = await pool.execute(\n    `SELECT id FROM users\n     WHERE id=? AND company_id=? AND username=? AND status='active'\n       AND (locked_until IS NULL OR locked_until<=UTC_TIMESTAMP(3))\n     LIMIT 1`,\n    [session.userId, session.companyId, session.username],\n  );\n  return Boolean(rows[0]);\n}\n\nasync function addAudit(state, session, action, target, detail) {\n  const createdAt = new Date().toISOString();\n  const auditEvent = {\n    id: `audit-${session.companyId}-${Date.now()}-${crypto.randomBytes(3).toString(\"hex\")}`,\n    actor: session.username,\n    action,\n    target,\n    detail,\n    createdAt,\n  };\n  state.auditEvents.unshift(auditEvent);\n  state.auditEvents = state.auditEvents.slice(0, 100);\n\n  try {\n    const pool = getDatabasePool();\n    await pool.execute(\n      `INSERT INTO audit_events (\n         company_id, actor, action_name, target_type, target_id, detail, created_at\n       ) VALUES (?, ?, ?, 'application', ?, ?, ?)`,\n      [session.companyId, session.username, action, target, JSON.stringify({ message: detail }), createdAt],\n    );\n  } catch (error) {\n    node.warn(`Audit database persistence failed: ${error.message}`);\n  }\n\n  return auditEvent;\n}\n\nfunction getDatabasePool() {\n  let pool = context.get(\"stcrApiDbPool\");\n  if (pool) return pool;\n  const password = String(env.get(\"STCR_DB_PASSWORD\") || \"\");\n  if (!password) throw new Error(\"STCR_DB_PASSWORD is required\");\n  pool = mysql.createPool({\n    host: env.get(\"STCR_DB_HOST\") || \"127.0.0.1\",\n    port: Number(env.get(\"STCR_DB_PORT\") || 3306),\n    user: env.get(\"STCR_DB_USER\") || \"stcr_app\",\n    password,\n    database: env.get(\"STCR_DB_NAME\") || \"stcr\",\n    waitForConnections: true,\n    connectionLimit: 4,\n    timezone: \"Z\",\n  });\n  context.set(\"stcrApiDbPool\", pool);\n  return pool;\n}\n\nfunction databaseTimestamp(value) {\n  if (!value) return null;\n  if (value instanceof Date) return value.toISOString();\n  const timestamp = Date.parse(String(value));\n  return Number.isFinite(timestamp) ? new Date(timestamp).toISOString() : null;\n}\n\nfunction emptyReadings(updatedAt) {\n  return {\n    chamberTemp: { key: \"chamberTemp\", value: 0, unit: \"C\", updatedAt },\n    humidity: { key: \"humidity\", value: 0, unit: \"%\", updatedAt },\n    furnaceTemp: { key: \"furnaceTemp\", value: 0, unit: \"C\", updatedAt },\n    blowerTemp: { key: \"blowerTemp\", value: 0, unit: \"C\", updatedAt },\n  };\n}\n\nasync function loadRuntimeStateFromDatabase() {\n  const pool = getDatabasePool();\n  const [ovenRows] = await pool.execute(\n    `SELECT o.company_id AS companyId, o.id, o.oven_number AS ovenNumber,\n            o.name, o.zone_name AS zoneName, o.line_name AS lineName,\n            o.status, o.enabled, o.chamber_lower AS chamberLower,\n            o.chamber_upper AS chamberUpper, o.humidity_lower AS humidityLower,\n            o.humidity_upper AS humidityUpper, o.furnace_lower AS furnaceLower,\n            o.furnace_upper AS furnaceUpper, o.blower_lower AS blowerLower,\n            o.blower_upper AS blowerUpper, o.last_seen_at AS lastSeenAt,\n            c.cycle_number AS cycleNumber, c.state AS cycleState,\n            c.fired_at AS firedAt, c.report_started_at AS reportStartedAt,\n            c.stopped_at AS stoppedAt,\n            r.recorded_at AS readingAt, r.chamber_temp AS chamberTemp,\n            r.humidity, r.furnace_temp AS furnaceTemp, r.blower_temp AS blowerTemp\n     FROM ovens o\n     LEFT JOIN oven_cycles c ON c.id=(\n       SELECT c2.id FROM oven_cycles c2\n       WHERE c2.company_id=o.company_id AND c2.oven_id=o.id\n       ORDER BY c2.cycle_number DESC, c2.id DESC LIMIT 1\n     )\n     LEFT JOIN sensor_readings r ON r.id=(\n       SELECT r2.id FROM sensor_readings r2\n       WHERE r2.company_id=o.company_id AND r2.oven_id=o.id\n       ORDER BY r2.recorded_at DESC, r2.id DESC LIMIT 1\n     )\n     WHERE o.enabled=TRUE\n     ORDER BY o.company_id, o.oven_number`,\n  );\n  const [alarmRows] = await pool.execute(\n    `SELECT id, company_id AS companyId, oven_id AS ovenId, sensor_key AS sensorKey,\n            severity, status, title, detail, measured_value AS measuredValue,\n            limit_value AS limitValue, created_at AS createdAt, resolved_at AS resolvedAt\n     FROM alarms\n     ORDER BY created_at DESC\n     LIMIT 400`,\n  );\n\n  const companies = {};\n  for (const row of ovenRows) {\n    const companyId = String(row.companyId || \"\");\n    if (![\"gr\", \"ttn\"].includes(companyId)) continue;\n    companies[companyId] ||= {\n      companyId,\n      ovens: [],\n      history: {},\n      archivedCycles: {},\n      alarms: [],\n      auditEvents: [],\n    };\n\n    const lastUpdatedAt = databaseTimestamp(row.readingAt || row.lastSeenAt) || new Date(0).toISOString();\n    const readings = emptyReadings(lastUpdatedAt);\n    if (row.readingAt) {\n      readings.chamberTemp.value = Number(row.chamberTemp);\n      readings.humidity.value = Number(row.humidity);\n      readings.furnaceTemp.value = Number(row.furnaceTemp);\n      readings.blowerTemp.value = Number(row.blowerTemp);\n    }\n    const firedAt = databaseTimestamp(row.firedAt);\n    const reportStartedAt = databaseTimestamp(row.reportStartedAt);\n    const stoppedAt = databaseTimestamp(row.stoppedAt);\n    const oven = {\n      id: String(row.id),\n      number: Number(row.ovenNumber),\n      name: String(row.name),\n      zone: String(row.zoneName),\n      line: String(row.lineName),\n      status: [\"open\", \"closed\", \"offline\"].includes(row.status) ? row.status : \"offline\",\n      enabled: Boolean(row.enabled),\n      cycleCount: Number(row.cycleNumber || 0),\n      ...(firedAt ? { firedAt } : {}),\n      ...(reportStartedAt ? { reportStartedAt, startedAt: reportStartedAt } : {}),\n      ...(stoppedAt ? { stoppedAt } : {}),\n      lastUpdatedAt,\n      readings,\n      limits: {\n        chamberTemp: { sensor: \"chamberTemp\", lower: Number(row.chamberLower), upper: Number(row.chamberUpper) },\n        humidity: { sensor: \"humidity\", lower: Number(row.humidityLower), upper: Number(row.humidityUpper) },\n        furnaceTemp: { sensor: \"furnaceTemp\", lower: Number(row.furnaceLower), upper: Number(row.furnaceUpper) },\n        blowerTemp: { sensor: \"blowerTemp\", lower: Number(row.blowerLower), upper: Number(row.blowerUpper) },\n      },\n    };\n    companies[companyId].ovens.push(oven);\n    companies[companyId].history[oven.id] = [];\n    companies[companyId].archivedCycles[oven.id] = [];\n  }\n\n  for (const row of alarmRows) {\n    const company = companies[row.companyId];\n    if (!company || !company.ovens.some((oven) => oven.id === row.ovenId)) continue;\n    const createdAt = databaseTimestamp(row.createdAt) || new Date().toISOString();\n    const resolvedAt = databaseTimestamp(row.resolvedAt);\n    company.alarms.push({\n      id: String(row.id),\n      ovenId: String(row.ovenId),\n      severity: row.severity,\n      status: row.status,\n      ...(row.sensorKey ? { sensor: row.sensorKey } : {}),\n      title: String(row.title),\n      detail: String(row.detail),\n      ...(row.measuredValue == null ? {} : { value: Number(row.measuredValue) }),\n      ...(row.limitValue == null ? {} : { limit: Number(row.limitValue) }),\n      createdAt,\n      ...(resolvedAt ? { resolvedAt } : {}),\n    });\n  }\n\n  if (!Object.keys(companies).length) throw new Error(\"No enabled ovens found in database\");\n  const rootState = { version: \"database-1\", companies };\n  global.set(\"stcrState\", rootState);\n  return rootState;\n}\n\nasync function ensureRuntimeState() {\n  const existing = global.get(\"stcrState\");\n  if (existing?.companies && Object.keys(existing.companies).length) return existing;\n\n  let loading = context.get(\"stcrRuntimeStateLoading\");\n  if (!loading) {\n    loading = loadRuntimeStateFromDatabase().finally(() => context.set(\"stcrRuntimeStateLoading\", undefined));\n    context.set(\"stcrRuntimeStateLoading\", loading);\n  }\n  return loading;\n}\n\nasync function readReportHistory(companyId, ovenId, historyQuery) {\n  const conditions = [\"r.company_id=?\", \"r.oven_id=?\"];\n  const values = [companyId, ovenId];\n  if (historyQuery.includeIgnition !== \"true\") {\n    conditions.push(\n      \"r.included_in_report=TRUE\",\n      \"c.report_started_at IS NOT NULL\",\n      \"r.recorded_at>=c.report_started_at\",\n      \"(c.stopped_at IS NULL OR r.recorded_at<=c.stopped_at)\",\n    );\n  }\n  if (historyQuery.startAt) {\n    conditions.push(\"r.recorded_at>=?\");\n    values.push(historyQuery.startAt);\n  }\n  if (historyQuery.endAt) {\n    conditions.push(\"r.recorded_at<=?\");\n    values.push(historyQuery.endAt);\n  }\n  if (historyQuery.cycleNumber) {\n    conditions.push(\"c.cycle_number=?\");\n    values.push(Number(historyQuery.cycleNumber));\n  }\n\n  const pool = getDatabasePool();\n  await pool.query(\"SET time_zone = '+00:00'\");\n  const requestedRangeMs = historyQuery.startAt && historyQuery.endAt\n    ? Math.max(0, Date.parse(historyQuery.endAt) - Date.parse(historyQuery.startAt))\n    : 0;\n  const bucketSeconds = requestedRangeMs > 24 * 60 * 60 * 1000 ? 600 : 60;\n  const [rows] = await pool.execute(\n    `SELECT\n       DATE_FORMAT(MIN(r.recorded_at), '%Y-%m-%dT%H:%i:%s.%fZ') AS timestamp,\n       AVG(r.chamber_temp) AS chamberTemp,\n       AVG(r.humidity) AS humidity,\n       AVG(r.furnace_temp) AS furnaceTemp,\n       AVG(r.blower_temp) AS blowerTemp\n     FROM sensor_readings r\n     LEFT JOIN oven_cycles c ON c.id=r.cycle_id\n     WHERE ${conditions.join(\" AND \")}\n     GROUP BY FLOOR(UNIX_TIMESTAMP(r.recorded_at) / ${bucketSeconds})\n     ORDER BY MIN(r.recorded_at) ASC\n     LIMIT 10000`,\n    values,\n  );\n  return rows.map((row) => ({\n    timestamp: row.timestamp,\n    chamberTemp: Number(row.chamberTemp),\n    humidity: Number(row.humidity),\n    furnaceTemp: Number(row.furnaceTemp),\n    blowerTemp: Number(row.blowerTemp),\n  }));\n}\n\nasync function readAuditEvents(companyId) {\n  const pool = getDatabasePool();\n  const [rows] = await pool.execute(\n    `SELECT CAST(id AS CHAR) AS id, actor, action_name, target_id, detail,\n            DATE_FORMAT(created_at, '%Y-%m-%dT%H:%i:%s.%fZ') AS createdAt\n     FROM audit_events\n     WHERE company_id=?\n     ORDER BY created_at DESC, id DESC\n     LIMIT 100`,\n    [companyId],\n  );\n\n  return rows.map((row) => {\n    let parsedDetail = row.detail;\n    if (typeof parsedDetail === \"string\") {\n      try {\n        parsedDetail = JSON.parse(parsedDetail);\n      } catch {\n        parsedDetail = { message: parsedDetail };\n      }\n    }\n    return {\n      id: `audit-db-${row.id}`,\n      actor: row.actor,\n      action: row.action_name,\n      target: row.target_id,\n      detail: parsedDetail?.message || \"\",\n      createdAt: row.createdAt,\n    };\n  });\n}\n\nasync function readReportDocumentMeta(companyId) {\n  const pool = getDatabasePool();\n  const [rows] = await pool.execute(\n    `SELECT document_no AS documentNo, effective_date AS effectiveDate\n     FROM report_document_settings\n     WHERE company_id=?\n     LIMIT 1`,\n    [companyId],\n  );\n  return rows[0] || { documentNo: \"\", effectiveDate: \"\" };\n}\n\nfunction validHistoryQuery(historyQuery) {\n  const hasStart = Boolean(historyQuery.startAt);\n  const hasEnd = Boolean(historyQuery.endAt);\n  const cycle = Number(historyQuery.cycleNumber);\n  if (hasStart !== hasEnd) return false;\n  if (historyQuery.cycleNumber && (!Number.isInteger(cycle) || cycle < 1 || cycle > 1000000)) return false;\n  if (!hasStart) return Number.isInteger(cycle) && cycle > 0;\n  const start = Date.parse(historyQuery.startAt);\n  const end = Date.parse(historyQuery.endAt);\n  return Number.isFinite(start) && Number.isFinite(end) && end >= start && end - start <= maxHistoryRangeMs;\n}\n\nfunction safeText(value, maxLength) {\n  if (typeof value !== \"string\") return null;\n  const normalized = value.trim();\n  if (!normalized || normalized.length > maxLength || /[\\u0000-\\u001f\\u007f]/.test(normalized)) return null;\n  return normalized;\n}\n\nfunction hasAnyRole(session, allowedRoles) {\n  return Array.isArray(session?.roles) && session.roles.some((role) => allowedRoles.includes(role));\n}\n\nasync function authenticateApiKey(companyId, ovenId, apiKey) {\n  const pepper = String(env.get(\"STCR_API_KEY_PEPPER\") || \"\");\n  if (pepper.length < 32 || !/^stcr_(gr|ttn)_[A-Za-z0-9_-]{32,}$/.test(apiKey)) return null;\n  if (!apiKey.startsWith(`stcr_${companyId}_`)) return null;\n  const prefix = apiKey.slice(0, 16);\n  const candidateHash = crypto.createHmac(\"sha256\", pepper).update(apiKey).digest();\n  const pool = getDatabasePool();\n  const [rows] = await pool.execute(\n    `SELECT id, company_id AS companyId, allowed_oven_id AS allowedOvenId, key_hash AS keyHash\n     FROM api_keys\n     WHERE company_id=? AND key_prefix=? AND status='active'\n       AND (expires_at IS NULL OR expires_at>UTC_TIMESTAMP(3))\n     LIMIT 1`,\n    [companyId, prefix],\n  );\n  const key = rows[0];\n  if (!key || (key.allowedOvenId && key.allowedOvenId !== ovenId)) return null;\n  const expectedHash = Buffer.from(String(key.keyHash), \"hex\");\n  if (expectedHash.length !== candidateHash.length || !crypto.timingSafeEqual(candidateHash, expectedHash)) {\n    return null;\n  }\n  return key;\n}\n\nfunction normalizeTelemetryBatch(body) {\n  const companyId = safeText(body?.companyId, 32);\n  const ovenId = safeText(body?.ovenId, 64);\n  const batchId = safeText(body?.batchId, 96);\n  const deviceId = safeText(body?.deviceId, 128);\n  const readings = Array.isArray(body?.readings) ? body.readings : [];\n  if (!companyId || !ovenId || !batchId || !deviceId || readings.length !== sensorKeys.length) return null;\n  if (!new Set([\"gr\", \"ttn\"]).has(companyId)) return null;\n\n  const physicalRanges = {\n    chamberTemp: [-20, 150, \"C\"],\n    humidity: [0, 100, \"%\"],\n    furnaceTemp: [-20, 1200, \"C\"],\n    blowerTemp: [-20, 500, \"C\"],\n  };\n  const normalized = [];\n  const seen = new Set();\n  for (const reading of readings) {\n    const sensorKey = safeText(reading?.sensorKey, 40);\n    const sensorId = safeText(reading?.sensorId, 160);\n    const rule = physicalRanges[sensorKey];\n    const value = Number(reading?.value);\n    const rawValue = Number(reading?.rawValue ?? reading?.value);\n    const sequence = Number(reading?.sequence);\n    const timestampMs = Date.parse(reading?.sourceTimestamp);\n    const quality = [\"good\", \"suspect\", \"missing\", \"manual\"].includes(reading?.quality)\n      ? reading.quality\n      : \"good\";\n    if (\n      !rule || seen.has(sensorKey) || !sensorId || reading?.unit !== rule[2] ||\n      !Number.isFinite(value) || !Number.isFinite(rawValue) || value < rule[0] || value > rule[1] ||\n      !Number.isSafeInteger(sequence) || sequence < 0 || !Number.isFinite(timestampMs) ||\n      Math.abs(Date.now() - timestampMs) > 10 * 60 * 1000\n    ) return null;\n    seen.add(sensorKey);\n    normalized.push({\n      sensorKey,\n      sensorId,\n      value,\n      rawValue,\n      sequence,\n      unit: reading.unit,\n      quality,\n      qualityReasons: Array.isArray(reading.qualityReasons) ? reading.qualityReasons.slice(0, 10) : [],\n      sourceTimestamp: new Date(timestampMs).toISOString(),\n    });\n  }\n  if (!sensorKeys.every((key) => seen.has(key))) return null;\n  return { companyId, ovenId, batchId, deviceId, readings };\n}\n\nfunction normalizeFactoryMqttRaw(body) {\n  const companyId = safeText(body?.companyId, 32);\n  const ovenId = safeText(body?.ovenId, 64);\n  const topic = safeText(body?.topic, 128);\n  const ovenNumber = Number(body?.ovenNumber);\n  const cycleNumber = Number(body?.cycleNumber);\n  const qos = Number(body?.qos);\n  const sourceTimestampMs = Date.parse(body?.sourceTimestamp);\n  const payload = body?.payload;\n  const normalizationStatus = [\"received\", \"normalized\", \"pending\", \"rejected\"].includes(body?.normalizationStatus)\n    ? body.normalizationStatus\n    : \"received\";\n  const normalizationDetail = body?.normalizationDetail == null || body.normalizationDetail === \"\"\n    ? null\n    : safeText(body.normalizationDetail, 255);\n  if (\n    !companyId || !new Set([\"gr\", \"ttn\"]).has(companyId) || !ovenId ||\n    !new Set([\"test\", \"sensor\"]).has(topic) ||\n    !Number.isSafeInteger(ovenNumber) || ovenNumber < 1 || ovenNumber > 10000 ||\n    !Number.isSafeInteger(cycleNumber) || cycleNumber < 0 || cycleNumber > 1000000 ||\n    !Number.isInteger(qos) || qos < 0 || qos > 2 || !Number.isFinite(sourceTimestampMs) ||\n    !payload || typeof payload !== \"object\" || Array.isArray(payload) ||\n    (body?.normalizationDetail && !normalizationDetail)\n  ) return null;\n  const payloadJson = JSON.stringify(payload);\n  if (Buffer.byteLength(payloadJson, \"utf8\") > 8192) return null;\n  return {\n    companyId,\n    ovenId,\n    ovenNumber,\n    cycleNumber,\n    topic,\n    qos,\n    retained: Boolean(body?.retained),\n    duplicateDelivery: Boolean(body?.duplicateDelivery),\n    sourceTimestamp: new Date(sourceTimestampMs).toISOString(),\n    payload,\n    payloadJson,\n    normalizationStatus,\n    normalizationDetail,\n  };\n}\n\nasync function persistFactoryMqttRaw(envelope) {\n  const messageHash = crypto.createHash(\"sha256\").update([\n    envelope.companyId,\n    envelope.ovenId,\n    envelope.topic,\n    envelope.cycleNumber,\n    envelope.sourceTimestamp,\n    envelope.payloadJson,\n  ].join(\"\\n\")).digest(\"hex\");\n  const pool = getDatabasePool();\n  const [result] = await pool.execute(\n    `INSERT INTO factory_mqtt_messages (\n       company_id, oven_id, oven_number, cycle_number, topic, qos,\n       retained, duplicate_delivery, source_timestamp, payload_json,\n       message_hash, normalization_status, normalization_detail\n     ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)\n     ON DUPLICATE KEY UPDATE\n       duplicate_delivery=TRUE, received_at=CURRENT_TIMESTAMP(3),\n       normalization_status=VALUES(normalization_status),\n       normalization_detail=VALUES(normalization_detail)`,\n    [\n      envelope.companyId, envelope.ovenId, envelope.ovenNumber, envelope.cycleNumber,\n      envelope.topic, envelope.qos, envelope.retained, envelope.duplicateDelivery,\n      envelope.sourceTimestamp, envelope.payloadJson, messageHash,\n      envelope.normalizationStatus, envelope.normalizationDetail,\n    ],\n  );\n  const ovenState = Number(envelope.payload?.oven_state);\n  if (envelope.topic === \"test\" && [0, 1].includes(ovenState)) {\n    await pool.execute(\n      `UPDATE ovens SET status=?, last_seen_at=CURRENT_TIMESTAMP(3)\n       WHERE company_id=? AND id=? AND enabled=TRUE`,\n      [ovenState === 1 ? \"open\" : \"closed\", envelope.companyId, envelope.ovenId],\n    );\n  } else {\n    await pool.execute(\n      `UPDATE ovens SET last_seen_at=CURRENT_TIMESTAMP(3)\n       WHERE company_id=? AND id=? AND enabled=TRUE`,\n      [envelope.companyId, envelope.ovenId],\n    );\n  }\n  return { messageHash, duplicate: result.affectedRows > 1 };\n}\n\nasync function persistHttpTelemetryBatch(batch, apiKeyRecord) {\n  const pool = getDatabasePool();\n  const connection = await pool.getConnection();\n  const receivedAt = new Date();\n  const recordedAt = new Date(Math.max(...batch.readings.map((reading) => Date.parse(reading.sourceTimestamp))));\n  try {\n    await connection.beginTransaction();\n    const [ovenRows] = await connection.execute(\n      `SELECT id FROM ovens WHERE company_id=? AND id=? AND enabled=TRUE LIMIT 1 FOR UPDATE`,\n      [batch.companyId, batch.ovenId],\n    );\n    if (!ovenRows[0]) {\n      const error = new Error(\"OVEN_NOT_FOUND\");\n      error.code = \"OVEN_NOT_FOUND\";\n      throw error;\n    }\n    const [cycleRows] = await connection.execute(\n      `SELECT id, state FROM oven_cycles\n       WHERE company_id=? AND oven_id=?\n       ORDER BY cycle_number DESC LIMIT 1`,\n      [batch.companyId, batch.ovenId],\n    );\n    const cycle = cycleRows[0] || null;\n    const cyclePhase = cycle?.state === \"recording\"\n      ? \"recording\"\n      : cycle?.state === \"ignition\" ? \"ignition\" : cycle?.state === \"completed\" ? \"cooldown\" : \"idle\";\n    const includedInReport = cyclePhase === \"recording\";\n\n    for (const reading of batch.readings) {\n      await connection.execute(\n        `INSERT INTO telemetry_events (\n           company_id, oven_id, batch_id, topic, device_id, sensor_id, sensor_key,\n           sequence_number, numeric_value, unit_symbol, quality, quality_reasons,\n           source_timestamp, gateway_timestamp, received_at\n         ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)\n         ON DUPLICATE KEY UPDATE received_at=VALUES(received_at)`,\n        [\n          batch.companyId, batch.ovenId, batch.batchId,\n          `stcr/${batch.companyId}/${batch.ovenId}/telemetry/${reading.sensorKey}`,\n          batch.deviceId, reading.sensorId, reading.sensorKey, reading.sequence,\n          reading.rawValue, reading.unit, reading.quality, JSON.stringify(reading.qualityReasons),\n          reading.sourceTimestamp, reading.sourceTimestamp, receivedAt,\n        ],\n      );\n    }\n\n    const bySensor = Object.fromEntries(batch.readings.map((reading) => [reading.sensorKey, reading]));\n    const snapshotQuality = batch.readings.some((reading) => reading.quality !== \"good\") ? \"suspect\" : \"good\";\n    await connection.execute(\n      `INSERT INTO sensor_readings (\n         company_id, oven_id, cycle_id, recorded_at, chamber_temp, humidity,\n         furnace_temp, blower_temp, cycle_phase, included_in_report, quality,\n         source_timestamp, received_at\n       ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)\n       ON DUPLICATE KEY UPDATE\n         chamber_temp=VALUES(chamber_temp), humidity=VALUES(humidity),\n         furnace_temp=VALUES(furnace_temp), blower_temp=VALUES(blower_temp),\n         quality=VALUES(quality), source_timestamp=VALUES(source_timestamp), received_at=VALUES(received_at)`,\n      [\n        batch.companyId, batch.ovenId, cycle?.id || null, recordedAt,\n        bySensor.chamberTemp.value, bySensor.humidity.value,\n        bySensor.furnaceTemp.value, bySensor.blowerTemp.value,\n        cyclePhase, includedInReport, snapshotQuality, recordedAt, receivedAt,\n      ],\n    );\n    await connection.execute(\n      `UPDATE ovens SET last_seen_at=? WHERE company_id=? AND id=?`,\n      [receivedAt, batch.companyId, batch.ovenId],\n    );\n    await connection.execute(\n      `UPDATE api_keys SET last_used_at=? WHERE id=? AND company_id=?`,\n      [receivedAt, apiKeyRecord.id, batch.companyId],\n    );\n    await connection.commit();\n\n    const rootState = await ensureRuntimeState().catch(() => global.get(\"stcrState\"));\n    const companyState = rootState?.companies?.[batch.companyId];\n    const oven = companyState?.ovens?.find((item) => item.id === batch.ovenId);\n    if (oven) {\n      const timestamp = recordedAt.toISOString();\n      batch.readings.forEach((reading) => {\n        oven.readings[reading.sensorKey] = {\n          ...oven.readings[reading.sensorKey],\n          value: reading.value,\n          updatedAt: timestamp,\n        };\n      });\n      oven.lastUpdatedAt = timestamp;\n      const point = {\n        timestamp,\n        chamberTemp: bySensor.chamberTemp.value,\n        humidity: bySensor.humidity.value,\n        furnaceTemp: bySensor.furnaceTemp.value,\n        blowerTemp: bySensor.blowerTemp.value,\n      };\n      companyState.history[batch.ovenId] = [...(companyState.history[batch.ovenId] || []), point].slice(-10000);\n      global.set(\"stcrState\", rootState);\n    }\n    return { recordedAt: recordedAt.toISOString(), quality: snapshotQuality, includedInReport };\n  } catch (error) {\n    await connection.rollback();\n    throw error;\n  } finally {\n    connection.release();\n  }\n}\n\nfunction csvCell(value) {\n  let text = value == null ? \"\" : String(value);\n  if (/^[=+\\-@]/.test(text)) text = `'${text}`;\n  return `\"${text.replace(/\"/g, '\"\"')}\"`;\n}\n\nif (requestOrigin && !allowedOrigin) {\n  return errorResponse(\"Origin is not allowed\", 403, \"ORIGIN_FORBIDDEN\");\n}\n\nif (method === \"OPTIONS\") {\n  msg.statusCode = 204;\n  msg.headers = responseHeaders();\n  msg.payload = \"\";\n  return msg;\n}\n\nconst rateLimitKind = path === \"/stcr/api/auth/login\"\n  ? \"login\"\n  : path === \"/stcr/api/telemetry\" ? \"telemetry\" : \"api\";\nconst rateLimit = rateLimitKind === \"login\" ? 10 : rateLimitKind === \"telemetry\" ? 120 : 180;\nconst rateWindowMs = rateLimitKind === \"login\" ? 15 * 60 * 1000 : 60 * 1000;\nif (!checkRateLimit(rateLimitKind, rateLimit, rateWindowMs)) {\n  return errorResponse(\"ส่งคำขอถี่เกินไป กรุณารอสักครู่\", 429, \"RATE_LIMITED\", { \"Retry-After\": \"60\" });\n}\n\nconst contentLength = Number(requestHeaders[\"content-length\"] || 0);\nif (contentLength > maxBodyBytes || (typeof msg.payload === \"string\" && msg.payload.length > maxBodyBytes)) {\n  return errorResponse(\"Request body is too large\", 413, \"PAYLOAD_TOO_LARGE\");\n}\n\nif (method === \"POST\" && path === \"/stcr/api/auth/login\") {\n  const body = requestBody();\n  const username = safeText(body?.username, 80);\n  const password = typeof body?.password === \"string\" && body.password.length <= 256 ? body.password : \"\";\n  let user = null;\n  try {\n    user = username ? await readUserForLogin(username) : null;\n  } catch (error) {\n    node.warn(`User database lookup failed: ${error.message}`);\n    return errorResponse(\"ระบบยืนยันตัวตนไม่พร้อมใช้งาน\", 503, \"AUTH_DATABASE_UNAVAILABLE\");\n  }\n\n  const lockedUntil = user?.lockedUntil ? new Date(user.lockedUntil).getTime() : 0;\n  const accountEnabled = user && (\n    user.status === \"active\" || (user.status === \"locked\" && lockedUntil > 0 && lockedUntil <= Date.now())\n  );\n  const validCompany = user && (user.companyId === \"gr\" || user.companyId === \"ttn\");\n  const dummyHash = \"argon2id$v=19$m=65536,t=3,p=1$00112233445566778899aabbccddeeff$e3f9e725738cc2a36f827442ce63603b1d51b7eeebff642c1854010c07bdb681\";\n  const passwordMatches = verifyPassword(\n    password,\n    accountEnabled && user.passwordAlgorithm === \"argon2id\" ? user.passwordHash : dummyHash,\n  );\n  const valid = Boolean(validCompany && accountEnabled && passwordMatches);\n  if (!valid) {\n    await recordLoginFailure(user).catch((error) => node.warn(`Login failure audit failed: ${error.message}`));\n    return errorResponse(\"ชื่อผู้ใช้หรือรหัสผ่านไม่ถูกต้อง\", 401, \"INVALID_CREDENTIALS\");\n  }\n\n  await recordLoginSuccess(user.id);\n\n  const ttlMinutes = Math.min(1440, Math.max(15, Number(env.get(\"STCR_SESSION_TTL_MINUTES\") || 480)));\n  const { token, expiresAt, expiresAtMs } = await createSession(user, ttlMinutes);\n  return jsonResponse({\n    token,\n    username,\n    companyId: user.companyId,\n    roles: user.roles,\n    expiresAt,\n  });\n}\n\nif (method === \"GET\" && path === \"/stcr/api/health\") {\n  try {\n    const rootState = await ensureRuntimeState();\n    return jsonResponse({ ok: Boolean(rootState?.companies), timestamp: new Date().toISOString() });\n  } catch (error) {\n    node.warn(`Runtime database initialization failed: ${error.message}`);\n    return jsonResponse({ ok: false, timestamp: new Date().toISOString() }, 503);\n  }\n}\n\nif (method === \"POST\" && path === \"/stcr/api/factory-mqtt/raw\") {\n  const envelope = normalizeFactoryMqttRaw(requestBody());\n  if (!envelope) return errorResponse(\"รูปแบบข้อมูล MQTT ต้นฉบับไม่ถูกต้อง\", 400, \"INVALID_FACTORY_MQTT\");\n  const apiKey = String(requestHeaders[\"x-api-key\"] || \"\").trim();\n  let apiKeyRecord = null;\n  try {\n    apiKeyRecord = await authenticateApiKey(envelope.companyId, envelope.ovenId, apiKey);\n  } catch (error) {\n    node.warn(`Factory MQTT API key lookup failed: ${error.message}`);\n    return errorResponse(\"ระบบรับข้อมูล MQTT ยังไม่พร้อมใช้งาน\", 503, \"INGEST_DATABASE_UNAVAILABLE\");\n  }\n  if (!apiKeyRecord) return errorResponse(\"API Key หรือผังบริษัท/เตาไม่ถูกต้อง\", 401, \"INVALID_API_KEY\");\n\n  try {\n    const result = await persistFactoryMqttRaw(envelope);\n    const rootState = global.get(\"stcrState\");\n    const oven = rootState?.companies?.[envelope.companyId]?.ovens?.find(\n      (item) => item.id === envelope.ovenId,\n    );\n    if (oven) {\n      oven.lastUpdatedAt = new Date().toISOString();\n      const ovenState = Number(envelope.payload?.oven_state);\n      if (envelope.topic === \"test\" && [0, 1].includes(ovenState)) {\n        oven.status = ovenState === 1 ? \"open\" : \"closed\";\n      }\n      global.set(\"stcrState\", rootState);\n    }\n    return jsonResponse({\n      accepted: true,\n      companyId: envelope.companyId,\n      ovenId: envelope.ovenId,\n      topic: envelope.topic,\n      ...result,\n    }, 202);\n  } catch (error) {\n    if (error.code === \"ER_NO_REFERENCED_ROW_2\") {\n      return errorResponse(\"ไม่พบเตาที่จับคู่ไว้ในฐานข้อมูล\", 404, \"OVEN_NOT_FOUND\");\n    }\n    node.warn(`Factory MQTT raw persistence failed: ${error.message}`);\n    return errorResponse(\"บันทึกข้อมูล MQTT ต้นฉบับไม่สำเร็จ\", 500, \"MQTT_RAW_PERSIST_FAILED\");\n  }\n}\n\nif (method === \"POST\" && path === \"/stcr/api/telemetry\") {\n  const batch = normalizeTelemetryBatch(requestBody());\n  if (!batch) return errorResponse(\"รูปแบบข้อมูล telemetry ไม่ถูกต้อง\", 400, \"INVALID_TELEMETRY\");\n  const apiKey = String(requestHeaders[\"x-api-key\"] || \"\").trim();\n  let apiKeyRecord = null;\n  try {\n    apiKeyRecord = await authenticateApiKey(batch.companyId, batch.ovenId, apiKey);\n  } catch (error) {\n    node.warn(`API key database lookup failed: ${error.message}`);\n    return errorResponse(\"ระบบรับข้อมูลไม่พร้อมใช้งาน\", 503, \"INGEST_DATABASE_UNAVAILABLE\");\n  }\n  if (!apiKeyRecord) return errorResponse(\"API Key หรือขอบเขตบริษัท/เตาไม่ถูกต้อง\", 401, \"INVALID_API_KEY\");\n\n  try {\n    const result = await persistHttpTelemetryBatch(batch, apiKeyRecord);\n    return jsonResponse({\n      accepted: true,\n      companyId: batch.companyId,\n      ovenId: batch.ovenId,\n      batchId: batch.batchId,\n      ...result,\n    }, 202);\n  } catch (error) {\n    if (error.code === \"OVEN_NOT_FOUND\") {\n      return errorResponse(\"ไม่พบเตาของบริษัทที่ระบุ\", 404, \"OVEN_NOT_FOUND\");\n    }\n    node.warn(`Telemetry persistence failed: ${error.message}`);\n    return errorResponse(\"บันทึกข้อมูล telemetry ไม่สำเร็จ\", 500, \"TELEMETRY_PERSIST_FAILED\");\n  }\n}\n\n// ตรวจ session — ลอง memory cache ก่อน ถ้าไม่มีลองดึงจาก DB\nlet resolvedSession = authenticate();\nif (!resolvedSession) {\n  const authHeader = String(requestHeaders.authorization || \"\");\n  const token = authHeader.startsWith(\"Bearer \") ? authHeader.slice(7).trim() : \"\";\n  if (token) resolvedSession = await authenticateFromDb(token);\n}\nif (!resolvedSession) return errorResponse(\"กรุณาเข้าสู่ระบบใหม่\", 401, \"UNAUTHORIZED\");\n// alias ให้ใช้ชื่อ session ได้เหมือนเดิม\nconst session = resolvedSession;\ntry {\n  if (!(await validateSessionAccount(resolvedSession))) {\n    return errorResponse(\"บัญชีถูกระงับหรือสิทธิ์หมดอายุ\", 401, \"ACCOUNT_INACTIVE\");\n  }\n} catch (error) {\n  node.warn(`Session account validation failed: ${error.message}`);\n  return errorResponse(\"ระบบยืนยันสิทธิ์ไม่พร้อมใช้งาน\", 503, \"AUTH_DATABASE_UNAVAILABLE\");\n}\n\nif (method === \"POST\" && path === \"/stcr/api/auth/logout\") {\n  const token = String(requestHeaders.authorization).slice(7).trim();\n  await deleteSession(token);\n  return jsonResponse({ ok: true });\n}\n\nconst requestedCompanyId = String(query.companyId || \"\").toLowerCase();\nif (requestedCompanyId && requestedCompanyId !== resolvedSession.companyId) {\n  return errorResponse(\"ไม่มีสิทธิ์เข้าถึงข้อมูลบริษัทนี้\", 403, \"TENANT_FORBIDDEN\");\n}\nconst companyId = resolvedSession.companyId;\nlet rootState;\ntry {\n  rootState = await ensureRuntimeState();\n} catch (error) {\n  node.warn(`Runtime database initialization failed: ${error.message}`);\n  return errorResponse(\"ระบบยังโหลดข้อมูลเตาจากฐานข้อมูลไม่สำเร็จ\", 503, \"NOT_READY\");\n}\nconst state = rootState.companies[companyId];\nif (!state) return errorResponse(\"Company data is not initialized\", 503, \"NOT_READY\");\nconst nowMs = Date.now();\nconst visibleOvens = state.ovens.map((oven) => ({\n  ...oven,\n  status: nowMs - Date.parse(oven.lastUpdatedAt) > offlineThresholdMs ? \"offline\" : oven.status,\n}));\nconst visibleOvenById = new Map(visibleOvens.map((oven) => [oven.id, oven]));\n\nfunction persistState() {\n  rootState.companies[companyId] = state;\n  global.set(\"stcrState\", rootState);\n}\n\nif (method === \"GET\" && path === \"/stcr/api/ovens\") return jsonResponse(visibleOvens);\n\nif (method === \"GET\" && path === \"/stcr/api/alarms\") {\n  const search = String(query.search || \"\").slice(0, 100).trim().toLowerCase();\n  const alarms = state.alarms\n    .filter((alarm) => visibleOvenById.has(alarm.ovenId))\n    .map((alarm) => ({ ...alarm, ovenName: visibleOvenById.get(alarm.ovenId).name }))\n    .filter((alarm) => {\n      const severityMatch = !query.severity || query.severity === \"all\" || alarm.severity === query.severity;\n      const statusMatch = !query.status || query.status === \"all\" || alarm.status === query.status;\n      const ovenMatch = !query.ovenId || query.ovenId === \"all\" || alarm.ovenId === query.ovenId;\n      const searchMatch = !search || `${alarm.ovenName} ${alarm.title} ${alarm.detail}`.toLowerCase().includes(search);\n      return severityMatch && statusMatch && ovenMatch && searchMatch;\n    });\n  return jsonResponse(alarms);\n}\n\nif (method === \"GET\" && path === \"/stcr/api/audit-events\") {\n  try {\n    return jsonResponse(await readAuditEvents(companyId));\n  } catch (error) {\n    node.warn(`Audit database read fallback: ${error.message}`);\n    return jsonResponse(state.auditEvents);\n  }\n}\n\nif (method === \"GET\" && path === \"/stcr/api/report-document-meta\") {\n  try {\n    return jsonResponse(await readReportDocumentMeta(companyId));\n  } catch (error) {\n    node.warn(`Report document metadata read failed: ${error.message}`);\n    return jsonResponse({ documentNo: \"\", effectiveDate: \"\" });\n  }\n}\n\nif (method === \"PUT\" && path === \"/stcr/api/report-document-meta\") {\n  if (!hasAnyRole(session, [\"admin\"])) {\n    return errorResponse(\"ไม่มีสิทธิ์แก้ไขข้อมูลเอกสาร\", 403, \"ROLE_FORBIDDEN\");\n  }\n  const body = requestBody();\n  const documentNo = safeText(body?.documentNo, 80);\n  const effectiveDate = safeText(body?.effectiveDate, 40);\n  if (!documentNo || !effectiveDate) {\n    return errorResponse(\"ข้อมูลเอกสารไม่ถูกต้อง\", 400, \"INVALID_REPORT_DOCUMENT_META\");\n  }\n\n  const pool = getDatabasePool();\n  await pool.execute(\n    `INSERT INTO report_document_settings (\n       company_id, document_no, effective_date, updated_by\n     ) VALUES (?, ?, ?, ?)\n     ON DUPLICATE KEY UPDATE\n       document_no=VALUES(document_no), effective_date=VALUES(effective_date),\n       updated_by=VALUES(updated_by), updated_at=CURRENT_TIMESTAMP(3)`,\n    [companyId, documentNo, effectiveDate, session.username],\n  );\n  await addAudit(\n    state,\n    session,\n    \"แก้ไขข้อมูลเอกสารรายงาน\",\n    documentNo,\n    `เริ่มใช้วันที่ ${effectiveDate}`,\n  );\n  persistState();\n  return jsonResponse({ documentNo, effectiveDate });\n}\n\nif (method === \"POST\" && path === \"/stcr/api/ovens\") {\n  if (!hasAnyRole(session, [\"admin\"])) {\n    return errorResponse(\"ไม่มีสิทธิ์เพิ่มเตา\", 403, \"ROLE_FORBIDDEN\");\n  }\n  const nextNumber = Math.max(0, ...state.ovens.map((oven) => Number(oven.number) || 0)) + 1;\n  const now = new Date().toISOString();\n  const limits = JSON.parse(JSON.stringify(state.ovens[0]?.limits || {}));\n  const values = { chamberTemp: 0, humidity: 0, furnaceTemp: 0, blowerTemp: 0 };\n  const readings = Object.fromEntries(Object.entries(values).map(([key, value]) => [key, {\n    key,\n    value,\n    unit: key === \"humidity\" ? \"%\" : \"C\",\n    updatedAt: now,\n  }]));\n  const oven = {\n    id: `oven-${nextNumber}`,\n    number: nextNumber,\n    name: `เตา ${nextNumber}`,\n    zone: \"B\",\n    line: \"Line 2\",\n    status: \"closed\",\n    enabled: true,\n    cycleCount: 0,\n    stoppedAt: now,\n    lastUpdatedAt: now,\n    readings,\n    limits,\n  };\n  const pool = getDatabasePool();\n  await pool.execute(\n    `INSERT INTO ovens (\n       id, company_id, oven_number, name, zone_name, line_name, status, enabled,\n       chamber_lower, chamber_upper, furnace_lower, furnace_upper,\n       blower_lower, blower_upper, humidity_lower, humidity_upper, last_seen_at\n     ) VALUES (?, ?, ?, ?, ?, ?, ?, TRUE, ?, ?, ?, ?, ?, ?, ?, ?, ?)`,\n    [\n      oven.id, companyId, oven.number, oven.name, oven.zone, oven.line, oven.status,\n      limits.chamberTemp.lower, limits.chamberTemp.upper,\n      limits.furnaceTemp.lower, limits.furnaceTemp.upper,\n      limits.blowerTemp.lower, limits.blowerTemp.upper,\n      limits.humidity.lower, limits.humidity.upper, now,\n    ],\n  );\n  state.ovens.push(oven);\n  state.history[oven.id] = [];\n  await addAudit(state, session, \"เพิ่มเตาใหม่\", oven.name, \"เพิ่มเตาผ่าน Node-RED API\");\n  persistState();\n  return jsonResponse(oven, 201);\n}\n\nconst acknowledgeMatch = path.match(/^\\/stcr\\/api\\/alarms\\/([^/]+)\\/acknowledge$/);\nif (method === \"POST\" && acknowledgeMatch) {\n  if (!hasAnyRole(session, [\"admin\", \"operator\"])) {\n    return errorResponse(\"ไม่มีสิทธิ์รับทราบ Alarm\", 403, \"ROLE_FORBIDDEN\");\n  }\n  const alarmId = decodeURIComponent(acknowledgeMatch[1]);\n  if (!state.alarms.some((alarm) => alarm.id === alarmId)) return errorResponse(\"Alarm not found\", 404, \"NOT_FOUND\");\n  const pool = getDatabasePool();\n  const databaseAlarmIds = [...new Set([alarmId, `${companyId}-${alarmId}`])];\n  const [acknowledgeResult] = await pool.execute(\n    `UPDATE alarms\n     SET status='acknowledged', acknowledged_at=COALESCE(acknowledged_at, UTC_TIMESTAMP(3))\n     WHERE company_id=? AND id IN (?, ?) AND status='active'`,\n    [companyId, databaseAlarmIds[0], databaseAlarmIds[1]],\n  );\n  if (!acknowledgeResult.affectedRows && String(env.get(\"STCR_DEPLOYMENT_MODE\") || \"\").toLowerCase() === \"production\") {\n    return errorResponse(\"ไม่พบ Alarm ที่ยังรอรับทราบในฐานข้อมูล\", 409, \"ALARM_STATE_CONFLICT\");\n  }\n  state.alarms = state.alarms.map((alarm) => alarm.id === alarmId ? { ...alarm, status: \"acknowledged\" } : alarm);\n  await addAudit(state, session, \"รับทราบ Alarm\", alarmId, \"รับทราบผ่านหน้าเว็บ\");\n  persistState();\n  return jsonResponse(state.alarms);\n}\n\nconst reportMetaMatch = path.match(/^\\/stcr\\/api\\/ovens\\/([^/]+)\\/cycles\\/(\\d+)\\/report-meta$/);\nif (method === \"GET\" && reportMetaMatch) {\n  const ovenId = decodeURIComponent(reportMetaMatch[1]);\n  const cycleNumber = Number(reportMetaMatch[2]);\n  if (!visibleOvenById.has(ovenId) || !Number.isSafeInteger(cycleNumber) || cycleNumber < 1) {\n    return errorResponse(\"ไม่พบเตาหรือรอบที่ระบุ\", 404, \"NOT_FOUND\");\n  }\n  const pool = getDatabasePool();\n  const [rows] = await pool.execute(\n    `SELECT DATE_FORMAT(fired_at, '%Y-%m-%dT%H:%i:%s.%fZ') AS firedAt,\n            CASE WHEN report_started_at IS NULL THEN NULL\n                 ELSE DATE_FORMAT(report_started_at, '%Y-%m-%dT%H:%i:%s.%fZ') END AS reportStartedAt,\n            CASE WHEN stopped_at IS NULL THEN NULL\n                 ELSE DATE_FORMAT(stopped_at, '%Y-%m-%dT%H:%i:%s.%fZ') END AS stoppedAt,\n            rubber_type AS rubberType, smoking_period_status AS smokingPeriodStatus,\n            temperature_control_status AS temperatureControlStatus, report_reason AS reason,\n            input_weight_kg AS inputNetWeightKg, output_weight_kg AS outputNetWeightKg,\n            firewood_weight_kg AS firewoodWeightKg\n     FROM oven_cycles\n     WHERE company_id=? AND oven_id=? AND cycle_number=?\n     LIMIT 1`,\n    [companyId, ovenId, cycleNumber],\n  );\n  if (!rows[0]) return errorResponse(\"ไม่พบรอบที่ระบุ\", 404, \"CYCLE_NOT_FOUND\");\n  const row = rows[0];\n  return jsonResponse({\n    ...row,\n    inputNetWeightKg: row.inputNetWeightKg == null ? null : Number(row.inputNetWeightKg),\n    outputNetWeightKg: row.outputNetWeightKg == null ? null : Number(row.outputNetWeightKg),\n    firewoodWeightKg: row.firewoodWeightKg == null ? null : Number(row.firewoodWeightKg),\n  });\n}\nif (method === \"PUT\" && reportMetaMatch) {\n  if (!hasAnyRole(session, [\"admin\", \"operator\"])) {\n    return errorResponse(\"ไม่มีสิทธิ์บันทึกข้อมูลรอบรายงาน\", 403, \"ROLE_FORBIDDEN\");\n  }\n  const ovenId = decodeURIComponent(reportMetaMatch[1]);\n  const cycleNumber = Number(reportMetaMatch[2]);\n  if (!visibleOvenById.has(ovenId) || !Number.isSafeInteger(cycleNumber) || cycleNumber < 1) {\n    return errorResponse(\"ไม่พบเตาหรือรอบที่ระบุ\", 404, \"NOT_FOUND\");\n  }\n  const body = requestBody();\n  const rubberTypes = [\"latex\", \"yellow\", \"black\", \"angka\", \"uss97\", \"uss96\", \"uss94\"];\n  const smokingStatuses = [\"under\", \"over\", \"notReached\"];\n  const temperatureStatuses = [\"underControl\", \"outOfControl\"];\n  const optionalEnum = (value, allowed) => value == null || value === \"\" ? null : allowed.includes(value) ? value : undefined;\n  const optionalWeight = (value) => {\n    if (value == null || value === \"\") return null;\n    const number = Number(value);\n    return Number.isFinite(number) && number >= 0 && number <= 1000000 ? number : undefined;\n  };\n  const rubberType = optionalEnum(body?.rubberType, rubberTypes);\n  const smokingPeriodStatus = optionalEnum(body?.smokingPeriodStatus, smokingStatuses);\n  const temperatureControlStatus = optionalEnum(body?.temperatureControlStatus, temperatureStatuses);\n  const reason = body?.reason == null || body.reason === \"\" ? null : safeText(body.reason, 500);\n  const invalidReason = body?.reason != null && body.reason !== \"\" && reason === null;\n  const inputWeight = optionalWeight(body?.inputNetWeightKg);\n  const outputWeight = optionalWeight(body?.outputNetWeightKg);\n  const firewoodWeight = optionalWeight(body?.firewoodWeightKg);\n  if (\n    rubberType === undefined || smokingPeriodStatus === undefined ||\n    temperatureControlStatus === undefined || invalidReason ||\n    inputWeight === undefined || outputWeight === undefined || firewoodWeight === undefined\n  ) {\n    return errorResponse(\"ข้อมูลรอบรายงานไม่ถูกต้อง\", 400, \"INVALID_REPORT_META\");\n  }\n\n  const pool = getDatabasePool();\n  const [result] = await pool.execute(\n    `UPDATE oven_cycles\n     SET rubber_type=?, smoking_period_status=?, temperature_control_status=?, report_reason=?,\n         input_weight_kg=?, output_weight_kg=?, firewood_weight_kg=?\n     WHERE company_id=? AND oven_id=? AND cycle_number=?`,\n    [\n      rubberType, smokingPeriodStatus, temperatureControlStatus, reason,\n      inputWeight, outputWeight, firewoodWeight, companyId, ovenId, cycleNumber,\n    ],\n  );\n  if (!result.affectedRows) return errorResponse(\"ไม่พบรอบที่ระบุ\", 404, \"CYCLE_NOT_FOUND\");\n  await addAudit(\n    state,\n    session,\n    \"บันทึกข้อมูลรอบรายงาน\",\n    `${ovenId}/cycle-${cycleNumber}`,\n    \"บันทึกชนิดยาง ผลประเมิน น้ำหนักยาง และน้ำหนักไม้ฟืน\",\n  );\n  persistState();\n  return jsonResponse({ ok: true });\n}\n\nconst historyMatch = path.match(/^\\/stcr\\/api\\/ovens\\/([^/]+)\\/history$/);\nif (method === \"GET\" && historyMatch) {\n  const ovenId = decodeURIComponent(historyMatch[1]);\n  const points = state.history[ovenId];\n  if (!points || !visibleOvenById.has(ovenId)) return errorResponse(\"Oven not found\", 404, \"NOT_FOUND\");\n  if (!validHistoryQuery(query)) return errorResponse(\"ช่วงเวลาหรือรอบรายงานไม่ถูกต้อง (สูงสุด 14 วัน)\", 400, \"INVALID_HISTORY_RANGE\");\n  try {\n    return jsonResponse(await readReportHistory(companyId, ovenId, query));\n  } catch (error) {\n    node.warn(`Database history fallback: ${error.message}`);\n    if (String(env.get(\"STCR_DEPLOYMENT_MODE\") || \"\").toLowerCase() === \"production\") {\n      return errorResponse(\"ไม่สามารถอ่านข้อมูลย้อนหลังจากฐานข้อมูลได้\", 503, \"HISTORY_DATABASE_UNAVAILABLE\");\n    }\n  }\n  const startAt = query.startAt ? Date.parse(query.startAt) : Number.NEGATIVE_INFINITY;\n  const endAt = query.endAt ? Date.parse(query.endAt) : Number.POSITIVE_INFINITY;\n  return jsonResponse(points.filter((point) => {\n    const timestamp = Date.parse(point.timestamp);\n    return timestamp >= startAt && timestamp <= endAt;\n  }).slice(-10000));\n}\n\nconst exportMatch = path.match(/^\\/stcr\\/api\\/ovens\\/([^/]+)\\/export\\.csv$/);\nif (method === \"GET\" && exportMatch) {\n  const ovenId = decodeURIComponent(exportMatch[1]);\n  const inMemoryPoints = state.history[ovenId];\n  const oven = visibleOvenById.get(ovenId);\n  if (!inMemoryPoints || !oven) return errorResponse(\"Oven not found\", 404, \"NOT_FOUND\");\n  const requestedSensors = String(query.sensors || sensorKeys.join(\",\")).split(\",\");\n  if (!requestedSensors.length || requestedSensors.some((sensor) => !sensorKeys.includes(sensor))) {\n    return errorResponse(\"Unknown sensor\", 400, \"INVALID_SENSOR\");\n  }\n  const exportQuery = {\n    ...query,\n    cycleNumber: query.cycleNumber || (!query.startAt && oven.cycleCount > 0 ? String(oven.cycleCount) : undefined),\n  };\n  if (!validHistoryQuery(exportQuery)) {\n    return errorResponse(\"ช่วงเวลาหรือรอบสำหรับส่งออกไม่ถูกต้อง\", 400, \"INVALID_EXPORT_RANGE\");\n  }\n  let points;\n  try {\n    points = await readReportHistory(companyId, ovenId, exportQuery);\n  } catch (error) {\n    node.warn(`Database CSV export fallback: ${error.message}`);\n    if (String(env.get(\"STCR_DEPLOYMENT_MODE\") || \"\").toLowerCase() === \"production\") {\n      return errorResponse(\"ไม่สามารถส่งออกข้อมูลจากฐานข้อมูลได้\", 503, \"EXPORT_DATABASE_UNAVAILABLE\");\n    }\n    points = inMemoryPoints;\n  }\n  const rows = [\n    [\"timestamp\", ...requestedSensors],\n    ...points.slice(-10000).map((point) => [point.timestamp, ...requestedSensors.map((sensor) => point[sensor])]),\n  ];\n  msg.statusCode = 200;\n  msg.headers = {\n    ...responseHeaders(\"text/csv; charset=utf-8\"),\n    \"Content-Disposition\": `attachment; filename=\"${companyId}-${ovenId}.csv\"`,\n  };\n  msg.payload = rows.map((row) => row.map(csvCell).join(\",\")).join(\"\\n\");\n  return msg;\n}\n\nconst limitsMatch = path.match(/^\\/stcr\\/api\\/ovens\\/([^/]+)\\/limits$/);\nif (method === \"PUT\" && limitsMatch) {\n  if (!hasAnyRole(session, [\"admin\"])) {\n    return errorResponse(\"ไม่มีสิทธิ์เปลี่ยนค่า Limit\", 403, \"ROLE_FORBIDDEN\");\n  }\n  const ovenId = decodeURIComponent(limitsMatch[1]);\n  const index = state.ovens.findIndex((oven) => oven.id === ovenId);\n  if (index < 0) return errorResponse(\"Oven not found\", 404, \"NOT_FOUND\");\n  const body = requestBody();\n  if (!body) return errorResponse(\"Invalid JSON body\");\n  const physicalRanges = {\n    chamberTemp: [-20, 150],\n    humidity: [0, 100],\n    furnaceTemp: [-20, 1200],\n    blowerTemp: [-20, 500],\n  };\n  const valid = sensorKeys.every((sensor) => {\n    const lower = Number(body[sensor]?.lower);\n    const upper = Number(body[sensor]?.upper);\n    const [minimum, maximum] = physicalRanges[sensor];\n    return Number.isFinite(lower) && Number.isFinite(upper) && lower >= minimum && upper <= maximum && lower <= upper;\n  });\n  if (!valid) return errorResponse(\"Invalid limits payload\", 400, \"INVALID_LIMITS\");\n  const normalizedLimits = Object.fromEntries(sensorKeys.map((sensor) => [sensor, {\n    sensor,\n    lower: Number(body[sensor].lower),\n    upper: Number(body[sensor].upper),\n  }]));\n  const pool = getDatabasePool();\n  await pool.execute(\n    `UPDATE ovens\n     SET chamber_lower=?, chamber_upper=?, humidity_lower=?, humidity_upper=?,\n         furnace_lower=?, furnace_upper=?, blower_lower=?, blower_upper=?\n     WHERE company_id=? AND id=?`,\n    [\n      normalizedLimits.chamberTemp.lower, normalizedLimits.chamberTemp.upper,\n      normalizedLimits.humidity.lower, normalizedLimits.humidity.upper,\n      normalizedLimits.furnaceTemp.lower, normalizedLimits.furnaceTemp.upper,\n      normalizedLimits.blowerTemp.lower, normalizedLimits.blowerTemp.upper,\n      companyId, ovenId,\n    ],\n  );\n  state.ovens[index] = { ...state.ovens[index], limits: normalizedLimits };\n  await addAudit(state, session, \"เปลี่ยนค่า Limit\", state.ovens[index].name, \"บันทึก Upper/Lower ผ่าน Node-RED API\");\n  persistState();\n  return jsonResponse(state.ovens[index]);\n}\n\nconst ovenMatch = path.match(/^\\/stcr\\/api\\/ovens\\/([^/]+)$/);\nif (ovenMatch) {\n  const ovenId = decodeURIComponent(ovenMatch[1]);\n  const index = state.ovens.findIndex((oven) => oven.id === ovenId);\n  if (index < 0) return errorResponse(\"Oven not found\", 404, \"NOT_FOUND\");\n  if (method === \"GET\") return jsonResponse(visibleOvenById.get(ovenId));\n  if (method === \"PATCH\") {\n    if (!hasAnyRole(session, [\"admin\"])) {\n      return errorResponse(\"ไม่มีสิทธิ์แก้ไขข้อมูลเตา\", 403, \"ROLE_FORBIDDEN\");\n    }\n    const body = requestBody();\n    if (!body) return errorResponse(\"Invalid JSON body\");\n    const name = body.name === undefined ? state.ovens[index].name : safeText(body.name, 80);\n    const zone = body.zone === undefined ? state.ovens[index].zone : safeText(body.zone, 40);\n    const line = body.line === undefined ? state.ovens[index].line : safeText(body.line, 40);\n    if (!name || !zone || !line) return errorResponse(\"ข้อมูลเตาไม่ถูกต้อง\", 400, \"INVALID_OVEN\");\n    const pool = getDatabasePool();\n    await pool.execute(\n      `UPDATE ovens SET name=?, zone_name=?, line_name=? WHERE company_id=? AND id=?`,\n      [name, zone, line, companyId, ovenId],\n    );\n    state.ovens[index] = { ...state.ovens[index], name, zone, line };\n    await addAudit(state, session, \"แก้ไขข้อมูลเตา\", name, \"แก้ชื่อ โซน หรือไลน์ผ่าน Node-RED API\");\n    persistState();\n    return jsonResponse(state.ovens[index]);\n  }\n}\n\nreturn errorResponse(`Route not found: ${method} ${path}`, 404, \"NOT_FOUND\");\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "mysql",
        "module": "mysql2/promise"
      },
      {
        "var": "crypto",
        "module": "crypto"
      }
    ],
    "x": 570,
    "y": 440,
    "wires": [
      [
        "stcr-http-response"
      ]
    ]
  },
  {
    "id": "stcr-http-response",
    "type": "http response",
    "z": "stcr-platform-tab",
    "name": "ส่งผลลัพธ์ HTTP กลับเว็บไซต์",
    "statusCode": "",
    "headers": {},
    "x": 880,
    "y": 440,
    "wires": []
  },
  {
    "id": "stcr-factory-mqtt-note",
    "type": "comment",
    "z": "stcr-factory-mqtt-tab",
    "name": "รับข้อมูลจริงจาก MQTT ของโรงงาน TTN",
    "info": "รับ Topic test และ sensor เขียน MySQL โดยตรง ไม่ผ่าน HTTP self-call",
    "x": 320,
    "y": 60,
    "wires": []
  },
  {
    "id": "stcr-factory-mqtt-subscriber",
    "type": "function",
    "z": "stcr-factory-mqtt-tab",
    "name": "รับ MQTT โรงงาน: test และ sensor",
    "func": "return null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "const enabled = String(env.get(\"STCR_FACTORY_MQTT_ENABLED\") || \"false\").toLowerCase() === \"true\";\nif (!enabled) {\n  node.status({ fill: \"grey\", shape: \"ring\", text: \"MQTT disabled\" });\n  return;\n}\n\n// สร้าง DB pool สำหรับ adapter ล่วงหน้าเพื่อลด latency ของ message แรก\n// adapter จะดึง pool นี้ผ่าน global.get(\"stcrMqttDbPool\")\nif (!global.get(\"stcrMqttDbPool\")) {\n  const password = String(env.get(\"STCR_DB_PASSWORD\") || \"\");\n  if (password) {\n    const pool = mysql.createPool({\n      host: env.get(\"STCR_DB_HOST\") || \"127.0.0.1\",\n      port: Number(env.get(\"STCR_DB_PORT\") || 3306),\n      user: env.get(\"STCR_DB_USER\") || \"stcr_app\",\n      password,\n      database: env.get(\"STCR_DB_NAME\") || \"stcr\",\n      waitForConnections: true,\n      connectionLimit: 4,\n      timezone: \"Z\",\n    });\n    global.set(\"stcrMqttDbPool\", pool);\n  }\n}\n\nconst deploymentMode = String(env.get(\"STCR_DEPLOYMENT_MODE\") || \"development\").toLowerCase();\nconst brokerUrl = String(env.get(\"STCR_FACTORY_MQTT_URL\") || \"\").trim();\nconst username = String(env.get(\"STCR_FACTORY_MQTT_USERNAME\") || \"\").trim();\nconst password = String(env.get(\"STCR_FACTORY_MQTT_PASSWORD\") || \"\");\nconst companyId = String(env.get(\"STCR_FACTORY_MQTT_COMPANY_ID\") || \"\").trim().toLowerCase();\nconst topics = String(env.get(\"STCR_FACTORY_MQTT_TOPICS\") || \"test,sensor\")\n  .split(\",\")\n  .map((topic) => topic.trim())\n  .filter(Boolean);\n\nif (!/^mqtts?:\\/\\//.test(brokerUrl) || !username || !password || ![\"gr\", \"ttn\"].includes(companyId)) {\n  node.error(\"Factory MQTT configuration is incomplete\");\n  node.status({ fill: \"red\", shape: \"ring\", text: \"MQTT config invalid\" });\n  return;\n}\nif (deploymentMode === \"production\" && !brokerUrl.startsWith(\"mqtts://\")) {\n  node.error(\"Factory MQTT must use TLS in production\");\n  node.status({ fill: \"red\", shape: \"ring\", text: \"MQTT TLS required\" });\n  return;\n}\nif (!topics.length || topics.some((topic) => ![\"test\", \"sensor\"].includes(topic))) {\n  node.error(\"Factory MQTT topics must be test and/or sensor\");\n  node.status({ fill: \"red\", shape: \"ring\", text: \"MQTT topics invalid\" });\n  return;\n}\n\nconst client = mqtt.connect(brokerUrl, {\n  username,\n  password,\n  clientId: String(env.get(\"STCR_FACTORY_MQTT_CLIENT_ID\") || `stcr-${companyId}-server`),\n  clean: true,\n  protocolVersion: 4,\n  connectTimeout: 10000,\n  reconnectPeriod: 5000,\n  keepalive: 60,\n  rejectUnauthorized: String(env.get(\"STCR_FACTORY_MQTT_TLS_REJECT_UNAUTHORIZED\") || \"true\").toLowerCase() !== \"false\",\n});\ncontext.set(\"factoryMqttClient\", client);\n\nclient.on(\"connect\", () => {\n  client.subscribe(Object.fromEntries(topics.map((topic) => [topic, { qos: 1 }])), (error) => {\n    if (error) {\n      node.error(`Factory MQTT subscribe failed: ${error.message}`);\n      node.status({ fill: \"red\", shape: \"ring\", text: \"MQTT subscribe failed\" });\n      return;\n    }\n    node.status({ fill: \"green\", shape: \"dot\", text: `MQTT ${topics.join(\", \")}` });\n  });\n});\n\nclient.on(\"message\", (topic, payload, packet) => {\n  node.send({\n    topic,\n    payload: payload.toString(\"utf8\"),\n    factoryMqtt: {\n      qos: packet.qos,\n      retain: Boolean(packet.retain),\n      duplicate: Boolean(packet.dup),\n      receivedAt: new Date().toISOString(),\n    },\n  });\n});\n\nclient.on(\"reconnect\", () => node.status({ fill: \"yellow\", shape: \"ring\", text: \"MQTT reconnecting\" }));\nclient.on(\"offline\", () => node.status({ fill: \"red\", shape: \"ring\", text: \"MQTT offline\" }));\nclient.on(\"error\", (error) => {\n  node.warn(`Factory MQTT connection error: ${error.message}`);\n  node.status({ fill: \"red\", shape: \"ring\", text: \"MQTT error\" });\n});\n",
    "finalize": "const client = context.get(\"factoryMqttClient\");\nif (client) {\n  client.removeAllListeners();\n  client.end(true);\n  context.set(\"factoryMqttClient\", undefined);\n}\n\n// ปิด DB pool ของ MQTT adapter ด้วย\nconst mqttPool = global.get(\"stcrMqttDbPool\");\nif (mqttPool) {\n  mqttPool.end().catch(() => {});\n  global.set(\"stcrMqttDbPool\", undefined);\n}\n",
    "libs": [
      {
        "var": "mqtt",
        "module": "mqtt"
      },
      {
        "var": "mysql",
        "module": "mysql2/promise"
      }
    ],
    "x": 230,
    "y": 160,
    "wires": [
      [
        "stcr-factory-mqtt-adapter"
      ]
    ]
  },
  {
    "id": "stcr-factory-mqtt-adapter",
    "type": "function",
    "z": "stcr-factory-mqtt-tab",
    "name": "ตรวจสอบและแปลงข้อมูล MQTT",
    "func": "// factory-mqtt-adapter.js\n// ตรวจสอบและ normalize MQTT message แบบ synchronous\n// การเขียน MySQL ทำใน factory-mqtt-db-writer.js (node ถัดไป)\n\nconst allowedTopics = new Set([\"test\", \"sensor\"]);\nconst companyId = String(env.get(\"STCR_FACTORY_MQTT_COMPANY_ID\") || \"\").trim().toLowerCase();\nconst deploymentMode = String(env.get(\"STCR_DEPLOYMENT_MODE\") || \"development\").toLowerCase();\nconst topic = String(msg.topic || \"\").trim();\nconst receivedAt = msg.factoryMqtt?.receivedAt || new Date().toISOString();\nconst sourceUtcOffsetMinutes = Number(env.get(\"STCR_FACTORY_MQTT_SOURCE_UTC_OFFSET_MINUTES\") || 0);\n\nfunction inspection(status, detail, extra = {}) {\n  return {\n    topic: `stcr/factory-mqtt/${status}`,\n    payload: { status, detail, sourceTopic: topic, companyId: companyId || null, receivedAt, ...extra },\n  };\n}\n\nif (![\"gr\", \"ttn\"].includes(companyId)) {\n  node.status({ fill: \"red\", shape: \"ring\", text: \"company mapping missing\" });\n  return inspection(\"rejected\", \"STCR_FACTORY_MQTT_COMPANY_ID is missing\");\n}\nif (!allowedTopics.has(topic)) {\n  node.status({ fill: \"yellow\", shape: \"ring\", text: \"unknown MQTT topic\" });\n  return inspection(\"rejected\", \"Unknown MQTT topic\");\n}\n\nconst rawText = Buffer.isBuffer(msg.payload) ? msg.payload.toString(\"utf8\") : String(msg.payload || \"\");\nif (!rawText || Buffer.byteLength(rawText, \"utf8\") > 8192) {\n  return inspection(\"rejected\", \"MQTT payload is empty or too large\");\n}\n\nlet source;\ntry {\n  source = JSON.parse(rawText);\n} catch {\n  node.status({ fill: \"yellow\", shape: \"ring\", text: \"invalid MQTT JSON\" });\n  return inspection(\"rejected\", \"MQTT payload is not valid JSON\");\n}\n\nconst ovenNumber = Number(source.oven);\nconst cycleNumber = Number(source.cycle);\nconst rawSourceTimestampMs = Date.parse(source.time_stamp);\nconst validSourceOffset = Number.isInteger(sourceUtcOffsetMinutes) && Math.abs(sourceUtcOffsetMinutes) <= 840;\nconst sourceTimestampMs = rawSourceTimestampMs - sourceUtcOffsetMinutes * 60 * 1000;\nif (\n  !Number.isSafeInteger(ovenNumber) || ovenNumber < 1 || ovenNumber > 10000 ||\n  !Number.isSafeInteger(cycleNumber) || cycleNumber < 0 || cycleNumber > 1000000 ||\n  !Number.isFinite(rawSourceTimestampMs) || !validSourceOffset\n) {\n  node.status({ fill: \"yellow\", shape: \"ring\", text: \"invalid MQTT identity\" });\n  return inspection(\"rejected\", \"Invalid oven, cycle, or timestamp\", { rawPayload: source });\n}\n\nlet ovenMap = {};\ntry {\n  ovenMap = JSON.parse(String(env.get(\"STCR_FACTORY_MQTT_OVEN_MAP_JSON\") || \"{}\"));\n} catch {\n  return inspection(\"rejected\", \"STCR_FACTORY_MQTT_OVEN_MAP_JSON is invalid JSON\");\n}\nconst explicitOvenId = typeof ovenMap[String(ovenNumber)] === \"string\"\n  ? ovenMap[String(ovenNumber)].trim()\n  : \"\";\nconst ovenId = explicitOvenId || (deploymentMode === \"production\" ? \"\" : `oven-${ovenNumber}`);\nif (!ovenId || ovenId.length > 64 || /[\\u0000-\\u001f\\u007f]/.test(ovenId)) {\n  node.status({ fill: \"red\", shape: \"ring\", text: `oven ${ovenNumber} unmapped` });\n  return inspection(\"pending\", \"Oven mapping is required\", { ovenNumber, cycleNumber, rawPayload: source });\n}\n\nconst sourceTimestamp = new Date(sourceTimestampMs).toISOString();\n\n// ── topic: test ──────────────────────────────────────────────────────────────\nif (topic === \"test\") {\n  const ovenState = Number(source.oven_state);\n  if (![0, 1].includes(ovenState)) {\n    node.status({ fill: \"yellow\", shape: \"ring\", text: `oven ${ovenNumber} bad state` });\n    return inspection(\"rejected\", \"oven_state must be 0 or 1\", { ovenNumber, ovenId, cycleNumber, rawPayload: source });\n  }\n  node.status({ fill: \"blue\", shape: \"dot\", text: `status oven ${ovenNumber}` });\n  // ส่ง normalized envelope ไปยัง db-writer\n  msg._mqttEnvelope = {\n    type: \"test\",\n    companyId, ovenId, ovenNumber, cycleNumber,\n    topic, qos: Number(msg.factoryMqtt?.qos ?? 0),\n    retained: Boolean(msg.factoryMqtt?.retain),\n    duplicateDelivery: Boolean(msg.factoryMqtt?.duplicate),\n    sourceTimestamp, source, ovenState,\n  };\n  return inspection(\"validated\", \"oven_state is the primary control value (0=closed, 1=open)\", {\n    ovenNumber, ovenId, cycleNumber, ovenState, rawPayload: source,\n  });\n}\n\n// ── topic: sensor ────────────────────────────────────────────────────────────\nconst startOven = Number(source.startoven);\nif (![0, 1].includes(startOven)) {\n  return inspection(\"rejected\", \"startoven must be 0 or 1\", { ovenNumber, ovenId, cycleNumber, rawPayload: source });\n}\n\nconst definitions = [\n  [\"chamberTemp\", \"roomtemp\", \"C\"],\n  [\"humidity\",    \"humanity\", \"%\"],\n  [\"furnaceTemp\", \"oventemp\", \"C\"],\n  [\"blowerTemp\",  \"blower\",   \"C\"],\n];\nconst missingSensors = definitions\n  .filter(([, sourceKey]) =>\n    source[sourceKey] === null || source[sourceKey] === undefined ||\n    source[sourceKey] === \"\" || !Number.isFinite(Number(source[sourceKey])),\n  )\n  .map(([sensorKey]) => sensorKey);\n\nif (missingSensors.length) {\n  node.status({ fill: \"yellow\", shape: \"ring\", text: `${missingSensors.join(\", \")} missing` });\n  msg._mqttEnvelope = {\n    type: \"pending\",\n    companyId, ovenId, ovenNumber, cycleNumber,\n    topic, qos: Number(msg.factoryMqtt?.qos ?? 0),\n    retained: Boolean(msg.factoryMqtt?.retain),\n    duplicateDelivery: Boolean(msg.factoryMqtt?.duplicate),\n    sourceTimestamp, source, missingSensors,\n  };\n  return inspection(\"pending\", \"Sensor values are incomplete\", {\n    ovenNumber, ovenId, cycleNumber, missingSensors, rawPayload: source,\n  });\n}\n\nconst now = Date.now();\nconst stale = now - sourceTimestampMs > 2 * 60 * 1000;\nconst future = sourceTimestampMs - now > 30 * 1000;\nconst qualityReasons = [...(stale ? [\"stale\"] : []), ...(future ? [\"future-timestamp\"] : [])];\nconst quality = qualityReasons.length ? \"suspect\" : \"good\";\nconst sequence = sourceTimestampMs;\n\nconst readings = definitions.map(([sensorKey, sourceKey, unit]) => ({\n  sensorKey,\n  sensorId: `factory-${companyId}-${ovenId}-${sensorKey}`,\n  sequence,\n  value: Number(source[sourceKey]),\n  rawValue: Number(source[sourceKey]),\n  unit,\n  quality,\n  qualityReasons,\n  sourceTimestamp,\n}));\n\nnode.status({ fill: \"green\", shape: \"dot\", text: `normalized oven ${ovenNumber}` });\n\nmsg._mqttEnvelope = {\n  type: \"sensor\",\n  companyId, ovenId, ovenNumber, cycleNumber,\n  topic, qos: Number(msg.factoryMqtt?.qos ?? 0),\n  retained: Boolean(msg.factoryMqtt?.retain),\n  duplicateDelivery: Boolean(msg.factoryMqtt?.duplicate),\n  sourceTimestamp, source,\n  startOven, quality, qualityReasons, readings,\n  batchId: `mqtt-${ovenNumber}-${cycleNumber}-${sourceTimestampMs}`,\n  deviceId: `factory-${companyId}-oven-${ovenNumber}`,\n};\n\nreturn inspection(\"validated\", \"Sensor data normalized; queued for database write\", {\n  ovenNumber, ovenId, cycleNumber, startOven,\n  page: source.page,\n  pageUsed: false,\n  originalSourceTimestamp: source.time_stamp,\n  normalizedSourceTimestamp: sourceTimestamp,\n  normalizedPayload: {\n    companyId, ovenId,\n    batchId: msg._mqttEnvelope.batchId,\n    deviceId: msg._mqttEnvelope.deviceId,\n    readings,\n  },\n  rawPayload: source,\n});\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 160,
    "wires": [
      [
        "stcr-factory-mqtt-inspection",
        "stcr-factory-mqtt-db-writer"
      ]
    ]
  },
  {
    "id": "stcr-factory-mqtt-inspection",
    "type": "function",
    "z": "stcr-factory-mqtt-tab",
    "name": "แสดงผลตรวจสอบข้อมูล MQTT",
    "func": "const result = msg.payload || {};\nconst oven = result.ovenNumber ? ` oven ${result.ovenNumber}` : \"\";\nconst fill = result.status === \"rejected\" ? \"red\" : result.status === \"pending\" ? \"yellow\" : \"blue\";\nnode.status({ fill, shape: result.status === \"rejected\" ? \"ring\" : \"dot\", text: `${result.status || \"unknown\"}${oven}` });\nreturn null;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 860,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "stcr-factory-mqtt-db-writer",
    "type": "function",
    "z": "stcr-factory-mqtt-tab",
    "name": "เขียนข้อมูล MQTT ลง MySQL โดยตรง",
    "func": "// factory-mqtt-db-writer.js\n// รับ _mqttEnvelope จาก adapter แล้วเขียน MySQL โดยตรง (async node)\n// ไม่ต้องผ่าน HTTP self-call เพราะทุกอย่างอยู่เครื่องเดียวกัน\n\nconst envelope = msg._mqttEnvelope;\nif (!envelope) return null; // ไม่มีข้อมูลให้เขียน\n\nfunction getPool() {\n  let pool = global.get(\"stcrMqttDbPool\");\n  if (pool) return pool;\n  const password = String(env.get(\"STCR_DB_PASSWORD\") || \"\");\n  if (!password) throw new Error(\"STCR_DB_PASSWORD is required\");\n  pool = mysql.createPool({\n    host: env.get(\"STCR_DB_HOST\") || \"127.0.0.1\",\n    port: Number(env.get(\"STCR_DB_PORT\") || 3306),\n    user: env.get(\"STCR_DB_USER\") || \"stcr_app\",\n    password,\n    database: env.get(\"STCR_DB_NAME\") || \"stcr\",\n    waitForConnections: true,\n    connectionLimit: 4,\n    timezone: \"Z\",\n  });\n  global.set(\"stcrMqttDbPool\", pool);\n  return pool;\n}\n\nconst messageHash = crypto\n  .createHash(\"sha256\")\n  .update([\n    envelope.companyId, envelope.ovenId, envelope.topic,\n    envelope.cycleNumber, envelope.sourceTimestamp,\n    JSON.stringify(envelope.source),\n  ].join(\"\\n\"))\n  .digest(\"hex\");\n\n// ── test: อัปเดตสถานะเตา ────────────────────────────────────────────────────\nif (envelope.type === \"test\") {\n  try {\n    const pool = getPool();\n    await pool.execute(\n      `INSERT INTO factory_mqtt_messages (\n         company_id, oven_id, oven_number, cycle_number, topic, qos,\n         retained, duplicate_delivery, source_timestamp, payload_json,\n         message_hash, normalization_status, normalization_detail\n       ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, 'received', ?)\n       ON DUPLICATE KEY UPDATE duplicate_delivery=TRUE, received_at=CURRENT_TIMESTAMP(3)`,\n      [\n        envelope.companyId, envelope.ovenId, envelope.ovenNumber, envelope.cycleNumber,\n        envelope.topic, envelope.qos, envelope.retained, envelope.duplicateDelivery,\n        envelope.sourceTimestamp, JSON.stringify(envelope.source), messageHash,\n        `oven_state=${envelope.ovenState}`,\n      ],\n    );\n    await pool.execute(\n      `UPDATE ovens SET status=?, last_seen_at=CURRENT_TIMESTAMP(3)\n       WHERE company_id=? AND id=? AND enabled=TRUE`,\n      [envelope.ovenState === 1 ? \"open\" : \"closed\", envelope.companyId, envelope.ovenId],\n    );\n    // อัปเดต in-memory state\n    const rootState = global.get(\"stcrState\");\n    const oven = rootState?.companies?.[envelope.companyId]?.ovens?.find((o) => o.id === envelope.ovenId);\n    if (oven) {\n      oven.status = envelope.ovenState === 1 ? \"open\" : \"closed\";\n      oven.lastUpdatedAt = new Date().toISOString();\n      global.set(\"stcrState\", rootState);\n    }\n  } catch (err) {\n    node.warn(`MQTT test DB write failed: ${err.message}`);\n  }\n  return null;\n}\n\n// ── pending: บันทึกข้อมูลไม่ครบ ─────────────────────────────────────────────\nif (envelope.type === \"pending\") {\n  try {\n    const pool = getPool();\n    await pool.execute(\n      `INSERT INTO factory_mqtt_messages (\n         company_id, oven_id, oven_number, cycle_number, topic, qos,\n         retained, duplicate_delivery, source_timestamp, payload_json,\n         message_hash, normalization_status, normalization_detail\n       ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, 'pending', ?)\n       ON DUPLICATE KEY UPDATE duplicate_delivery=TRUE, received_at=CURRENT_TIMESTAMP(3)`,\n      [\n        envelope.companyId, envelope.ovenId, envelope.ovenNumber, envelope.cycleNumber,\n        envelope.topic, envelope.qos, envelope.retained, envelope.duplicateDelivery,\n        envelope.sourceTimestamp, JSON.stringify(envelope.source), messageHash,\n        `missing: ${(envelope.missingSensors || []).join(\", \")}`,\n      ],\n    );\n  } catch (err) {\n    node.warn(`MQTT pending DB write failed: ${err.message}`);\n  }\n  return null;\n}\n\n// ── sensor: บันทึกค่า sensor ครบ ────────────────────────────────────────────\nif (envelope.type === \"sensor\") {\n  const receivedAtDate = new Date();\n  const recordedAt = new Date(Date.parse(envelope.sourceTimestamp));\n  const bySensor = Object.fromEntries(envelope.readings.map((r) => [r.sensorKey, r]));\n\n  try {\n    const pool = getPool();\n    const connection = await pool.getConnection();\n    try {\n      await connection.beginTransaction();\n\n      // 1. raw message\n      await connection.execute(\n        `INSERT INTO factory_mqtt_messages (\n           company_id, oven_id, oven_number, cycle_number, topic, qos,\n           retained, duplicate_delivery, source_timestamp, payload_json,\n           message_hash, normalization_status, normalization_detail\n         ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, 'normalized', 'All four sensors normalized')\n         ON DUPLICATE KEY UPDATE\n           duplicate_delivery=TRUE, received_at=CURRENT_TIMESTAMP(3),\n           normalization_status='normalized'`,\n        [\n          envelope.companyId, envelope.ovenId, envelope.ovenNumber, envelope.cycleNumber,\n          envelope.topic, envelope.qos, envelope.retained, envelope.duplicateDelivery,\n          envelope.sourceTimestamp, JSON.stringify(envelope.source), messageHash,\n        ],\n      );\n\n      // 2. ตรวจว่าเตามีจริง\n      const [ovenRows] = await connection.execute(\n        `SELECT id FROM ovens WHERE company_id=? AND id=? AND enabled=TRUE LIMIT 1`,\n        [envelope.companyId, envelope.ovenId],\n      );\n      if (!ovenRows[0]) {\n        await connection.rollback();\n        node.warn(`MQTT sensor: oven ${envelope.ovenId} not found`);\n        return null;\n      }\n\n      // 3. cycle ปัจจุบัน\n      const [cycleRows] = await connection.execute(\n        `SELECT id, state FROM oven_cycles\n         WHERE company_id=? AND oven_id=?\n         ORDER BY cycle_number DESC LIMIT 1`,\n        [envelope.companyId, envelope.ovenId],\n      );\n      const cycle = cycleRows[0] || null;\n      const cyclePhase = cycle?.state === \"recording\" ? \"recording\"\n        : cycle?.state === \"ignition\" ? \"ignition\"\n        : cycle?.state === \"completed\" ? \"cooldown\" : \"idle\";\n      const includedInReport = cyclePhase === \"recording\";\n\n      // 4. telemetry_events\n      for (const reading of envelope.readings) {\n        await connection.execute(\n          `INSERT INTO telemetry_events (\n             company_id, oven_id, batch_id, topic, device_id, sensor_id, sensor_key,\n             sequence_number, numeric_value, unit_symbol, quality, quality_reasons,\n             source_timestamp, gateway_timestamp, received_at\n           ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)\n           ON DUPLICATE KEY UPDATE received_at=VALUES(received_at)`,\n          [\n            envelope.companyId, envelope.ovenId, envelope.batchId,\n            `stcr/${envelope.companyId}/${envelope.ovenId}/telemetry/${reading.sensorKey}`,\n            envelope.deviceId, reading.sensorId, reading.sensorKey, reading.sequence,\n            reading.rawValue, reading.unit, reading.quality,\n            JSON.stringify(reading.qualityReasons),\n            reading.sourceTimestamp, reading.sourceTimestamp, receivedAtDate,\n          ],\n        );\n      }\n\n      // 5. sensor_readings snapshot\n      await connection.execute(\n        `INSERT INTO sensor_readings (\n           company_id, oven_id, cycle_id, recorded_at, chamber_temp, humidity,\n           furnace_temp, blower_temp, cycle_phase, included_in_report, quality,\n           source_timestamp, received_at\n         ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)\n         ON DUPLICATE KEY UPDATE\n           chamber_temp=VALUES(chamber_temp), humidity=VALUES(humidity),\n           furnace_temp=VALUES(furnace_temp), blower_temp=VALUES(blower_temp),\n           quality=VALUES(quality), source_timestamp=VALUES(source_timestamp),\n           received_at=VALUES(received_at)`,\n        [\n          envelope.companyId, envelope.ovenId, cycle?.id || null, recordedAt,\n          bySensor.chamberTemp.value, bySensor.humidity.value,\n          bySensor.furnaceTemp.value, bySensor.blowerTemp.value,\n          cyclePhase, includedInReport, envelope.quality,\n          recordedAt, receivedAtDate,\n        ],\n      );\n\n      // 6. last_seen_at\n      await connection.execute(\n        `UPDATE ovens SET last_seen_at=? WHERE company_id=? AND id=?`,\n        [receivedAtDate, envelope.companyId, envelope.ovenId],\n      );\n\n      await connection.commit();\n\n      // 7. in-memory state\n      const rootState = global.get(\"stcrState\");\n      const companyState = rootState?.companies?.[envelope.companyId];\n      const oven = companyState?.ovens?.find((o) => o.id === envelope.ovenId);\n      if (oven) {\n        const timestamp = recordedAt.toISOString();\n        envelope.readings.forEach((r) => {\n          oven.readings[r.sensorKey] = { ...oven.readings[r.sensorKey], value: r.value, updatedAt: timestamp };\n        });\n        oven.lastUpdatedAt = timestamp;\n        const point = {\n          timestamp,\n          chamberTemp: bySensor.chamberTemp.value,\n          humidity:    bySensor.humidity.value,\n          furnaceTemp: bySensor.furnaceTemp.value,\n          blowerTemp:  bySensor.blowerTemp.value,\n        };\n        companyState.history[envelope.ovenId] = [\n          ...(companyState.history[envelope.ovenId] || []), point,\n        ].slice(-10000);\n        global.set(\"stcrState\", rootState);\n      }\n\n      node.status({ fill: \"green\", shape: \"dot\", text: `saved oven ${envelope.ovenNumber}` });\n    } catch (err) {\n      await connection.rollback();\n      throw err;\n    } finally {\n      connection.release();\n    }\n  } catch (err) {\n    node.warn(`MQTT sensor DB write failed: ${err.message}`);\n    node.status({ fill: \"red\", shape: \"ring\", text: `DB error oven ${envelope.ovenNumber}` });\n  }\n}\n\nreturn null;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "mysql",
        "module": "mysql2/promise"
      },
      {
        "var": "crypto",
        "module": "crypto"
      }
    ],
    "x": 860,
    "y": 200,
    "wires": [
      []
    ]
  }
]
